﻿@{
    ViewBag.Title = "AcceptRegulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





                <div class="row">

                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 observer-programme-div">

                        <div class="col-md-12">
                            <div class="grid-panel">
                                <h2>
                                    Accept Regulations
                                </h2>
                                <div class="clearfix"></div>
                                @using (Html.BeginForm("AcceptRegulations", "Home", FormMethod.Post))
                                {
                                    <div>

                                        @if (ViewBag.ErrorMessage != null)
                                        {
                                            <p class="alert-error">@ViewBag.ErrorMessage</p>
                                        }

                                        <p>
                                            This content is provided exclusively to help you in the delivery of this specific IAAF event.

                                            The Requirements for each Area may need to be adapted to specific circumstances

                                            for each WAS event edition.
                                        </p>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" id="accept" name="accept" placeholder="Remember..." class="form-check-input" value="true" />
                                                I accept the IAAF regulations
                                            </label>
                                        </div>


                                        <div class="row offset-top-20">
                                            <input type="submit" id="submit" name="submit" value="Accept" class="btn btn-default btn-lg" />
                                        </div>


                                    </div>
                                }
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

    
