﻿@{
    ViewBag.Title = "ChooseUser";
}

<div class="page-header">

    <h1>
        Choose User
    </h1>

    <div class="clearfix"></div>
</div>

<div class="list-group">

    <div class="list-group-item alt-color">

        <div class="col-md-2 col-sm-3 col-xs-12">

            <div class="thumbnail no-offset">
                <a href="/home/setuser/1">
                    <img src="~/Content/img/testuser1.png" />
                </a>
            </div>
        </div>

        <div class="col-md-10 col-sm-9 col-xs-12">

            <h2>
                <a href="/home/setuser/1">
                    John Wilmot
                </a>
            </h2>

            <h3>
                Works in Sales for a retailer
            </h3>

            <hr />

            <a href="/home/setuser/1" class="btn btn-primary btn-lg">
                Select this user
            </a>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="list-group-item alt-color">

        <div class="col-md-2 col-sm-3 col-xs-12">

            <div class="thumbnail no-offset">
                <a href="/home/setuser/2">
                    <img src="~/Content/img/testuser2.png" />
                </a>
            </div>
        </div>

        <div class="col-md-10 col-sm-9 col-xs-12">

            <h2>
                <a href="/home/setuser/2">
                    Simon Frase
                </a>
            </h2>

            <h3>
                Works in Head Office in Finance
            </h3>

            <hr />

            <a href="/home/setuser/2" class="btn btn-primary btn-lg">
                Select this user
            </a>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="list-group-item alt-color">

        <div class="col-md-2 col-sm-3 col-xs-12">

            <div class="thumbnail no-offset">
                <a href="/home/setuser/3">
                    <img src="~/Content/img/testuser3.png" />
                </a>
            </div>
        </div>

        <div class="col-md-10 col-sm-9 col-xs-12">

            <h2>
                <a href="/home/setuser/3">
                    Jane Digby
                </a>
            </h2>

            <h3>
                Works in Aftersales for a retailer
            </h3>

            <hr />

            <a href="/home/setuser/3" class="btn btn-primary btn-lg">
                Select this user
            </a>
        </div>

        <div class="clearfix"></div>
    </div>
</div>