﻿
@{
    ViewBag.Title = "EventPlanning";
    Layout = "~/Views/Shared/_LayoutSideMenu.cshtml";
}




                <div class="row">

                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 observer-programme-div">

                        <div class="col-md-12">
                            <div class="grid-panel">
                                <h2>
                                    Event Planning
                                </h2>
                                <div class="clearfix"></div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                @*<div class="clearfix"></div>
                                    <a href="/History" class="btn btn-default btn-lg">
                                        Capturing History
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>*@
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

 
