﻿@model List<ITOK.Core.Data.Model.Tags>

@{
    var headline = "";
    var intro = "";
    var buttonText = "";

    if (Model[0].TagType == 1)
    {
        //area
        headline = "FIND INFORMATION BY AREA";
        intro = "Select your area of interest from the list below";
        buttonText = "VIEW REPORTS";
    }
    else if (Model[0].TagType == 1)
    {
        //year
        headline = "FIND INFORMATION BY SCHEDULE";
        intro = "Select from the drop list below";
        buttonText = "VIEW REPORTS";
    }
    else if (Model[0].TagType == TagType.Events)
    {
        //event
        headline = "FIND INFORMATION BY EVENT";
        intro = "Select an IAAF World Athletics Series Category from the drop list below";
        buttonText = "VIEW EVENT REPORT";
    }
}
<h1>@headline</h1>
<div>
    <p>@intro</p>
    <select id="optTag">
        @foreach(var opt in Model)
        {
            <option value="@opt.UrlSlug">@opt.DisplayText</option>
        }
    </select>
    <input type="button" onclick="javascript: Go()" value="Go" />
</div>
<script>
    function Go()
    {
        window.location.href = "/hub/" + $("#optTag").val();
    }
</script>