﻿@model ITOKFrontend.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    //var filter = string.Join("+", LoginManager.CurrentUser.JobRoleName.GenerateSlug());
    var filter = string.Join("+", Model.Tags.Select(x => x.UrlSlug)); //LoginManager.CurrentUser.secondaryJobRoles.Aggregate(filter, (current, role) => string.Join("+", current, role.SecondaryRoleName.GenerateSlug())); //Todo:AM Removed as should come from the model

    ViewBag.Title = "Latest Updates for " + LoginManager.CurrentUser.Forename + " " + LoginManager.CurrentUser.Surname;

    Brand brand = Brand.itok;

    string brandName = EnumExtensions.GetDescription(brand);
}

             
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12 text-center history-heading">
                <h1 class="alternate text-capitalize">
                    How do you want to find information?
                </h1>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-md-2"></div>
                <div class="col-md-8 filter-by-sec">
                    

                    <div class="clearfix"></div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="history-grid-panel grid-panel">
                            <h2>
                                By Event
                            </h2>
                            <div class="clearfix"></div>
                            <div class="dropdown offset-below-20">
                                <button class="btn dropdown-toggle dropdown-default" type="button" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    Select an IAAF World Athletics Series category
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var opt in Model.EventTags.OrderBy(i => i.DisplayText))
                        {
                            <li>
                                <a href="/hub/index?e=@opt.UrlSlug">
                                    @opt.DisplayText
                                </a>
                            </li>
                        }
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <p>
                                Find full event reports for each World Athletics Series event
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="history-grid-panel grid-panel">
                            <h2>
                                By Area
                            </h2>
                            <div class="clearfix"></div>
                            <div class="dropdown offset-below-20">
                                <button class="btn dropdown-toggle dropdown-default" type="button" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    Select your area of interest from the list below
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var opt in Model.AreaTags.OrderBy(i => i.DisplayText))
                        {
                            <li>
                                <a href="/hub/index?a=@opt.UrlSlug">
                                    @opt.DisplayText
                                </a>
                            </li>
                        }
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <p>
                                View all reports for a specific area of interest e.g. Legal across each WAS event type
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>















        <script type="text/javascript">
            var action = {};
            action.brand = '@brand';
            action.loadHomeNews = true;
            action.loadFilter = '@filter';
        </script>
