﻿
@{
    ViewBag.Title = "Index";
}


<div class="full-screen-background selectgrid">

    <div class="container">


        <div class="row selection-grid">

            <div class="container">

                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">

                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="grid-panel">
                                <h2>
                                    Bidding Cities
                                </h2>
                                <div class="clearfix"></div>
                                <p>
                                    Interested in hosting one of our World Athletic Series Events?<br/>
                                    Discover the process.
                                </p>
                                <div class="clearfix"></div>
                                <a href="https://www.iaaf.org/eventbidding" target="_blank" class="btn btn-default btn-lg">
                                    Bidding Cities
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                                <div class="clearfix"></div>
                            </div>

                          
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="grid-panel">
                                <h2>
                                    Observer Programme
                                </h2>
                                <div class="clearfix"></div>
                                <p>
                                    We offer a behind the scenes experience to interested cities.<br/>
                                    “The only source of knowledge is experience” – Albert Einstein
                                </p>
                                <div class="clearfix"></div>
                                <a href="/observer-programme" class="btn btn-default btn-lg">
                                    Observer Programme
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="grid-panel">
                                <h2>
                                    Event Planning
                                </h2>
                                <div class="clearfix"></div>
                                <p>
                                    From award to dissolution, we are helping you build your event through milestones.
                                </p>
                                <div class="clearfix"></div>
                                <a href="/event-planning" class="btn btn-default btn-lg">
                                    Event Planning
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="grid-panel">
                                <h2>
                                    Capturing History
                                </h2>
                                <div class="clearfix"></div>
                                <p>
                                    From award to dissolution, you can help us build the next event.<br/>
                                    “The more you know about the past, the better prepared you are for the future” – Theodore Roosevelt
                                </p>
                                <div class="clearfix"></div>
                                <a href="/History" class="btn btn-default btn-lg">
                                    Capturing History
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                                <div class="clearfix"></div>
                            </div>

                            
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>
