﻿
@{
    ViewBag.Title = "ObserverProgramme";
    Layout = "~/Views/Shared/_LayoutSideMenu.cshtml";
}




                <div class="row">

                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 observer-programme-div">

                        <div class="col-md-12">
                            <div class="grid-panel">
                                <h2>
                                    Observer Programme
                                </h2>
                                <div class="clearfix"></div>
                                <p>
                                    You are a future WAS organiser, a current WAS bidder, or you are simply interested in becoming a bidder and you would like to access to behind the
                                    scenes tour on one of our WAS events? Contact us here: <a href="mailto:fanny.boquillet@iaaf.org?subject=Observer Programme">fanny.boquillet@iaaf.org</a>
                                </p>
                                <div class="clearfix"></div>
                                @*<a href="/History" class="btn btn-default btn-lg">
                                        Capturing History
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>*@
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>


