﻿@using ITOKFrontend.Models;
@model UserSetupModel
@{
    ViewBag.Title = "Secondary Job Roles";
}
<h2>Personalise your Hub</h2>
<p>
    <strong>
        Select your job role or the closest to it from the list below
    </strong>
</p>
<div class="clearfix"></div>
<div class="checklist">
    <select id="secondaryJobRoles" name="secondaryJobRoles" class="form-control">
        <option value="">
            Please select
        </option>
        @foreach (var listItem in Model.jobRoleItems.OrderByDescending(x=> x.Text))
        {
            <option value="@listItem.Value">
                @listItem.Text
            </option>
        }
    </select>
</div>




