﻿@using ITOKFrontend.Models;
@model UserSetupModel
@{
    ViewBag.Title = "User Setup";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default signin">
        <div class="panel-body user-setup">
            @switch (GlobalVariables.CurrentBrand)
            {
                case Brand.skoda:
                    <img class="user-setup-logo" src="~/Assets/Images/user-setup/skoda.png" />
                    break;
                case Brand.vw:
                <img class="user-setup-logo" src="~/Assets/Images/user-setup/vw.png" />
                    break;
                case Brand.seat:
                <img class="user-setup-logo" src="~/Assets/Images/user-setup/seat.png" />
                    break;
                case Brand.vwcv:
                <img class="user-setup-logo" src="~/Assets/Images/user-setup/vwcv.png" />
                    break;
                case Brand.audi:
                <img class="user-setup-logo" src="~/Assets/Images/user-setup/audi.png" />
                    break;
                case Brand.pb:
                <img class="user-setup-logo" src="~/Assets/Images/user-setup/vw-pb.png" />
                    break;
            }
            <div class="clearfix"></div>
            <div id="primaryPlaceHolder">
                <h1>
                    Welcome to
                    @switch (GlobalVariables.CurrentBrand)
                    {
                        case Brand.skoda:
                            @:ŠKODA
                        break;
                        case Brand.vw:
                        @:Volkswagen
                        break;
                        case Brand.seat:
                        @:SEAT
                        break;
                        case Brand.vwcv:
                        @:VWCV
                        break;
                        case Brand.audi:
                        @:Audi
                        break;
                        case Brand.pb:
                        @:Paint & Body
                        break;
                    }
                    Hub
                </h1>
                <p>

                    Hub provides you with the information you need to do your job.
                       </p>
                
                   
               

                <p>
                    <strong>
                        To personalise your Hub, please select your area of business
                    </strong>
                </p>
                <div class="clearfix"></div>
                @Html.DropDownList("PrimaryJobRole", Model.jobRoleItems.OrderByDescending(x=> x.Text), "Please select", new { @class = "form-control" })
            </div>
            <div id="secondaryPlaceHolder" style="display:none"></div>
            <div id="tertiaryPlaceHolder" style="display:none"></div>
        </div>
        <div class="panel-footer">
            <input type="button" value="Next Question" class="btn btn-lg btn-primary disabled" id="confirm" />
            <input type="button" value="Next Question" class="btn btn-lg btn-primary disabled" id="confirmsecjobrole" style="display: none;" />
            <input type="submit" disabled value="Enter" class="btn btn-lg btn-primary disabled" id="enter" style="display: none;" />
            <div class="clearfix"></div>
        </div>
    </div>

}