﻿@import "_custom-library";

@depth: 40px;

@alt: #e6e6e6;
@black: #000000;
@grey: #333333;
@link: #337ab7;
@link_hover: #23527c;
@white: #FFFFFF;
@bgc: #CCCCCC;
@bgc_alt: #DDDDDD;
@lightgrey: #999999;
@midgrey: #666666;
@middgrey: #555555;
@midlgrey: #888888;
@boulder: #7d7d7d;
@LilyWhite: #E6F7FF; 
@hovergrey: #d7d7d7;
@topicsgrey: #cfd7d9;
@red: #FF0000;
@green: #008000;
@offWhite: #f9f9f9;
@headerbottomborder: #33434c;
@bodyBG: #eef5ff;
@search: #eeeeee;
@search_alt: #d2d7dc;
@orangePeel: #FF9900;
@successGrn: #009E0F;

@article: @lightgrey;
@group: @lightgrey;
@video: @lightgrey;
@document: @lightgrey;
@news: @lightgrey;
/* Grey Colours */
@extraltgrey: #f2f2f2;
@ltgrey: #4a4e4e;
@mdgrey: #3f4444;
@dkgrey: #353a3a;
@dkblue: #000026;
@iaaf-blue:#010127;
@blk: #000000;
@mercury: #E4E4E4;
/* Grey colours */
/* Medal Colours */
@gold: #fccd1d;
@silver: #dddbdd;
@bronze: #b37336;
/* Medal Colours */
/* Other Colours */
@iaaf_red: #ff2534;
@spikes: #feed01;
/* Other Colours */
/*media queries*/
@_mobile: 480px;
@_tablet: 768px;
@_tablet_desktop: 860px;
@_desktop: 1000px;
@_fullwidth: 1200px;
@_maxFullwidth: 1310px;

/*"2019 Colours*/
@iaaf-light-grey: #f6f6f6;


/*media queries*/
/* bootstrap overrride */
.container {
    @media only screen and (min-width: @_maxFullwidth) {
        width: @_maxFullwidth;

    }

    @media only screen and (max-width: @_maxFullwidth) {
        width: @_fullwidth;
    }

    @media only screen and (max-width: @_fullwidth) {
        width: @_desktop;
    }

    @media only screen and (max-width: @_desktop) {
        width: @_tablet_desktop;
    }

    @media only screen and (max-width: @_tablet_desktop) {
        width: 100%;
    }
}

/* bootstrap overrride */





@stolzreg: iaaf_sansregular, sans-serif;
@stolzmed: iaaf_sans_blackregular, sans-serif;



@OpenSans: OpenSans, sans-serif;
@FontAwesome: FontAwesome;




h1 {
    font-size: 36px;
    color: @dkblue;
    font-family: @stolzmed;

    @media only screen and (max-width: @_tablet) {
        font-size: 30px;
    }

    &.alternate {
        color: @white;
        margin-bottom: @depth;
        text-transform: uppercase;
        .text_shadow(@black, 3px, 0, 1px);
    }
}

h2 {
    font-size: 30px;
    color: @dkblue;
}

h3 {
    font-size: 24px;
    color: @grey;
    font-family: @stolzreg;

    &.aside {
        color: @midgrey;
        font-family: @stolzmed;
        margin: 0 @depth/2 @depth/2 0;
    }
}

h4 {
    font-family: @stolzmed;
    font-size: @depth/2;
}

h5 {
    font-size: 18px;
    color: @lightgrey;
    font-family: @stolzreg;
}

h6 {
    font-size: 15px;
    color: @grey;
    font-family: @stolzmed;
}


&._mobileHide {
    @media only screen and (max-width: @_mobile) {
        display: none !important;
    }
}

&._mobileShow {
    display: none !important;

    @media only screen and (max-width: @_mobile) {
        display: block !important;
    }
}

&._tabletHide {
    @media only screen and (max-width: @_fullwidth) {
        display: none !important;
    }
}

&._tabletShow {
    display: none !important;

    @media only screen and (max-width: @_fullwidth) {
        display: block !important;
    }
}

#searchformnav {
    margin: @depth/4 @depth/4 0 0;
}

html {
    height: 100%;
}

.search {
    margin-bottom: @depth/2;

    &.top-search {
        margin-bottom: 0;

        .form-control {
            padding-top: 7px;
            height: 42px;
            padding-bottom: 7px;
        }
    }
}



.search-results {
    .btn-group {
        &.spaced {
            &.altcolors {
                display: none !important;
            }
        }
    }
}

.search-btn-group {
    display: table;
    padding: 0 @depth/2;
    width: 100%;

    & > .label,
    & > .searchform {
        display: table-cell;
    }

    label {
        font-size: 18px;
    }

    @media only screen and (min-width: @_mobile) {
        & > .label {
            padding-right: @depth/2;
            width: 20%;
        }
    }

    @media only screen and (max-width: @_mobile) {
        display: block;

        & > .label,
        & > .searchform {
            display: block;
        }
    }
}


/* branding */
.branding(@bc: @iaaf_red, @bc_alt: @iaaf_red, @bc_alt_alt: @iaaf_red, @logodk: url('../../Images/logos/VWCV-EMM-Desktop.jpg'), @logomb: url('../../Images/logos/VWCV-mobile.jpg'), @logowdk: 253px, @logowmb: 107px, @fc: @white, @bg: @alt, @sc: @search, @card: @white) {
    background-color: @iaaf-light-grey;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .background_size(cover);

    .list-group-item {
        background-color: @card;
    }

    .alerts {
        .grid-alert {
            background-color: @card !important;
        }
    }

    .alert {
        &.alert-success {
            background-image: none !important;
            background-color: @bc !important;
            border-color: @bc;
            color: @fc;

            a {
                color: @fc;
            }
        }
    }


    a {
        color: @bc;

        &:focus,
        &:hover {
            color: darken(@bc, 10%);
        }
    }

    h2 {
        a {
            color: @dkblue;

            &:focus,
            &:hover {
                color: @dkblue;
            }
        }
    }

    #homenav {
        .col-xs-6 {
            &.active {
                a {
                    background-color: @bc !important;
                    color: @white !important;
                }
            }
        }
    }

    .fa-star {
        color: @bc;
    }

    .alerts {
        .grid-alert {
            .number {
                background-color: @bc_alt_alt !important;
            }

            h4 {
                i {
                    color: @bc !important;
                }
            }
        }
    }

    .btn {
        background-color: @dkblue;
        color: @white;

        &:hover {
            text-decoration: none !important;
        }

        i {
            color: @white;
            font-size: 24px;
        }

        &.active {
            .box_shadow(transparent);
        }

        &.btn-default,
        &.btn-primary {
            color: @dkblue;
            border: 1px solid @boulder;
            white-space: normal;

            i {
                color: @dkblue;
            }
        }



        &.btn-lg {
            @media only screen and (max-width: @_tablet) {
                font-size: 15px;
            }

            i {
                font-size: unset;
                margin-left: @depth/8;
            }
        }

        &[data-toggle="collapse"] {
            background-color: @bc !important;
            color: @fc !important;

            & > i {
                color: @fc !important;
            }

            &.all-topics {
                background-color: @white !important;
                .opacity;
            }

            &.collapsed {
                background-color: transparent !important;
                color: @bc !important;

                & > i {
                    color: @bc !important;
                }


                &.all-topics {
                    background-color: @white !important;
                    .opacity(100, 1);
                }
            }
        }

        &.btn-default {
            background-color: @white;
        }

        &.btn-primary {
            background-color: @lightgrey;
            color: @fc;

            i {
                color: @fc;
            }

            &.new {
                background-color: @bc;
                border-color: @bc;
            }
        }

        &.btn-danger {
            background-color: @bc_alt;
            border-color: @bc_alt;
            color: @white;

            & > i {
                color: @white;
            }
        }

        &.btn-topnav {
            .icon-bar {
                background-color: @bc;
            }
        }

        &.btn-article {
            background-color: @article;
            border-color: @article;
        }

        &.btn-group {
            background-color: @group;
            border-color: @group;
        }

        &.btn-document {
            background-color: @document;
            border-color: @document;
        }

        &.btn-news {
            background-color: @news;
            border-color: @news;
        }

        &.btn-video {
            background-color: @video;
            border-color: @video;
        }

        &.btn-link {
            &.btn-clean {
                background-color: @white !important;
                border-color: @bgc_alt;
                color: @dkblue !important;
                font-family: @stolzreg;
                font-size: 16px;

                & > i {
                    color: @dkblue;
                }

                &.selected {
                    background-color: @iaaf_red !important;
                    border-color: @iaaf_red !important;
                    color: @white !important;
                }
            }

            &.btn-topics-active {
                background-color: darken(@bc, 7%) !important;
                border-color: darken(@bc, 7%) !important;
            }
        }

        &.btn-filter {
            background-color: @alt;

            &.active {
                background-color: @bc;
                color: @fc;
            }
        }

        &.btn-article,
        &.btn-group,
        &.btn-document,
        &.btn-news,
        &.btn-video {
            color: @white;
        }
    }

    .no-close-on-tabs {
        .top-nav-tabs {
            li {
                a {
                    color: @grey !important;
                }

                &.active {
                    a {
                        color: @bc !important;

                        &:after {
                            color: @bc;
                        }
                    }
                }
            }
        }
    }

    .search-block {
        .open {
            .btn-link {
                &.dropdown-toggle {
                    background-color: darken(@bc, 7%) !important;
                    border-color: darken(@bc, 7%) !important;
                    .opacity(100, 1) !important;
                }
            }
        }
    }

    .btn-group {
        label {
            color: @midgrey;
        }

        .btn {
            & + .btn {
                margin-left: 0;
            }
        }

        .btn-link {
            margin-left: 0;
        }

        &.altcolors {

            label {
                color: @midgrey;
            }

            .btn {
                font-family: @OpenSans;
                font-size: 14px;

                &.btn-sm {
                    font-size: 12px;
                    color: @lightgrey;
                }

                &.btn-default,
                &.btn-primary {
                    border: 1px solid @bgc;
                    color: @midgrey;

                    &.tagsbc {
                        border: 1px solid @bc;
                        color: @grey;
                    }

                    i {
                        color: @bc_alt;
                    }
                }

                @media only screen and (max-width: @_tablet) {
                    padding: 0.2em 0.4em;
                }
            }
        }
    }



    .bulletin {
        &:before {
            background-color: @bc_alt;
        }
    }




    .checklist {
        label {
            span {
                background-color: @white;
                border: 1px solid @bc;
            }
        }

        input[type="checkbox"] {
            &:checked {
                & + span {
                    background-color: @bc;
                    color: @white;
                }
            }
        }
    }


    .circle-user {
        span {
            color: @bc_alt;
        }

        i {
            color: @bc_alt;
        }
    }

    .document-group {
        background-color: @alt;

        & .download-file .btn-group .download-icons a{
            display:block;
            float:none;
            text-align:left;
            margin:0;
        }

        &.responsibilities {
            background-color: @iaaf_red;
            color: @white;
            padding: @depth/2+5 @depth - 10;

            h1, h2, h3, h4, h5, h6, p, ul, li {
                color: @white;
                margin: 0;
            }
        }


        .btn {
            margin: 0 5px;
        }

        span {
            font-size: 20px;
        }

        h3 {
            color: @grey;

            a {
                color: @grey;
            }
        }

        .form-group {
            h4 {
                color: @grey;
                font-size: 22px;
            }
        }
    }

    .form-control-feedback {
        color: @bc;
    }

    .btn-transparent-search {
        color: @bc_alt !important;
    }

    .list-group-item-banners {
        .btn {
            cursor: default;
        }

        btn-info {
            border: 1px solid @bc;
        }
    }


    .list-group-item {
        border-bottom-color: darken(@bg, 15%);
    }


    .logo-box {
        color: @white !important;
        font-family: @stolzmed;
        font-size: @depth - 5;
        padding: .4em .3em;
        white-space: nowrap;

        img {
            float: left;
            display: none !important;
            .image_width;
            max-width: 100px;

            & + span {
                float: left;
            }
        }

        span {
            font-family: @OpenSans;
            font-weight: 600;
            font-size: @depth - 5;
            line-height: @depth - 10;
        }
    }

    #navbar {
        .navbar-nav {
            background-color: @bc;

            a {
                color: @white;

                &:focus {
                    color: @bc;
                }
            }

            .dropdown-menu {
                a {
                    color: @grey;

                    &:hover {
                        color: @bc;
                    }
                }
            }
        }
    }

    .navbar-default {
        background-color: @iaaf_red;

        .logo-nav {
            background-color: @iaaf-blue;
            color: #fff;
            padding: 1em;

            img{
                padding-left:20px;
            }
        }

        .main-heading{
            padding-left:20px;
        }

        .menu-icon {
            background-color: @iaaf_red;
        }

        .navbar-nav {
            .open {
                .dropdown-menu {
                    li {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        a {
                            display: block;
                            color: @grey;

                            &:hover {
                                color: @bc;
                            }
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;

                        &.overflow-auto {
                            max-height: 400px;
                            overflow: auto;
                        }
                    }

                    @media only screen and (max-width: @_tablet) {
                        overflow-y: scroll;
                        height: 400px;
                    }
                }
            }
        }

        &.navbar-search {
            background-color: @sc;
        }

        &.navbar-fixed-top {
            border-bottom-color: @headerbottomborder !important;
        }
    }

    #searchexpand {
        &.active {
            background-color: @bc;

            & > i {
                color: @white;
            }
        }
    }

    #searchbar {
        border-top: 1px solid @bc;
    }

    .form-control {
        background-color: @white;
        border: 1px solid @bc;
        color: @bc;
    }

    .input-group-addon {
        background-color: @bc;
        border-color: @bc;
        color: @white;
    }

    .home-grid {
        .grid-item {
            &:first-child {
                & > a {
                    background-color: fade(@bc, 70%);
                }
            }

            &:nth-child(3) {
                & > a {
                    background-color: fade(@bc_alt_alt, 60%);
                }
            }

            &:nth-child(4) {
                & > a {
                    background-color: @bc_alt;

                    i {
                        color: @white;
                    }
                }
            }

            span {
                i {
                    color: @bc;
                    font-size: 14px;
                }
            }
        }

        .navigate-grid {
            ul {
                li {
                    &:before {
                        color: @bc_alt;
                    }
                }
            }
        }
    }


    .related-pages {
        & > li {
            border-top: 1px solid lighten(@bc, 10%);

            &:first-child {
                border-top: 0 none transparent;
            }
        }
    }

    .navbar-item {
        &.section {
            color: @grey;
        }
    }

    .navbar-toggle {
        background-color: darken(@bc, 20%);
        .border_radius(0);

        span {
            background-color: @fc !important;
        }

        &.collapsed {
            background-color: @bc;
        }
    }

    .nav-tabs {
        li {
            a {
                color: @dkblue !important;
            }
        }
    }

    .page-header {
        &:after {
            background-color: @bc;
        }
    }

    .standfirst {
        color: @midgrey;

        & > a {
            color: @midgrey;
            text-decoration: none;

            &.readmore {
                color: @bc_alt;
                text-decoration: underline;
            }
        }
    }

    .search-panel {
        .btn-link {
            background-color: @bc !important;
            border-color: @bc;

            p, span {
                color: @white;
            }
        }
    }

    .tags {
        i {
            color: @midgrey;
        }

        a {
            border-color: @grey;
            color: @grey;
            font-size: 14px;
            padding: 5px 7px;

            &:focus,
            &:hover {
                border-bottom-color: darken(@bc, 10%);
                color: darken(@bc, 10%);
            }
        }
    }

    #sidebar {
        .tags {
            a {
                background-color: @white;
                border-color: @bgc;
                color: @midgrey;
                font-size: 14px;
            }
        }
    }



    #footer {
        color: @white;
    }

    .article_body {
        ul {
            li:before {
                color: @bc;
            }
        }
    }


    .search-btn-group {
        label {
            color: @bc;
        }
    }


    table {
        border-width: 0;

        tr {
            border-width: 0;

            th, td {
                border-width: 0;
            }
        }

        thead {
            tr {
                background-color: lighten(@bc, 60%);
                color: @fc;
            }
        }

        tbody {
            tr {
                background-color: lighten(@bc, 80%);

                &:nth-child(even) {
                    background-color: lighten(@bc, 90%);
                }
            }
        }
    }

    .form-certificate {
        .form-group {
            input {
                border: 1px solid @bc;
            }
        }
    }



    .introjs-tooltipbuttons {
        .introjs-button {
            background-color: @grey;
            border: 1px solid @grey;
            color: @white;
            font-size: 14px;
            font-family: @stolzmed;
            margin-left: 0;
            margin-right: 1px;
            .border_radius(0);
            .gradient(@lightgrey, @grey);
            .text_shadow(transparent);

            &.introjs-skipbutton {
                margin-right: @depth/2;
            }

            &.introjs-disabled {
                .opacity;
            }
        }
    }

    .introjs-helperLayer {
        &:before {
            color: @bc;
        }
    }

    .fa-spin {
        color: @bc;
    }
}
/* branding */


.alert {
    &.alert-info {
        border-width: 0;
        color: @grey;
        font-family: @stolzmed;
        font-size: 18px;
        padding: @depth/4 0;
        .border_radius(0);
        .box_shadow(transparent);
        .gradient(transparent, transparent);
    }
}

body {
    font-family: Arial, sans-serif;
    letter-spacing: 0.025em;
    padding: 64px 0 0 0;
    min-height: 100%;

    &.itok {
        .branding;

        .has-feedback {
            .form-control {
                border: 2px solid @boulder;
                color: @dkblue;
                padding-right: 10px;
                padding-left: 32.5px;
            }

            .btn-transparent-search {
                color: @dkblue !important;
                left: 0;
                width:36px;

                i.glyphicon {
                    -moz-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    filter: FlipH;
                    -ms-filter: "FlipH";
                }
            }
        }
    }
}

.signin-screen {
    background-color: @bgc;
}





h1 {
    margin-bottom: 15px;

    span {
        display: block;
        font-family: @stolzmed;
    }

    a {
        i {
            color: @grey;
        }
    }
}

h2 {
    font-family: @stolzmed;
    margin-top: 0;

    @media only screen and (max-width: @_mobile) {
        font-size: 20px;
    }

    & > a {
        color: @dkblue;

        @media only screen and (max-width: @_tablet) {
            display: block;
            float: none;
        }
    }

    .btn {
        float: left;
        margin-right: @depth/4;
    }
}

h3 {
    font-weight: 400;
    margin-top: 0;
    line-height: normal;
}


h4 {
    &.date {
        color: @lightgrey;
        font-family: @stolzreg;
        font-size: 14px;
        line-height: normal;
        margin: 0;

        @media only screen and (max-width: @_tablet) {
            font-size: 13px;
        }
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    a {
        font-weight: bold;
        text-decoration: underline;
    }
}

label {
    display: block;
    padding-top: @depth/8;
}

.affix-row {
    width: 100%;
}

#back-to-top {
    bottom: @depth/2;
    display: none;
    position: fixed;
    right: @depth/2;

    a {
        font-size: 18px;
    }

    @media only screen and (max-width: @_tablet) {
        display: none !important;
    }
}

.btn-group {
    label {
        float: left;
        font-size: 18px;
        padding-right: @depth/4;
    }

    &.spaced {

        label {
            font-family: @stolzreg;
            padding-right: @depth/4;
            padding-top: 3px;
        }

        .btn {
            float: left;
            margin-bottom: @depth/8;
            margin-right: @depth/8;

            i {
                font-size: 14px;
                padding-right: @depth/8;
            }
        }
    }

    &.no-plus {

        .btn {
            display: block;
            float: left;
            margin: 0 @depth/8 @depth/8 0;

            & > i {
                display: none;
            }
        }
    }

    .btn {
        i {
            font-size: @depth/2;
        }
    }

    &.pull-right {
        text-align: right;

        label, .btn {
            display: inline-block;
            float: none;
        }

        &.spaced {
            label {
                padding-left: 0;
                padding-right: @depth/8;
            }

            .btn {
                margin-left: @depth/4 !important;
                margin-right: 0;
            }
        }
    }
}

.buttons-reveal {
    padding: @depth/4 0;
}

button {
    &.close {
        font-size: 40px;
        line-height: 20px;
        .opacity(100, 1);
    }
}

.checklist {
    padding-top: @depth/2;
    text-align: left;

    input[type="checkbox"] {
        display: none;
        float: left;
    }

    label {
        box-sizing: border-box;
        display: block;
        float: left;
        margin: 0;
        padding: 0 0 0 10px;
        width: 80%;

        span {
            cursor: pointer;
            font-family: @stolzmed;
            display: block;
            padding: 7px 10px;
            text-align: center;
            width: 100% !important;
        }
    }

    .col-md-6 {
        padding-bottom: @depth/4;

        &:nth-child(2n-1) {
            clear: left;
        }
    }
}

.click-for-more {
    padding: @depth/2 0 @depth*2;
}

#content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.document-group {
    display: block;
    padding: 1em;

    @media only screen and (max-width: @_tablet) {
        padding: @depth/2 1.5em;
    }

    .form-group {
        h4 {
            padding-top: @depth/4;
        }
    }
}

#main {
    padding-top: 5em;
}

#footer {
    .min_height(150px);
}

.margin-bottom-5 {
    margin-bottom: @depth/8;
}

.noposrel {
    position: static !important;
}

.posrel {
    position: relative !important;
}

.btn {
    font-family: @stolzmed;
    .border_radius(0);
    .box_shadow(transparent, 0, 0, 0, 0);
    .gradient(transparent, transparent);
    .text_shadow(transparent);
    background-color: @white;

    &.btn-primary {
    }

    &.btn-topnav {
        border-width: 0 !important;
        height: @depth;
        width: @depth;

        .icon-bar {
            display: block;
            height: 3px;
            margin-bottom: 3px;
            margin-top: 3px;
            width: 100%;
            .border_radius(2px);
        }
    }

    &.btn-link {
        &.btn-transparent-search {
            background-color: transparent;
            padding: @depth/4 @depth/4;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &.logo {
        padding: 0;
    }
}

.dropdown-menu {
    border: 1px solid @bgc !important;
    overflow: hidden;
    padding: 0;
    width: 100%;
    max-height: @depth*7;
    overflow-y: auto;

    li {
        border-top: 1px solid @bgc;

        &:first-child {
            border-top: 0 none transparent;
        }

        a {
            background-color: @alt;
            color: @dkblue;
            display: block;
            font-size: 14px;
            padding: @depth/8+3 @depth/4+3 !important;
            white-space: normal;

            &:hover {
                .gradient(transparent, transparent);
                color: @dkblue;
                background-color: darken(@alt, 20%);
            }
        }
    }
}

.open {
    .dropdown-menu {
        background-color: @white !important;
        position: absolute !important;
        float: none !important;
        min-width: 200px !important;
        .box_shadow(transparent) !important;
        .border_radius(0);

        &.right {
            margin-left: @depth/2-5;
            margin-right: @depth/2-5;
            padding: 0 !important;
            width: calc(~"100% - 30px");
        }

        &.left {
            right: auto !important;
            left: 0 !important;
        }
    }

    .dropdown-toggle {
        background-color: @alt !important;
    }
}


.no-close-on-tabs {
    display: table;
    width: 100%;

    .no-close-child {
        border-right: 1px solid lighten(@bgc, 10%);
        box-sizing: border-box;
        display: table-cell;
        float: none;
        padding: 0 @depth;
        vertical-align: top;

        &.no-close-tabs {
            width: 30%;
            min-width: 30%;
        }

        &.no-close-tabs-content {
            width: 70%;
        }
    }

    h4 {
        display: block;
        padding: @depth 0 @depth/4 0 !important;
        text-transform: uppercase;
    }

    h5 {
        display: block;
        padding: @depth/20 @depth - 10 !important;
    }

    li {
        border-top-width: 0 !important;

        a {
            background-color: transparent !important;
        }
    }

    .top-nav-tabs {
        display: block;
        height: auto;
        overflow: hidden;
        padding: @depth/2 0 @depth !important;
        width: 100%;

        li {
            border-top-width: 0 !important;

            a {
                background-color: transparent !important;
                font-size: 18px;
                display: block;
                font-weight: 600;
                padding: @depth/8 0 !important;
                text-decoration: none !important;
                white-space: normal !important;
            }

            &.active {
                a {
                    &:after {
                        content: "\f101";
                        font-family: @FontAwesome;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: @_desktop) {
        border-right: 1px solid lighten(@bgc, 10%);
        display: block;
        width: 100%;

        h4 {
            padding: @depth/2 0 @depth/4 0 !important;
        }

        .no-close-child {
            border-right: 0 none transparent !important;
            border-bottom: 1px solid lighten(@bgc, 10%);
            display: block;

            &:last-child {
                border-bottom-width: 0;
            }

            &.no-close-tabs {
                width: 100%;
            }

            &.no-close-tabs-content {
                width: 100%;
            }
        }

        .top-nav-tabs {
            padding: 0 0 @depth/2 @depth/2 !important;

            li {
                float: left;
                margin-right: @depth/2 !important;

                &.active {
                    a {
                        text-decoration: underline;

                        &:after {
                            content: "";
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: @_tablet) {
        h4 {
            padding: @depth/8 0 @depth/4 0 !important;
        }

        .no-close-child {
            border-bottom: 0 none transparent;
            padding: @depth/4 @depth/2 !important;

            &:last-child {
                border-bottom: 1px solid lighten(@bgc, 10%);
            }
        }

        .top-nav-tabs {
            padding: 0 !important;

            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

.top-nav-side {
    border-left: 1px solid lighten(@bgc, 10%);
    display: block;
    margin-left: -1px;

    a {
        display: block !important;
        padding: 0 !important;
    }

    .text-large {
        padding: @depth/2 0 !important;

        li {
            font-size: 18px;
            padding: @depth/8 @depth - 10 !important;

            a {
                font-size: 18px;
            }
        }
    }

    .text-small {
        padding: 0 0 @depth/2 0 !important;

        li {
            font-size: 14px;
            padding: @depth/20 @depth - 10 !important;

            a {
                font-size: 14px;
            }
        }
    }

    @media only screen and (max-width: @_tablet) {
        display: table;
        width: 100%;

        .text-large,
        .text-small {
            display: table-cell;
            width: 50%;

            li {
                padding: @depth/20 @depth/2 0 0 !important;
            }
        }
    }
}

.tab-content {
    &.tab-topics {
        display: block;
        height: auto;
        overflow: hidden;
        padding: @depth 0 @depth/2 0;

        @media only screen and (max-width: @_desktop) {
            padding: @depth/2 0 @depth/2 0;
            margin-bottom: 0;
        }

        @media only screen and (max-width: @_tablet) {
            padding: 0;

            li {
                a {
                    padding-left: 0 !important;
                }
            }
        }
    }
}

.dropdown-toggle {
    font-family: @stolzmed;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.sidebar-nav-section {
    margin: 15px 0 0 0;
    background-color: @white;
    overflow-y: auto;

    ul {
        background: @bodyBG;
    }

    .aside {
        &.nav-sidebar {

            .sidebar-menu-sec {
                padding: 0;
                margin-bottom: 0;
                background: transparent;
                font-family: Din, sans-serif;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 600;

                & li:nth-child(odd) {
                    background-color: #fff;
                }

                & li:nth-child(even) {
                    background-color: #f6f9f9;
                }

                & > li {
                    list-style: none;
                    margin-top: 25px;

                    & > a >  i {
                        font-size: 2em;
                        margin: 2px 0 0 0;
                        display: inline-block;
                        color: @iaaf_red;
                    }

                    &:hover {
                        /*background: @bgc;*/
                        color: #7cecfc;
                    }


                    span {
                        color: #000;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: .5em;
                        background: #ededf0;
                        width: 100%;
                        display: inline-block;
                        cursor: pointer;
                        line-height: 2em;

                        &:hover {
                            /*background: @bgc;*/
                            color: @iaaf_red;
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    & i.fa-caret-down {
                        font-size: 2em;
                        /*margin: 2px 0 0 0;*/
                        /*display: inline-block;*/
                        color: @iaaf_red;
                    }

                    &.active {
                        span {
                            background: #ededf0;
                            color: #000;
                            font-weight: bold;
                        }

                        i.fa-caret-down {
                            color: @iaaf_red;
                            font-size: 2em;

                            &::before {
                                content: "\f0d8";
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }



    ul.submenu {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 0 20px 0;
        display: none;

        li {
            list-style-type: none;
            margin: 0;
            padding: 5px 10px;

            &.active,
            &:hover a {
                /*background: #d7d7d7;*/
                color: #7cecfc;
            }

            a {
                width: 100%;
                float: left;
                color: #333;
            }
        }
    }
}

.itok {

    background-color:@iaaf-light-grey;

    &.landing-page {
        .sidebar-nav-section {
            margin: 99px 0 0 0;
            }
        }
    }

    .tab-content {
        background-color: transparent;

        &.tab-topics {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                margin: 0;
                padding: 5px 10px;

                &:hover,
                &.active {
                    background: @hovergrey;
                }

                a {
                    width: 100%;
                    float: left;
                    color: #333;
                }
            }
        }
    }


    .user-menu-section {

        ul {
            padding: 0;
            margin: 0;
            width: 100%;
            float: left;

            li {
                list-style: none;
                margin: 0;
                padding: 5px 10px;
                width: 100%;
                float: left;

                &:hover,
                &.active {
                    background: @hovergrey;
                }


                a {
                    width: 100%;
                    float: left;
                    color: #333;

                    &:hover {
                        color: #333;
                    }
                }
            }
        }
    }

    [class^="col-"] {
        &.no-padding {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .padding-left {
        padding-left: 0;
    }

    .no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .no-margin-bottom {
        margin-bottom: 0 !important;
    }

    [data-toggle="collapse"] {
        span {
            &.showText {
                display: none;
            }

            &.hideText {
                display: block;
            }
        }

        &.collapsed {
            span {
                &.showText {
                    display: block;
                }

                &.hideText {
                    display: none;
                }
            }
        }
    }

    .alert-info {
        margin-bottom: 0;
    }

    .blog-post,
    .post-tags {
        background-color: @white;
        font-size: 1.2em;
        margin-bottom: @depth;
        padding: 0 @depth/2 @depth/2 @depth/2;

        .tags {
            padding-top: @depth/2;

            i {
                line-height: 3.3rem;
            }
        }
    }

    .blog-post {
        img {
            .image_width;
        }

        table {
            width: 100%;
        }
    }

    .buttons {
        padding-top: 10px;

        .btn {
            margin-bottom: 5px;
            margin-right: 5px;
        }
    }

    #article {
        .mainimg {
            border: none;
            text-align: center;
            display: block;
            float: none;
            height: auto;
            width: 100%;
            max-width: 1000px;

            img {
                display: block;
                height: auto;
                width: 100%;
                max-width: 1000px;
            }

            &.thumbnail {
                margin: auto;
                margin-bottom: 0 !important;
            }
        }

        h2 {
            margin: 1.5em 0 1.2em 0;
            font-size: 24px;

            @media only screen and (min-width: @_tablet) {
                font-size: 1.4em;
            }
        }

        @media only screen and (max-width: @_tablet) {
            padding-left: 0;
            padding-right: 0;
        }

        .article_body {

            ul {
                list-style: none;
                position: relative;
                padding: 0;
                margin: 1em 0;

                li {
                    padding-left: 1em;
                    margin-left: 1.5em;
                    margin-bottom: 0.4em;
                    color: @midgrey;
                    position: relative;
                }

                li:before {
                    position: absolute;
                    font-family: FontAwesome;
                    font-size: 0.5em;
                    content: "\f111";
                    left: 0;
                    top: 0.8em;
                }
            }
        }
    }


    .article-number-and-date {
        display: block;
        height: auto;
        margin-bottom: @depth/4;
        overflow: hidden;
        padding-bottom: 0;

        .pull-left {
            line-height: @depth/2+6;

            &:after {
                content: "|";
                color: @lightgrey;
                float: right;
                display: block;
                line-height: @depth/2+1;
            }

            span,
            h4 {
                float: left;
                padding: 0 @depth/4;
            }

            .date {
                font-size: 15px;
                line-height: @depth/2+6;

                i {
                    font-size: 18px;
                }
            }

            &:first-child {
                span, h4 {
                    padding-left: 0;
                }
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }

    .article-number {
        color: @lightgrey;
        display: block;
        font-family: @stolzreg;
        font-size: 15px;
        padding: 0 0 @depth/8 0;

        &:empty {
            display: none;
        }

        @media only screen and (max-width: @_tablet) {
            font-size: 14px;
        }
    }

    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: @bgc;
    }

    .input-append {
        display: block;
        height: auto;
        overflow: hidden;
        padding-bottom: @depth;
    }

    .lc-full-width {
        .full-width-partial {
            width: 100% !important;
        }
    }

    .list-group {
        margin-bottom: 0;
        padding: 0 !important;
        .border_radius(0px) !important;
        .box_shadow(transparent);
    }

    .list-group-item-banners {
        margin-right: @depth/2;
        position: relative;

        .btn {
            padding: 3px 8px;
            font-family: @stolzreg;
            text-transform: uppercase;
        }
    }

    .list-group-item {
        border: 0 none transparent;
        height: auto;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        .border_radius(0px) !important;

        &:hover {
            background-color:@hovergrey;
        }

        &.alt-color {
            margin-bottom: @depth/8;
            overflow: visible;
            padding: @depth/2 - 5 @depth/2+5;

            h2 {
                margin-bottom: @depth/4;
                font-size: 30px;
            }

            @media only screen and (max-width: @_tablet) {
                h2 {
                    margin-bottom: @depth/4;
                    font-size: 1.6em;
                }

                border: 0;
                border-bottom: 1px solid @bgc_alt;
                margin-bottom: 0;
                padding: @depth/2 @depth/4 @depth/4 @depth/4;
            }

            @media only screen and (max-width: @_mobile) {
            }

            .list-group-item-banners {
                margin-bottom: @depth/2 - 5;
                margin-left: -@depth+5;

                @media only screen and (max-width: @_tablet) {
                    margin-left: 0;
                }
            }
        }

        &.bulletin {
            border-width: @depth/10;
            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                height: calc(~"100% - 40px");
                left: -@depth/10;
                top: @depth/2;
                width: @depth/4;
            }
        }

        &.factoid {
            background-color: lighten(@iaaf_red, 40%) !important;
            border-bottom: 1px solid @iaaf_red !important;
            border-top: 1px solid @iaaf_red !important;
            margin: @depth/4 0 !important;
        }

        .btn-group {
            &.pull-right {
                margin-left: @depth/4;
            }

            &.spaced {
                &.altcolors {
                    margin-top: @depth/2;
                }
            }
        }

        .list-unstyled {
            margin-bottom: 0;
        }

        .row {
            padding-left: 0;
            padding-right: 0;

            a {
                font-family: @stolzreg;
                font-size: 18px;
            }
        }

        &.ov {
            overflow: visible;

            a {
                font-family: @stolzreg;
                font-size: 18px;
                color: @midgrey;
            }
        }

        &.reduced {
            padding: @depth/4 0;

            .date {
                padding-top: 0;
            }

            & + h4 {
                padding-top: @depth/2;
            }
        }
    }



    iframe {
        display: block;
        float: left;
    }

    .logo-box {
        display: block;
        float: left;
        position: relative;

        & + i {
            font-size: @depth/2;
            line-height: 50px;
            padding-left: @depth/8;
        }
        /*&:after {
        background-color: #cc0000;
        color: @white;
        content: "Beta";
        display: block;
        font-size: 12px;
        font-family: @stolzreg;
        line-height: 12px;
        padding: 2px 2px;
        position: absolute;
        right: -15px;
        text-transform: uppercase;
        top: 5px;
    }*/
    }

    .offset-below-10 {
        margin-bottom: @depth/4 !important;
    }

    .offset-below-20 {
        margin-bottom: @depth/2 !important;
    }

    .offset-below-40 {
        margin-bottom: @depth !important;
    }

    .offset-top-10 {
        margin-top: @depth/4 !important;
    }

    .offset-top-20 {
        margin-top: @depth/2 !important;
    }

    .offset-top-40 {
        margin-top: @depth !important;
    }

    .page-header {
        border-bottom-width: 0;
        margin-top: 0 !important;
        padding-bottom: @depth/4;
        position: relative;

        &.less-top {
            margin-top: @depth/2;
        }

        h1,
        h4 {
            display: block;
            margin-bottom: 0;
        }

        & + .page-header {
            margin-top: 0;
        }

        .btn {
            & > i {
                padding-right: @depth/8;
            }
        }

        h1 {
            margin-bottom: @depth/4;
            margin-right: @depth/2;
            margin-top: 0;

            @media only screen and (max-width: @_tablet) {
                line-height: 1.5em;
            }
        }

        .btn-group {
            margin-bottom: @depth/4;
            margin-right: @depth/4;

            .btn {
                white-space: nowrap !important;

                i {
                    font-size: 14px;
                }
            }
        }
    }

    .page-stats {
        margin-bottom: @depth;
        margin-left: @depth;
    }

    .pagination {
        margin: @depth/10 0;
    }

    .panel {
        .alert {
            &.alert-info {
                margin: 0 15px 15px 15px;
            }
        }
    }

    .panel-body,
    .panel-default {
        background-color: rgba(255, 255, 255, 0.8);
        border-width: 0;
        .border_radius(0) !important;
        .box_shadow(transparent);

        &.signin {
            .box_shadow(lighten(@black, 35%));
        }

        .panel-footer,
        .panel-body,
        .panel-heading {
            border-width: 0;
            .gradient(transparent, transparent);
            background-color: transparent;
        }

        &.signin {
            margin: auto;
            max-width: @depth*11;
            padding: @depth/2 0;

            .panel-footer,
            .panel-body,
            .panel-heading {
                padding: @depth/2 @depth/2 @depth/2;
                text-align: center;
            }

            h1 {
                font-size: 27px;
                margin-bottom: 0;
            }

            .user-setup {
                h1 {
                    font-size: 20px;
                    margin-bottom: @depth/4;
                }

                .user-setup-logo {
                    margin-bottom: @depth/4;
                }

                p {
                    font-size: 14px;
                    margin: 0 @depth @depth/4 @depth;
                }

                .checklist {
                    label {
                        width: 100%;
                        font-weight: normal;

                        input {
                            box-sizing: border-box;
                            padding-right: 5px;
                            float: left;
                            width: 15%;
                        }

                        span {
                            display: block;
                            float: left;
                            width: 85%;
                        }
                    }

                    .col-md-6,
                    .col-sm-6 {
                        padding-right: 7px;
                        padding-left: 7px;
                    }
                }
            }
        }
    }

    .panel-collapse {
        .panel-body {
            &.list-group {
                border-top: 1px solid #ddd;
            }
        }
    }

    .tab-content {
        border-top-width: 0;
        margin-bottom: @depth;
        padding: @depth/2;
    }

    .navbar-brand {
        height: auto;
        max-width: 150px;
        padding: @depth/4;

        img {
            .image_width;
        }
    }

    .navbar-form {
        height: auto;
        margin: 0;
        padding: 0;

        .form-control {
            border: 0 none transparent;
            font-size: 18px;
            height: auto;
            margin: 7px @depth/4;
            padding: @depth/8;
            .border_radius(0);
        }
    }

    .form-control {
        .border_radius(0);
        font-size: 18px;
        height: auto;
        padding: 7px 10px;
    }

    .navbar-nav {
        margin: 0;
    }

    #navbar {
        padding: 0;
        overflow: hidden;
    }

    .navbar-default {
        background-color: @white;
        background-image: none;
        border-width: 0;
        border-bottom: 1px solid @bgc;
        .box_shadow(transparent);
        .border_radius(0);

        &.navbar-fixed-top {
            .min_height(64px);
            border-bottom: 0 none transparent;

            .dropdown-menu {
                max-height: unset;
            }
        }

        &.navbar-search {
            background-color: @white;
            border-bottom: 3px solid @search_alt;
            padding: @depth/4 0;

            .search {
                background-color: lighten(@search, 10%);
            }
        }

        .dropdown-animation {
            position: absolute;
            top: 100%;

            &#demo {
                left: 0;
            }

            &#navbar {
                right: 0;
            }
        }

        .navbar-item {
            height: 64px;

            &.nbl {
                border-left-width: 0;
            }

            &.bl {
                border-left: 1px solid @bgc;
            }

            &.npr {
                padding-right: 0 !important;
            }

            &.br {
                border-right: 1px solid @bgc;
            }

            .btn-link {
                i {
                    font-size: 20px;
                }
            }

            .circle-user {
                i {
                    float: left;
                    line-height: @depth - 2;
                    margin-left: @depth/4;
                    margin-right: @depth/4;
                    font-size: 30px;
                }

                span {
                    float: left;
                    font-size: 15px;
                    line-height: @depth;
                    padding-left: @depth/4;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }

        #searchexpand {
            padding: @depth/4+1 @depth/2;

            & > i {
                font-size: @depth - 10;
                line-height: @depth;
            }

            outline: 0 none transparent !important;
        }

        #searchbar {
            background-color: @alt;
            display: none;

            &.in {
                display: block;
            }

            .wrap {
                padding: @depth/4 0;
                /*border-top: 1px solid @midlgrey;*/
            }
        }

        .pull-left,
        .pull-right {
            display: table;

            .navbar-item {
                display: table-cell;
                padding: 0 @depth/4;
                vertical-align: middle;

                &.navbar-logo {
                    padding-bottom: 0;
                    padding-top: 0;
                    vertical-align: top;
                }
            }

            &.leftmenu {
                .navbar-item {
                }
            }

            &.centermenu {
                .mobile-group {
                    .navbar-item {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        .pull-left {
            .navbar-item {
            }
        }

        .pull-right {
            .navbar-item {
            }
        }
    }

    .nav-sidebar {
        li {
            &.nav-header {
                padding-left: @depth/2;
                padding-right: @depth/2;
                padding-top: @depth;

                &:first-child {
                    padding-top: 0;
                }
            }

            i {
                width: @depth/2;
            }
        }
    }

.nav-tabs {
    background-color: @bgc_alt;
    border-bottom: 0 none transparent;
    display: table;
    width: 100%;

    li {
        display: table-cell;
        float: none;
        text-align: center;
        .border_radius(0);

        a {
            border-width: 0 !important;
            font-family: @stolzreg;
            font-size: 20px;
            margin-right: 0;
            padding: @depth/4 @depth/2;
            text-transform: uppercase;
            .border_radius(0);
        }

        &.active {
            a {
                background-color: @white !important;
            }
        }
    }
}






    .tab-content {
        background-color: @white;

        &.row {
            border-top: 1px solid @alt;

            h2 {
                margin-top: 0;
            }
        }
    }

    .progress {
        margin-left: @depth/2;
        margin-right: @depth/2;
    }

    .standfirst {
        font-size: 18px;
        margin-bottom: 0;

        img {
            .image_width;
        }
    }

    .tags {
        height: auto;
        overflow: hidden;
        margin-top: @depth/4;

        i {
            float: left;
            line-height: 26px;
            margin-right: @depth/4;
        }

        a {
            border: 1px solid @midgrey;
            display: block;
            float: left;
            margin-bottom: @depth/4;
            margin-right: @depth/4;
            padding: 0.4em;
            color: @grey;

            &:focus,
            &:hover {
                border-bottom-color: @link_hover;
                border-bottom-style: solid;
                text-decoration: none;
            }

            @media only screen and (max-width: @_tablet) {
                font-size: 14px;
            }
        }
    }

    .thumbnail {
        border-width: 0;
        overflow: hidden;
        padding: 0;
        .border_radius(0);
        .box_shadow(transparent);

        img {
            .image_width;
        }

        &.no-offset {
            margin-bottom: 0;
        }

        .thumbnail {
            margin-bottom: 0;
        }

        .video-iframe,
        .video-js {
            .ratio(56%);
            overflow: hidden;
            height: auto !important;
            width: 100% !important;

            & > iframe,
            & > video {
                height: 100% !important;
                left: 0;
                position: absolute;
                top: 0;
                width: 100% !important;
            }
        }

        &.col-md-6 {
            background-color: transparent !important;
            padding-left: @depth/2;

            @media only screen and (max-width: @_desktop) {
                padding-left: 0;
                padding-top: @depth/2;
            }
        }
    }
    /*[data-target="#relatedtagscollapse"] {
    @media only screen and (min-width: @_tablet) {
        display: none !important;
    }
}*/
    #relatedtagscollapse {

        @media only screen and (max-width: @_tablet) {
            h4 {
                display: none;
            }
        }
    }

    #sidebar {
        height: auto;
        overflow: hidden;
        position: relative;

        h4 {
            font-size: 20px;
        }

        @media only screen and (min-width: @_desktop) {
            padding-left: @depth;
        }

        &.pull-left {
            padding-right: @depth;
        }

        &.pull-right {
            padding-left: @depth;
        }

        .row {
            padding-left: 0;
            padding-right: 0;
        }

        .affix-sidebar {
            overflow: hidden;
            width: 330px;
            .min_height(300px);

            #relatedtags {
                width: 330px;
            }

            @media only screen and (max-width: @_fullwidth) {
                width: 350px;

                #relatedtags {
                    width: 350px;
                }
            }

            @media only screen and (max-width: @_desktop) {
                width: 100%;

                #relatedtags {
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width: @_desktop) {
            padding: 0 0 @depth 0 !important;

            .affix,
            .affix-bottom {
                top: auto !important;
            }
        }

        @media only screen and (min-width: @_desktop) {
            position: initial !important;

            .affix {
                position: fixed !important;
                top: 70px;
            }

            .affix-bottom {
                position: absolute !important;
            }
        }
    }


    .related-articles {
        border-top: 1px solid @bgc;
        padding: 30px 0;
        margin-top: 20px;

        h2 {
            padding-bottom: 30px;
        }

        h4 {
            font-size: 15px;
            color: @grey;
            font-family: @stolzmed;
            line-height: normal;
        }

        .related-article-item {
            @media only screen and (min-width: @_mobile) {
                &:nth-child(3n-1) {
                    clear: left;
                }
            }
        }
    }

    .related-pages {
        & > li {
            & > a {
                display: block;
                font-family: @stolzmed;
                padding: @depth/4 0;

                & > span {
                    display: block;
                    font-family: @stolzreg;
                }
            }
        }
    }

    .article-tools {
        overflow: auto;
    }

    .return-home {
        margin-top: 70px;
        clear: both;
    }

    .print-link {
        margin-right: 2em;
    }

    #articleComment {
        width: 600px;
        height: 5em;

        @media only screen and (max-width: @_mobile) {
            width: 300px;
        }
    }

    .header-tools {

        .article-number {
            display: inline;
            margin-right: 40px;
        }

        h4.date {
            display: inline;

            @media only screen and (max-width: @_mobile) {
                display: block;
            }
        }
    }


    .home-tags {
        margin-top: 30px;
    }

    .job-roles {
        b {
            padding: 0 1.5em 0 0.2em;
            color: @midgrey;
        }
    }

    table {
        border-width: 0;
        border-top: 1px solid @iaaf_red !important;
        margin: 0 0 @depth/2 0;
        width: 100%;

        tr {
            border-width: 0;

            th, td {
                border-width: 0;
                font-size: 1.5rem;
                padding: @depth/4;

                @media only screen and (max-width: @_mobile) {
                    font-size: 0.9rem;
                    padding: @depth/8;
                }

                p {
                    margin: 0;
                }
            }
        }

        thead {
            tr {
                background-color: @iaaf_red !important;

                th {
                    color: @white;
                }
            }
        }

        tbody {
            tr {
                td {
                    border-bottom: 1px solid lighten(@iaaf_red, 10%) !important;
                }
            }
        }
    }

    .panel-teaser {
        display: block;
        height: auto;
        overflow: hidden;
    }

    #relatedtags,
    .relatedtags {
        height: auto;
        overflow: hidden;

        .btn-default {
            background-color: @white;
            color: @midgrey;
            border-color: @bgc;
            float: left;
            font-size: 14px;
            font-family: @OpenSans;
            margin: 0 @depth/8 @depth/8 0;

            i {
                color: @lightgrey !important;
                font-size: 16px;
            }
        }
    }

    .related-media {
        a {
            display: block;
            font-family: @stolzreg;
            font-size: 17px;
            margin-bottom: 0.7em;
        }
    }

    .search-panel {
        background-color: @alt;
        display: block;
        padding: @depth/2 0 0;
        margin: @depth 0 @depth/2 0;

        .search-block {
            padding-left: 1px !important;

            &:first-child {
                padding-left: 0 !important;
            }

            button {
                width: 100%;
            }

            @media only screen and (max-width: @_desktop) {
                margin: 0 0 1px 0 !important;
                padding-left: 0 !important;
            }
        }

        .btn-link {
            background-color: @white !important;
            border-color: @bgc;
            font-family: Arial, sans-serif;
            padding: @depth/4+3;
            text-decoration: none !important;

            p {
                color: @lightgrey;
                font-size: 16px;
                margin-bottom: 0;

                & + span {
                    text-decoration: underline;
                }
            }

            span {
                font-size: 15px;
            }
        }
    }

    .bc_container {
        .ratio(66%);

        .BrightcoveExperience {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .BrightcoveExperience {
        width: 100% !important;
    }

    .loginscreen {
        #main {
            min-height: 80%;

            .btn {
                background-color: @iaaf_red;
            }
        }
    }

    footer {
        margin-top: 3em;
        padding: 2em 0;
        background-color: @grey;
        color: @lightgrey;
        font-size: 12px;

        a {
            color: @bgc !important;
        }

        .pull-right {
            text-align: right;
        }
    }




    iframe.BrightcoveExperience {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
        padding-top: 25px;
    }

    iframe.BrightcoveExperience #stage0 {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
    }



    .form-certificate {
        .form-group {
            input {
                border: 1px solid @bgc_alt;
                font-size: 18px;
                height: auto;
                margin: 7px 0;
                padding: @depth/8;
                display: block;
                width: 100%;
            }

            label {
                font-weight: bold;
            }
        }
    }



    .introjs-overlay {
        .gradient(transparent, transparent);
        background-color: @white;
    }

    .introjs-helperNumberLayer,
    .introjs-arrow {
        display: none !important;
    }

    .introjs-helperLayer {
        background-color: transparent;
        border-width: 0;
        z-index: 10000002;
        .box_shadow(transparent);

        &:before {
            content: "\f0a4";
            font-family: @FontAwesome;
            font-size: @depth;
            left: -@depth;
            line-height: @depth;
            margin-top: -@depth/2;
            position: absolute;
            top: 50%;
            z-index: 10000005;
        }
    }

    .introjs-tooltip {
        min-width: 300px;
        max-width: 400px;
        padding: @depth/2;

        h4 {
            margin-top: 0;
            font-family: @stolzmed;
        }
    }

    .introjs-tooltipbuttons {
        text-align: center;
    }
    /* homepage */
    .home-grid {
        background-color: @dkgrey;
        margin-bottom: @depth;

        @media only screen and (min-width: @_fullwidth) {
            display: table;
            width: 100%;
        }

        .panel-grid,
        .navigate-grid {
            padding-left: 0;
            padding-right: 0;

            @media only screen and (min-width: @_fullwidth) {
                display: table-cell;
                float: none;
                vertical-align: middle;
            }
        }

        .panel-grid {
            background-color: @white;
            height: auto;
            overflow: hidden;

            .grid-item {
                padding: 0;

                @media only screen and (min-width: @_mobile) {
                    &:first-child {
                        & > a {
                            .ratio(100%);
                        }
                    }

                    &:not(:first-child) {
                        & > a {
                            .ratio;
                        }
                    }

                    & > a {
                        display: block;
                        z-index: 100;

                        span {
                            box-sizing: border-box;
                            color: @white;
                            display: block;
                            font-family: @stolzmed;
                            font-size: 22px;
                            line-height: 26px;
                            height: 100%;
                            padding: @depth/2;
                            position: absolute;
                            width: 100%;
                            z-index: 100;
                        }
                    }

                    position: relative;
                    z-index: 50;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        .image_width;
                    }
                }

                &:first-child {
                    & > a {
                        background-color: fade(@black, 50%);
                    }
                }

                &:nth-child(2),
                &:nth-child(5) {
                    & > a {
                        background-color: fade(@black, 40%);
                    }
                }

                @media only screen and (max-width: @_fullwidth) {
                    &:nth-child(4),
                    &:nth-child(5) {
                        display: none;
                    }
                }
            }
        }

        .navigate-grid {
            color: @white;
            padding: @depth/2 @depth - 10;

            h2 {
                color: @bgc;
                font-size: 22px;
                display: block;
                margin-bottom: @depth/2;
            }

            a {
                color: @white;

                &:hover {
                    color: @white;
                    text-decoration: underline;
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    border-bottom: 1px solid lighten(@dkgrey, 15%);
                    color: @white;
                    display: block;
                    font-size: 16px;
                    list-style-type: none;
                    margin-left: 0;
                    padding-left: @depth - 10;
                    padding-bottom: @depth/4;
                    padding-top: @depth/4;
                    position: relative;

                    &:before {
                        content: "\f054";
                        font-family: @FontAwesome;
                        position: absolute;
                        left: @depth/8;
                        top: @depth/4;
                    }

                    &:last-child {
                        border-bottom-width: 0;
                    }
                }
            }

            @media only screen and (max-width: @_desktop) {
                display: none;
            }
        }

        @media only screen and (max-width: @_tablet) {
            display: none;
        }
    }
    /* briefing */
    .briefing {
        .list-group-item {

            @media only screen and (min-width: @_desktop) {

                .list-group-item-banners {
                    margin-left: -@depth+15;
                    margin-bottom: @depth/4;
                }

                padding: @depth/2-5;

                .btn-group {
                    &.spaced {
                        display: none;
                    }
                }

                .article-number-and-date {
                    margin-bottom: 0;

                    .pull-left {
                        padding-left: 0;

                        span,
                        h4 {
                            font-size: 12px;
                        }

                        &:after {
                            font-size: 12px;
                        }

                        &:first-child {
                            span, h4 {
                                padding-left: 0;
                            }
                        }
                    }
                }

                h2 {
                    font-size: 18px;
                    line-height: normal;
                }

                .standfirst {
                    font-size: 15px;
                    line-height: normal;
                    margin-bottom: 0;
                }
            }
        }
    }
    /* briefing */
    .homepage-container {
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        @media only screen and (max-width: @_desktop) {
            width: auto !important;
        }
    }

    #homenav {
        display: none !important;

        @media only screen and (max-width: @_fullwidth) {
            display: block !important;
        }

        background-color: transparent;
        border-width: 0;
        margin-bottom: @depth/2;

        @media only screen and (max-width: @_tablet) {
            margin-top: @depth/2;
        }

        padding: 0 @depth/2;

        .col-xs-6 {
            padding: 0;

            a {
                background-color: @white;
                border: 1px solid @bgc !important;
                text-align: center;
            }
        }

        @media only screen and (max-width: @_tablet) {
            padding: 0;
        }
    }

    #hometopics,
    #briefing {
        display: block !important;

        @media only screen and (max-width: @_fullwidth) {
            display: none !important;

            &.active {
                display: block !important;
            }
        }

        .btn-group {
            &.add-tools {
                display: none;
            }
        }
    }
    /* stories */
    .stories {
    }
    /* stories */
    /* alerts */
    .alerts {
        margin-bottom: @depth;
        padding: 0;

        .grid-alert {
            color: @black;
            font-family: @stolzmed;
            font-size: 15px;
            height: auto;
            overflow: hidden;
            list-style-type: none;
            margin-bottom: 5px;
            padding: 0 0 @depth/4 0;

            .number {
                background-color: @black;
                .ratio(100%);
                min-height: @depth;

                span {
                    color: @white;
                    display: block;
                    font-size: 24px;
                    line-height: 24px;
                    position: absolute;
                    top: 50%;
                    margin-top: -12px;
                    left: 0;
                    width: 100%;
                    height: auto;
                    text-align: center;
                }
            }

            h4 {
                display: block;
                margin: @depth/2-5 0 @depth/4 0;

                &:before {
                    content: "";
                    float: left;
                    font-family: @FontAwesome;
                    padding-right: @depth/4;
                }
            }

            small {
                color: @lightgrey;
                display: block;
                font-family: @stolzreg;
                font-size: 12px;
                margin: 0 0 @depth/4 0;
            }

            button {
                padding: 0;
            }

            p {
                font-size: 15px;
                font-family: @stolzreg;
                color: @middgrey;
                margin: 0 0 @depth/4 0;
            }

            .high {
                h4 {
                    &:before {
                        color: @red;
                        content: "\f071";
                    }
                }
            }

            .medium {
                h4 {
                    &:before {
                        color: @red;
                        content: "\f062";
                    }
                }
            }

            .low {
                h4 {
                    &:before {
                        color: @green;
                        content: "\f063";
                    }
                }
            }

            .resolved {
                h4 {
                    &:before {
                        color: @green;
                        content: "\f00c";
                    }
                }
            }
        }
    }

    .showrelatedalerts {
        i {
            margin: 0;

            &.fa {
                &.fa-plus {
                    display: block;
                }

                &.fa-minus {
                    display: none;
                }
            }
        }

        &.btn-alerts-active {
            i {
                &.fa {
                    &.fa-plus {
                        display: none;
                    }

                    &.fa-minus {
                        display: block;
                    }
                }
            }
        }
    }
    /* alerts */
    /* briefing-and-main-topics */
    .briefing-and-main-topics {
        padding: 0;

        .articles {
            height: auto;
            overflow: hidden;

            @media only screen and (max-width: @_desktop) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }

        .total-results-returned {
            display: none !important;
        }

        .click-for-more {
        }

        .page-header {
            .btn-group {
                margin-bottom: 0;
                margin-left: 0;
                margin-top: 0;
            }
        }
    }
    /* briefing-and-main-topics */
    .tab-content {
        &.for-home {
            margin-top: 0;
            height: auto;
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;

            [role="tabpanel"] {
                @media only screen and (max-width: @_tablet) {
                    padding: 0;
                }
            }
        }
    }
    /* topics */
    .topics {
        background-color: @topicsgrey;
        height: auto;
        overflow: hidden;
        margin-bottom: @depth;
        padding: @depth/2;

        &.lighter {
            background-color: lighten(@topicsgrey, 7%);

            a {
                text-decoration: underline !important;
            }

            h1, h2, h3, h4, h5, h6, p, span {
                a {
                    text-decoration: underline !important;
                }
            }
        }

        h3 {
            padding-top: @depth/2;
        }

        h4 {
            color: @headerbottomborder !important;
            font-family: @stolzreg;
            font-size: 15px !important;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .tags {
            margin-bottom: @depth/2;
            margin-top: 0;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                background-color: @white;
                border-color: @bgc !important;
                color: @midgrey !important;
                padding: 10px 15px !important;
                font-size: 15px !important;
            }

            strong {
                color: @middgrey;
                font-size: 15px !important;
            }

            button {
                font-size: 15px;
                margin: 0 @depth/4 @depth/4 0;

                i {
                    font-size: 14px;
                    line-height: @depth/2;
                }
            }
        }
    }
    /* topics */
    /* weblinks */
    [data-toggle="dropdown"] {
        padding: @depth/4+3;

        &.btn-dropdown {
            i {
                color: @iaaf_red !important;
                font-size: 35px !important;
            }
        }
    }

    .dropdown-fixed {
        max-height: @depth*5;
        max-width: @depth*8;
        overflow: auto;

        & > li {
            & > a {
                white-space: normal;
            }
        }

        &.dropdown-menu {
            min-width: @depth*8 !important;
        }
    }

    .weblinks-dropdown {
        width: 100%;

        [data-toggle="dropdown"] {
            width: 100%;
            text-align: left;

            .caret {
                float: right;
                margin-top: @depth/4;
            }
        }
    }
    /* weblinks */
    /* homepage */
    /* stats page */
    .stats {
        background-color: @white;
        margin-bottom: @depth;
        padding: 0 @depth @depth/2 @depth/2;

        .form-control {
            width: 50%;
        }
    }


    .dropMedia {
        .video-js {
            .ratio;
            height: auto !important;
            width: 100% !important;

            & > video {
                height: 100% !important;
                left: 0;
                position: absolute;
                top: 0;
                width: 100% !important;
            }
        }
    }

    .row.filter-row {
        margin: 10px -15px 15px;
        background: @alt;
        padding: 5px 0 15px;

        label {
            padding-left: 15px;
        }

        select {
            width: 100%;
            padding: 5px 10px;
            border-radius: 4px;
        }
    }




.article-listing-row {
    .header {
        background: @dkblue;
        border: 1px solid @boulder;

        h2 {
            color: @white;
            padding: 10px 15px;
            font-size: 24px;
            margin-bottom: 0;
            text-transform: uppercase;
            font-family: @OpenSans;
            font-weight: 600;
        }
    }

    .list-group-item {

        &.article-listing {
            background-color: transparent;
            padding: 10px 0 15px;

            .article-number-and-date {
                .date {
                    font-family: @OpenSans;
                    letter-spacing: 0;
                }
            }

            .article-title {
                a {
                    font-family: @OpenSans;
                    font-size: 18px;
                    font-weight: 600;
                }

                span {
                    font-family: @OpenSans;
                    font-size: 18px;
                    font-weight: 600;

                    & > p {
                        display: inline-block;
                    }
                }
            }

            .download-file {
                /*padding-left: 40px;*/

                a {
                    font-size: 17px;
                    color: @dkblue !important;
                }


                .btn-default, .btn-primary {
                    background-color: transparent !important;
                    border: none !important;
                    color: @dkblue !important;

                    i {
                        color: @dkblue;
                        font-size: 24px;
                    }
                }
            }

            .add-tools {
                .btn-default, .btn-primary {
                    border: 1px solid @iaaf_red !important;
                    font-family: @OpenSans;
                    font-weight: 600;
                }
            }

            .standfirst {
                font-size: 16px;
            }

            hr {
                border-top: 1px solid @boulder;
            }
        }

        .btn-group.spaced.altcolors {
            margin-top: 10px;
        }
    }

    .btn {
        &.btn-info {
            border: 1px solid @iaaf_red;
            padding: 2px 10px !important;
            cursor: auto;
            background:@iaaf_red !important;

            &:hover,
            &:focus {
                background: @dkblue;
            }
        }
    }
}

    .overview-title {
        margin-bottom: 30px;
        font-family: @OpenSans;
    }

.overlay-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    left: 0;
    top: 0;
    z-index: 9999;
    display:none;
    

    i.fa-spin {
        font-size: 90px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 999999;
        width: 90px;
        height: 90px;
        color: @boulder;
    }
}


.comment-content {
    float: left;
    width: 100%;
    margin-bottom: 10px;

    .post-content {
        position: relative;
        float: left;
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid #ddd;

        .avatar {
            display: inline;
            margin-right: 12px;
            float: left;

            img {
                max-width: 45px;
                border-radius: 100%;
            }
        }

        .comment__header {
            line-height: 1;
            font-size: 13px;
            padding-right: 46px;
            margin-bottom: 3px;

            .publisher-anchor-color {
                color: rgb(32, 119, 211);
            }

            .post-meta {
                color: #656c7a;
                font-weight: 500;
                margin: 4px 0 0 0;
            }
        }
    }
}

.action-icons-listing {
    .actionIcon {
        float: left;
        width: 55px;
        display: inline-block;
        margin: 0 0 0 10px !important;
        border: 1px solid @iaaf_red !important;
        padding: 2px 10px;
    }

    .successStatus {
        color: @successGrn;
    }

    .dangerStatus {
        color: @red;
    }

    .mediumStatus {
        color: @orangePeel;
    }

    a {
        i.fa-comment {
            color: @grey;
        }
    }

    a {
        i.fa-comment-success {
            color: @successGrn;
        }
    }
}

.modal {
    .modal-dialog {
        &.comments-modal {
            .modal-content {
                .modal-body {
                    max-height: 350px;
                    overflow-y: auto;

                    .comment-content {
                        .post-content {
                            &:last-child {
                                border-bottom:none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Custom css changes*/

.grid-panel {
     background-color: @white;
     padding:30px 15px 30px 15px;
}

.nav-sidebar {
     background-color:@white;
     padding: 5px;
}

.main-col {
  padding-right: 5px !important;
  padding-left: 5px !important;

}

.sidebar-menu-sec ul.submenu > li i {
    color: @iaaf_red !important;
}

.btn-tag {
    font-size: 10px !important;
}

@media only screen and (min-width: @_desktop) {
    .col-md-8 {
        &.filter-by-sec {
            display: flex;

            .col-md-6 {
                display: flex;
            }
        }
    }
}

