﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateX CSS transformation, default x at 0px */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* Grey Colours */
/* Grey colours */
/* Medal Colours */
/* Medal Colours */
/* Other Colours */
/* Other Colours */
/*media queries*/
/*"2019 Colours*/
/*media queries*/
/* bootstrap overrride */
@media only screen and (min-width: 1310px) {
  .container {
    width: 1310px;
  }
}
@media only screen and (max-width: 1310px) {
  .container {
    width: 1200px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 860px;
  }
}
@media only screen and (max-width: 860px) {
  .container {
    width: 100%;
  }
}
/* bootstrap overrride */
h1 {
  font-size: 36px;
  color: #000026;
  font-family: iaaf_sans_blackregular, sans-serif;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
h1.alternate {
  color: #FFFFFF;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-shadow: 0 1px 3px #000000;
}
h1.alternate:before {
  text-shadow: 0px 0px 0px transparent;
}
h2 {
  font-size: 30px;
  color: #000026;
}
h3 {
  font-size: 24px;
  color: #333333;
  font-family: iaaf_sansregular, sans-serif;
}
h3.aside {
  color: #666666;
  font-family: iaaf_sans_blackregular, sans-serif;
  margin: 0 20px 20px 0;
}
h4 {
  font-family: iaaf_sans_blackregular, sans-serif;
  font-size: 20px;
}
h5 {
  font-size: 18px;
  color: #999999;
  font-family: iaaf_sansregular, sans-serif;
}
h6 {
  font-size: 15px;
  color: #333333;
  font-family: iaaf_sans_blackregular, sans-serif;
}
@media only screen and (max-width: 480px) {
  ._mobileHide {
    display: none !important;
  }
}
._mobileShow {
  display: none !important;
}
@media only screen and (max-width: 480px) {
  ._mobileShow {
    display: block !important;
  }
}
@media only screen and (max-width: 1200px) {
  ._tabletHide {
    display: none !important;
  }
}
._tabletShow {
  display: none !important;
}
@media only screen and (max-width: 1200px) {
  ._tabletShow {
    display: block !important;
  }
}
#searchformnav {
  margin: 10px 10px 0 0;
}
html {
  height: 100%;
}
.search {
  margin-bottom: 20px;
}
.search.top-search {
  margin-bottom: 0;
}
.search.top-search .form-control {
  padding-top: 7px;
  height: 42px;
  padding-bottom: 7px;
}
.search-results .btn-group.spaced.altcolors {
  display: none !important;
}
.search-btn-group {
  display: table;
  padding: 0 20px;
  width: 100%;
}
.search-btn-group > .label,
.search-btn-group > .searchform {
  display: table-cell;
}
.search-btn-group label {
  font-size: 18px;
}
@media only screen and (min-width: 480px) {
  .search-btn-group > .label {
    padding-right: 20px;
    width: 20%;
  }
}
@media only screen and (max-width: 480px) {
  .search-btn-group {
    display: block;
  }
  .search-btn-group > .label,
  .search-btn-group > .searchform {
    display: block;
  }
}
/* branding */
/* branding */
.alert.alert-info {
  border-width: 0;
  color: #333333;
  font-family: iaaf_sans_blackregular, sans-serif;
  font-size: 18px;
  padding: 10px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
  background-color: transparent;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, transparent, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, transparent, transparent);
  /* for firefox 3.6+ */
}
body {
  font-family: Arial, sans-serif;
  letter-spacing: 0.025em;
  padding: 64px 0 0 0;
  min-height: 100%;
}
body.itok {
  background-color: #f6f6f6;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.itok .list-group-item {
  background-color: #FFFFFF;
}
body.itok .alerts .grid-alert {
  background-color: #FFFFFF !important;
}
body.itok .alert.alert-success {
  background-image: none !important;
  background-color: #ff2534 !important;
  border-color: #ff2534;
  color: #FFFFFF;
}
body.itok .alert.alert-success a {
  color: #FFFFFF;
}
body.itok a {
  color: #ff2534;
}
body.itok a:focus,
body.itok a:hover {
  color: #f10011;
}
body.itok h2 a {
  color: #000026;
}
body.itok h2 a:focus,
body.itok h2 a:hover {
  color: #000026;
}
body.itok #homenav .col-xs-6.active a {
  background-color: #ff2534 !important;
  color: #FFFFFF !important;
}
body.itok .fa-star {
  color: #ff2534;
}
body.itok .alerts .grid-alert .number {
  background-color: #ff2534 !important;
}
body.itok .alerts .grid-alert h4 i {
  color: #ff2534 !important;
}
body.itok .btn {
  background-color: #000026;
  color: #FFFFFF;
}
body.itok .btn:hover {
  text-decoration: none !important;
}
body.itok .btn i {
  color: #FFFFFF;
  font-size: 24px;
}
body.itok .btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
body.itok .btn.btn-default,
body.itok .btn.btn-primary {
  color: #000026;
  border: 1px solid #7d7d7d;
  white-space: normal;
}
body.itok .btn.btn-default i,
body.itok .btn.btn-primary i {
  color: #000026;
}
@media only screen and (max-width: 768px) {
  body.itok .btn.btn-lg {
    font-size: 15px;
  }
}
body.itok .btn.btn-lg i {
  font-size: unset;
  margin-left: 5px;
}
body.itok .btn[data-toggle="collapse"] {
  background-color: #ff2534 !important;
  color: #FFFFFF !important;
}
body.itok .btn[data-toggle="collapse"] > i {
  color: #FFFFFF !important;
}
body.itok .btn[data-toggle="collapse"].all-topics {
  background-color: #FFFFFF !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
body.itok .btn[data-toggle="collapse"].collapsed {
  background-color: transparent !important;
  color: #ff2534 !important;
}
body.itok .btn[data-toggle="collapse"].collapsed > i {
  color: #ff2534 !important;
}
body.itok .btn[data-toggle="collapse"].collapsed.all-topics {
  background-color: #FFFFFF !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
body.itok .btn.btn-default {
  background-color: #FFFFFF;
}
body.itok .btn.btn-primary {
  background-color: #999999;
  color: #FFFFFF;
}
body.itok .btn.btn-primary i {
  color: #FFFFFF;
}
body.itok .btn.btn-primary.new {
  background-color: #ff2534;
  border-color: #ff2534;
}
body.itok .btn.btn-danger {
  background-color: #ff2534;
  border-color: #ff2534;
  color: #FFFFFF;
}
body.itok .btn.btn-danger > i {
  color: #FFFFFF;
}
body.itok .btn.btn-topnav .icon-bar {
  background-color: #ff2534;
}
body.itok .btn.btn-article {
  background-color: #999999;
  border-color: #999999;
}
body.itok .btn.btn-group {
  background-color: #999999;
  border-color: #999999;
}
body.itok .btn.btn-document {
  background-color: #999999;
  border-color: #999999;
}
body.itok .btn.btn-news {
  background-color: #999999;
  border-color: #999999;
}
body.itok .btn.btn-video {
  background-color: #999999;
  border-color: #999999;
}
body.itok .btn.btn-link.btn-clean {
  background-color: #FFFFFF !important;
  border-color: #DDDDDD;
  color: #000026 !important;
  font-family: iaaf_sansregular, sans-serif;
  font-size: 16px;
}
body.itok .btn.btn-link.btn-clean > i {
  color: #000026;
}
body.itok .btn.btn-link.btn-clean.selected {
  background-color: #ff2534 !important;
  border-color: #ff2534 !important;
  color: #FFFFFF !important;
}
body.itok .btn.btn-link.btn-topics-active {
  background-color: #ff0113 !important;
  border-color: #ff0113 !important;
}
body.itok .btn.btn-filter {
  background-color: #e6e6e6;
}
body.itok .btn.btn-filter.active {
  background-color: #ff2534;
  color: #FFFFFF;
}
body.itok .btn.btn-article,
body.itok .btn.btn-group,
body.itok .btn.btn-document,
body.itok .btn.btn-news,
body.itok .btn.btn-video {
  color: #FFFFFF;
}
body.itok .no-close-on-tabs .top-nav-tabs li a {
  color: #333333 !important;
}
body.itok .no-close-on-tabs .top-nav-tabs li.active a {
  color: #ff2534 !important;
}
body.itok .no-close-on-tabs .top-nav-tabs li.active a:after {
  color: #ff2534;
}
body.itok .search-block .open .btn-link.dropdown-toggle {
  background-color: #ff0113 !important;
  border-color: #ff0113 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)" !important;
  filter: alpha(opacity=100) !important;
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1 !important;
}
body.itok .btn-group label {
  color: #666666;
}
body.itok .btn-group .btn + .btn {
  margin-left: 0;
}
body.itok .btn-group .btn-link {
  margin-left: 0;
}
body.itok .btn-group.altcolors label {
  color: #666666;
}
body.itok .btn-group.altcolors .btn {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}
body.itok .btn-group.altcolors .btn.btn-sm {
  font-size: 12px;
  color: #999999;
}
body.itok .btn-group.altcolors .btn.btn-default,
body.itok .btn-group.altcolors .btn.btn-primary {
  border: 1px solid #CCCCCC;
  color: #666666;
}
body.itok .btn-group.altcolors .btn.btn-default.tagsbc,
body.itok .btn-group.altcolors .btn.btn-primary.tagsbc {
  border: 1px solid #ff2534;
  color: #333333;
}
body.itok .btn-group.altcolors .btn.btn-default i,
body.itok .btn-group.altcolors .btn.btn-primary i {
  color: #ff2534;
}
@media only screen and (max-width: 768px) {
  body.itok .btn-group.altcolors .btn {
    padding: 0.2em 0.4em;
  }
}
body.itok .bulletin:before {
  background-color: #ff2534;
}
body.itok .checklist label span {
  background-color: #FFFFFF;
  border: 1px solid #ff2534;
}
body.itok .checklist input[type="checkbox"]:checked + span {
  background-color: #ff2534;
  color: #FFFFFF;
}
body.itok .circle-user span {
  color: #ff2534;
}
body.itok .circle-user i {
  color: #ff2534;
}
body.itok .document-group {
  background-color: #e6e6e6;
}
body.itok .document-group .download-file .btn-group .download-icons a {
  display: block;
  float: none;
  text-align: left;
  margin: 0;
}
body.itok .document-group.responsibilities {
  background-color: #ff2534;
  color: #FFFFFF;
  padding: 25px 30px;
}
body.itok .document-group.responsibilities h1,
body.itok .document-group.responsibilities h2,
body.itok .document-group.responsibilities h3,
body.itok .document-group.responsibilities h4,
body.itok .document-group.responsibilities h5,
body.itok .document-group.responsibilities h6,
body.itok .document-group.responsibilities p,
body.itok .document-group.responsibilities ul,
body.itok .document-group.responsibilities li {
  color: #FFFFFF;
  margin: 0;
}
body.itok .document-group .btn {
  margin: 0 5px;
}
body.itok .document-group span {
  font-size: 20px;
}
body.itok .document-group h3 {
  color: #333333;
}
body.itok .document-group h3 a {
  color: #333333;
}
body.itok .document-group .form-group h4 {
  color: #333333;
  font-size: 22px;
}
body.itok .form-control-feedback {
  color: #ff2534;
}
body.itok .btn-transparent-search {
  color: #ff2534 !important;
}
body.itok .list-group-item-banners .btn {
  cursor: default;
}
body.itok .list-group-item-banners btn-info {
  border: 1px solid #ff2534;
}
body.itok .list-group-item {
  border-bottom-color: #c0c0c0;
}
body.itok .logo-box {
  color: #FFFFFF !important;
  font-family: iaaf_sans_blackregular, sans-serif;
  font-size: 35px;
  padding: 0.4em 0.3em;
  white-space: nowrap;
}
body.itok .logo-box img {
  float: left;
  display: none !important;
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
  max-width: 100px;
}
body.itok .logo-box img + span {
  float: left;
}
body.itok .logo-box span {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 30px;
}
body.itok #navbar .navbar-nav {
  background-color: #ff2534;
}
body.itok #navbar .navbar-nav a {
  color: #FFFFFF;
}
body.itok #navbar .navbar-nav a:focus {
  color: #ff2534;
}
body.itok #navbar .navbar-nav .dropdown-menu a {
  color: #333333;
}
body.itok #navbar .navbar-nav .dropdown-menu a:hover {
  color: #ff2534;
}
body.itok .navbar-default {
  background-color: #ff2534;
}
body.itok .navbar-default .logo-nav {
  background-color: #010127;
  color: #fff;
  padding: 1em;
}
body.itok .navbar-default .logo-nav img {
  padding-left: 20px;
}
body.itok .navbar-default .main-heading {
  padding-left: 20px;
}
body.itok .navbar-default .menu-icon {
  background-color: #ff2534;
}
body.itok .navbar-default .navbar-nav .open .dropdown-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.itok .navbar-default .navbar-nav .open .dropdown-menu li a {
  display: block;
  color: #333333;
}
body.itok .navbar-default .navbar-nav .open .dropdown-menu li a:hover {
  color: #ff2534;
}
body.itok .navbar-default .navbar-nav .open .dropdown-menu ul {
  margin: 0;
  padding: 0;
}
body.itok .navbar-default .navbar-nav .open .dropdown-menu ul.overflow-auto {
  max-height: 400px;
  overflow: auto;
}
@media only screen and (max-width: 768px) {
  body.itok .navbar-default .navbar-nav .open .dropdown-menu {
    overflow-y: scroll;
    height: 400px;
  }
}
body.itok .navbar-default.navbar-search {
  background-color: #eeeeee;
}
body.itok .navbar-default.navbar-fixed-top {
  border-bottom-color: #33434c !important;
}
body.itok #searchexpand.active {
  background-color: #ff2534;
}
body.itok #searchexpand.active > i {
  color: #FFFFFF;
}
body.itok #searchbar {
  border-top: 1px solid #ff2534;
}
body.itok .form-control {
  background-color: #FFFFFF;
  border: 1px solid #ff2534;
  color: #ff2534;
}
body.itok .input-group-addon {
  background-color: #ff2534;
  border-color: #ff2534;
  color: #FFFFFF;
}
body.itok .home-grid .grid-item:first-child > a {
  background-color: rgba(255, 37, 52, 0.7);
}
body.itok .home-grid .grid-item:nth-child(3) > a {
  background-color: rgba(255, 37, 52, 0.6);
}
body.itok .home-grid .grid-item:nth-child(4) > a {
  background-color: #ff2534;
}
body.itok .home-grid .grid-item:nth-child(4) > a i {
  color: #FFFFFF;
}
body.itok .home-grid .grid-item span i {
  color: #ff2534;
  font-size: 14px;
}
body.itok .home-grid .navigate-grid ul li:before {
  color: #ff2534;
}
body.itok .related-pages > li {
  border-top: 1px solid #ff5863;
}
body.itok .related-pages > li:first-child {
  border-top: 0 none transparent;
}
body.itok .navbar-item.section {
  color: #333333;
}
body.itok .navbar-toggle {
  background-color: #be000d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body.itok .navbar-toggle span {
  background-color: #FFFFFF !important;
}
body.itok .navbar-toggle.collapsed {
  background-color: #ff2534;
}
body.itok .nav-tabs li a {
  color: #000026 !important;
}
body.itok .page-header:after {
  background-color: #ff2534;
}
body.itok .standfirst {
  color: #666666;
}
body.itok .standfirst > a {
  color: #666666;
  text-decoration: none;
}
body.itok .standfirst > a.readmore {
  color: #ff2534;
  text-decoration: underline;
}
body.itok .search-panel .btn-link {
  background-color: #ff2534 !important;
  border-color: #ff2534;
}
body.itok .search-panel .btn-link p,
body.itok .search-panel .btn-link span {
  color: #FFFFFF;
}
body.itok .tags i {
  color: #666666;
}
body.itok .tags a {
  border-color: #333333;
  color: #333333;
  font-size: 14px;
  padding: 5px 7px;
}
body.itok .tags a:focus,
body.itok .tags a:hover {
  border-bottom-color: #f10011;
  color: #f10011;
}
body.itok #sidebar .tags a {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  color: #666666;
  font-size: 14px;
}
body.itok #footer {
  color: #FFFFFF;
}
body.itok .article_body ul li:before {
  color: #ff2534;
}
body.itok .search-btn-group label {
  color: #ff2534;
}
body.itok table {
  border-width: 0;
}
body.itok table tr {
  border-width: 0;
}
body.itok table tr th,
body.itok table tr td {
  border-width: 0;
}
body.itok table thead tr {
  background-color: #ffffff;
  color: #FFFFFF;
}
body.itok table tbody tr {
  background-color: #ffffff;
}
body.itok table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
body.itok .form-certificate .form-group input {
  border: 1px solid #ff2534;
}
body.itok .introjs-tooltipbuttons .introjs-button {
  background-color: #333333;
  border: 1px solid #333333;
  color: #FFFFFF;
  font-size: 14px;
  font-family: iaaf_sans_blackregular, sans-serif;
  margin-left: 0;
  margin-right: 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, #333333, #999999);
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#333333));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #999999, #333333);
  /* for firefox 3.6+ */
  text-shadow: 0px 0px 10px transparent;
}
body.itok .introjs-tooltipbuttons .introjs-button:before {
  text-shadow: 0px 0px 0px transparent;
}
body.itok .introjs-tooltipbuttons .introjs-button.introjs-skipbutton {
  margin-right: 20px;
}
body.itok .introjs-tooltipbuttons .introjs-button.introjs-disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
body.itok .introjs-helperLayer:before {
  color: #ff2534;
}
body.itok .fa-spin {
  color: #ff2534;
}
body.itok .has-feedback .form-control {
  border: 2px solid #7d7d7d;
  color: #000026;
  padding-right: 10px;
  padding-left: 32.5px;
}
body.itok .has-feedback .btn-transparent-search {
  color: #000026 !important;
  left: 0;
  width: 36px;
}
body.itok .has-feedback .btn-transparent-search i.glyphicon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.signin-screen {
  background-color: #CCCCCC;
}
h1 {
  margin-bottom: 15px;
}
h1 span {
  display: block;
  font-family: iaaf_sans_blackregular, sans-serif;
}
h1 a i {
  color: #333333;
}
h2 {
  font-family: iaaf_sans_blackregular, sans-serif;
  margin-top: 0;
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}
h2 > a {
  color: #000026;
}
@media only screen and (max-width: 768px) {
  h2 > a {
    display: block;
    float: none;
  }
}
h2 .btn {
  float: left;
  margin-right: 10px;
}
h3 {
  font-weight: 400;
  margin-top: 0;
  line-height: normal;
}
h4.date {
  color: #999999;
  font-family: iaaf_sansregular, sans-serif;
  font-size: 14px;
  line-height: normal;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  h4.date {
    font-size: 13px;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p a {
  font-weight: bold;
  text-decoration: underline;
}
label {
  display: block;
  padding-top: 5px;
}
.affix-row {
  width: 100%;
}
#back-to-top {
  bottom: 20px;
  display: none;
  position: fixed;
  right: 20px;
}
#back-to-top a {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  #back-to-top {
    display: none !important;
  }
}
.btn-group label {
  float: left;
  font-size: 18px;
  padding-right: 10px;
}
.btn-group.spaced label {
  font-family: iaaf_sansregular, sans-serif;
  padding-right: 10px;
  padding-top: 3px;
}
.btn-group.spaced .btn {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
.btn-group.spaced .btn i {
  font-size: 14px;
  padding-right: 5px;
}
.btn-group.no-plus .btn {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}
.btn-group.no-plus .btn > i {
  display: none;
}
.btn-group .btn i {
  font-size: 20px;
}
.btn-group.pull-right {
  text-align: right;
}
.btn-group.pull-right label,
.btn-group.pull-right .btn {
  display: inline-block;
  float: none;
}
.btn-group.pull-right.spaced label {
  padding-left: 0;
  padding-right: 5px;
}
.btn-group.pull-right.spaced .btn {
  margin-left: 10px !important;
  margin-right: 0;
}
.buttons-reveal {
  padding: 10px 0;
}
button.close {
  font-size: 40px;
  line-height: 20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.checklist {
  padding-top: 20px;
  text-align: left;
}
.checklist input[type="checkbox"] {
  display: none;
  float: left;
}
.checklist label {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
  width: 80%;
}
.checklist label span {
  cursor: pointer;
  font-family: iaaf_sans_blackregular, sans-serif;
  display: block;
  padding: 7px 10px;
  text-align: center;
  width: 100% !important;
}
.checklist .col-md-6 {
  padding-bottom: 10px;
}
.checklist .col-md-6:nth-child(2n-1) {
  clear: left;
}
.click-for-more {
  padding: 20px 0 80px;
}
#content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.document-group {
  display: block;
  padding: 1em;
}
@media only screen and (max-width: 768px) {
  .document-group {
    padding: 20px 1.5em;
  }
}
.document-group .form-group h4 {
  padding-top: 10px;
}
#main {
  padding-top: 5em;
}
#footer {
  min-height: 150px;
  height: auto !important;
  height: 150px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.noposrel {
  position: static !important;
}
.posrel {
  position: relative !important;
}
.btn {
  font-family: iaaf_sans_blackregular, sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='@c');
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: transparent;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, transparent, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, transparent, transparent);
  /* for firefox 3.6+ */
  text-shadow: 0px 0px 10px transparent;
  background-color: #FFFFFF;
}
.btn:before {
  text-shadow: 0px 0px 0px transparent;
}
.btn.btn-topnav {
  border-width: 0 !important;
  height: 40px;
  width: 40px;
}
.btn.btn-topnav .icon-bar {
  display: block;
  height: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.btn.btn-link.btn-transparent-search {
  background-color: transparent;
  padding: 10px 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.btn.logo {
  padding: 0;
}
.dropdown-menu {
  border: 1px solid #CCCCCC !important;
  overflow: hidden;
  padding: 0;
  width: 100%;
  max-height: 280px;
  overflow-y: auto;
}
.dropdown-menu li {
  border-top: 1px solid #CCCCCC;
}
.dropdown-menu li:first-child {
  border-top: 0 none transparent;
}
.dropdown-menu li a {
  background-color: #e6e6e6;
  color: #000026;
  display: block;
  font-size: 14px;
  padding: 8px 13px !important;
  white-space: normal;
}
.dropdown-menu li a:hover {
  background-color: transparent;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, transparent, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, transparent, transparent);
  /* for firefox 3.6+ */
  color: #000026;
  background-color: #b3b3b3;
}
.open .dropdown-menu {
  background-color: #FFFFFF !important;
  position: absolute !important;
  float: none !important;
  min-width: 200px !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')" !important;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c') !important;
  -webkit-box-shadow: 1px 5px 20px transparent !important;
  -moz-box-shadow: 1px 5px 20px transparent !important;
  box-shadow: 1px 5px 20px transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.open .dropdown-menu.right {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 !important;
  width: calc(100% - 30px);
}
.open .dropdown-menu.left {
  right: auto !important;
  left: 0 !important;
}
.open .dropdown-toggle {
  background-color: #e6e6e6 !important;
}
.no-close-on-tabs {
  display: table;
  width: 100%;
}
.no-close-on-tabs .no-close-child {
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  display: table-cell;
  float: none;
  padding: 0 40px;
  vertical-align: top;
}
.no-close-on-tabs .no-close-child.no-close-tabs {
  width: 30%;
  min-width: 30%;
}
.no-close-on-tabs .no-close-child.no-close-tabs-content {
  width: 70%;
}
.no-close-on-tabs h4 {
  display: block;
  padding: 40px 0 10px 0 !important;
  text-transform: uppercase;
}
.no-close-on-tabs h5 {
  display: block;
  padding: 2px 30px !important;
}
.no-close-on-tabs li {
  border-top-width: 0 !important;
}
.no-close-on-tabs li a {
  background-color: transparent !important;
}
.no-close-on-tabs .top-nav-tabs {
  display: block;
  height: auto;
  overflow: hidden;
  padding: 20px 0 40px !important;
  width: 100%;
}
.no-close-on-tabs .top-nav-tabs li {
  border-top-width: 0 !important;
}
.no-close-on-tabs .top-nav-tabs li a {
  background-color: transparent !important;
  font-size: 18px;
  display: block;
  font-weight: 600;
  padding: 5px 0 !important;
  text-decoration: none !important;
  white-space: normal !important;
}
.no-close-on-tabs .top-nav-tabs li.active a:after {
  content: "\f101";
  font-family: FontAwesome;
  font-size: 14px;
}
@media only screen and (max-width: 1000px) {
  .no-close-on-tabs {
    border-right: 1px solid #e6e6e6;
    display: block;
    width: 100%;
  }
  .no-close-on-tabs h4 {
    padding: 20px 0 10px 0 !important;
  }
  .no-close-on-tabs .no-close-child {
    border-right: 0 none transparent !important;
    border-bottom: 1px solid #e6e6e6;
    display: block;
  }
  .no-close-on-tabs .no-close-child:last-child {
    border-bottom-width: 0;
  }
  .no-close-on-tabs .no-close-child.no-close-tabs {
    width: 100%;
  }
  .no-close-on-tabs .no-close-child.no-close-tabs-content {
    width: 100%;
  }
  .no-close-on-tabs .top-nav-tabs {
    padding: 0 0 20px 20px !important;
  }
  .no-close-on-tabs .top-nav-tabs li {
    float: left;
    margin-right: 20px !important;
  }
  .no-close-on-tabs .top-nav-tabs li.active a {
    text-decoration: underline;
  }
  .no-close-on-tabs .top-nav-tabs li.active a:after {
    content: "";
  }
}
@media only screen and (max-width: 768px) {
  .no-close-on-tabs h4 {
    padding: 5px 0 10px 0 !important;
  }
  .no-close-on-tabs .no-close-child {
    border-bottom: 0 none transparent;
    padding: 10px 20px !important;
  }
  .no-close-on-tabs .no-close-child:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
  .no-close-on-tabs .top-nav-tabs {
    padding: 0 !important;
  }
  .no-close-on-tabs .top-nav-tabs li a {
    font-size: 16px;
  }
}
.top-nav-side {
  border-left: 1px solid #e6e6e6;
  display: block;
  margin-left: -1px;
}
.top-nav-side a {
  display: block !important;
  padding: 0 !important;
}
.top-nav-side .text-large {
  padding: 20px 0 !important;
}
.top-nav-side .text-large li {
  font-size: 18px;
  padding: 5px 30px !important;
}
.top-nav-side .text-large li a {
  font-size: 18px;
}
.top-nav-side .text-small {
  padding: 0 0 20px 0 !important;
}
.top-nav-side .text-small li {
  font-size: 14px;
  padding: 2px 30px !important;
}
.top-nav-side .text-small li a {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .top-nav-side {
    display: table;
    width: 100%;
  }
  .top-nav-side .text-large,
  .top-nav-side .text-small {
    display: table-cell;
    width: 50%;
  }
  .top-nav-side .text-large li,
  .top-nav-side .text-small li {
    padding: 2px 20px 0 0 !important;
  }
}
.tab-content.tab-topics {
  display: block;
  height: auto;
  overflow: hidden;
  padding: 40px 0 20px 0;
}
@media only screen and (max-width: 1000px) {
  .tab-content.tab-topics {
    padding: 20px 0 20px 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .tab-content.tab-topics {
    padding: 0;
  }
  .tab-content.tab-topics li a {
    padding-left: 0 !important;
  }
}
.dropdown-toggle {
  font-family: iaaf_sans_blackregular, sans-serif;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.sidebar-nav-section {
  margin: 15px 0 0 0;
  background-color: #FFFFFF;
  overflow-y: auto;
}
.sidebar-nav-section ul {
  background: #eef5ff;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec {
  padding: 0;
  margin-bottom: 0;
  background: transparent;
  font-family: Din, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec li:nth-child(odd) {
  background-color: #fff;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec li:nth-child(even) {
  background-color: #f6f9f9;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li {
  list-style: none;
  margin-top: 25px;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li > a > i {
  font-size: 2em;
  margin: 2px 0 0 0;
  display: inline-block;
  color: #ff2534;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li:hover {
  /*background: @bgc;*/
  color: #7cecfc;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li span {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em;
  background: #ededf0;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  line-height: 2em;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li span:hover {
  /*background: @bgc;*/
  color: #ff2534;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li:first-child {
  margin-top: 0;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li i.fa-caret-down {
  font-size: 2em;
  /*margin: 2px 0 0 0;*/
  /*display: inline-block;*/
  color: #ff2534;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li.active span {
  background: #ededf0;
  color: #000;
  font-weight: bold;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li.active i.fa-caret-down {
  color: #ff2534;
  font-size: 2em;
}
.sidebar-nav-section .aside.nav-sidebar .sidebar-menu-sec > li.active i.fa-caret-down::before {
  content: "\f0d8";
  font-size: 1em;
}
.sidebar-nav-section ul.submenu {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0 0 20px 0;
  display: none;
}
.sidebar-nav-section ul.submenu li {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}
.sidebar-nav-section ul.submenu li.active,
.sidebar-nav-section ul.submenu li:hover a {
  /*background: #d7d7d7;*/
  color: #7cecfc;
}
.sidebar-nav-section ul.submenu li a {
  width: 100%;
  float: left;
  color: #333;
}
.itok {
  background-color: #f6f6f6;
}
.itok.landing-page .sidebar-nav-section {
  margin: 99px 0 0 0;
}
.tab-content {
  background-color: transparent;
}
.tab-content.tab-topics {
  padding: 0;
  margin: 0;
}
.tab-content.tab-topics li {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}
.tab-content.tab-topics li:hover,
.tab-content.tab-topics li.active {
  background: #d7d7d7;
}
.tab-content.tab-topics li a {
  width: 100%;
  float: left;
  color: #333;
}
.user-menu-section ul {
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
}
.user-menu-section ul li {
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  float: left;
}
.user-menu-section ul li:hover,
.user-menu-section ul li.active {
  background: #d7d7d7;
}
.user-menu-section ul li a {
  width: 100%;
  float: left;
  color: #333;
}
.user-menu-section ul li a:hover {
  color: #333;
}
[class^="col-"].no-padding {
  padding-left: 0;
  padding-right: 0;
}
.padding-left {
  padding-left: 0;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
[data-toggle="collapse"] span.showText {
  display: none;
}
[data-toggle="collapse"] span.hideText {
  display: block;
}
[data-toggle="collapse"].collapsed span.showText {
  display: block;
}
[data-toggle="collapse"].collapsed span.hideText {
  display: none;
}
.alert-info {
  margin-bottom: 0;
}
.blog-post,
.post-tags {
  background-color: #FFFFFF;
  font-size: 1.2em;
  margin-bottom: 40px;
  padding: 0 20px 20px 20px;
}
.blog-post .tags,
.post-tags .tags {
  padding-top: 20px;
}
.blog-post .tags i,
.post-tags .tags i {
  line-height: 3.3rem;
}
.blog-post img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.blog-post table {
  width: 100%;
}
.buttons {
  padding-top: 10px;
}
.buttons .btn {
  margin-bottom: 5px;
  margin-right: 5px;
}
#article .mainimg {
  border: none;
  text-align: center;
  display: block;
  float: none;
  height: auto;
  width: 100%;
  max-width: 1000px;
}
#article .mainimg img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 1000px;
}
#article .mainimg.thumbnail {
  margin: auto;
  margin-bottom: 0 !important;
}
#article h2 {
  margin: 1.5em 0 1.2em 0;
  font-size: 24px;
}
@media only screen and (min-width: 768px) {
  #article h2 {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 768px) {
  #article {
    padding-left: 0;
    padding-right: 0;
  }
}
#article .article_body ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 1em 0;
}
#article .article_body ul li {
  padding-left: 1em;
  margin-left: 1.5em;
  margin-bottom: 0.4em;
  color: #666666;
  position: relative;
}
#article .article_body ul li:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 0.5em;
  content: "\f111";
  left: 0;
  top: 0.8em;
}
.article-number-and-date {
  display: block;
  height: auto;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 0;
}
.article-number-and-date .pull-left {
  line-height: 26px;
}
.article-number-and-date .pull-left:after {
  content: "|";
  color: #999999;
  float: right;
  display: block;
  line-height: 21px;
}
.article-number-and-date .pull-left span,
.article-number-and-date .pull-left h4 {
  float: left;
  padding: 0 10px;
}
.article-number-and-date .pull-left .date {
  font-size: 15px;
  line-height: 26px;
}
.article-number-and-date .pull-left .date i {
  font-size: 18px;
}
.article-number-and-date .pull-left:first-child span,
.article-number-and-date .pull-left:first-child h4 {
  padding-left: 0;
}
.article-number-and-date .pull-left:last-child:after {
  content: "";
}
.article-number {
  color: #999999;
  display: block;
  font-family: iaaf_sansregular, sans-serif;
  font-size: 15px;
  padding: 0 0 5px 0;
}
.article-number:empty {
  display: none;
}
@media only screen and (max-width: 768px) {
  .article-number {
    font-size: 14px;
  }
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #CCCCCC;
}
.input-append {
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 40px;
}
.lc-full-width .full-width-partial {
  width: 100% !important;
}
.list-group {
  margin-bottom: 0;
  padding: 0 !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.list-group-item-banners {
  margin-right: 20px;
  position: relative;
}
.list-group-item-banners .btn {
  padding: 3px 8px;
  font-family: iaaf_sansregular, sans-serif;
  text-transform: uppercase;
}
.list-group-item {
  border: 0 none transparent;
  height: auto;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
}
.list-group-item:hover {
  background-color: #d7d7d7;
}
.list-group-item.alt-color {
  margin-bottom: 5px;
  overflow: visible;
  padding: 15px 25px;
}
.list-group-item.alt-color h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .list-group-item.alt-color {
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0;
    padding: 20px 10px 10px 10px;
  }
  .list-group-item.alt-color h2 {
    margin-bottom: 10px;
    font-size: 1.6em;
  }
}
.list-group-item.alt-color .list-group-item-banners {
  margin-bottom: 15px;
  margin-left: -35px;
}
@media only screen and (max-width: 768px) {
  .list-group-item.alt-color .list-group-item-banners {
    margin-left: 0;
  }
}
.list-group-item.bulletin {
  border-width: 4px;
  position: relative;
}
.list-group-item.bulletin:before {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% - 40px);
  left: -4px;
  top: 20px;
  width: 10px;
}
.list-group-item.factoid {
  background-color: #fff1f2 !important;
  border-bottom: 1px solid #ff2534 !important;
  border-top: 1px solid #ff2534 !important;
  margin: 10px 0 !important;
}
.list-group-item .btn-group.pull-right {
  margin-left: 10px;
}
.list-group-item .btn-group.spaced.altcolors {
  margin-top: 20px;
}
.list-group-item .list-unstyled {
  margin-bottom: 0;
}
.list-group-item .row {
  padding-left: 0;
  padding-right: 0;
}
.list-group-item .row a {
  font-family: iaaf_sansregular, sans-serif;
  font-size: 18px;
}
.list-group-item.ov {
  overflow: visible;
}
.list-group-item.ov a {
  font-family: iaaf_sansregular, sans-serif;
  font-size: 18px;
  color: #666666;
}
.list-group-item.reduced {
  padding: 10px 0;
}
.list-group-item.reduced .date {
  padding-top: 0;
}
.list-group-item.reduced + h4 {
  padding-top: 20px;
}
iframe {
  display: block;
  float: left;
}
.logo-box {
  display: block;
  float: left;
  position: relative;
  /*&:after {
        background-color: #cc0000;
        color: @white;
        content: "Beta";
        display: block;
        font-size: 12px;
        font-family: @stolzreg;
        line-height: 12px;
        padding: 2px 2px;
        position: absolute;
        right: -15px;
        text-transform: uppercase;
        top: 5px;
    }*/
}
.logo-box + i {
  font-size: 20px;
  line-height: 50px;
  padding-left: 5px;
}
.offset-below-10 {
  margin-bottom: 10px !important;
}
.offset-below-20 {
  margin-bottom: 20px !important;
}
.offset-below-40 {
  margin-bottom: 40px !important;
}
.offset-top-10 {
  margin-top: 10px !important;
}
.offset-top-20 {
  margin-top: 20px !important;
}
.offset-top-40 {
  margin-top: 40px !important;
}
.page-header {
  border-bottom-width: 0;
  margin-top: 0 !important;
  padding-bottom: 10px;
  position: relative;
}
.page-header.less-top {
  margin-top: 20px;
}
.page-header h1,
.page-header h4 {
  display: block;
  margin-bottom: 0;
}
.page-header + .page-header {
  margin-top: 0;
}
.page-header .btn > i {
  padding-right: 5px;
}
.page-header h1 {
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .page-header h1 {
    line-height: 1.5em;
  }
}
.page-header .btn-group {
  margin-bottom: 10px;
  margin-right: 10px;
}
.page-header .btn-group .btn {
  white-space: nowrap !important;
}
.page-header .btn-group .btn i {
  font-size: 14px;
}
.page-stats {
  margin-bottom: 40px;
  margin-left: 40px;
}
.pagination {
  margin: 4px 0;
}
.panel .alert.alert-info {
  margin: 0 15px 15px 15px;
}
.panel-body,
.panel-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-width: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.panel-body.signin,
.panel-default.signin {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px #595959;
  -moz-box-shadow: 1px 5px 20px #595959;
  box-shadow: 1px 5px 20px #595959;
}
.panel-body .panel-footer,
.panel-default .panel-footer,
.panel-body .panel-body,
.panel-default .panel-body,
.panel-body .panel-heading,
.panel-default .panel-heading {
  border-width: 0;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, transparent, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, transparent, transparent);
  /* for firefox 3.6+ */
  background-color: transparent;
}
.panel-body.signin,
.panel-default.signin {
  margin: auto;
  max-width: 440px;
  padding: 20px 0;
}
.panel-body.signin .panel-footer,
.panel-default.signin .panel-footer,
.panel-body.signin .panel-body,
.panel-default.signin .panel-body,
.panel-body.signin .panel-heading,
.panel-default.signin .panel-heading {
  padding: 20px 20px 20px;
  text-align: center;
}
.panel-body.signin h1,
.panel-default.signin h1 {
  font-size: 27px;
  margin-bottom: 0;
}
.panel-body.signin .user-setup h1,
.panel-default.signin .user-setup h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.panel-body.signin .user-setup .user-setup-logo,
.panel-default.signin .user-setup .user-setup-logo {
  margin-bottom: 10px;
}
.panel-body.signin .user-setup p,
.panel-default.signin .user-setup p {
  font-size: 14px;
  margin: 0 40px 10px 40px;
}
.panel-body.signin .user-setup .checklist label,
.panel-default.signin .user-setup .checklist label {
  width: 100%;
  font-weight: normal;
}
.panel-body.signin .user-setup .checklist label input,
.panel-default.signin .user-setup .checklist label input {
  box-sizing: border-box;
  padding-right: 5px;
  float: left;
  width: 15%;
}
.panel-body.signin .user-setup .checklist label span,
.panel-default.signin .user-setup .checklist label span {
  display: block;
  float: left;
  width: 85%;
}
.panel-body.signin .user-setup .checklist .col-md-6,
.panel-default.signin .user-setup .checklist .col-md-6,
.panel-body.signin .user-setup .checklist .col-sm-6,
.panel-default.signin .user-setup .checklist .col-sm-6 {
  padding-right: 7px;
  padding-left: 7px;
}
.panel-collapse .panel-body.list-group {
  border-top: 1px solid #ddd;
}
.tab-content {
  border-top-width: 0;
  margin-bottom: 40px;
  padding: 20px;
}
.navbar-brand {
  height: auto;
  max-width: 150px;
  padding: 10px;
}
.navbar-brand img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.navbar-form {
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar-form .form-control {
  border: 0 none transparent;
  font-size: 18px;
  height: auto;
  margin: 7px 10px;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 18px;
  height: auto;
  padding: 7px 10px;
}
.navbar-nav {
  margin: 0;
}
#navbar {
  padding: 0;
  overflow: hidden;
}
.navbar-default {
  background-color: #FFFFFF;
  background-image: none;
  border-width: 0;
  border-bottom: 1px solid #CCCCCC;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.navbar-default.navbar-fixed-top {
  min-height: 64px;
  height: auto !important;
  height: 64px;
  border-bottom: 0 none transparent;
}
.navbar-default.navbar-fixed-top .dropdown-menu {
  max-height: unset;
}
.navbar-default.navbar-search {
  background-color: #FFFFFF;
  border-bottom: 3px solid #d2d7dc;
  padding: 10px 0;
}
.navbar-default.navbar-search .search {
  background-color: #ffffff;
}
.navbar-default .dropdown-animation {
  position: absolute;
  top: 100%;
}
.navbar-default .dropdown-animation#demo {
  left: 0;
}
.navbar-default .dropdown-animation#navbar {
  right: 0;
}
.navbar-default .navbar-item {
  height: 64px;
}
.navbar-default .navbar-item.nbl {
  border-left-width: 0;
}
.navbar-default .navbar-item.bl {
  border-left: 1px solid #CCCCCC;
}
.navbar-default .navbar-item.npr {
  padding-right: 0 !important;
}
.navbar-default .navbar-item.br {
  border-right: 1px solid #CCCCCC;
}
.navbar-default .navbar-item .btn-link i {
  font-size: 20px;
}
.navbar-default .navbar-item .circle-user i {
  float: left;
  line-height: 38px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}
.navbar-default .navbar-item .circle-user span {
  float: left;
  font-size: 15px;
  line-height: 40px;
  padding-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-default #searchexpand {
  padding: 11px 20px;
  outline: 0 none transparent !important;
}
.navbar-default #searchexpand > i {
  font-size: 30px;
  line-height: 40px;
}
.navbar-default #searchbar {
  background-color: #e6e6e6;
  display: none;
}
.navbar-default #searchbar.in {
  display: block;
}
.navbar-default #searchbar .wrap {
  padding: 10px 0;
  /*border-top: 1px solid @midlgrey;*/
}
.navbar-default .pull-left,
.navbar-default .pull-right {
  display: table;
}
.navbar-default .pull-left .navbar-item,
.navbar-default .pull-right .navbar-item {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}
.navbar-default .pull-left .navbar-item.navbar-logo,
.navbar-default .pull-right .navbar-item.navbar-logo {
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: top;
}
.navbar-default .pull-left.centermenu .mobile-group .navbar-item,
.navbar-default .pull-right.centermenu .mobile-group .navbar-item {
  padding-left: 0;
  padding-right: 0;
}
.nav-sidebar li.nav-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.nav-sidebar li.nav-header:first-child {
  padding-top: 0;
}
.nav-sidebar li i {
  width: 20px;
}
.nav-tabs {
  background-color: #DDDDDD;
  border-bottom: 0 none transparent;
  display: table;
  width: 100%;
}
.nav-tabs li {
  display: table-cell;
  float: none;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.nav-tabs li a {
  border-width: 0 !important;
  font-family: iaaf_sansregular, sans-serif;
  font-size: 20px;
  margin-right: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.nav-tabs li.active a {
  background-color: #FFFFFF !important;
}
.tab-content {
  background-color: #FFFFFF;
}
.tab-content.row {
  border-top: 1px solid #e6e6e6;
}
.tab-content.row h2 {
  margin-top: 0;
}
.progress {
  margin-left: 20px;
  margin-right: 20px;
}
.standfirst {
  font-size: 18px;
  margin-bottom: 0;
}
.standfirst img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.tags {
  height: auto;
  overflow: hidden;
  margin-top: 10px;
}
.tags i {
  float: left;
  line-height: 26px;
  margin-right: 10px;
}
.tags a {
  border: 1px solid #666666;
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0.4em;
  color: #333333;
}
.tags a:focus,
.tags a:hover {
  border-bottom-color: #23527c;
  border-bottom-style: solid;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .tags a {
    font-size: 14px;
  }
}
.thumbnail {
  border-width: 0;
  overflow: hidden;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.thumbnail img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.thumbnail.no-offset {
  margin-bottom: 0;
}
.thumbnail .thumbnail {
  margin-bottom: 0;
}
.thumbnail .video-iframe,
.thumbnail .video-js {
  position: relative;
  /* to assign position absolute elements inside the div */
  width: 100%;
  /* assign width - in this case, @w width for a responsive example */
  overflow: hidden;
  height: auto !important;
  width: 100% !important;
}
.thumbnail .video-iframe:after,
.thumbnail .video-js:after {
  content: "";
  display: block;
  padding-top: 56%;
  /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
}
.thumbnail .video-iframe > iframe,
.thumbnail .video-js > iframe,
.thumbnail .video-iframe > video,
.thumbnail .video-js > video {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}
.thumbnail.col-md-6 {
  background-color: transparent !important;
  padding-left: 20px;
}
@media only screen and (max-width: 1000px) {
  .thumbnail.col-md-6 {
    padding-left: 0;
    padding-top: 20px;
  }
}
/*[data-target="#relatedtagscollapse"] {
    @media only screen and (min-width: @_tablet) {
        display: none !important;
    }
}*/
@media only screen and (max-width: 768px) {
  #relatedtagscollapse h4 {
    display: none;
  }
}
#sidebar {
  height: auto;
  overflow: hidden;
  position: relative;
}
#sidebar h4 {
  font-size: 20px;
}
@media only screen and (min-width: 1000px) {
  #sidebar {
    padding-left: 40px;
  }
}
#sidebar.pull-left {
  padding-right: 40px;
}
#sidebar.pull-right {
  padding-left: 40px;
}
#sidebar .row {
  padding-left: 0;
  padding-right: 0;
}
#sidebar .affix-sidebar {
  overflow: hidden;
  width: 330px;
  min-height: 300px;
  height: auto !important;
  height: 300px;
}
#sidebar .affix-sidebar #relatedtags {
  width: 330px;
}
@media only screen and (max-width: 1200px) {
  #sidebar .affix-sidebar {
    width: 350px;
  }
  #sidebar .affix-sidebar #relatedtags {
    width: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  #sidebar .affix-sidebar {
    width: 100%;
  }
  #sidebar .affix-sidebar #relatedtags {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  #sidebar {
    padding: 0 0 40px 0 !important;
  }
  #sidebar .affix,
  #sidebar .affix-bottom {
    top: auto !important;
  }
}
@media only screen and (min-width: 1000px) {
  #sidebar {
    position: initial !important;
  }
  #sidebar .affix {
    position: fixed !important;
    top: 70px;
  }
  #sidebar .affix-bottom {
    position: absolute !important;
  }
}
.related-articles {
  border-top: 1px solid #CCCCCC;
  padding: 30px 0;
  margin-top: 20px;
}
.related-articles h2 {
  padding-bottom: 30px;
}
.related-articles h4 {
  font-size: 15px;
  color: #333333;
  font-family: iaaf_sans_blackregular, sans-serif;
  line-height: normal;
}
@media only screen and (min-width: 480px) {
  .related-articles .related-article-item:nth-child(3n-1) {
    clear: left;
  }
}
.related-pages > li > a {
  display: block;
  font-family: iaaf_sans_blackregular, sans-serif;
  padding: 10px 0;
}
.related-pages > li > a > span {
  display: block;
  font-family: iaaf_sansregular, sans-serif;
}
.article-tools {
  overflow: auto;
}
.return-home {
  margin-top: 70px;
  clear: both;
}
.print-link {
  margin-right: 2em;
}
#articleComment {
  width: 600px;
  height: 5em;
}
@media only screen and (max-width: 480px) {
  #articleComment {
    width: 300px;
  }
}
.header-tools .article-number {
  display: inline;
  margin-right: 40px;
}
.header-tools h4.date {
  display: inline;
}
@media only screen and (max-width: 480px) {
  .header-tools h4.date {
    display: block;
  }
}
.home-tags {
  margin-top: 30px;
}
.job-roles b {
  padding: 0 1.5em 0 0.2em;
  color: #666666;
}
table {
  border-width: 0;
  border-top: 1px solid #ff2534 !important;
  margin: 0 0 20px 0;
  width: 100%;
}
table tr {
  border-width: 0;
}
table tr th,
table tr td {
  border-width: 0;
  font-size: 1.5rem;
  padding: 10px;
}
@media only screen and (max-width: 480px) {
  table tr th,
  table tr td {
    font-size: 0.9rem;
    padding: 5px;
  }
}
table tr th p,
table tr td p {
  margin: 0;
}
table thead tr {
  background-color: #ff2534 !important;
}
table thead tr th {
  color: #FFFFFF;
}
table tbody tr td {
  border-bottom: 1px solid #ff5863 !important;
}
.panel-teaser {
  display: block;
  height: auto;
  overflow: hidden;
}
#relatedtags,
.relatedtags {
  height: auto;
  overflow: hidden;
}
#relatedtags .btn-default,
.relatedtags .btn-default {
  background-color: #FFFFFF;
  color: #666666;
  border-color: #CCCCCC;
  float: left;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  margin: 0 5px 5px 0;
}
#relatedtags .btn-default i,
.relatedtags .btn-default i {
  color: #999999 !important;
  font-size: 16px;
}
.related-media a {
  display: block;
  font-family: iaaf_sansregular, sans-serif;
  font-size: 17px;
  margin-bottom: 0.7em;
}
.search-panel {
  background-color: #e6e6e6;
  display: block;
  padding: 20px 0 0;
  margin: 40px 0 20px 0;
}
.search-panel .search-block {
  padding-left: 1px !important;
}
.search-panel .search-block:first-child {
  padding-left: 0 !important;
}
.search-panel .search-block button {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .search-panel .search-block {
    margin: 0 0 1px 0 !important;
    padding-left: 0 !important;
  }
}
.search-panel .btn-link {
  background-color: #FFFFFF !important;
  border-color: #CCCCCC;
  font-family: Arial, sans-serif;
  padding: 13px;
  text-decoration: none !important;
}
.search-panel .btn-link p {
  color: #999999;
  font-size: 16px;
  margin-bottom: 0;
}
.search-panel .btn-link p + span {
  text-decoration: underline;
}
.search-panel .btn-link span {
  font-size: 15px;
}
.bc_container {
  position: relative;
  /* to assign position absolute elements inside the div */
  width: 100%;
  /* assign width - in this case, @w width for a responsive example */
}
.bc_container:after {
  content: "";
  display: block;
  padding-top: 66%;
  /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
}
.bc_container .BrightcoveExperience {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.BrightcoveExperience {
  width: 100% !important;
}
.loginscreen #main {
  min-height: 80%;
}
.loginscreen #main .btn {
  background-color: #ff2534;
}
footer {
  margin-top: 3em;
  padding: 2em 0;
  background-color: #333333;
  color: #999999;
  font-size: 12px;
}
footer a {
  color: #CCCCCC !important;
}
footer .pull-right {
  text-align: right;
}
iframe.BrightcoveExperience {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */
  padding-top: 25px;
}
iframe.BrightcoveExperience #stage0 {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}
.form-certificate .form-group input {
  border: 1px solid #DDDDDD;
  font-size: 18px;
  height: auto;
  margin: 7px 0;
  padding: 5px;
  display: block;
  width: 100%;
}
.form-certificate .form-group label {
  font-weight: bold;
}
.introjs-overlay {
  background-color: transparent;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, transparent, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, transparent, transparent);
  /* for firefox 3.6+ */
  background-color: #FFFFFF;
}
.introjs-helperNumberLayer,
.introjs-arrow {
  display: none !important;
}
.introjs-helperLayer {
  background-color: transparent;
  border-width: 0;
  z-index: 10000002;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.introjs-helperLayer:before {
  content: "\f0a4";
  font-family: FontAwesome;
  font-size: 40px;
  left: -40px;
  line-height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  z-index: 10000005;
}
.introjs-tooltip {
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
}
.introjs-tooltip h4 {
  margin-top: 0;
  font-family: iaaf_sans_blackregular, sans-serif;
}
.introjs-tooltipbuttons {
  text-align: center;
}
/* homepage */
.home-grid {
  background-color: #353a3a;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1200px) {
  .home-grid {
    display: table;
    width: 100%;
  }
}
.home-grid .panel-grid,
.home-grid .navigate-grid {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 1200px) {
  .home-grid .panel-grid,
  .home-grid .navigate-grid {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}
.home-grid .panel-grid {
  background-color: #FFFFFF;
  height: auto;
  overflow: hidden;
}
.home-grid .panel-grid .grid-item {
  padding: 0;
}
@media only screen and (min-width: 480px) {
  .home-grid .panel-grid .grid-item {
    position: relative;
    z-index: 50;
    overflow: hidden;
  }
  .home-grid .panel-grid .grid-item:first-child > a {
    position: relative;
    /* to assign position absolute elements inside the div */
    width: 100%;
    /* assign width - in this case, @w width for a responsive example */
  }
  .home-grid .panel-grid .grid-item:first-child > a:after {
    content: "";
    display: block;
    padding-top: 100%;
    /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
  }
  .home-grid .panel-grid .grid-item:not(:first-child) > a {
    position: relative;
    /* to assign position absolute elements inside the div */
    width: 100%;
    /* assign width - in this case, @w width for a responsive example */
  }
  .home-grid .panel-grid .grid-item:not(:first-child) > a:after {
    content: "";
    display: block;
    padding-top: 50%;
    /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
  }
  .home-grid .panel-grid .grid-item > a {
    display: block;
    z-index: 100;
  }
  .home-grid .panel-grid .grid-item > a span {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: iaaf_sans_blackregular, sans-serif;
    font-size: 22px;
    line-height: 26px;
    height: 100%;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  .home-grid .panel-grid .grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
.home-grid .panel-grid .grid-item:first-child > a {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-grid .panel-grid .grid-item:nth-child(2) > a,
.home-grid .panel-grid .grid-item:nth-child(5) > a {
  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1200px) {
  .home-grid .panel-grid .grid-item:nth-child(4),
  .home-grid .panel-grid .grid-item:nth-child(5) {
    display: none;
  }
}
.home-grid .navigate-grid {
  color: #FFFFFF;
  padding: 20px 30px;
}
.home-grid .navigate-grid h2 {
  color: #CCCCCC;
  font-size: 22px;
  display: block;
  margin-bottom: 20px;
}
.home-grid .navigate-grid a {
  color: #FFFFFF;
}
.home-grid .navigate-grid a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.home-grid .navigate-grid ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home-grid .navigate-grid ul li {
  border-bottom: 1px solid #5a6262;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.home-grid .navigate-grid ul li:before {
  content: "\f054";
  font-family: FontAwesome;
  position: absolute;
  left: 5px;
  top: 10px;
}
.home-grid .navigate-grid ul li:last-child {
  border-bottom-width: 0;
}
@media only screen and (max-width: 1000px) {
  .home-grid .navigate-grid {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .home-grid {
    display: none;
  }
}
/* briefing */
@media only screen and (min-width: 1000px) {
  .briefing .list-group-item {
    padding: 15px;
  }
  .briefing .list-group-item .list-group-item-banners {
    margin-left: -25px;
    margin-bottom: 10px;
  }
  .briefing .list-group-item .btn-group.spaced {
    display: none;
  }
  .briefing .list-group-item .article-number-and-date {
    margin-bottom: 0;
  }
  .briefing .list-group-item .article-number-and-date .pull-left {
    padding-left: 0;
  }
  .briefing .list-group-item .article-number-and-date .pull-left span,
  .briefing .list-group-item .article-number-and-date .pull-left h4 {
    font-size: 12px;
  }
  .briefing .list-group-item .article-number-and-date .pull-left:after {
    font-size: 12px;
  }
  .briefing .list-group-item .article-number-and-date .pull-left:first-child span,
  .briefing .list-group-item .article-number-and-date .pull-left:first-child h4 {
    padding-left: 0;
  }
  .briefing .list-group-item h2 {
    font-size: 18px;
    line-height: normal;
  }
  .briefing .list-group-item .standfirst {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 0;
  }
}
/* briefing */
.homepage-container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .homepage-container {
    width: auto !important;
  }
}
#homenav {
  display: none !important;
  background-color: transparent;
  border-width: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}
@media only screen and (max-width: 1200px) {
  #homenav {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  #homenav {
    margin-top: 20px;
  }
}
#homenav .col-xs-6 {
  padding: 0;
}
#homenav .col-xs-6 a {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC !important;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #homenav {
    padding: 0;
  }
}
#hometopics,
#briefing {
  display: block !important;
}
@media only screen and (max-width: 1200px) {
  #hometopics,
  #briefing {
    display: none !important;
  }
  #hometopics.active,
  #briefing.active {
    display: block !important;
  }
}
#hometopics .btn-group.add-tools,
#briefing .btn-group.add-tools {
  display: none;
}
/* stories */
/* stories */
/* alerts */
.alerts {
  margin-bottom: 40px;
  padding: 0;
}
.alerts .grid-alert {
  color: #000000;
  font-family: iaaf_sans_blackregular, sans-serif;
  font-size: 15px;
  height: auto;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
}
.alerts .grid-alert .number {
  background-color: #000000;
  position: relative;
  /* to assign position absolute elements inside the div */
  width: 100%;
  /* assign width - in this case, @w width for a responsive example */
  min-height: 40px;
}
.alerts .grid-alert .number:after {
  content: "";
  display: block;
  padding-top: 100%;
  /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
}
.alerts .grid-alert .number span {
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.alerts .grid-alert h4 {
  display: block;
  margin: 15px 0 10px 0;
}
.alerts .grid-alert h4:before {
  content: "";
  float: left;
  font-family: FontAwesome;
  padding-right: 10px;
}
.alerts .grid-alert small {
  color: #999999;
  display: block;
  font-family: iaaf_sansregular, sans-serif;
  font-size: 12px;
  margin: 0 0 10px 0;
}
.alerts .grid-alert button {
  padding: 0;
}
.alerts .grid-alert p {
  font-size: 15px;
  font-family: iaaf_sansregular, sans-serif;
  color: #555555;
  margin: 0 0 10px 0;
}
.alerts .grid-alert .high h4:before {
  color: #FF0000;
  content: "\f071";
}
.alerts .grid-alert .medium h4:before {
  color: #FF0000;
  content: "\f062";
}
.alerts .grid-alert .low h4:before {
  color: #008000;
  content: "\f063";
}
.alerts .grid-alert .resolved h4:before {
  color: #008000;
  content: "\f00c";
}
.showrelatedalerts i {
  margin: 0;
}
.showrelatedalerts i.fa.fa-plus {
  display: block;
}
.showrelatedalerts i.fa.fa-minus {
  display: none;
}
.showrelatedalerts.btn-alerts-active i.fa.fa-plus {
  display: none;
}
.showrelatedalerts.btn-alerts-active i.fa.fa-minus {
  display: block;
}
/* alerts */
/* briefing-and-main-topics */
.briefing-and-main-topics {
  padding: 0;
}
.briefing-and-main-topics .articles {
  height: auto;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .briefing-and-main-topics .articles {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.briefing-and-main-topics .total-results-returned {
  display: none !important;
}
.briefing-and-main-topics .page-header .btn-group {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}
/* briefing-and-main-topics */
.tab-content.for-home {
  margin-top: 0;
  height: auto;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
@media only screen and (max-width: 768px) {
  .tab-content.for-home [role="tabpanel"] {
    padding: 0;
  }
}
/* topics */
.topics {
  background-color: #cfd7d9;
  height: auto;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 20px;
}
.topics.lighter {
  background-color: #e3e8e9;
}
.topics.lighter a {
  text-decoration: underline !important;
}
.topics.lighter h1 a,
.topics.lighter h2 a,
.topics.lighter h3 a,
.topics.lighter h4 a,
.topics.lighter h5 a,
.topics.lighter h6 a,
.topics.lighter p a,
.topics.lighter span a {
  text-decoration: underline !important;
}
.topics h3 {
  padding-top: 20px;
}
.topics h4 {
  color: #33434c !important;
  font-family: iaaf_sansregular, sans-serif;
  font-size: 15px !important;
}
.topics p:last-child {
  margin-bottom: 0;
}
.topics .tags {
  margin-bottom: 20px;
  margin-top: 0;
}
.topics .tags:last-child {
  margin-bottom: 0;
}
.topics .tags a {
  background-color: #FFFFFF;
  border-color: #CCCCCC !important;
  color: #666666 !important;
  padding: 10px 15px !important;
  font-size: 15px !important;
}
.topics .tags strong {
  color: #555555;
  font-size: 15px !important;
}
.topics .tags button {
  font-size: 15px;
  margin: 0 10px 10px 0;
}
.topics .tags button i {
  font-size: 14px;
  line-height: 20px;
}
/* topics */
/* weblinks */
[data-toggle="dropdown"] {
  padding: 13px;
}
[data-toggle="dropdown"].btn-dropdown i {
  color: #ff2534 !important;
  font-size: 35px !important;
}
.dropdown-fixed {
  max-height: 200px;
  max-width: 320px;
  overflow: auto;
}
.dropdown-fixed > li > a {
  white-space: normal;
}
.dropdown-fixed.dropdown-menu {
  min-width: 320px !important;
}
.weblinks-dropdown {
  width: 100%;
}
.weblinks-dropdown [data-toggle="dropdown"] {
  width: 100%;
  text-align: left;
}
.weblinks-dropdown [data-toggle="dropdown"] .caret {
  float: right;
  margin-top: 10px;
}
/* weblinks */
/* homepage */
/* stats page */
.stats {
  background-color: #FFFFFF;
  margin-bottom: 40px;
  padding: 0 40px 20px 20px;
}
.stats .form-control {
  width: 50%;
}
.dropMedia .video-js {
  position: relative;
  /* to assign position absolute elements inside the div */
  width: 100%;
  /* assign width - in this case, @w width for a responsive example */
  height: auto !important;
  width: 100% !important;
}
.dropMedia .video-js:after {
  content: "";
  display: block;
  padding-top: 50%;
  /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
}
.dropMedia .video-js > video {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}
.row.filter-row {
  margin: 10px -15px 15px;
  background: #e6e6e6;
  padding: 5px 0 15px;
}
.row.filter-row label {
  padding-left: 15px;
}
.row.filter-row select {
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
}
.article-listing-row .header {
  background: #000026;
  border: 1px solid #7d7d7d;
}
.article-listing-row .header h2 {
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 24px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
}
.article-listing-row .list-group-item.article-listing {
  background-color: transparent;
  padding: 10px 0 15px;
}
.article-listing-row .list-group-item.article-listing .article-number-and-date .date {
  font-family: OpenSans, sans-serif;
  letter-spacing: 0;
}
.article-listing-row .list-group-item.article-listing .article-title a {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.article-listing-row .list-group-item.article-listing .article-title span {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.article-listing-row .list-group-item.article-listing .article-title span > p {
  display: inline-block;
}
.article-listing-row .list-group-item.article-listing .download-file {
  /*padding-left: 40px;*/
}
.article-listing-row .list-group-item.article-listing .download-file a {
  font-size: 17px;
  color: #000026 !important;
}
.article-listing-row .list-group-item.article-listing .download-file .btn-default,
.article-listing-row .list-group-item.article-listing .download-file .btn-primary {
  background-color: transparent !important;
  border: none !important;
  color: #000026 !important;
}
.article-listing-row .list-group-item.article-listing .download-file .btn-default i,
.article-listing-row .list-group-item.article-listing .download-file .btn-primary i {
  color: #000026;
  font-size: 24px;
}
.article-listing-row .list-group-item.article-listing .add-tools .btn-default,
.article-listing-row .list-group-item.article-listing .add-tools .btn-primary {
  border: 1px solid #ff2534 !important;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
}
.article-listing-row .list-group-item.article-listing .standfirst {
  font-size: 16px;
}
.article-listing-row .list-group-item.article-listing hr {
  border-top: 1px solid #7d7d7d;
}
.article-listing-row .list-group-item .btn-group.spaced.altcolors {
  margin-top: 10px;
}
.article-listing-row .btn.btn-info {
  border: 1px solid #ff2534;
  padding: 2px 10px !important;
  cursor: auto;
  background: #ff2534 !important;
}
.article-listing-row .btn.btn-info:hover,
.article-listing-row .btn.btn-info:focus {
  background: #000026;
}
.overview-title {
  margin-bottom: 30px;
  font-family: OpenSans, sans-serif;
}
.overlay-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  z-index: 9999;
  display: none;
}
.overlay-loader i.fa-spin {
  font-size: 90px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999999;
  width: 90px;
  height: 90px;
  color: #7d7d7d;
}
.comment-content {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.comment-content .post-content {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
}
.comment-content .post-content .avatar {
  display: inline;
  margin-right: 12px;
  float: left;
}
.comment-content .post-content .avatar img {
  max-width: 45px;
  border-radius: 100%;
}
.comment-content .post-content .comment__header {
  line-height: 1;
  font-size: 13px;
  padding-right: 46px;
  margin-bottom: 3px;
}
.comment-content .post-content .comment__header .publisher-anchor-color {
  color: #2077d3;
}
.comment-content .post-content .comment__header .post-meta {
  color: #656c7a;
  font-weight: 500;
  margin: 4px 0 0 0;
}
.action-icons-listing .actionIcon {
  float: left;
  width: 55px;
  display: inline-block;
  margin: 0 0 0 10px !important;
  border: 1px solid #ff2534 !important;
  padding: 2px 10px;
}
.action-icons-listing .successStatus {
  color: #009E0F;
}
.action-icons-listing .dangerStatus {
  color: #FF0000;
}
.action-icons-listing .mediumStatus {
  color: #FF9900;
}
.action-icons-listing a i.fa-comment {
  color: #333333;
}
.action-icons-listing a i.fa-comment-success {
  color: #009E0F;
}
.modal .modal-dialog.comments-modal .modal-content .modal-body {
  max-height: 350px;
  overflow-y: auto;
}
.modal .modal-dialog.comments-modal .modal-content .modal-body .comment-content .post-content:last-child {
  border-bottom: none;
}
/*Custom css changes*/
.grid-panel {
  background-color: #FFFFFF;
  padding: 30px 15px 30px 15px;
}
.nav-sidebar {
  background-color: #FFFFFF;
  padding: 5px;
}
.main-col {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.sidebar-menu-sec ul.submenu > li i {
  color: #ff2534 !important;
}
.btn-tag {
  font-size: 10px !important;
}
@media only screen and (min-width: 1000px) {
  .col-md-8.filter-by-sec {
    display: flex;
  }
  .col-md-8.filter-by-sec .col-md-6 {
    display: flex;
  }
}