﻿@import "_custom-library";

@depth: 40px;

@alt: #e6e6e6;
@black: #000000;
@grey: #333333;
@link: #337ab7;
@link_hover: #23527c;
@white: #FFFFFF;
@bgc: #CCCCCC;
@bgc_alt: #DDDDDD;
@lightgrey: #999999;
@midgrey: #666666;
@middgrey: #555555;
@midlgrey: #888888;
@topicsgrey: #cfd7d9;
@red: #FF0000;
@green: #008000;

@headerbottomborder: #33434c;

@search: #eeeeee;
@search_alt: #d2d7dc;

@article: @lightgrey;
@group: @lightgrey;
@video: @lightgrey;
@document: @lightgrey;
@news: @lightgrey;



/* Grey Colours */
@ltgrey: #4a4e4e;
@mdgrey: #3f4444;
@dkgrey: #353a3a;
@dkblue: #000026;
@blk: #000000;
/* Grey colours */

/* Medal Colours */
@gold: #fccd1d;
@silver: #dddbdd;
@bronze: #b37336;
/* Medal Colours */

/* Other Colours */
@iaaf_red: #ff2534;
@spikes: #feed01;
/* Other Colours */







/*media queries*/
@_mobile: 480px;
@_tablet: 768px;
@_tablet_desktop: 860px;
@_desktop: 1000px;
@_fullwidth: 1200px;
@_maxFullwidth: 1310px;
/*media queries*/





@stolzreg: iaaf_sansregular, sans-serif;
@stolzmed: iaaf_sans_blackregular, sans-serif;



@OpenSans: OpenSans, sans-serif;
@FontAwesome: FontAwesome;












/* bootstrap overrride */
/*.container {
    @media only screen and (min-width: @_maxFullwidth) {
        width: @_maxFullwidth;
    }
    @media only screen and (max-width: @_maxFullwidth) {
        width: @_fullwidth;
    }
    @media only screen and (max-width: @_fullwidth) {
        width: @_desktop;
    }
    @media only screen and (max-width: @_desktop) {
        width: @_tablet_desktop;
    }
    @media only screen and (max-width: @_tablet_desktop) {
        width: 100%;
    }
}*/
/* bootstrap overrride */





body {
}



.btn {
    &.dropdown-toggle {
        &.dropdown-default {
            background-color: @white !important;
            border: 1px solid @bgc;
            color: @dkblue !important;
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: @depth/2;
            text-align: left;
            width: 100%;
            white-space: normal;
            & > i {
                color: @dkblue !important;
                float: right;
                font-size: 14px !important;
                padding: @depth/20 0;
            }
        }
    }
}

.margin-right-1 {
    margin-right: 2px !important;
}

.full-screen-background {
    position: relative;

    @media only screen and (min-height: 850px) {
        height: 100vh;
        width: 100%;
        margin-top: -64px;
    }

    &:before {
        background-color: @black;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        .opacity(30, 0.3);
    }

   


    &.home {
        background: url('../../Images/backgrounds/GettyImages-485777510.jpg') 50% 50% no-repeat;
        .background_size;
        
    }

    &.login {
        background: url('../../Images/backgrounds/GettyImages-485690812.jpg') 50% 50% no-repeat;
        .background_size;
        
    }

    &.selectgrid {
        background: url('../../Images/backgrounds/GettyImages-TRACK_ASHTON.jpg') 50% 50% no-repeat;
        .background_size;
        
    }

    &.observer {
        background: url('../../Images/backgrounds/GettyImages-485252442.jpg') 50% 50% no-repeat;
        .background_size;
        
    }

    &.planning {
        background: url('../../Images/backgrounds/GettyImages-485253194.jpg') 50% 50% no-repeat;
        .background_size;
        
    }

    &.bidding {
        background: url('../../Images/backgrounds/GettyImages-485690738.jpg') 50% 50% no-repeat;
        .background_size;
    }

    .selection-grid {

        @media only screen and (min-height: 850px) and (min-width: @_tablet_desktop) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
        }

        @media only screen and (max-height: 850px) and (min-width: @_tablet_desktop) {
            padding-bottom: @depth;
            padding-top: @depth;
        }

        @media only screen and (max-width: @_tablet_desktop) {
            padding-top: @depth*2;
        }
    }

    .grid-panel {
        box-sizing: border-box;
        background-color: @white;
        display: block;
        padding: @depth/2;
        margin-bottom: @depth - 10;
        position: relative;
        text-align: center;
        width: 100%;

        @media only screen and (min-width: @_tablet_desktop) {
            .min_height(270px);
        }

        h2 {
            margin-bottom: @depth/2;
        }

        p {
            display: block;
            color: @dkblue;
            font-size: 16px;
            padding: 0 @depth/4;
            margin-bottom: @depth/4;
        }

        .btn {
            &.proceed {
                background-color: @iaaf_red;
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0;
                height: @depth;
                width: @depth;

                & > i {
                    font-size: 20px;
                    line-height: @depth;
                }
            }
        }
    }

    .note {
        display: block;
        height: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-top: @depth - 10;
        .text_shadow(@black);

        &:before {
            background-color: @iaaf_red;
            content: "";
            display: block;
            height: 7px;
            width: 66px;
            position: absolute;
            top: 0;
            left: 0;
        }

        h3 {
            color: @white;

            a {
                color: @white;
                text-decoration: underline;
            }
        }

        p {
            color: @white;
            font-size: 16px;
        }
    }
}

.body-bg-height {
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
}

body {
    &.history-page {
        .full-screen-background {
            position: relative;
            background: url('../../Images/backgrounds/GettyImages-485777510.jpg') 50% 50% no-repeat;
            .background_size;
            .body-bg-height;
        }
    }

    &.Login-page {
        .full-screen-background {
            position: relative;
            background: url('../../Images/backgrounds/GettyImages-485690812.jpg') 50% 50% no-repeat;
            .background_size;
            .body-bg-height;
        }
    }

    &.selectgrid {
        background: url('../../Images/backgrounds/GettyImages-TRACK_ASHTON.jpg') 50% 50% no-repeat;
        .background_size;
    }

    &.ObserverProgramme-page {
        .full-screen-background {
            background: url('../../Images/backgrounds/GettyImages-485252442.jpg') 50% 50% no-repeat;
            .background_size;
            .body-bg-height;
        }
    }

    &.EventPlanning-page {
        .full-screen-background {
            background: url('../../Images/backgrounds/GettyImages-485253194.jpg') 50% 50% no-repeat;
            .background_size;
            .body-bg-height;
        }
    }


    &.BiddingCandidature-page,
    &.AcceptRegulations-page {
        .full-screen-background {
            background: url('../../Images/backgrounds/GettyImages-485690738.jpg') 50% 50% no-repeat;
            .background_size;
            .body-bg-height;
        }
    }
}


.observer-programme-div {
    margin-top:99px;
}

.history-heading {
    padding-top: 8em;
}

.history-grid-panel {
    border-bottom: 10px solid red;
    opacity: 0.9;
}

.article-title {

    .fa-file {
        padding-top: .3em;
        padding-right: .4em;
        padding-left: .1em;
    }

    i:hover{
        color:@iaaf_red;
    }

    i{
        font-size:1.4em;
    }
}


/*Modal General*/


.modal-dialog {
    width: 100%;
}

.inputHeight {
    height: 20px;
}


/*Volunteers Per Area Table*/

.volunteer-area-modal {
    width: 80%;

    .volunteers-area {
        border: 1px solid #CCCCCC;

        .header {
            background: none;
            border: none;
            border-right: 1px solid #CCCCCC;
        }

        table {
            border-top: none !important;
            margin-bottom: 0;
        }

        table tbody tr td {
            border-bottom: 1px solid #CCCCCC !important;
            padding: .5em;
            font-size: 0.9em;
        }

        table tbody tr:last-child > td {
            border-bottom: none!important;
    
        }

        .questions-header-title {
            font-weight: bold;
            text-align: center;
            border-right: 1px solid #CCCCCC;
        }

        .questions-header-title:last-child {
            border-right: none;
        }

        .questions-item {
            border-bottom: 1px solid #000;

            .form-group {
                display: inline;
            }
        }

        .anwser-list {
            text-align: center;
            border-right: 1px solid #CCCCCC;
        }

        .anwser-list:last-child {
            border-right: none;
        }


        .form-group label.table-results {
            border: none;
            padding: .1em;
            font-size: 1em;
            box-shadow: none;
            -webkit-box-shadow: none;
            text-align: center;
        }
    }
}


/*Volunteer Area Chart*/

.volunteer-area-chart{


    .modal-content{

        width:80%;
        margin:10% auto;
    }

}



/*Staff Hired Table*/


.staff-hired-modal {
    width: 89%;
    margin: 0 auto;

    .modal-title {
    }


    table.staffhired-table {
        overflow: visible;
        border-top: 1px solid #CCCCCC !important;
        border: 1px solid #CCCCCC;
        margin-bottom: 0;


        & .tr-header {
            height: 36px;
        }

        & tbody .tr-header td {
            font-size: 1em;
            font-weight: bold;
            padding: .2em;
        }

        & tbody .tr-header td:first-child {
            padding: .2em .2em .2em .5em;
            border-right: 1px solid #CCCCCC;
        }

        & .tr-header td:not(:first-child) {
            border-right: 1px solid #CCCCCC;
            width: 22.5px;
            vertical-align: middle;
            text-align: center;
            box-sizing: border-box;


            label {
                margin-bottom: 0;
            }
        }


        & .tb-row td:first-child {
            font-size: 1em;
            font-weight: bold;
            padding-left: .5em;
            border-right: 1px solid #CCCCCC;
        }

        & .tb-row td:not(:first-child) {
            border-right: 1px solid #CCCCCC;

            label {
                margin-bottom: 0;
                text-align: center;
                padding-top: .2em;
                padding-right: .1em;
            }
        }

        & .tb-row td:last-child {
            text-align: center;
        }

        & tbody tr td {
            /*border: none !important;*/
            border-bottom: 1px solid #CCCCCC !important;
            font-size: .9em;
            padding: 0;
        }


        & tbody tr td label {
            padding: 0;
        }

        .table-results {
            font-size: 1em;
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-align: center;
            margin-bottom: 0;
        }
    }
}


/*Staff Hired Chart*/

.staff-hired-chart{

    .modal-content{

        width:80%;
        margin: 5% auto;
    }
}





/*Site Vist Summary Table*/

.site-visit-modal {
    width: 80%;
    margin: 5% auto;

    .site-visit-summary {
        border: 1px solid #CCCCCC;
    }

    .questions-item-header {
        text-align: center;
    }

    .questions-header-title {
        font-weight: bold;
    }

    table {
        border-top: none !important;
        margin-bottom: 0;
    }

    table tbody tr td {
        border-bottom: none !important;
        padding:.2em;
        font-size:1em;
    }


    .questions-item {
        border-top: 1px solid #CCCCCC;

        ul {
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;
            min-height: 20px;
        }

        .header {
            background: none;
            border: none;
            border-right: 1px solid #CCCCCC;
            height: inherit;
        }

        .anwser-list {
            border-right: 1px solid #CCCCCC;
            height: inherit;

            .form-group {
                margin: 0;

                label {
                    text-align: center;
                }

                .table-results {
                    padding: 0;
                }
            }
        }

        .anwser-list:last-child {
            border-right: none;
         }
                
         & .table-results {
            border: none;
            box-shadow: none;
            font-size: 1em;
            text-align: center;
        }
    }
}


/*Carpool Table*/

.carpool-modal {
    width: 86%;
    margin: 5% auto;

    .events-table {
        font-size: .9em;
        width: 100%;
        margin: auto;
        border: 1px solid #CCCCCC !important;


        .header {
            background: none;
            border: none;
            border-right: 1px solid #CCCCCC;
            height: inherit;
            font-weight: bold;
        }
    }

    table tbody tr td {
        border-bottom: 1px solid #CCCCCC !important;
    }

    .questions-item-header {

        .questions-header-title {
            border-right: 1px solid #CCCCCC !important;
        }
    }

    .questions-item {

        .anwser-list {
            border-right: 1px solid #CCCCCC !important;
        }
    }

    .table-results {

        td {
            border-right: 1px solid #CCCCCC !important;
        }
    }
}



/*Carpool Chart*/

.carpool-chart {

    .modal-content {
        width: 80%;
        margin: 5% auto;
    }
}


/*Transportation per Client Group*/

.transportation-report-modal {
    width: 80%;
    margin: 8% auto;

    .transportation-report {
        border: 1px solid #CCCCCC;
        table {
            border-top: none !important;
            margin-bottom: 0;
        }

        table tbody tr td {
            border-bottom: 1px solid #cccccc !important;
            padding: .2em;
            font-size: 1em;
        }

        table tbody tr:last-child td {
            border-bottom: none !important;
        }

        tr:last-child > td:last-child {
            border-right: 1px solid #CCCCCC;
        }

        .questions-item {
            /*border-top: 1px solid #CCCCCC;*/
            .header {
                background: transparent;
                color: #000;
                border: none;
                border-right: 1px solid #CCCCCC;
            }
        }


        .questions-header-title {
            font-size: 1em;
            font-weight: bold;
            border-right: 1px solid #CCCCCC;
            text-align: center;
        }

        .questions-header-title:last-child {
            border-right: none;
        }

        .form-group label.table-results {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 1em;
            font-weight: bold;
        }

        .inputHeight {
            height: 20px;
        }

        .anwser-list {
            border-right: 1px solid #CCCCCC;

            label {
                font-weight: normal;
            }
        }

        .anwser-list:last-child {
            border-right: none;
        }
    }
}


/*Acommodation Table*/

.accommodation-modal {
    width: 80%;
    font-size: .9em;

    table {
        border-top: 1px solid #CCCCCC !important;
    }

    .accommodation-table {
        border: 1px solid #CCCCCC;
    }

    .questions-item {

        .header {
            background: transparent;
            color: #000;
            border: none;
            border-right: 1px solid #CCCCCC;
            font-size: .9em;
            font-weight:bold;
        }
    }

    table tbody tr td {
        border-bottom: 1px solid #CCCCCC !important;
        padding: .3em;
        vertical-align: middle;
    }

    .questions-header-title {
        font-weight: bold;
        font-size: .9em;
    }

    .questions-header-title, .anwser-list {
        border-right: 1px solid #CCCCCC;
        text-align: center;
    }

    .questions-header-title:first-child {
        text-align: left;
    }

    .questions-header-title:last-child, .anwser-list:last-child {
        border-right: none;
    }

    .anwser-list {
        font-size: 1em;
    }

    .anwser-list label.table-results {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: .9em;
        font-weight: bold;
    }
}