﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateX CSS transformation, default x at 0px */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* Grey Colours */
/* Grey colours */
/* Medal Colours */
/* Medal Colours */
/* Other Colours */
/* Other Colours */
/*media queries*/
/*media queries*/
/* bootstrap overrride */
/*.container {
    @media only screen and (min-width: @_maxFullwidth) {
        width: @_maxFullwidth;
    }
    @media only screen and (max-width: @_maxFullwidth) {
        width: @_fullwidth;
    }
    @media only screen and (max-width: @_fullwidth) {
        width: @_desktop;
    }
    @media only screen and (max-width: @_desktop) {
        width: @_tablet_desktop;
    }
    @media only screen and (max-width: @_tablet_desktop) {
        width: 100%;
    }
}*/
/* bootstrap overrride */
.btn.dropdown-toggle.dropdown-default {
  background-color: #FFFFFF !important;
  border: 1px solid #CCCCCC;
  color: #000026 !important;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  width: 100%;
  white-space: normal;
}
.btn.dropdown-toggle.dropdown-default > i {
  color: #000026 !important;
  float: right;
  font-size: 14px !important;
  padding: 2px 0;
}
.margin-right-1 {
  margin-right: 2px !important;
}
.full-screen-background {
  position: relative;
}
@media only screen and (min-height: 850px) {
  .full-screen-background {
    height: 100vh;
    width: 100%;
    margin-top: -64px;
  }
}
.full-screen-background:before {
  background-color: #000000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
.full-screen-background.home {
  background: url('../../Images/backgrounds/GettyImages-485777510.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen-background.login {
  background: url('../../Images/backgrounds/GettyImages-485690812.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen-background.selectgrid {
  background: url('../../Images/backgrounds/GettyImages-TRACK_ASHTON.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen-background.observer {
  background: url('../../Images/backgrounds/GettyImages-485252442.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen-background.planning {
  background: url('../../Images/backgrounds/GettyImages-485253194.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-screen-background.bidding {
  background: url('../../Images/backgrounds/GettyImages-485690738.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-height: 850px) and (min-width: 860px) {
  .full-screen-background .selection-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
}
@media only screen and (max-height: 850px) and (min-width: 860px) {
  .full-screen-background .selection-grid {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 860px) {
  .full-screen-background .selection-grid {
    padding-top: 80px;
  }
}
.full-screen-background .grid-panel {
  box-sizing: border-box;
  background-color: #FFFFFF;
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 860px) {
  .full-screen-background .grid-panel {
    min-height: 270px;
    height: auto !important;
    height: 270px;
  }
}
.full-screen-background .grid-panel h2 {
  margin-bottom: 20px;
}
.full-screen-background .grid-panel p {
  display: block;
  color: #000026;
  font-size: 16px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.full-screen-background .grid-panel .btn.proceed {
  background-color: #ff2534;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  height: 40px;
  width: 40px;
}
.full-screen-background .grid-panel .btn.proceed > i {
  font-size: 20px;
  line-height: 40px;
}
.full-screen-background .note {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 30px;
  text-shadow: 0px 0px 10px #000000;
}
.full-screen-background .note:before {
  text-shadow: 0px 0px 0px transparent;
}
.full-screen-background .note:before {
  background-color: #ff2534;
  content: "";
  display: block;
  height: 7px;
  width: 66px;
  position: absolute;
  top: 0;
  left: 0;
}
.full-screen-background .note h3 {
  color: #FFFFFF;
}
.full-screen-background .note h3 a {
  color: #FFFFFF;
  text-decoration: underline;
}
.full-screen-background .note p {
  color: #FFFFFF;
  font-size: 16px;
}
.body-bg-height {
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}
body.history-page .full-screen-background {
  position: relative;
  background: url('../../Images/backgrounds/GettyImages-485777510.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}
body.Login-page .full-screen-background {
  position: relative;
  background: url('../../Images/backgrounds/GettyImages-485690812.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}
body.selectgrid {
  background: url('../../Images/backgrounds/GettyImages-TRACK_ASHTON.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.ObserverProgramme-page .full-screen-background {
  background: url('../../Images/backgrounds/GettyImages-485252442.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}
body.EventPlanning-page .full-screen-background {
  background: url('../../Images/backgrounds/GettyImages-485253194.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}
body.BiddingCandidature-page .full-screen-background,
body.AcceptRegulations-page .full-screen-background {
  background: url('../../Images/backgrounds/GettyImages-485690738.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}
.observer-programme-div {
  margin-top: 99px;
}
.history-heading {
  padding-top: 8em;
}
.history-grid-panel {
  border-bottom: 10px solid red;
  opacity: 0.9;
}
.article-title .fa-file {
  padding-top: 0.3em;
  padding-right: 0.4em;
  padding-left: 0.1em;
}
.article-title i:hover {
  color: #ff2534;
}
.article-title i {
  font-size: 1.4em;
}
/*Modal General*/
.modal-dialog {
  width: 100%;
}
.inputHeight {
  height: 20px;
}
/*Volunteers Per Area Table*/
.volunteer-area-modal {
  width: 80%;
}
.volunteer-area-modal .volunteers-area {
  border: 1px solid #CCCCCC;
}
.volunteer-area-modal .volunteers-area .header {
  background: none;
  border: none;
  border-right: 1px solid #CCCCCC;
}
.volunteer-area-modal .volunteers-area table {
  border-top: none !important;
  margin-bottom: 0;
}
.volunteer-area-modal .volunteers-area table tbody tr td {
  border-bottom: 1px solid #CCCCCC !important;
  padding: 0.5em;
  font-size: 0.9em;
}
.volunteer-area-modal .volunteers-area table tbody tr:last-child > td {
  border-bottom: none!important;
}
.volunteer-area-modal .volunteers-area .questions-header-title {
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #CCCCCC;
}
.volunteer-area-modal .volunteers-area .questions-header-title:last-child {
  border-right: none;
}
.volunteer-area-modal .volunteers-area .questions-item {
  border-bottom: 1px solid #000;
}
.volunteer-area-modal .volunteers-area .questions-item .form-group {
  display: inline;
}
.volunteer-area-modal .volunteers-area .anwser-list {
  text-align: center;
  border-right: 1px solid #CCCCCC;
}
.volunteer-area-modal .volunteers-area .anwser-list:last-child {
  border-right: none;
}
.volunteer-area-modal .volunteers-area .form-group label.table-results {
  border: none;
  padding: 0.1em;
  font-size: 1em;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: center;
}
/*Volunteer Area Chart*/
.volunteer-area-chart .modal-content {
  width: 80%;
  margin: 10% auto;
}
/*Staff Hired Table*/
.staff-hired-modal {
  width: 89%;
  margin: 0 auto;
}
.staff-hired-modal table.staffhired-table {
  overflow: visible;
  border-top: 1px solid #CCCCCC !important;
  border: 1px solid #CCCCCC;
  margin-bottom: 0;
}
.staff-hired-modal table.staffhired-table .tr-header {
  height: 36px;
}
.staff-hired-modal table.staffhired-table tbody .tr-header td {
  font-size: 1em;
  font-weight: bold;
  padding: 0.2em;
}
.staff-hired-modal table.staffhired-table tbody .tr-header td:first-child {
  padding: 0.2em 0.2em 0.2em 0.5em;
  border-right: 1px solid #CCCCCC;
}
.staff-hired-modal table.staffhired-table .tr-header td:not(:first-child) {
  border-right: 1px solid #CCCCCC;
  width: 22.5px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}
.staff-hired-modal table.staffhired-table .tr-header td:not(:first-child) label {
  margin-bottom: 0;
}
.staff-hired-modal table.staffhired-table .tb-row td:first-child {
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.5em;
  border-right: 1px solid #CCCCCC;
}
.staff-hired-modal table.staffhired-table .tb-row td:not(:first-child) {
  border-right: 1px solid #CCCCCC;
}
.staff-hired-modal table.staffhired-table .tb-row td:not(:first-child) label {
  margin-bottom: 0;
  text-align: center;
  padding-top: 0.2em;
  padding-right: 0.1em;
}
.staff-hired-modal table.staffhired-table .tb-row td:last-child {
  text-align: center;
}
.staff-hired-modal table.staffhired-table tbody tr td {
  /*border: none !important;*/
  border-bottom: 1px solid #CCCCCC !important;
  font-size: 0.9em;
  padding: 0;
}
.staff-hired-modal table.staffhired-table tbody tr td label {
  padding: 0;
}
.staff-hired-modal table.staffhired-table .table-results {
  font-size: 1em;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  margin-bottom: 0;
}
/*Staff Hired Chart*/
.staff-hired-chart .modal-content {
  width: 80%;
  margin: 5% auto;
}
/*Site Vist Summary Table*/
.site-visit-modal {
  width: 80%;
  margin: 5% auto;
}
.site-visit-modal .site-visit-summary {
  border: 1px solid #CCCCCC;
}
.site-visit-modal .questions-item-header {
  text-align: center;
}
.site-visit-modal .questions-header-title {
  font-weight: bold;
}
.site-visit-modal table {
  border-top: none !important;
  margin-bottom: 0;
}
.site-visit-modal table tbody tr td {
  border-bottom: none !important;
  padding: 0.2em;
  font-size: 1em;
}
.site-visit-modal .questions-item {
  border-top: 1px solid #CCCCCC;
}
.site-visit-modal .questions-item ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  min-height: 20px;
}
.site-visit-modal .questions-item .header {
  background: none;
  border: none;
  border-right: 1px solid #CCCCCC;
  height: inherit;
}
.site-visit-modal .questions-item .anwser-list {
  border-right: 1px solid #CCCCCC;
  height: inherit;
}
.site-visit-modal .questions-item .anwser-list .form-group {
  margin: 0;
}
.site-visit-modal .questions-item .anwser-list .form-group label {
  text-align: center;
}
.site-visit-modal .questions-item .anwser-list .form-group .table-results {
  padding: 0;
}
.site-visit-modal .questions-item .anwser-list:last-child {
  border-right: none;
}
.site-visit-modal .questions-item .table-results {
  border: none;
  box-shadow: none;
  font-size: 1em;
  text-align: center;
}
/*Carpool Table*/
.carpool-modal {
  width: 86%;
  margin: 5% auto;
}
.carpool-modal .events-table {
  font-size: 0.9em;
  width: 100%;
  margin: auto;
  border: 1px solid #CCCCCC !important;
}
.carpool-modal .events-table .header {
  background: none;
  border: none;
  border-right: 1px solid #CCCCCC;
  height: inherit;
  font-weight: bold;
}
.carpool-modal table tbody tr td {
  border-bottom: 1px solid #CCCCCC !important;
}
.carpool-modal .questions-item-header .questions-header-title {
  border-right: 1px solid #CCCCCC !important;
}
.carpool-modal .questions-item .anwser-list {
  border-right: 1px solid #CCCCCC !important;
}
.carpool-modal .table-results td {
  border-right: 1px solid #CCCCCC !important;
}
/*Carpool Chart*/
.carpool-chart .modal-content {
  width: 80%;
  margin: 5% auto;
}
/*Transportation per Client Group*/
.transportation-report-modal {
  width: 80%;
  margin: 8% auto;
}
.transportation-report-modal .transportation-report {
  border: 1px solid #CCCCCC;
}
.transportation-report-modal .transportation-report table {
  border-top: none !important;
  margin-bottom: 0;
}
.transportation-report-modal .transportation-report table tbody tr td {
  border-bottom: 1px solid #cccccc !important;
  padding: 0.2em;
  font-size: 1em;
}
.transportation-report-modal .transportation-report table tbody tr:last-child td {
  border-bottom: none !important;
}
.transportation-report-modal .transportation-report tr:last-child > td:last-child {
  border-right: 1px solid #CCCCCC;
}
.transportation-report-modal .transportation-report .questions-item {
  /*border-top: 1px solid #CCCCCC;*/
}
.transportation-report-modal .transportation-report .questions-item .header {
  background: transparent;
  color: #000;
  border: none;
  border-right: 1px solid #CCCCCC;
}
.transportation-report-modal .transportation-report .questions-header-title {
  font-size: 1em;
  font-weight: bold;
  border-right: 1px solid #CCCCCC;
  text-align: center;
}
.transportation-report-modal .transportation-report .questions-header-title:last-child {
  border-right: none;
}
.transportation-report-modal .transportation-report .form-group label.table-results {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  font-weight: bold;
}
.transportation-report-modal .transportation-report .inputHeight {
  height: 20px;
}
.transportation-report-modal .transportation-report .anwser-list {
  border-right: 1px solid #CCCCCC;
}
.transportation-report-modal .transportation-report .anwser-list label {
  font-weight: normal;
}
.transportation-report-modal .transportation-report .anwser-list:last-child {
  border-right: none;
}
/*Acommodation Table*/
.accommodation-modal {
  width: 80%;
  font-size: 0.9em;
}
.accommodation-modal table {
  border-top: 1px solid #CCCCCC !important;
}
.accommodation-modal .accommodation-table {
  border: 1px solid #CCCCCC;
}
.accommodation-modal .questions-item .header {
  background: transparent;
  color: #000;
  border: none;
  border-right: 1px solid #CCCCCC;
  font-size: 0.9em;
  font-weight: bold;
}
.accommodation-modal table tbody tr td {
  border-bottom: 1px solid #CCCCCC !important;
  padding: 0.3em;
  vertical-align: middle;
}
.accommodation-modal .questions-header-title {
  font-weight: bold;
  font-size: 0.9em;
}
.accommodation-modal .questions-header-title,
.accommodation-modal .anwser-list {
  border-right: 1px solid #CCCCCC;
  text-align: center;
}
.accommodation-modal .questions-header-title:first-child {
  text-align: left;
}
.accommodation-modal .questions-header-title:last-child,
.accommodation-modal .anwser-list:last-child {
  border-right: none;
}
.accommodation-modal .anwser-list {
  font-size: 1em;
}
.accommodation-modal .anwser-list label.table-results {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.9em;
  font-weight: bold;
}