﻿/*body {visibility:hidden;}
.print {visibility:visible; display: block; font-size: 13px;}*/

/*.navnar, .article-tools, .related-article-tags, .thumbnail, .related-articles {display: none;}*/

body {
    padding-top: 0;
}

a[href]:after {
    display: none;
}

.articles + .briefing {
    display: none;
}