﻿@import "_custom-library";

@depth: 40px;

@alt: #e6e6e6;
@black: #000000;
@grey: #333333;
@link: #337ab7;
@link_hover: #23527c;
@white: #FFFFFF;
@bgc: #CCCCCC;
@bgc_alt: #DDDDDD;
@lightgrey: #999999;
@midgrey: #666666;
@middgrey: #555555;
@midlgrey: #888888;
@dkgrey: #222222;
@topicsgrey: #cfd7d9;
@red: #FF0000;
@green: #008000;

@headerbottomborder: #33434c;

@search: #eeeeee;
@search_alt: #d2d7dc;

@article: @lightgrey;
@group: @lightgrey;
@video: @lightgrey;
@document: @lightgrey;
@news: @lightgrey;

/* VWCV */
@vwcv: #00b1eb;
@vwcv_alt: #bac900;
@vwcv_alt_alt: #f7a600;
/* VWCV */

/* VW */
@vw: #0055a4;
@vw_alt: #0055a4;
/* VW */

/* SEAT */
@seat: #c62831;
@seat_alt: #c62831;
/* SEAT */

/* SKODA */
@skoda: #42b74c;
@skoda_alt: #42b74c;
/* SKODA */

/* AUDI */
@audi: #222222;
@audi_alt: #b3123a;
@audi_bg: #f0f2f3;
/* AUDI */



/*media queries*/
@_mobile: 480px;
@_tablet: 768px;
@_tablet_desktop: 860px;
@_desktop: 1000px;
@_fullwidth: 1200px;
/*media queries*/



@stolzreg: brandfont5, sans-serif;
@stolzmed: brandfont6, sans-serif;

@OpenSans: OpenSans, sans-serif;
@FontAwesome: FontAwesome;

/*temp*/

.favcount,
.readinglistcount {
    &[data-count] {
        &:after {
            content:attr(data-count);
        }
    }
}

.form-control-feedback {
    line-height: @depth+5;
    height: @depth+5;
}

.search {
    padding: 0;
    .form-control {
        background-color: transparent;
        border-width: 0;
        color: @grey;
        font-size: 18px;
        height: @depth+2;
        padding-bottom: @depth/4;
        padding-left: @depth/2-5;
        padding-top: @depth/4;
        .border_radius(0);
        .box_shadow(transparent);
        .text_shadow(transparent);
    }
    .form-group {
        margin-bottom: 0;
    }
}

.more-tags {
    padding: 0;
    .btn-group {
        padding: 0;
    }
    .btn {
        display:table;
        margin-right: @depth/8;
        white-space: normal;
        i {
            padding-right: @depth/4;
        }
        i,
        span {
            float:none;
            display: table-cell;
            vertical-align: middle;
        }
        @media only screen and (max-width: @_mobile) {
            padding: @depth/8 @depth/4;
            i {
                padding-right: @depth/8;
            }   
            span {
                font-size: 1.5rem;
                line-height: 1.7rem;
                text-align: center;
                white-space: normal;
            }
        }
    }
}

.navbar-item {
    &.section {
        font-family: @stolzmed;
    }
}

#collapseMain,
#collapseSub {
    margin-top:1px;
    button {
        display:block;
        width:100%;
    }
}


.modal {
    .modal-dialog {
        .modal-content {
            border-width: 0;
            .border_radius(0);
            .box_shadow(rgba(0, 0, 0, 0.25));
            .modal-header,
            .modal-body,
            .modal-footer {
                border-bottom-width: 0;
                border-top-width: 0;
                padding: @depth - 10;
            }
            .modal-body {
                height: auto;
                overflow: hidden;
                padding-top: 0;
                & > .btn {
                    &.btn-default {
                        float: left;
                        margin: 0 @depth/8 @depth/8 0;
                    }
                }
            }
            .modal-title {
                line-height: 1;
            }
        }
        &.modal-topics {
            width: 100%;
            max-width: @_desktop;
        }
    }
}

.fv-tools-article {
    [data-favourite] {
        &[data-favourite="true"] {
            &:before {
                content: "Remove from favourites";
            }
        }
        &[data-favourite="false"] {
            &:before {
                content: "Add to favourites";
            }
        }
        &.no-text {
            &:before {
                content: "" !important;
            }
        }
    }
}



.ui-datepicker {
    background-color: @white;
    font-family: @stolzmed;
    width: 100% !important;
    margin-top: @depth/2;
    max-width: @depth*9;
    z-index: 10000 !important;
    .box_shadow(@lightgrey);
    &.ui-widget-content {
        border-color: @black;
        padding: @depth/2;
    }
    .border_radius(0) !important;
    .ui-datepicker-header {
        background-image: none;
        background-color: @white;
        border-width: 0;
        border: 1px solid @black;
        border-bottom-width: 0;
        margin: 0 auto;
        .border_radius(0);
        .ui-datepicker-title {
            font-size: 18px;
            font-family: @stolzmed;
        }
        .ui-datepicker-next,
        .ui-datepicker-prev {
            .border_radius(0) !important;
            cursor: pointer;
            top: 0;
            height: @depth;
            width: @depth;
            span {
                color: @black;
                font-size: 16px;
                font-weight: 100 !important;
                background: none;
                display: block;
                margin: 0 auto;
                position: relative;
                top: 0;
                left: 0;
                height: @depth;
                line-height: @depth;
                right: auto;
                text-align: center;
                text-indent: 0;
                width: 100%;
                &:before {
                    content:"";
                    font-family: @FontAwesome;
                }
            }
            &:hover {
                background-color: transparent;
                border-width: 0;
                font-size: 16px;
                span {
                    color: @bgc_alt !important;
                }
            }
        }
        .ui-datepicker-next {
            right: 0;
            span {
                &:before {
                    content:"\f054";
                }              
            }
        }
        .ui-datepicker-prev {
            left: 0;
            span {
                &:before {
                    content:"\f053";
                }
            }
        }
    }
    .ui-datepicker-calendar {
        border: 1px solid @black;
        font-family: @stolzmed;
        margin: 0;
        tr {
            background-color: @bgc_alt;
             td {
                text-align: center;     
                padding :0;
                background-image: none;
                background-color: lighten(@bgc_alt, 10%);
                .opacity(100, 1);
                .ui-state-active, ui-state-highlight {
                    background-color: @bgc_alt;
                    color: @black;
                    border-color: @black;
                }
                a {
                    text-align: center;
                }
            }
        }
        thead {
            tr {
                background-color: @black;
                color: @white;
                th {
                  background-color: @black;
                  color: @white;
                }
            }
        }
        tbody {
            tr {
                td {
                    background-image: none !important;
                    border: 1px solid @black;
                    &:first-child {
                        border-left-width: 0;
                    }
                    &.ui-datepicker-unselectable {
                        border-width: 0;
                    }
                    a {
                         background-image: none !important;
                        border-width: 0;
                    }
                    .ui-state-default{
                        background-image: none;
                        background-color: @white;
                        color: @black;
                        border-color: @black;

                        &:hover{
                         background-image: none;
                            color: @bgc;
                        }
                    }
                    .ui-state-highlight{
                         background-image: none;
                         background-color: @bgc_alt;
                         color: @black;                     
                    }
                    .ui-state-active {
                        background-image: none;
                        background-color: @black;
                        color: @white;
                        &:hover{
                         background-image: none;
                            color: @bgc;
                        }
                    }
                }
                &:first-child {
                    td {
                        border-top-width: 0;
                    }
                }
                &:last-child {
                    td {
                        border-bottom-width: 0;
                    }
                }
            }
        }
    }
}


/*profile*/
.page-header {
    .profile-info {
        .profile-inner {
            background-color: @white;
            padding: @depth/2-5 @depth/2;
        }
    }
}


                                         
.alert {
    .border_radius(0);
    .box_shadow(transparent);
    .headline {
        font-size: 18px;
        font-family: @stolzmed;
    }
    button {
        .opacity(100, 1);
        i {
            color: @white;
            .text_shadow (transparent);
            
        }
    }
    &.alert-success {
        .close{
            font-size: 16px;
        }
    }
    &.alert-danger {
        background-color: @red;
    }
}


                    









