﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateX CSS transformation, default x at 0px */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* VWCV */
/* VWCV */
/* VW */
/* VW */
/* SEAT */
/* SEAT */
/* SKODA */
/* SKODA */
/* AUDI */
/* AUDI */
/*media queries*/
/*media queries*/
/*temp*/
.favcount[data-count]:after,
.readinglistcount[data-count]:after {
  content: attr(data-count);
}
.form-control-feedback {
  line-height: 45px;
  height: 45px;
}
.search {
  padding: 0;
}
.search .form-control {
  background-color: transparent;
  border-width: 0;
  color: #333333;
  font-size: 18px;
  height: 42px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
  text-shadow: 0px 0px 10px transparent;
}
.search .form-control:before {
  text-shadow: 0px 0px 0px transparent;
}
.search .form-group {
  margin-bottom: 0;
}
.more-tags {
  padding: 0;
}
.more-tags .btn-group {
  padding: 0;
}
.more-tags .btn {
  display: table;
  margin-right: 5px;
  white-space: normal;
}
.more-tags .btn i {
  padding-right: 10px;
}
.more-tags .btn i,
.more-tags .btn span {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  .more-tags .btn {
    padding: 5px 10px;
  }
  .more-tags .btn i {
    padding-right: 5px;
  }
  .more-tags .btn span {
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
    white-space: normal;
  }
}
.navbar-item.section {
  font-family: brandfont6, sans-serif;
}
#collapseMain,
#collapseSub {
  margin-top: 1px;
}
#collapseMain button,
#collapseSub button {
  display: block;
  width: 100%;
}
.modal .modal-dialog .modal-content {
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
}
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-body,
.modal .modal-dialog .modal-content .modal-footer {
  border-bottom-width: 0;
  border-top-width: 0;
  padding: 30px;
}
.modal .modal-dialog .modal-content .modal-body {
  height: auto;
  overflow: hidden;
  padding-top: 0;
}
.modal .modal-dialog .modal-content .modal-body > .btn.btn-default {
  float: left;
  margin: 0 5px 5px 0;
}
.modal .modal-dialog .modal-content .modal-title {
  line-height: 1;
}
.modal .modal-dialog.modal-topics {
  width: 100%;
  max-width: 1000px;
}
.fv-tools-article [data-favourite][data-favourite="true"]:before {
  content: "Remove from favourites";
}
.fv-tools-article [data-favourite][data-favourite="false"]:before {
  content: "Add to favourites";
}
.fv-tools-article [data-favourite].no-text:before {
  content: "" !important;
}
.ui-datepicker {
  background-color: #ffffff;
  font-family: brandfont6, sans-serif;
  width: 100% !important;
  margin-top: 20px;
  max-width: 360px;
  z-index: 10000 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px #999999;
  -moz-box-shadow: 1px 5px 20px #999999;
  box-shadow: 1px 5px 20px #999999;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.ui-datepicker.ui-widget-content {
  border-color: #000000;
  padding: 20px;
}
.ui-datepicker .ui-datepicker-header {
  background-image: none;
  background-color: #ffffff;
  border-width: 0;
  border: 1px solid #000000;
  border-bottom-width: 0;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  font-size: 18px;
  font-family: brandfont6, sans-serif;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  cursor: pointer;
  top: 0;
  height: 40px;
  width: 40px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
  color: #000000;
  font-size: 16px;
  font-weight: 100 !important;
  background: none;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  right: auto;
  text-align: center;
  text-indent: 0;
  width: 100%;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span:before,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span:before {
  content: "";
  font-family: FontAwesome;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
  background-color: transparent;
  border-width: 0;
  font-size: 16px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover span {
  color: #dddddd !important;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span:before {
  content: "\f054";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span:before {
  content: "\f053";
}
.ui-datepicker .ui-datepicker-calendar {
  border: 1px solid #000000;
  font-family: brandfont6, sans-serif;
  margin: 0;
}
.ui-datepicker .ui-datepicker-calendar tr {
  background-color: #dddddd;
}
.ui-datepicker .ui-datepicker-calendar tr td {
  text-align: center;
  padding: 0;
  background-image: none;
  background-color: #f7f7f7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.ui-datepicker .ui-datepicker-calendar tr td .ui-state-active,
.ui-datepicker .ui-datepicker-calendar tr td ui-state-highlight {
  background-color: #dddddd;
  color: #000000;
  border-color: #000000;
}
.ui-datepicker .ui-datepicker-calendar tr td a {
  text-align: center;
}
.ui-datepicker .ui-datepicker-calendar thead tr {
  background-color: #000000;
  color: #ffffff;
}
.ui-datepicker .ui-datepicker-calendar thead tr th {
  background-color: #000000;
  color: #ffffff;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td {
  background-image: none !important;
  border: 1px solid #000000;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td:first-child {
  border-left-width: 0;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable {
  border-width: 0;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td a {
  background-image: none !important;
  border-width: 0;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td .ui-state-default {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td .ui-state-default:hover {
  background-image: none;
  color: #cccccc;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td .ui-state-highlight {
  background-image: none;
  background-color: #dddddd;
  color: #000000;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td .ui-state-active {
  background-image: none;
  background-color: #000000;
  color: #ffffff;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td .ui-state-active:hover {
  background-image: none;
  color: #cccccc;
}
.ui-datepicker .ui-datepicker-calendar tbody tr:first-child td {
  border-top-width: 0;
}
.ui-datepicker .ui-datepicker-calendar tbody tr:last-child td {
  border-bottom-width: 0;
}
/*profile*/
.page-header .profile-info .profile-inner {
  background-color: #ffffff;
  padding: 15px 20px;
}
.alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.alert .headline {
  font-size: 18px;
  font-family: brandfont6, sans-serif;
}
.alert button {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.alert button i {
  color: #ffffff;
  text-shadow: 0px 0px 10px transparent;
}
.alert button i:before {
  text-shadow: 0px 0px 0px transparent;
}
.alert.alert-success .close {
  font-size: 16px;
}
.alert.alert-danger {
  background-color: #ff0000;
}
