﻿.list-unstyled {
    .form-group {
        clear: both;
    }
}
#areasul {
    padding: 0;

    #ddlArea {
        padding: 10px 10px;
        width: 100%;
        max-width: 550px;
    }
}
#divQuestion {
    padding: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 20px;

    #questionul {
        padding-left: 40px;
        margin-top: 10px;
        display: inline-block;
    }
}
#events {
    padding-left: 30px;
    display: inline-block;
    margin-top: 10px;
}
#divYear {
    display: inline-block;

    #yearsul {
        padding-left: 40px;
        margin-top: 10px;
        display: inline-block;
    }
}
#tbRecords {
    margin-top: 20px;
}
#yearsul {
    .fieldset-border {
        padding: 10px 20px;
        border: 1px solid silver;

        legend {
            display: inline;
            width: auto;
            border-bottom: none;
            padding: 0 10px;
        }
    }
}


    .list-area-item {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
            }
        }
    }
