﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //    Layout = "~/Views/Shared/_LayoutSideMenu.cshtml";
}
        <div class="row selection-grid">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1 class="alternate text-capitalize">
                            Knowledge Centre
                        </h1>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                        <div class="grid-panel">
                            @using (Html.BeginForm("Login", "User", FormMethod.Post))
                            {
                                <div class="modal-body">

                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <p class="alert-error">@ViewBag.ErrorMessage</p>
                                    }

                                    <div class="form-group">
                                        <label for="email">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Username..." />
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password..." />
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="rememberMe" name="rememberMe" placeholder="Remember..." class="form-check-input" value="true" />
                                            Remember me
                                        </label>
                                    </div>

                                    <div class="form-group _mobileHide">
                                        <p>
                                            Warning: this can be a security issue if your computer is shared or can be accessed by other people.
                                        </p>
                                    </div>

                                    <div class="row">
                                        <input type="submit" id="login" name="login" value="Login" class="btn btn-primary btn-lg" />
                                    </div>

                                    <div class="row offset-top-10">
                                        <a href="#" id="passwordReset" name="passwordReset">Forgotten password?</a>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>

           

        </div>



  




    <div class="modal fade" id="passwordResetModal" role="dialog">

        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Password reset</h3>
                </div>
                <div class="modal-body">
                    <p>If you have forgotten your password then enter your email address below, select "Reset Password" and a new password will be sent to your inbox.</p>
                    <div class="form-group">
                        <span id="passwordResetRequestResponse" class="hide"></span>
                        <div class="clearfix"></div>
                        <label for="email">Email Address</label>
                        <input type="text" id="passwordResetEmailAddress" placeholder="email address..." class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default btn-lg" id="closePasswordResetModal">
                        Close
                    </a>
                    <a href="#" class="btn btn-primary btn-lg" id="requestPasswordReset">
                        Reset Password
                    </a>
                </div>

            </div>
        </div>

    </div>

    @if (!string.IsNullOrWhiteSpace(ViewBag.PasswordResetTicketKey))
    {
        <div class="modal" id="passwordResetCompleteModal" role="dialog">

            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Password reset</h3>
                    </div>
                    <div class="modal-body">
                        @if (ViewBag.PasswordResetTicketHasTimedOut != null)
                        {
                            <br />
                            <h4>Your password reset ticket has expired. </h4>
                            <p>You have 30 minutes from requesting a reset, to check your emails, follow the link, change your password and complete the process.</p>
                        }
                        else
                        {
                            <p>You have requested to reset your password. Please enter and confirm the password you wish to use with your account and select confirm reset</p>
                            <span id="passwordResetCompleteResponse" class="hide"></span>
                            <div class="field">
                                <label>New Password</label>
                                <input type="password" id="passwordResetNewPassword" placeholder="new password..." />
                            </div>
                            <div class="field">
                                <label>Confirm New Password</label>
                                <input type="password" id="passwordResetNewPasswordConfirmation" placeholder="confirm new password..." />
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        @if (!string.IsNullOrWhiteSpace(ViewBag.PasswordResetTicketKey) && ViewBag.PasswordResetTicketHasTimedOut == null)
                        {
                            <a href="#" class="btn btn-default" id="completePasswordReset">Save Password</a>
                        }
                        <a href="#" class="btn btn-default" id="closePasswordResetCompleteModal">Close</a>
                    </div>

                </div>
            </div>

        </div>
        <input type="hidden" id="passwordResetTicketKey" value="@ViewBag.PasswordResetTicketKey" />
    }










<script type="text/javascript">

    require(["app/login"]); //load login

</script>