﻿@using CMS.Helpers
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Data.Model;
@using ITOK.Core.Services.Security
<!DOCTYPE html>
<html>
<head>


    <title>@ViewBag.Title</title>


    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css' />


    @* script(s) *@
    <script src="@Url.CdnContent("~/Assets/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/jquery.jqote.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/knockout.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/scripts/jquery-ui-1.11.4.min.js")" type="text/javascript"></script>
    @* script(s) *@


    @* stylesheet(s) *@
    <link href="@Url.CdnContent("~/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.CdnContent("~/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css")" rel="stylesheet" />
    <link href="@Url.CdnContent("~/Assets/Styles/font-awesome/font-awesome-4.5.0/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.CdnContent("~/Assets/Styles/custom/custom.css")" rel="stylesheet" />
    <link href="@Url.CdnContent("~/Assets/Styles/custom/temp.css")" rel="stylesheet" />
    <link href="@Url.CdnContent("~/Assets/Styles/custom/dashboard.css")" rel="stylesheet" />
    <link href="@Url.CdnContent("~/scripts/jquery-ui-1.11.4.min.css")" rel="stylesheet" />
    @* stylesheet(s) *@


    <script src="@Url.CdnContent("~/Scripts/Edit.js")" type="text/javascript"></script>
    
  
    @{
      //  Html.EnableClientValidation();
    }


    @RenderSection("Head", false)


    @* Script and Style registrars to help us manage component dependencies *@
    @Html.RenderScripts()
    @Html.RenderStyles()
    @* Script and Style registrars to help us manage component dependencies *@


    @{
        var activeUser = MembershipHelper.GetActiveUser();
    }


</head>
<body class="@GlobalVariables.CurrentBrand">

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                   <img src="~/Assets/Images/iaaf-mobile.png" alt="CMS logo" class="cmslogo" />
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                @{ Html.RenderPartial("Menu"); }
                @*<ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["Siteurl"]" target="_blank">
                            View Site
                        </a>
                    </li>
                </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    @*<li>
                        <a href="#">
                            Help
                        </a>
                    </li>*@
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> @LiveUser.Get().Forename @LiveUser.Get().Surname  <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                           


                            <li class="divider"></li>
                            <li>@Html.ActionLink("Sign Out", "Logout", "User")</li>
                        </ul>
                    </li>
                </ul>
                @*<form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>*@
            </div>

        </div>

    </nav>




    <div class="clearfix"></div>











    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-3 col-md-2 col-xs-2 sidebar">
                <ul class="nav nav-sidebar sidebar-action-sec">
                    @RenderSection("SideBar", false)
                </ul>
                @RenderSection("SubSideBar", false)
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-xs-10 col-md-offset-2 main">
                @RenderBody()
            </div>

        </div>

    </div>

    

    










    @* Frameworks *@
    <script src="@Url.CdnContent("~/Assets/Scripts/app/jquery.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/app/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/app/knockout.js")" type="text/javascript"></script>
    @* Frameworks *@




    <script type="text/javascript">
        //$(".table-responsive").on("scroll", function (e) {
        //    $(".clone").css({ "left": $(this).scrollLeft() });
        //})
        //$(".clone").css({ "left": 20 });
        //jQuery(document).ready(function () {
        //    jQuery(".staffhired-table").clone(true).appendTo('.table-responsive').addClass('clone');
        //});

    

    </script>



</body>
</html>
