﻿@using ITOK.Core.Data.Model
@model IList<Media>

@if (Model != null && Model.Count != 0)
{
    foreach (var articleMedia in Model)
    {
        <text>@{Html.RenderPartial("EditMediaItem", articleMedia);}</text>
    }
}
else
{
    <li class="no-results">Empty</li>
}