﻿
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar

<ul class="nav navbar-nav navbar-left">
    <li>
        @* <i class='fa fa-home'></i>  *@
        @Html.ActionLink("Home", "Index", "Home")
    </li>

    @if (LiveUser.CanDoAny(Permission.EditMedia))
    {

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Media
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Media", "Index", "Media")</li>

                    @*<li>@Html.ActionLink("Galleries", "Index", "MediaGallery")</li>*@

            </ul>
        </li>
    }
    







@if (LiveUser.CanDoAny(Permission.EditTags, Permission.EditUsers))
{

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
@if (LiveUser.CanDoAny(Permission.EditTags))
{
                    <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
}
@if (LiveUser.CanDoAny(Permission.EditUsers))
{

                <li>@Html.ActionLink("Users", "Index", "User")</li>
}

            </ul>
        </li>
}


</ul>


