﻿@using CMS.Models
@using ITOK.Core.Common.Config
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar

@model VersionHistoryModel

<div class="well sidebar-nav">
    <ul class="nav nav-list" id="versionHistory">
        <li class="nav-header">History</li>
        @if (Model.VersionHistory != null && Model.VersionHistory.Count != 0)
        {
            foreach (var version in Model.VersionHistory)
            {
                <li class="version-item">
                    <div class="details">
                        <strong>@version.ModifiedBy.Forename @version.ModifiedBy.Surname</strong>
                        @switch (version.RecordType)
                        {
                            case VersionRecordType.Update:
                                @:updated
                                break;
                            case VersionRecordType.Delete:
                                @:deleted
                                break;
                        }
                        this @Model.EntityName.ToLower() at <strong>@version.ModifiedOn.ToString("H:mm")</strong> on <strong>@version.ModifiedOn.ToString("dd MMM")</strong>:
                    </div>
                    <p class="comment">
                        @if (!string.IsNullOrEmpty(version.Comment))
                        {
                            @:" @version.Comment "
                        }
                        else
                        {
                            @:" No Comment... "
                        }
                    </p>

                        <a href="@(Model.RevertUrl)?versionId=@(version.Id)" class="revert">
                            <i class="icon-refresh" title="Revert to this version"></i> Revert
                        </a>

                </li>
            }
        }
        else
        {
            <li class="faded">No history yet...</li>
        }
    </ul>
</div>