﻿@model ITOK.Core.Data.Model.Article
@{
    ViewBag.Title = "Article Stats";
}

@section SideBar
{
    <li class="nav-header">
        <a href="/Article/Edit/@Model.Id">Back to article</a>
    </li>
}
<style>
    .minordetail {
        font-size: 1.1em;
    }
    .isloading-overlay
    {
        min-height: 100px;
        height: 100% !important;
        text-align:center;
    }
    .module{
        border: solid 1px gainsboro;
        border-radius: 10px;
        margin-top: 5px;
        padding: 5px;
    }
    .module-tall{
        min-height: 300px;
    }
    .iconspin{
        background-image: url("../../Content/Images/loader.gif");
    }
    .module h3{
        position:relative;
        top: -20px;
        border: solid 1px silver;
        background-color: #e9e9ea;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 70%;
        border-radius: 5px;
    }
    table.pageInformation tr th {
        font-weight: bold;
        background-color: gainsboro;
        padding: 15px;
    }

    table.pageInformation tr td {
        padding: 15px;
    }

    table.pageInformation {
        border: solid 1px silver;
    }

    .fakeTab {
        border: solid 1px silver;
    }
    .gaDataTable
    {
        padding: 5px;
    }
    .gaDataTable tr:nth-child(even)
    {
        background-color: aliceblue;
    }
    .gaDataTable th{
        padding: 10px;
        font-size: 1.1em;
    }
    .gaDataTable td{
        padding: 10px;
    }
</style>
<script src="~/Scripts/jquery.isloading.js"></script>

<script>
    (function (w, d, s, g, js, fs) {
        g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
        js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
        js.src = 'https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
    }(window, document, 'script'));
</script>

<div class="col-md-12" >
    <div class="col-md-4">
        <div id="embed-api-auth-container"></div>
        <div id="view-selector-container" style="visibility:hidden"></div>
        <h2><span id="spnDateRange">Showing Last 7 Days</span></h2>
    </div>
    <div class="col-md-8" style="text-align:right">
        <div><b>Change</b></div>
        <div style="float:right">

            <select id="selectedDateRange" class="form-control">
                <option value="Yesterday">Last 24 hours</option>
                <option value="7DaysAgo">Last 7 days</option>
                <option value="14DaysAgo">Last 14 days</option>
            </select>


            <select id="controlledViewSelector" class="form-control" style="width: 350px">
                <option value="ga:121081533">Desktop 2016</option>
                @*<option value="ga:89720233">CSC Parameters (all)</option>
                <option value="ga:89721108">Finance Parameters (all)</option>
                <option value="ga:89717447">Master Parameters (all) </option>
                <option value="ga:89711282">Master User ID</option>
                <option value="ga:89716261">Paint and Body Parameters (all)</option>
                <option value="ga:89717652">Seat Parameters (all)</option>
                <option value="ga:89718438">VW Parameters (all)</option>
                <option value="ga:89717654">VWCV Parameters (all)</option>*@
            </select>
        </div>





    </div>
</div>
@if (!string.IsNullOrEmpty(ViewBag.errorMsg))
{
    <p>ERROR: @ViewBag.errorMsg</p>
}
@if (Model != null && !string.IsNullOrEmpty(Model.Id))
{
    <div class="col-md-12">
        <h2>Statistics for: @Model.Title (@Model.BrandArticleNumber)</h2>
        <p><b>Please note some stats may take up to 24 hours to display</b></p>
        <div class="col-md-12">
            <div class="module" id="divArticleEvents">
                <div id="divArticleEventsLoad"></div>
                <table id="tblArticleEvents" width="100%" style="border: 1px solid silver">
                    <tr>
                        <th>Favourite</th>
                        <th>Printed</th>
                        <th>ReadingList</th>
                        <th>Got It Y/N</th>
                        <th>Read 25%</th>
                        <th>Read 50%</th>
                        <th>Read 75%</th>
                        <th>Read 100%</th>
                    </tr>
                    <tr>
                        <td><span id="spAE_Favourite"></span></td>
                        <td><span id="spAE_Printed"></span></td>
                        <td><span id="spAE_ReadingList"></span></td>
                        <td><span id="spAE_GotItYes"></span> / <span id="spAE_GotItNo"></span></td>
                        <td><span id="spAE_Scroll25"></span></td>
                        <td><span id="spAE_Scroll50"></span></td>
                        <td><span id="spAE_Scroll75"></span></td>
                        <td><span id="spAE_Scroll100"></span></td>
                    </tr>
                </table>
            </div>
            <div id="articleEvents-container" class="module" style="display:none"></div>
           
        </div>
       
    </div>
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            
            <div class="module" id="divPageViewsByDay">
                <h3>Views per day</h3>
                <div id="pageViewsByDay-container" ></div>
            </div>
        </div>
        <div class="col-md-6">
            
            <div class="module module-tall" id="divPrimaryJobRoles">
                <h3>Breakdown by role</h3>
                <div id="primaryJobRole-container"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="module module-tall" id="divPrimaryJobRolesTable">
                <h3>Breakdown by role</h3>
                <table id="tblJobRoles" style="width:100%" class="gaDataTable">
                    <thead>
                        <tr>
                            <th width="70%">Job Role</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}

<script>
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    $("#divTraffic").hide();


    var startDate = "7daysAgo";

    function showDiv(whichDiv) {
        $("#divTime").hide();
        $("#divTraffic").hide();
        $("#div" + whichDiv).show();

        $("#liTime").removeClass("active");
        $("#liTraffic").removeClass("active");
        $("#li" + whichDiv).addClass("active");

    }
    gapi.analytics.ready(function () {
        gapi.analytics.auth.authorize({
            'serverAuth': {
                'access_token': '@ViewBag.Token'
            }
        });
        var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector-container'
        });

        // Render the view selector to the page.
        viewSelector.execute();
        if ('@ViewBag.urlSlug' != '') {
        var dataChartTraffic = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:date',
                'start-date': startDate,
                'end-date': 'yesterday'
            },
            chart: {
                container: 'traffic-container',
                type: 'LINE',
                options: {
                    width: '100%',
                    height: '210px'
                }
            }
        });

        //visitor Count
        var dataChartVisitors = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:users',
                dimensions: 'ga:usertype',
                'start-date': startDate,
                'end-date': 'yesterday',
                filters: 'ga:pagepathlevel1=~@ViewBag.urlSlug'
            },
            chart: {
                container: 'visitor-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });

        var dataChartArticleEvents = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:uniqueEvents',
                dimensions: 'ga:eventAction',
                'start-date': startDate,
                'end-date': 'yesterday',
                filters: 'ga:EventCategory==Article;ga:pagepath=~@ViewBag.urlSlug'
            },
            chart: {
                container: 'articleEvents-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });
        dataChartArticleEvents.on("success", function (response) {
            console.log("Article Events Loaded");
            console.log(response);
           

            var s = "";
            $("#spAE_Scroll25").html("N/A");
            $("#spAE_Scroll50").html("N/A");
            $("#spAE_Scroll75").html("N/A");
            $("#spAE_Scroll100").html("N/A");
            $("#spAE_Printed").html("N/A");
            $("#spAE_ReadingList").html("N/A");
            $("#spAE_Favourite").html("N/A");
            $("#spAE_GotItNo").html("N/A");
            $("#spAE_GotItYes").html("N/A");
            for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                switch (response.dataTable.getValue(i, 0))
                {
                    case "Scroll25":
                        $("#spAE_Scroll25").html(response.dataTable.getValue(i, 1));
                        break;
                    case "Scroll50":
                        $("#spAE_Scroll50").html(response.dataTable.getValue(i, 1));
                        break;
                    case "Scroll75":
                        $("#spAE_Scroll75").html(response.dataTable.getValue(i, 1));
                        break;
                    case "Scroll100":
                        $("#spAE_Scroll100").html(response.dataTable.getValue(i, 1));
                        break;
                    case "Print":
                        $("#spAE_Printed").html(response.dataTable.getValue(i, 1));
                        break;
                    case "AddToReadingList":
                        $("#spAE_ReadingList").html(response.dataTable.getValue(i, 1));
                        break;
                    case "Favourite":
                        $("#spAE_Favourite").html(response.dataTable.getValue(i, 1));
                        break;
                    case "GotItNo":
                        $("#spAE_GotItNo").html(response.dataTable.getValue(i, 1));
                        break;
                    case "GotItYes":
                        $("#spAE_GotItYes").html(response.dataTable.getValue(i, 1));
                        break;
                }
                
            }
            $('#divArticleEventsLoad').isLoading('hide')
            console.log(s);

        })


        var browserBreakdownChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:browser',
                'metrics': 'ga:sessions',
                'start-date': startDate,
                'end-date': 'yesterday',
                filters: 'ga:pagepath=~@ViewBag.urlSlug',
                'sort': '-ga:sessions',
                'max-results': '6'
            },
            chart: {
                type: 'TABLE',
                container: 'browser-breakdown-container',
                options: {
                    width: '100%'
                }
            }
        });

        var breakdownChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:date',
                'metrics': 'ga:sessions',
                'start-date': startDate,
                'end-date': 'yesterday'
            },
            chart: {
                type: 'LINE',
                container: 'breakdown-chart-container',
                options: {
                    width: '100%'
                }
            }
        });

        var realtime = new gapi.client.analytics.data.realtime.get({ 'ids': gaid, 'metrics': 'rt:activeUsers' });


            //page views
            var dataChartPageViews = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:pageviews',
                    dimensions: 'ga:pagePath',
                    'start-date': startDate,
                    'end-date': 'yesterday',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'pageView-container',
                    type: 'TABLE',
                    options: {
                        width: '100%'
                    }
                }
            });

            dataChartPageViews.on("success", function (response) {
                try {
                    $("#spnPageViewCount").text(response.dataTable.getValue(0, 1));
                 //   setTimeout("$('div#divPageViews').isLoading('hide')", 1500);
                }
                catch (e) {
                    $("#spnPageViewCount").text("0");
                }
               // $('div#divPageViews').isLoading('hide')
            })
                     

            var dataChartJobRoles = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:users',
                    dimensions: 'ga:dimension2',
                    'start-date': startDate,
                    'end-date': 'today',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'primaryJobRole-container',
                    type: 'PIE',
                    options: {
                        width: '100%'
                    }
                }
            });

            dataChartJobRoles.on("success", function (response) {
                console.log("Loading breakdown by job roles table");
                var tbody = $("table#tblJobRoles tbody");
                var s = "";
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    s += "<tr><td>" + response.dataTable.getValue(i, 0) + "</td>";
                    s += "<td>" + response.dataTable.getValue(i, 1) + "</td></tr>";
                }
                console.log(s);
                tbody.html(s);

                $('div#divPrimaryJobRoles').isLoading('hide')
                $('div#divPrimaryJobRolesTable').isLoading('hide')
            })

            var dataChartPageViewsByDay = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:pageviews',
                    dimensions: 'ga:date',
                    'start-date': startDate,
                    'end-date': 'yesterday',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'pageViewsByDay-container',
                    type: 'BAR',
                    options: {
                        width: '100%',
                        legend: {position: 'bottom'}
                    }
                }
            });

            dataChartPageViewsByDay.on("success", function (response) {
                $('div#divPageViewsByDay').isLoading('hide')
            })

        }
        var gaid;

        $("#controlledViewSelector").on('change', function (ids) {
            gaid = this.value;
            reloadAll(gaid);

        });
        function reloadTracking(gaid) {
            var options = { query: { ids: gaid } };
        }

        function turnOnLoading() {
            $("div#divVisitors").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#divTraffic").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#divArticleEventsLoad").isLoading({
                text: "Loading",
                position: "inside"
            });
            $("div#time-container").isLoading({
                text: "Loading",
                position: "inside"
            });
            $("div#divBrowser").isLoading({
                text: "Loading",
                position: "overlay"
            });

            $("div#divPrimaryJobRoles").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#divPrimaryJobRolesTable").isLoading({
                text: "Loading",
                position: "overlay"
            });
            
            $("div#divPageViewsByDay").isLoading({
                text: "Loading",
                position: "overlay"
            });

        }
        function reloadAll(gaid, dateRange) {

            startDate = dateRange;
            turnOnLoading();

            var options = { query: { ids: gaid } };

            dataChartArticleEvents.set(options).execute();
            dataChartPageViewsByDay.set(options).execute();
            setTimeout(function () { reloadTracking(gaid) }, 2000);
            setTimeout(function () { dataChartJobRoles.set(options).execute() }, 4000);


        }


        $(document).on("click", "#selectedDateRange", function (e) {
            reloadAll($("#controlledViewSelector").val(), $("#selectedDateRange").val());
            $("#spnDateRange").val($("#selectedDateRange").text())
        });
        reloadAll($("#controlledViewSelector").val(), $("#selectedDateRange").val());

    });

</script>


