﻿@model dynamic

@{
   
}

<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<div class="col-md-12 header" style="height:60px">
    <div class="col-md-4">
        <img src="~/Images/logo.png" height="40" />
    </div>
    <div class="col-md-8" style="float:right">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div style="float:left"><b>Change</b></div>
            <div style="float:left">
                <select id="controlledViewSelector" class="form-control" style="width: 350px">
                    <option value="ga:89720231">Audi Parameters (all)</option>
                    <option value="ga:89720233">CSC Parameters (all)</option>
                    <option value="ga:89721108">Finance Parameters (all)</option>
                    <option value="ga:89717447">Master Parameters (all) </option>
                    <option value="ga:89711282">Master User ID</option>
                    <option value="ga:89716261">Paint and Body Parameters (all)</option>
                    <option value="ga:89717652">Seat Parameters (all)</option>
                    <option value="ga:89718438">VW Parameters (all)</option>
                    <option value="ga:89717654">VWCV Parameters (all)</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">

            <div id="embed-api-auth-container"></div>
            <div id="view-selector-container" style="visibility:hidden"></div>
        </div>




    </div>
</div>
<div class="col-md-12">

    <div class="col-md-3">
        <div class="module" id="divVisitors">
            <h3>Visitors</h3>
            <div id="visitor-container" class="bigfact"></div>
            <div id="spnVisitorCount" class="minordetail"></div>
        </div>
        <div class="module" id="divTraffic">
            <h3>Traffic</h3>
            <div id="traffic-container"></div>
        </div>
        <div class="module" style="position:relative; height:500px" id="divBrowser">
            <h3>Browser Breakdown</h3>
            <div id="main-chart-container"></div>
            <div id="breakdown-chart-wrapper">
                <a href="#" onclick="javascript:slideBack();" class="backlink"><< Back</a>
                <div id="breakdown-chart-container">
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div id="time-container" class="module"></div>

        <div id="popular-container" class="module"></div>

        <div id="email-popular-container" class="module"></div>
    </div>
<div class="col-md-3">
    Right
</div>
    </div>


    <script>

    gapi.analytics.ready(function () {

        /**
         * Authorize the user immediately if the user has already granted access.
         * If no access has been created, render an authorize button inside the
         * element with the ID "embed-api-auth-container".
         */
        gapi.analytics.auth.authorize({
            container: 'embed-api-auth-container',
            clientid: '737911909835-pno1g5u0gdccv45g7u629slamn653q0n.apps.googleusercontent.com',
        });

         /**
         * Create a new ViewSelector instance to be rendered inside of an
         * element with the id "view-selector-container".
         */
        var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector-container'
        });

        // Render the view selector to the page.
        viewSelector.execute();


        /**
         * Create a new DataChart instance with the given query parameters
         * and Google chart options. It will be rendered inside an element
         * with the id "chart-container".
         */
        var dataChartTraffic = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:date',
                'start-date': '7daysAgo',
                'end-date': 'yesterday'
            },
            chart: {
                container: 'traffic-container',
                type: 'LINE',
                options: {
                    width: '100%'
                }
            }
        });


        var dataChartVisitors = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:users',
                dimensions: 'ga:usertype',
                'start-date': '7daysAgo',
                'end-date': 'yesterday',
                filters: 'ga:pagepathlevel1=@@audi'
            },
            chart: {
                container: 'visitor-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });

        var mainChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:browser',
                'metrics': 'ga:sessions',
                'sort': '-ga:sessions',
                'max-results': '6'
            },
            chart: {
                type: 'TABLE',
                container: 'main-chart-container',
                options: {
                    width: '100%'
                }
            }
        });

        var breakdownChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:date',
                'metrics': 'ga:sessions',
                'start-date': '7daysAgo',
                'end-date': 'yesterday'
            },
            chart: {
                type: 'LINE',
                container: 'breakdown-chart-container',
                options: {
                    width: '100%'
                }
            }
        });

        var mostPopularChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:pagePath',
                'metrics': 'ga:pageviews',
                'start-date': '7daysAgo',
                'end-date': 'yesterday',
                'sort': '-ga:pageviews',
                'max-results': '10',
                'filters': 'ga:pagePathLevel3=~[a-z]',
                'segment': 'gaid::srpeStZQRcCj4gmMJaTCcQ'
            },
            chart: {
                type: 'TABLE',
                container: 'popular-container',
                options: {
                    width: '100%'
                }
            }
        });

        var emailPopularChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:pagePath',
                'metrics': 'ga:pageviews',
                'start-date': '7daysAgo',
                'end-date': 'yesterday',
                'sort': '-ga:pageviews',
                'max-results': '10',
                'filters': 'ga:dimension16==email,ga:pagePathLevel3=~[a-z]',
                'segment': 'gaid::srpeStZQRcCj4gmMJaTCcQ'
            },
            chart: {
                type: 'TABLE',
                container: 'email-popular-container',
                options: {
                    width: '100%'
                }
            }
        });

        var realtime = new gapi.client.analytics.data.realtime.get({ 'ids': gaid, 'metrics': 'rt:activeUsers' });


        var timeChartTraffic = new gapi.analytics.googleCharts.DataChart({
            query: {
                'metrics': 'ga:users',
                'dimensions': 'ga:date,ga:hour',
                'start-date': '7daysAgo',
                'end-date': 'yesterday'
                //segment: 'gaid::xxxxx'
            },
            chart: {
                container: 'time-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });

        var gaid;
        var mainChartRowClickListener;

        /**
         * Render the dataChart on the page whenever a new view is selected.
         */
        //viewSelector.on('change', function (ids) {

        //    $("div#divVisitors").isLoading({
        //        text: "Loading",
        //        position: "overlay"
        //    });

        //    $("div#divTraffic").isLoading({
        //        text: "Loading",
        //        position: "overlay"
        //    });
        //    $("div#time-container").isLoading({
        //        text: "Loading",
        //        position: "inside"
        //    });

        //    $("div#divBrowser").isLoading({
        //        text: "Loading",
        //        position: "overlay"
        //    });

        //    var options = { query: { ids: ids } };
        //    dataChartTraffic.set(options).execute();
        //    dataChartVisitors.set(options).execute();


        //    if (mainChartRowClickListener) {
        //        google.visualization.events.removeListener(mainChartRowClickListener);
        //    }

        //    mainChart.set(options).execute();
        //    breakdownChart.set(options);

        //    // Only render the breakdown chart if a browser filter has been set.
        //    if (breakdownChart.get().query.filters) {
        //        breakdownChart.execute();
        //    }

        //    realtime.execute(function handleRTResponse(resultAsObject, resultAsJson) {
        //        $("#visitor-container").html(
        //            "<h1>" + resultAsObject.totalsForAllResults["rt:activeUsers"] + "</h1> real-time active users <br/>"
        //            );
        //      //  $('div#divVisitors').isLoading('hide')


        //    });

        //    timeChartTraffic.set(options).execute(function handleRTResponse(resultAsObject, resultAsJson) {

        //    });

        //});



        $("#controlledViewSelector").on('change', function (ids) {
            gaid = this.value;
            reloadAll(gaid);

        });

        function reloadAll(gaid)
        {
            $("div#divVisitors").isLoading({
                text: "Loading",
                position: "overlay"
            });

            $("div#divTraffic").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#time-container").isLoading({
                text: "Loading",
                position: "inside"
            });

            $("div#divBrowser").isLoading({
                text: "Loading",
                position: "overlay"
            });

            $("div#popular-container").isLoading({
                text: "Loading",
                position: "overlay"
            });

            $("div#email-popular-container").isLoading({
                text: "Loading",
                position: "overlay"
            });

            var options = { query: { ids: gaid } };
            dataChartTraffic.set(options).execute();
            dataChartVisitors.set(options).execute();
            mostPopularChart.set(options).execute();
            $('div#email-popular-container').html("");
            $('div#popular-container').html("");
            emailPopularChart.set(options).execute();

            if (mainChartRowClickListener) {
                google.visualization.events.removeListener(mainChartRowClickListener);
            }

            mainChart.set(options).execute();
            breakdownChart.set(options);

            // Only render the breakdown chart if a browser filter has been set.
            if (breakdownChart.get().query.filters) {
                breakdownChart.execute();
            }
            realtime = new gapi.client.analytics.data.realtime.get({ 'ids': gaid, 'metrics': 'rt:activeUsers' });
            realtime.execute(function handleRTResponse(resultAsObject, resultAsJson) {
                try{
                $("#visitor-container").html(
                    "<h1>" + resultAsObject.totalsForAllResults["rt:activeUsers"] + "</h1> real-time active users <br/>"
                    );
                    //  $('div#divVisitors').isLoading('hide')
                }catch (E)
                {
                    $("#visitor-container").html("Error");
                }


            });

            timeChartTraffic.set(options).execute(function handleRTResponse(resultAsObject, resultAsJson) {

            });


        }

        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        dataChartVisitors.on("success", function (response) {
            $('div#divVisitors').isLoading('hide')
        })
        dataChartTraffic.on("success", function (response) {
            $('div#divTraffic').isLoading('hide')
        })

        mostPopularChart.on("success", function (response) {
            $('div#popular-container').isLoading('hide')
            $("#popular-container").prepend("<h3>Popular pages</h3>")
            $('div#popular-container table.google-visualization-table-table tr').each(function () {
                $(this).find('td').each(function () {
                    //do your stuff, you can use $(this) to get current cell
                    if ($(this).html().indexOf("/") > -1)
                    {
                        var url = "https://desktop.ITOK.co.uk" + $(this).html();
                        $(this).html("<a href='" + url + "'>" + $(this).html() + "</a>")
                    }
                })
            })


        })

        emailPopularChart.on("success", function (response) {
            $('div#email-popular-container').isLoading('hide')
            $("#email-popular-container").prepend("<h3>Most popular from email campaigns</h3>")

            $('div#email-popular-container table.google-visualization-table-table tr').each(function () {
                $(this).find('td').each(function () {
                    //do your stuff, you can use $(this) to get current cell
                    if ($(this).html().indexOf("/") > -1) {
                        var url = "https://desktop.ITOK.co.uk" + $(this).html();
                        $(this).html("<a href='" + url + "'>" + $(this).html() + "</a>")
                    }
                })
            })


        })
        timeChartTraffic.on('success', function (response) {
            var dataTable = response.dataTable;
            var hour = dataTable.getValue(0, 0);
            var hourofday = dataTable.getValue(0, 1);
            var visitors = dataTable.getValue(0, 2);

            var dates = dataTable.getDistinctValues(0); //get distinct values

            //create table
            var table = document.createElement("table");
            table.className = "tableData";
            table.width = "100%";

            var trH = document.createElement("tr");
            trH.className = "trHeader";
            //create spare date header cell
            var tdH1 = document.createElement("td");
            var textH1 = document.createTextNode("Date");
            tdH1.appendChild(textH1);
            trH.appendChild(tdH1);
            //create all the hour cells
            for (k = 1; k < 25; k++)
            {
                var tdH = document.createElement("td");
                tdH.width = "3%";
                var span = document.createElement("span");
                span.className = "timespan";
                span.appendChild(document.createTextNode(k));
                var textString = k.toString() + (k < 13 ? "<span class='timespan'>am</span>" : "<span class='timespan'>pm</span>");
                var textH = document.createTextNode(textString.toString());
                tdH.appendChild(span);
                trH.appendChild(tdH);
            }
            table.appendChild(trH);

            //foreach unique date
            for(i = 0; i < dates.length; i++)
            {
                var dateRows = dataTable.getFilteredRows([{ column: 0, value: dates[i] }]);
                var tr = document.createElement("tr");

                //add a date cell just once
                var td1 = document.createElement("td");
                var _date = new Date(dates[i]);
                var text1 = document.createTextNode(weekday[_date.getDay()] + " " + _date.getDate());
                td1.appendChild(text1);
                tr.appendChild(td1);
                //foreach unique hour
                for (j = 0; j < dateRows.length; j++)
                {
                    var td3 = document.createElement("td");
                    td3.title = dataTable.getValue(dateRows[j], 2);
                    var text3 = document.createTextNode("");
                    td3.appendChild(text3);

                    if (dataTable.getValue(dateRows[j], 2) > 50)
                        td3.bgColor = "MidnightBlue";
                    else if (dataTable.getValue(dateRows[j], 2) > 35)
                        td3.bgColor = "MediumBlue";
                    else if (dataTable.getValue(dateRows[j], 2) > 20)
                        td3.bgColor = "dodgerblue";
                    else if (dataTable.getValue(dateRows[j], 2) > 10)
                        td3.bgColor = "deepskyblue";
                    else if (dataTable.getValue(dateRows[j], 2) > 5)
                        td3.bgColor = "lightblue";
                    else if (dataTable.getValue(dateRows[j], 2) > 2)
                        td3.bgColor = "lightskyblue";
                    else
                        td3.bgColor = "white";
                    //tr.appendChild(td1);
                    //tr.appendChild(td2);
                    tr.appendChild(td3);
                }
                table.appendChild(tr);
            }
            $("#time-container").html("");
            $("#time-container").append("<h3>User access (Last 7 days)</h3>")
            $("#time-container").append(table);


            setTimeout("$('div#time-container').isLoading('hide')", 1500);
        });

        dataChartVisitors.on('success', function (response) {
            try{
                var dataTable = response.dataTable;
                var newVisitor = dataTable.getValue(0, 1);
                var returningVisitor = dataTable.getValue(1, 1);
                var total = (newVisitor + returningVisitor);


                $("#spnVisitorCount").text(total + " unique visitors in last week");

                setTimeout("$('div#divVisitors').isLoading('hide')", 1500);
            }
            catch (e)
            {
                $("#spnVisitorCount").text("N/A");
            }
        });

        mainChart.on('success', function (response) {

            var chart = response.chart;
            var dataTable = response.dataTable;


            var $div1 = $('#main-chart-container'), $div2 = $('#breakdown-chart-wrapper');
            $div2.hide();
            $('div#divBrowser').isLoading('hide')

            // Store a reference to this listener so it can be cleaned up later.
            mainChartRowClickListener = google.visualization.events
                .addListener(chart, 'select', function (event) {

                    // When you unselect a row, the "select" event still fires
                    // but the selection is empty. Ignore that case.
                    if (!chart.getSelection().length) return;

                    var row = chart.getSelection()[0].row;
                    var browser = dataTable.getValue(row, 0);
                    var options = {
                        query: {
                            filters: 'ga:browser==' + browser
                        },
                        chart: {
                            options: {
                                title: browser
                            }
                        }
                    };

                    breakdownChart.set(options).execute();
                    $div1.toggle('slide', { direction: 'right' }, 'slow');
                    $div2.toggle('slide', { direction: 'left' }, 'slow');
                });
        });
        reloadAll($("#controlledViewSelector").val());

    });





    function slideBack()
    {
        var $div1 = $('#main-chart-container'), $div2 = $('#breakdown-chart-wrapper');
        $div1.toggle('slide', { direction: 'right' }, 'slow');
        $div2.toggle('slide', { direction: 'left' }, 'slow');
    }



    </script>
