﻿@model ITOK.Core.Data.Model.Article
@{
    ViewBag.Title = "Test2";
}

@section SideBar
{
   
}
<style>
    .minordetail {
        font-size: 1.1em;
    }
    .isloading-overlay
    {
        min-height: 100px;
        height: 100% !important;
        text-align:center;
    }
    .module{
        border: solid 1px gainsboro;
        border-radius: 10px;
        margin-top: 5px;
        padding: 5px;
    }
    .module-tall{
        min-height: 300px;
    }
    .iconspin{
        background-image: url("../../Content/Images/loader.gif");
    }
    .module h3{
        position:relative;
        top: -20px;
        border: solid 1px silver;
        background-color: #e9e9ea;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 70%;
        border-radius: 5px;
    }
    table.pageInformation tr th {
        font-weight: bold;
        background-color: gainsboro;
        padding: 15px;
    }

    table.pageInformation tr td {
        padding: 15px;
    }

    table.pageInformation {
        border: solid 1px silver;
    }

    .fakeTab {
        border: solid 1px silver;
    }
    .gaDataTable
    {
        padding: 5px;
    }
    .gaDataTable tr:nth-child(even)
    {
        background-color: aliceblue;
    }
    .gaDataTable th{
        padding: 10px;
        font-size: 1.1em;
    }
    .gaDataTable td{
        padding: 10px;
    }
</style>
<script src="~/Scripts/jquery.isloading.js"></script>

<script>
    (function (w, d, s, g, js, fs) {
        g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
        js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
        js.src = 'https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
    }(window, document, 'script'));
</script>

<div class="col-md-12" >
    <div class="col-md-4">
        <div id="embed-api-auth-container"></div>
        <div id="view-selector-container" style="visibility:hidden"></div>
        <h2><span id="spnDateRange">Showing Last 7 Days</span></h2>
    </div>
    <div class="col-md-8" style="text-align:right">
        <div><b>Change</b></div>
        <div style="float:right">

            <select id="selectedDateRange" class="form-control">
                <option value="Yesterday">Last 24 hours</option>
                <option value="7DaysAgo">Last 7 days</option>
                <option value="14DaysAgo">Last 14 days</option>
            </select>


            <select id="controlledViewSelector" class="form-control" style="width: 350px">
                <option value="ga:121081533">Desktop 2016</option>
            </select>
        </div>





    </div>
</div>
@if (!string.IsNullOrEmpty(ViewBag.errorMsg))
{
    <p>ERROR: @ViewBag.errorMsg</p>
}
<div class="col-md-12">
    <p>&nbsp;</p>
</div>
<div class="col-md-12" style="border-top: solid 3px silver; padding-top: 20px;">
    <h2>Site Level Statistics</h2>
    <div class="col-md-3">
        <div class="module" id="divVisitors">
            <h3>Visitors</h3>
            <div id="visitor-container" class="bigfact" style="display:none"></div>
            <div id="spnVisitorCount" class="minordetail"></div>
            <div id="real-time-visitor-container" class="bigfact"></div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="module">
            <h3>Daily Access and Traffic</h3>
            <ul class="nav nav-tabs">
                <li id="liTime" class="active"><a onclick="showDiv('Time')">Time</a></li>
                <li id="liTraffic"><a onclick="showDiv('Traffic')">Traffic</a></li>
            </ul>
            <div class="fakeTab">
                <div id="divTime">
                    <div id="time-container" style="height: 220px"></div>
                </div>
                <div id="divTraffic">
                    <div id="divTraffic">
                        <div id="traffic-container" style="height: 220px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="module" style="position:relative; height:220px" id="divBrowser">
            <h3>Browser Breakdown</h3>
            <div id="browser-breakdown-container"></div>

        </div>

    </div>
</div>
<div class="col-md-12">
    <p>&nbsp;</p>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <div class="module module-tall">
            <h3>Popular related topics</h3>
            <div id="relatedTopic-container" class="module" style="display:none"></div>
            <div id="divRelatedTopics">
                <table id="tblRelatedTopics" style="width:100%" class="gaDataTable">
                    <thead>
                        <tr>
                            <th width="70%">Related Tag</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div id="profileActivity-container" class="module" style="display:none"></div>
        <div class="module module-tall">
            <h3>Profile activity</h3>
            <table id="tblProfileActivity" style="width:100%" class="gaDataTable">
                <thead>
                    <tr>
                        <th width="70%">Profile activity</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div id="popularTagsActivity-container" class="module" style="display:none"></div>
        <div class="module module-tall">
            <h3>Tags selected from Popular in main navigation</h3>
            <div id="divPopularTags">
                <table id="tblPopularTags" style="width:100%" class="gaDataTable">
                    <thead>
                        <tr>
                            <th width="70%">Profile activity</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            </div>
        </div>
    <div class="col-md-3">
        <div id="siteActivity-container" class="module" style="display:none"></div>
        <div class="module module-tall">
            <h3>General Site Activity</h3>
            <p>Actions users are making</p>
            <div id="divSiteActivity">
                <table id="tblSiteActivity" style="width:100%" class="gaDataTable">
                    <thead>
                        <tr>
                            <th width="70%">Users clicked on....</th>
                            <th># times</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        </div>
</div>

<script>
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    $("#divTraffic").hide();


    var startDate = "7daysAgo";

    function showDiv(whichDiv) {
        $("#divTime").hide();
        $("#divTraffic").hide();
        $("#div" + whichDiv).show();

        $("#liTime").removeClass("active");
        $("#liTraffic").removeClass("active");
        $("#li" + whichDiv).addClass("active");

    }
    gapi.analytics.ready(function () {
        gapi.analytics.auth.authorize({
            'serverAuth': {
                'access_token': '@ViewBag.Token'
            }
        });
        var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector-container'
        });

        // Render the view selector to the page.
        viewSelector.execute();

        var dataChartTraffic = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:date',
                'start-date': startDate,
                'end-date': 'yesterday'
            },
            chart: {
                container: 'traffic-container',
                type: 'LINE',
                options: {
                    width: '100%',
                    height: '210px'
                }
            }
        });

        //visitor Count
        var dataChartVisitors = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:users',
                dimensions: 'ga:usertype',
                'start-date': startDate,
                'end-date': 'yesterday'//,
               // filters: 'ga:pagepathlevel1=@@audi'
            },
            chart: {
                container: 'visitor-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });

        var browserBreakdownChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:browser',
                'metrics': 'ga:sessions',
                'start-date': startDate,
                'end-date': 'yesterday',
                'sort': '-ga:sessions',
                'max-results': '6'
            },
            chart: {
                type: 'TABLE',
                container: 'browser-breakdown-container',
                options: {
                    width: '100%'
                }
            }
        });

        var breakdownChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                'dimensions': 'ga:date',
                'metrics': 'ga:sessions',
                'start-date': startDate,
                'end-date': 'yesterday'
            },
            chart: {
                type: 'LINE',
                container: 'breakdown-chart-container',
                options: {
                    width: '100%'
                }
            }
        });

        var realtime = new gapi.client.analytics.data.realtime.get({ 'ids': gaid, 'metrics': 'rt:activeUsers' });

        var timeChartTraffic = new gapi.analytics.googleCharts.DataChart({
            query: {
                'metrics': 'ga:users',
                'dimensions': 'ga:date,ga:hour',
                'start-date': startDate,
                'end-date': 'yesterday'
                //segment: 'gaid::xxxxx'
            },
            chart: {
                container: 'time-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });

        //tracking event activity

        var trackingRelatedTopics = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:uniqueevents',
                dimensions: 'ga:eventLabel',
                'start-date': startDate,
                'end-date': 'today',
                filters: 'ga:EventAction==RelatedTopic'
            },
            chart: {
                container: 'relatedTopic-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });
        trackingRelatedTopics.on("success", function (response) {
            console.log("LoadingtrackingRelatedTopics");
            var tbody = $("table#tblRelatedTopics tbody");
            var s = "";
            for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                s += "<tr><td>" + response.dataTable.getValue(i, 0) + "</td>";
                s += "<td>" + response.dataTable.getValue(i, 1) + "</td></tr>";
            }
            console.log(s);
            tbody.html(s);
            $('div#divRelatedTopics').isLoading('hide')
        })

        var trackingProfileActivity = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:uniqueevents',
                dimensions: 'ga:eventLabel',
                'start-date': startDate,
                'end-date': 'today',
                filters: 'ga:EventAction==Profile'
            },
            chart: {
                container: 'profileActivity-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });
        trackingProfileActivity.on("success", function (response) {
            console.log("Loading trackingProfileActivity");
            var tbody = $("table#tblProfileActivity tbody");
            var s = "";
            for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                s += "<tr><td>" + GetProfileActivityFriendlyName(response.dataTable.getValue(i, 0)) + "</td>";
                s += "<td>" + response.dataTable.getValue(i, 1) + "</td></tr>";
            }
            console.log(s);
            tbody.html(s);
            $('div#divProfileActivity').isLoading('hide')
        })
        function GetProfileActivityFriendlyName(trackingName)
        {
            var result = "";
            switch (trackingName)
            {
                case "Favourite Main":
                    result = "Favourites in Top Navigation"
                    break;
                case "History Main":
                    result = "History in Top Navigation"
                    break;
                case "History Menu":
                    result = "History from the dropdown menu"
                    break;
                case "Favourite Menu":
                    result = "Favourites from the dropdown menu"
                    break;
                case "Reading List Main":
                    result = "Reading Lists in Top Navigation"
                    break;
                case "Reading List Menu":
                    result = "Reading Lists from the dropdown menu"
                    break;
            }
            return result;
        }

        var trackingPopularTagsActivity = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:uniqueevents',
                dimensions: 'ga:eventLabel',
                'start-date': startDate,
                'end-date': 'today',
                filters: 'ga:eventAction==PopularTopics;ga:eventLabel!=Main'
            },
            chart: {
                container: 'popularTagsActivity-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });
        trackingPopularTagsActivity.on("success", function (response) {
            console.log("Loading trackingPopularTagsActivity");
            var tbody = $("table#tblPopularTags tbody");
            var s = "";
            for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                s += "<tr><td>" + response.dataTable.getValue(i, 0) + "</td>";
                s += "<td>" + response.dataTable.getValue(i, 1) + "</td></tr>";
            }
            console.log(s);
            tbody.html(s);
            $('div#divPopularTags').isLoading('hide')
        })

        var trackingSiteActivity = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:uniqueevents',
                dimensions: 'ga:eventAction',
                'start-date': startDate,
                'end-date': 'today'
            },
            chart: {
                container: 'siteActivity-container',
                type: 'TABLE',
                options: {
                    width: '100%'
                }
            }
        });
        trackingSiteActivity.on("success", function (response) {
            console.log("Loading trackingSiteActivity");
            var tbody = $("table#tblSiteActivity tbody");
            var s = "";
            for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                s += "<tr><td>" + GetSiteActivityFriendlyName(response.dataTable.getValue(i, 0)) + "</td>";
                s += "<td>" + response.dataTable.getValue(i, 1) + "</td></tr>";
            }
            console.log(s);
            tbody.html(s);
            $('div#divProfileActivity').isLoading('hide')
        })
        function GetSiteActivityFriendlyName(trackingName) {
            var result = "";
            switch (trackingName) {
                case "AddToReadingList":
                    result = "Added something to a reading list"
                    break;
                case "ChangeBrand":
                    result = "Changed which brand they were viewing"
                    break;
                case "Favourite":
                    result = "Added something as a favourite"
                    break;
                case "Latest":
                    result = "Clicked to view Latest from the home page"
                    break;
                case "Latest14Days":
                    result = "Clicked to view Latest within 14 days from the home page"
                    break;
                case "Latest7Days":
                    result = "Clicked to view Latest within 7 days from the home page"
                    break;
                case "LatestToday":
                    result = "Clicked to view Latest today from the home page"
                    break;
                case "Missed":
                    result = "Clicked to view Missed from the home page"
                    break;
                case "Missed14Days":
                    result = "Clicked to view Missed within the last 14 days from the home page"
                    break;
                case "Missed7Days":
                    result = "Clicked to view Missed within the last 7 days from the home page"
                    break;
                case "MissedToday":
                    result = "Clicked to view Missed today from the home page"
                    break;
                case "PopularTopics":
                    result = "Clicked on one of the popular topics"
                    break;
                case "PrimaryTopic":
                    result = "Removed a topic from their viewing selection"
                    break;
                case "Print":
                    result = "Printed something"
                    break;
                case "Profile":
                    result = "Accessed their profile"
                    break;
                case "RelatedTag":
                    result = "Selected a related tag"
                    break;
                case "RelatedTopic":
                    result = "Navigated via related topics on an article"
                    break;
                case "User Favourite":
                    result = "Clicked on a favourite tag from the dropdown menu"
                    break;

            }
            return result;
        }

        var gaid;

        $("#controlledViewSelector").on('change', function (ids) {
            gaid = this.value;
            reloadAll(gaid);

        });
        function reloadTracking(gaid) {
            var options = { query: { ids: gaid } };
            trackingPopularTagsActivity.set(options).execute();
            trackingProfileActivity.set(options).execute();
            trackingRelatedTopics.set(options).execute();
            trackingSiteActivity.set(options).execute();
        }
        function loadSiteStatistics(gaid) {
            var options = { query: { ids: gaid } };
            dataChartTraffic.set(options).execute();
            dataChartVisitors.set(options).execute();
          
        }
        function turnOnLoading() {
            $("div#divVisitors").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#divTraffic").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#time-container").isLoading({
                text: "Loading",
                position: "inside"
            });
            $("div#divBrowser").isLoading({
                text: "Loading",
                position: "overlay"
            });
          
    
            $("div#divPopularTags").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#divRelatedTopics").isLoading({
                text: "Loading",
                position: "overlay"
            });
            $("div#divPageViewsByDay").isLoading({
                text: "Loading",
                position: "overlay"
            });

        }
        function reloadAll(gaid, dateRange) {

            startDate = dateRange;
            turnOnLoading();

            var options = { query: { ids: gaid } };


          browserBreakdownChart.set(options).execute();
           
            setTimeout(function () { reloadTracking(gaid) }, 2000);
           
            setTimeout(function () { loadSiteStatistics(gaid) }, 5000);

            dataChartVisitors.on("success", function (response) {
                $('div#divVisitors').isLoading('hide')
            })
            dataChartTraffic.on("success", function (response) {
                $('div#divTraffic').isLoading('hide')
            })

            realtime = new gapi.client.analytics.data.realtime.get({ 'ids': gaid, 'metrics': 'rt:activeUsers' });
            realtime.execute(function handleRTResponse(resultAsObject, resultAsJson) {
                try {
                    $("#real-time-visitor-container").html(
                        "<h1>" + resultAsObject.totalsForAllResults["rt:activeUsers"] + "</h1> active users <br/>"
                        );
                    $('div#divVisitors').isLoading('hide')
                } catch (E) {
                    $("#visitor-container").html("Error");
                }
            });

            timeChartTraffic.set(options).execute(function handleRTResponse(resultAsObject, resultAsJson) {

            });

        }



        timeChartTraffic.on('success', function (response) {
            var dataTable = response.dataTable;
            var hour = dataTable.getValue(0, 0);
            var hourofday = dataTable.getValue(0, 1);
            var visitors = dataTable.getValue(0, 2);

            var dates = dataTable.getDistinctValues(0); //get distinct values

            //create table
            var table = document.createElement("table");
            table.className = "tableData";
            table.width = "100%";

            var trH = document.createElement("tr");
            trH.className = "trHeader";
            //create spare date header cell
            var tdH1 = document.createElement("td");
            var textH1 = document.createTextNode("Date");
            tdH1.appendChild(textH1);
            trH.appendChild(tdH1);
            //create all the hour cells
            for (k = 1; k < 25; k++) {
                var tdH = document.createElement("td");
                tdH.width = "3%";
                var span = document.createElement("span");
                span.className = "timespan";
                span.appendChild(document.createTextNode(k));
                var textString = k.toString() + (k < 13 ? "<span class='timespan'>am</span>" : "<span class='timespan'>pm</span>");
                var textH = document.createTextNode(textString.toString());
                tdH.appendChild(span);
                trH.appendChild(tdH);
            }
            table.appendChild(trH);

            //foreach unique date
            for (i = 0; i < dates.length; i++) {
                var dateRows = dataTable.getFilteredRows([{ column: 0, value: dates[i] }]);
                var tr = document.createElement("tr");

                //add a date cell just once
                var td1 = document.createElement("td");
                var _date = new Date(dates[i]);
                var text1 = document.createTextNode(weekday[_date.getDay()] + " " + _date.getDate());
                td1.appendChild(text1);
                tr.appendChild(td1);
                //foreach unique hour
                for (j = 0; j < dateRows.length; j++) {
                    var td3 = document.createElement("td");
                    td3.title = dataTable.getValue(dateRows[j], 2);
                    var text3 = document.createTextNode("");
                    td3.appendChild(text3);

                    if (dataTable.getValue(dateRows[j], 2) > 50)
                        td3.bgColor = "MidnightBlue";
                    else if (dataTable.getValue(dateRows[j], 2) > 35)
                        td3.bgColor = "MediumBlue";
                    else if (dataTable.getValue(dateRows[j], 2) > 20)
                        td3.bgColor = "dodgerblue";
                    else if (dataTable.getValue(dateRows[j], 2) > 10)
                        td3.bgColor = "deepskyblue";
                    else if (dataTable.getValue(dateRows[j], 2) > 5)
                        td3.bgColor = "lightblue";
                    else if (dataTable.getValue(dateRows[j], 2) > 2)
                        td3.bgColor = "lightskyblue";
                    else
                        td3.bgColor = "white";
                    //tr.appendChild(td1);
                    //tr.appendChild(td2);
                    tr.appendChild(td3);
                }
                table.appendChild(tr);
            }
            $("#time-container").html("");
            $("#time-container").append(table);


            setTimeout("$('div#time-container').isLoading('hide')", 1500);
        });

        dataChartVisitors.on('success', function (response) {
            //try {
            //    var dataTable = response.dataTable;
            //    var newVisitor = dataTable.getValue(0, 1);
            //    var returningVisitor = dataTable.getValue(1, 1);
            //    var total = (newVisitor + returningVisitor);


            //   // $("#spnVisitorCount").text(total + " unique visitors in last week");

            //   // setTimeout("$('div#divVisitors').isLoading('hide')", 1500);
            //}
            //catch (e) {
            //    $("#spnVisitorCount").text("N/A");
            //}
        });

        browserBreakdownChart.on('success', function (response) {

            var chart = response.chart;
            var dataTable = response.dataTable;


            var $div1 = $('#browser-breakdown-container'), $div2 = $('#breakdown-chart-wrapper');
            $div2.hide();
            $('div#divBrowser').isLoading('hide')


        });
        $(document).on("click", "#selectedDateRange", function (e) {
            reloadAll($("#controlledViewSelector").val(), $("#selectedDateRange").val());
            $("#spnDateRange").val($("#selectedDateRange").text())
        });
        reloadAll($("#controlledViewSelector").val(), $("#selectedDateRange").val());

    });

</script>


