﻿@model string

    <!--   google analytics tracking code-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-77016721-1', 'auto');
    ga('send', 'pageview');
    </script>

    <!--  video player-->
    <video id="video_1" style="width: 640px; height: 360px;"
           data-video-id="@Model" 
           data-account="1842992633001"
           data-player="B1M2VUPz"
           data-embed="default"
           class="video-js"
           controls></video>

    <script src="//players.brightcove.net/1842992633001/B1M2VUPz_default/index.min.js"></script>

    <!-- google analytics plugin -->
    <script src="https://desktopuat.ITOK.co.uk/assets/scripts/videojs.ga.videocloud.min.js"></script>

    <script>

        var myPlayer;

        videojs("video_1").on('loadstart', function () {
            myPlayer = this;
            console.log("mediainfo object: ", myPlayer.mediainfo);

            myPlayer.ga({
                "eventNames": {
                    "play": "Video Playback",
                    "percent_played": "Percent played",
                    "pause": "Media Pause",
                    "error": "Media Error",
                    "fullscreen_exit": "Fullscreen exited",
                    "fullscreen_enter": "Fullscreen entered",
                    "resize": "Media Resize",
                    "end": "Media complete"
                },
                "eventsToTrack": ["start", "end", "play", "pause", "resize", "error", "fullscreen", "percent_played", "video_load", "player_load", "volume_change"]
            });
        });

    </script>

    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
        }

        .video-js {
            height: 100% !important;
            left: 0;
            position: absolute;
            top: 0;
            width: 100% !important;
        }

    </style>
