﻿@{
    ViewBag.Title = "My Favourite content";
}

    <div class="row briefing-and-main-topics">
        <div class="col-md-12 col-sm-12">

                <div class="page-header">
                    <h2 class="overview-title overview-page-title no-margin-bottom">My favourite content</h2>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12" id="content">

                    @{
                        Html.RenderAction("GetUserFavourite", "Hub", new { userId = LiveUser.Get().Id });
                    }
                </div>
        </div>
    </div>
