﻿<ul style="list-style:none">
    @foreach (var tag in LoginManager.CurrentUser.favouriteTags.Where(i => i.brand == GlobalVariables.CurrentBrand))
    {
        <li style="padding: 2px;">

            <button class="btn btn-danger" id="removetag" data-urlcall="/data/profile/removetag/@tag.tag.UrlSlug">
                <i class="fa fa-minus" aria-hidden="true"></i>
                Unfollow
            </button>
            <button class="btn btn-primary hide" id="addtag" data-urlcall="/data/profile/addtag/@tag.tag.UrlSlug">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Follow
            </button>
            @tag.tag.DisplayText
        </li>


    }
</ul>

