﻿@using ITOKFrontend.Models
@model ProfileEditModel
@{
    ViewBag.Title = "Your Profile";
}


    <div class="row briefing-and-main-topics">
        <div class="col-md-12 col-sm-12">

            <div class=" page-header">

                <div class="col-md-12 profile-info">

                    <div class="profile-inner">

                        <h1>
                            My profile
                        </h1>

                        <div class="clearfix"></div>

                        <hr />

                        <section>
                            <h2>
                                @LiveUser.Get().Forename @LiveUser.Get().Surname
                            </h2>
                            <h3>
                                <a href="mailto: @LiveUser.Get().Email">
                                    <i class="fa fa-envelope-o"></i>
                                    @LiveUser.Get().Email
                                </a>
                            </h3>
                            <div class="clearfix"></div>
                            <p class="offset-top-10">
                                If the above details are incorrect please 
                                <a href="mailto:knowledgecentre@iaaf.org?subject=Incorrect-user-details" id="startIntro">contact us</a>
                            </p>
                        </section>

                        <div class="clearfix"></div>
                        <section>
                            @*@{Html.RenderAction("SelectMenuTopics", "Home", new { area = "" });}*@

                        </section>
                    </div>

                    <hr />
                  

                </div>



            </div>

            <div class="clearfix"></div>
        </div>
    </div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#btnConfirm2").toggle();
    });

    $("#PrimaryJobRole").change(function () {

        /* Get the selected value of dropdownlist */
        var selectedID = $(this).val();

        /* Request the partial view with .get request. */
        $.get("/profile/secondaryjobroles/" + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $("#secondaryPlaceHolder").html(data);

            /* little fade in effect */

        });


    });

    function deleteTopic(id) {
        var url = "/@GlobalVariables.CurrentBrand" + "/profile/deletetopic/";
        $.post(url, { UrlSlug: id })
         .done(function (response) {
             $("#followedTopics").html(response);
         });
    }

</script>