﻿@model string
@{
    ViewBag.Title = "History";
}

    <div class="row briefing-and-main-topics">
        <div class="col-md-12 col-sm-12">

            <div class="page-header">
                <h1>My history</h1>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12" id="content">
                @{
                    Html.RenderAction("ListContainer", "History");
                }
            </div>

        </div>
    </div>
