﻿@using ITOK.Core.Common.Config
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar



@* Register the media selector scripts and styles *@
@{ 
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.media-selector.js");
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.jqote2.js");
    
    ScriptRegistrar.RegisterStyle("~/Content/Styles/MediaSelector.css");
    ScriptRegistrar.RegisterClientVariable("baseMediaUrl", ITOKConfig.Instance.Media.baseUri.ToString()+"/"+ ITOKConfig.Instance.Media.Directory + "/Original/");
}

<!-- Media Selector -->

    <script type="text/x-jqote-template" id="mediaSelectorTemplate">
    <![CDATA[
    <div id="mediaSelector<*= this.instanceNumber *>" class="modal" style="display:none;" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="modal-title" id="myModalLabel">Media Selector</h3>
                </div>

                  <div class="modal-body">

                    <div class="media-selector-search">
                        <input type="text" class="form-control" name="mediaSearch" id="mediaSearch" placeholder="Search media" />
                    </div>
                    <div class="media-selector-tabs">
                        <ul class="nav nav-tabs media-selector-tab-container">
                                <* for(var n in this.tabSettings) { 
                    var tab = this.tabSettings[n];
                    var tabTypeClass = tab.queryType == "Search" ? "search-tab" : "browse-tab";
                    *>
                        <li>
                            <a href="#" rel="<*= n *>" class="<*= tabTypeClass *>">
                                <*= tab.label *>
                            </a>
                        </li>
                    <* } *>
                        </ul>
                    </div>
                    <div class="media-selector-tab-views"></div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    ]]>
    </script>

    <script type="text/x-jqote-template" id="mediaSelectorTabView">
        <ul class="<*= this.selectedTabSettings.viewClass *> media_thumbnail_container list-unstyled ">
            <* if(this.Results.length == 0) { *>
                <li>No results</li>
            <* } else {
                for( var r in this.Results ) {
                    var result = this.Results[r];
                    var templateSelector = "";
                    switch(this.Type) { 
                        case 0: /* MediaRecent */
                        case 1: /* MediaSearchAny */
                        case 2: /* MediaSearchByDiscipline */
                        case 3: /* MediaSearchByCompetitor */
                        case 4: /* LogoMediaSearchByEvent */
                            templateSelector = "#mediaSelectorMediaItemTemplate";
                            break;
                        case 5: /* GalleryRecent */
                        case 6: /* GallerySearchAny */
                            templateSelector = "#mediaSelectorGalleryItemTemplate";
                            break;
                        default: 
                            if(console && console.error) console.error("Unknown resultset type");
                            break;
                    }
                    var partialModel = $.extend({
                        type: this.Type,
                        baseMediaUrl: this.baseMediaUrl,
                        defaultGalleryThumbnail: this.defaultGalleryThumnail
                    }, result); *>

                    <*= $.jqote(templateSelector, partialModel) *>
                     
                <* }
            } *>
        </ul>
    </script>

    <script type="text/x-jqote-template" id="mediaSelectorMediaItemTemplate">
    <![CDATA[
    <*
        var thumbnailUrl = "";
        var thumbnailIcon = "";
        var thumbnailTitle = this.Media.Title;
        switch(this.Media.Format)
        {
            case 0:
                thumbnailUrl = this.baseMediaUrl + this.Media.FileName;
                thumbnailIcon = "";
                thumbnailTitle = this.Media.Title + " - Original dimensions " + this.Media.SourceHeight + " x " + this.Media.SourceWidth;
                break;
            case 1:
                thumbnailUrl = "http://img.youtube.com/vi/" + this.Media.RemoteItemCode + "/1.jpg";
                thumbnailIcon = "";
                thumbnailTitle = this.Media.Title + " - Original dimensions " + this.Media.SourceHeight + " x " + this.Media.SourceWidth;
                break;    
            case 3:
                thumbnailUrl = this.baseMediaUrl + this.Media.FileName;
                thumbnailIcon = "";
                thumbnailTitle = this.Media.Title + " - Original dimensions " + this.Media.SourceHeight + " x " + this.Media.SourceWidth;
                break; 
            case 4:
                thumbnailUrl = "";
                thumbnailIcon = "fa-file-pdf-o";
                break;    
        case 5:
                thumbnailUrl = "";
                thumbnailIcon = "fa-video-camera";
                break;  
        case 6:
                thumbnailUrl = "";
                thumbnailIcon = "fa-video-camera";
                break;  
        case 7:
                thumbnailUrl = "";
                thumbnailIcon = "fa-video-camera";
                break;  
            case 8:
                thumbnailUrl = "";
                thumbnailIcon = "fa-video-camera";
                break;   
            case 9:
                thumbnailUrl = "";
                thumbnailIcon = "fa-video-camera";
                break; 
            case 10:
                thumbnailUrl = "";
                thumbnailIcon = "file-o";
                break;        
            case 11:
                thumbnailUrl = "";
                thumbnailIcon = "file-o";
                break;        
            case 12:
                thumbnailUrl = "";
                thumbnailIcon = "file-o";
                break;        
           case 13:
                thumbnailUrl = "";
                thumbnailIcon = "file-o";
                break;        
           case 14:
                thumbnailUrl = "";
                thumbnailIcon = "file-o";
                break;        
            case 15:
                thumbnailUrl = "";
                thumbnailIcon = "fa-file-excel-o";
                break;        
            case 16:
                thumbnailUrl = "";
                thumbnailIcon = "fa-file-word-o";
                break;            
            case 17:
                thumbnailUrl = "";
                thumbnailIcon = "fa-file-text-o";
                break;      
            case 18:
                thumbnailUrl = "";
                thumbnailIcon = "file-o";
                break;        
            case 19:
                thumbnailUrl = "";
                thumbnailIcon = "fa-file-powerpoint-o";
                break;  
           
           
        } 
    *>

    <li class="col-md-3 col-sm-4 col-xs-6">
        <a href="#" class="add-media-item" rel="<*= this.Media.Id *>" hosting="<*= this.Media.Format *>" data-toggle="tooltip" data-placement="top" title="<*= thumbnailTitle *>">
            <* if(thumbnailUrl !== "") {*>
                <img class="thumbnail" src="<*= thumbnailUrl *>" width="120" height="80" />
            <* } else {*>
                <span class="thumbnail tn-<*= thumbnailIcon *>"><i class="fa <*= thumbnailIcon *>" aria-hidden="true"></i><span><*= thumbnailTitle *></span></span>
            <* }*>
        </a>
    
        <div class="media_item_detail" style="display:none;">
            <span class="label">Title:</span>
            <span class="media-title"><*= this.Media.Title *></span>
            
            <span class="caption"><*= this.Media.Title *></span>
        </div>
    </li>
    ]]>
    </script>

    <script type="text/x-jqote-template" id="mediaSelectorGalleryItemTemplate">
    <![CDATA[
    <* 
    var mediaIds = []; 
    for(var m in this.Gallery.Media) { mediaIds.push(this.Gallery.Media[m].Id); }
    *>
    <li class="gallery_item" rel="<*= mediaIds.join(",") *>">
        <a href="" class="add-gallery-item">
            <img class="thumbnail" src="<*= this.baseMediaUrl + this.defaultGalleryThumbnail *>" alt="<*= this.Gallery.Title *>" />
        </a>
    </li>
    ]]>
    </script>

<!-- End Media Selector -->