﻿



@using CMS.Helpers.HtmlExtensions
@using ITOK.Core.Common.Constants
@model CMS.Models.MediaResultItem
<li class="media_item">
    <a href="/Article/AddMedia/ProfileName/MediaId/@(Model.Media.Id)" class="add_media_item">
        <img class="thumbnail" src="@Html.GetMediaUri(MediaProfile.Original, Model.Media)" alt="@Model.Media.Title" style="max-width:140px" />
    </a>
    
    <div class="media_item_detail" style="display:none;">
        
        <a href="/Media/Edit/@(Model.Media.Id)" class="caption">@Model.Media.Title</a>
        
       
    </div>
</li>