﻿
@using CMS.Models
@using ITOK.Core.Common.Config
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar


@model MediaProfileEditItemModel

@{
    var className = Model.Media.AvailableProfiles.Contains(Model.MediaProfile) ? "enabled" : "disabled";
}

<li id="mediaProfile_@(Model.MediaProfile)" class="@className well">
    @if (Model.Media.AvailableProfiles.Contains(Model.MediaProfile))
    {
        <img src="@Html.GetMediaUri(Model.MediaProfile, Model.Media)" alt="@Model.ProfileConfig.PrettyProfileName" class="profile_edit_item_thumbnail" />
        <a href="#">@Model.ProfileConfig.PrettyProfileName</a>
        <input type="checkbox" value="Enabled" checked="checked" />
    }
    else
    {
        <img src="@Url.Content("~/Content/Images/DisabledMediaProfile.png")" alt="@Model.ProfileConfig.PrettyProfileName" class="profile_edit_item_thumbnail" />
        <a href="#">@Model.ProfileConfig.PrettyProfileName</a>
        <input type="checkbox" value="Enabled" />
    }
</li>