﻿@using ITOK.Core.Data.Model
@model IList<Media>
@if (Model != null && Model.Count != 0)
{
    foreach(var media in Model)
    {
        Html.RenderPartial("MediaListItem", media);   
    }
}
else
{
    <li>No media</li>
}