﻿body 
{
    box-shadow:1px 95px 30px 10px #CCCCCC inset; -moz-box-shadow:1px 95px 30px 10px #CCCCCC inset;  
    font-size: 16px !important;
}

.k-emaillink{
    background-image: url("/Content/Images/email.svg") !important;
}
.k-filelink{
    background-image: url("/Content/Images/filelink.png") !important;
    background-size: 20px 20px;
    background-repeat:no-repeat;
}

.ui-widget-header{
    border: 1px solid #468847 !important;
    background: #D8F260 !important;
}
div#dialog input[type=submit]
{
    padding: 3%;
    line-height: 25px;
    font-size: 1.7em;
    color:green;
}
.collapse 
{
    overflow:visible !important;   
}


span.instruction{
    color: #9b9b9b;
    font-weight: 300;
    font-size: .9em;
    margin-left: 10px;
    font-family: 'PT Sans Caption';
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
    background-color:white;
    background-image:none;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#CD1F2B', endColorstr='#CD1F2B', GradientType=0);
}

.alert{
    background-color: #E4DF16 !important;
    color: #816307 !important;
}
p{
    font-size: 1.2em;
}
/*CR*/
legend
{
    background-color: whitesmoke !important;
    padding-left: 10px !important;
    width: 50% !important;
    border: solid 1px silver;
}
fieldset
{
    
border: silver solid 1px;
background-color: whitesmoke;
padding-left: 10px;
width: 90% !important;
}

.navbar .nav > li > a {
  margin-top:3px;
}


.navbar .nav > li > a {
  padding: 10px;
  color:#ffffff;
  font-size:20px;
}


h3 {
    font-weight: 100;
    color:#000026;
}

.navbar .dropdown-menu:after 
{
    border-bottom: 16px solid #000026;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top:-6px;
    left:25px;
}




.dropMedia {
    float:left;
    margin:0px 10px 10px 0px;
    display:block;
    width:120px;
    height:80px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    cursor:move;
}



.media-selector-search.inlinemedias {
    
}



@media (max-width: 979px) {
  
   
.container-fluid
{
    padding:5px !important; display:inline-block; height:auto;
}


 
    
  .nav-collapse {
    height:auto !important; display:inline-block; width:100%;
  }   
  .nav-collapse .dropdown-menu {
    height:auto; display:inline-block; width:95%;
  }
  .nav-collapse .dropdown-menu li {
    display:inline-block; padding:0px 20px 0px 0px;
  }
.nav-collapse .dropdown-menu li a {
    font-size:16px !important;
  }
  
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: transparent;
  }
  
  
    .btn-group-fixed {
        width: 100%  !important;
    }



}











.navbar .dropdown-menu:before {
    border-bottom: 16px solid rgba(0, 0, 0, 0.2);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    left:25px;
}    

.navbar  .pull-right .dropdown-menu:before {
    border-bottom: 0px solid rgba(0, 0, 0, 0.2);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
}    

.navbar  .pull-right .dropdown-menu:after {
    border-bottom: 0px solid rgba(0, 0, 0, 0.2);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
}    


.nav .dropdown-menu {
    background-color: #000026;
    border-radius:0px;
    margin: 3px 0 0;
    min-width: 200px;
    padding:10px;
}


    .nav .dropdown-menu a 
    {
        padding:5px 5px 5px 5px;
        color: #ffffff;
        background-color:none !important;
        font-size:18px;
    }


        .nav .dropdown-menu a:hover 
        {
            color: #D8F260;
        background-color:transparent !important
        }


.nav .dropdown-menu li > a:hover,
.nav .dropdown-menu .active > a,
.nav .dropdown-menu .active > a:hover {
color: #D8F260;
    background-color:transparent !important
}    

.bodyCSS{
    padding-top:80px;
}

.caret {
    opacity:1;
}



.container-fluid
{
   padding-top:50px;
}









.well .dropdown-menu {
    border-radius:0px;
    width:100%;
}

    .well .dropdown-menu a 
    {
        border-radius:0px;
        border:0px none transparent;
        padding:0px;
        background-color:none !important;
        font-size:12px;
        background-color:transparent !important;
        background:none !important;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset; 
        color:#000026 !important;
    }

        .well .dropdown-menu a:hover 
        {
            background-color:transparent !important;
            background:none !important;
        }


        .well .dropdown-menu li > a:hover,
        .well .dropdown-menu .active > a,
        .well .dropdown-menu .active > a:hover {
            background-color:transparent !important;
        }    













.fixed-side-nav {
    position:fixed;
}


.nav-list .nav-header 
{
    font-size:14px;
}

.nav-list li.faded
{
    color:#AAAAD0;
}

.span12 h2 {
    background-color: #000026;
    font-weight: 100;
    width:auto; display:block;
    color:#ffffff;
    padding:0px 8px;
    border-radius: 5px 5px 0px 0px;
    line-height:35px;
    font-size:18px;
}

.span9 h2 {
    margin-top:10px;
}

.span9 .span8 h2 {
    margin-top:0px;
}

.span9 .span12 h2 {
    background-color:transparent;
    padding:0px !important;
}


.span9 h2 {
    font-weight: 100;
    width:auto; display:block;
    color:#000026;
    line-height:35px;
    font-size:23px;
    margin-bottom:15px; 
}



.well {
    border: 0px none transparent;
    
}


.row-fluid .span12 {
    margin-left:0px;
}


a {
    color: #000026;
    text-decoration: none;
}

.well { margin-top: 80px; background-color: silver !important; }

.unstyled .well, .styled .well 
{
    border-bottom: 1px solid #E6E6E6;
    padding:10px;   
    background-color: #8EC043;
    border-radius:15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset; 
    color:#666666;
    margin:0px; height: auto;
    line-height:20px;
    position: relative;
}



#eventListContainer .well, #eventSearchResultsContainer .well
{
    overflow:hidden;
}



    .unstyled .well b, .styled .well b
    {
        font-size:16px; color:#000026; font-weight:100; line-height:20px;
    }

        .unstyled .well br, .styled .well br
        {
            clear:both; height:0px; overflow:hidden;
        }

            span.date {
                float:left; width:100px; color:#666666;
            }

            span.desc {
                float:left;
            }



			
    .unstyled .well.noposabs b, .styled .well.noposabs b
    {
        line-height:28px;
    }





/* input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] 
{
    border: 1px solid #000026;
    color: #000026;
    font-size: 18px;
    height: 40px;
    padding: 0 15px;
} */


#searchContainer
{
    padding:20px 0;  
}


#searchContainer input
{
    border: 1px solid #000026;
    color: #000026;
    font-size: 18px;
    height: 40px;
    padding: 0 15px;  
}

.search-cancel
{
    height:40px;
    border: 1px solid #EDEDED !important
}


.well .btn-group {
    position: absolute;
    right:5px;
    top:15px;
    width: auto;
}

.well.noposabs .btn-group {
    position: relative;
    right:0px;
    top:0px;
    width: auto;
	float:right;
}


.well .btn-group > .btn-group {
    position:relative;
    float:left;
    top:auto;
    left:auto;
    margin:0px -5px 0px 10px;
}

.well .btn-group > .btn.flc {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    border-left:0px;
}


.athletefixedwidth li.well {
    overflow: visible;
}

.well .btn-group ul.dropdown-menu {
    padding:0px;
    background-color:#ffffff;
    z-index: 10000 !important;
}

.ul li.well
{z-index: 1;}


.span8 .well 
{
    padding-right:230px;
}

.span8 .well.articleListType 
{
    padding-right:430px;
}
.span12 .well 
{
    padding-right:85px;
}



        .well-header 
        {
            padding-right:10px !important;   
        }




.span9 form 
{
    margin-top:10px;
}


legend 
{
    color:#000026;   
    margin-bottom: 20px;
}


    .span9 form ul.unstyled
    {
        margin:0px; 
    }
    
        .span9 form ul.unstyled li
        {
            padding:0px; margin:0px;
        }

.btn-group-fixed
{
    position:absolute; top:250px; left:15px;
    width: 23.076923077%;
    *width: 23.0237315876383%;
}

    .btn-group-fixed .btn
    {
        color: #999999;
        font-size: 1.7em;
        height: 100%;
        line-height: 25px;
        padding: 3%;
    }


        .btn-group-fixed .btn:nth-child(2)
        {
            color:green;
        }

        .btn-group-fixed .btn:last-child
        {
            color:#000026;
        }



.span9 form .row-fluid input[type="text"], .span9 form .row-fluid textarea, .span9 .row-fluid input[type="text"], .span9 .row-fluid textarea 
{
    padding:10px !important; 
    width:80% !important; 
    font-size:14px !important; 
    color:#000026 !important; 
    border-radius:0px !important; 
    border:1px solid #ededed !important; 
    height: auto;
    margin-bottom:3px !important;
}


.span9 form .row-fluid select
{
    padding:10px !important; font-size:14px !important; color:#000026 !important; border-radius:0px !important; border:1px solid #ededed !important; height: auto; min-height:15px; width:35% !important; 
}


.span9 form fieldset.row-fluid
{
    margin-top:10px;
}


    .span9 form fieldset.row-fluid
    {
        display:none;
    }



.span9 form .row-fluid .t-picker-wrap
{
    width:auto; float:left; margin-bottom:10px;
}


.span9 form .row-fluid .t-picker-wrap .t-input 
{
    width:220px !important;
}


.span9 form .row-fluid .t-picker-wrap .t-select, .t-dropdown-wrap .t-select 
{
    top:8px;
}


select {
    padding:5px !important; font-size:14px !important; color:#000026 !important; border-radius:0px !important; border:1px solid #ededed !important; height: auto; outline:0px !important;
}


.statusholder 
{
    width:auto; height:auto; overflow:hidden;    
}

    .statusholder label
    {
        float:left; margin-right:15px; line-height:30px;
    }
    
    
a.add-tags 
{
    color:#333333 !important; border-bottom:1px dotted #333333 !important;   
}



.span9 form .row-fluid .t-editor-combobox input.t-input 
{
    padding:0px !important;
}


.unstyled .row-fluid 
{
    padding-bottom:10px !important;   
}

label 
{
    color:#000026;   
}


.nav-list > li > span {
    padding:3px 0px;
    display:block;
}



.row-fluid.span8 
{
    margin:0px !important;
}

li span 
{
    color:#000026;   
}


li p 
{
    color:#000026 !important; margin:5px 0px 0px 0px !important;
}


#authorList li, #userList li
{
    padding-top:15px; padding-bottom:15px;   
}
#authorList li .btn-group, #userList li .btn-group 
{
    right: 10px;
    top: 12px;
}



#documentGroupList .well {
    padding-right: 90px;
}



.thumbnail-set
{
    display:block;
    height:auto;
    display:inline-block;
}

    .thumbnail-set li.thumbnail
    {
        display:block;
        position:relative;
        float:left;
        height:173px;
        width:187px;
        position:relative;
        margin:0px 20px 20px 0px;   
    }
    
    .thumbnail-set li img.landscape
    {
        margin-top:20px;
    }
    
    .thumbnail-set li img.portrait
    {
        
    }
    
    .thumbnail-set li .btn-group
    {
        
    }
    
    .thumbnail-set li .btn-toolbar
    {
        position: absolute;
        bottom:0px;
        margin-bottom:2px !important;
    }

#searchMoreMedia
{
    width:174px;
    margin:0px auto;
}

    /*#mediaList li .btn-group, #galleryList li .btn-group, #galleryList li .btn-toolbar
    {
        position:absolute; bottom:5px; right:5px;
    }*/


        #mediaList .media-item .media-details, #searchedMediaList .media-item .media-details, #galleryList .gallery .gallery-details {
            left: 30px !important;
            top: 30px !important;
            width:210px !important;
        }
        
        


ul li.well 
{
    background-color:#F5F5F5 !important;   
}


ul li.well:nth-child(even)
{
    background-color:#ffffff !important;   
}


#pageList 
{
    margin:0px !important; width:100% !important;   
}


.row-fluid .unstyled 
{
    margin-bottom:10px !important;   
}

.row-fluid .unstyled.nomarginleft 
{
    margin-left:0px !important;   
	margin-bottom:40px !important;
}

.row-fluid .unstyled.nomarginleft.nomarginbottom 
{
    margin-left:0px !important;   
	margin-bottom:0px !important;
}





    .athletefixedwidth 
    {
        width:800px !important;    
    }


        .athletefixedwidth li
        {
            overflow:hidden; height:auto;
        }

        .athletefixedwidth .well .btn-group
        {
            top:5px;
        }




        .athletefixedwidth span.athletename
        {
            float:left; width:230px;
        }

        .athletefixedwidth span.countryname
        {
            float:left; width:80px; text-align:center;
        }

        .athletefixedwidth span.hascolumn
        {
            float:left; width:80px;
            text-align:center;
        }

        .athletefixedwidth span.hasdiary
        {
            float:left; width:80px;
            text-align:center;
        }


i.opaque {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: alpha(opacity=10); -moz-opacity:0.1; -khtml-opacity:0.1; opacity:0.1;
}




#disciplineList .btn-group
{
    top:9px;   
}


.row-fluid .span8 {
    margin-left:0px;
}



#mediaRatios .thumbnail {
    padding: 7px; margin:0px 10px 10px 0px; display:block; float:left;
}

#mediaRatios .thumbnail img 
{
    margin-bottom:7px;    
}

#mediaRatios .thumbnail .btn-group 
{
    margin-top:7px;    
}


.modal-header {
    background-color:#000026;
    border-bottom:0px none transparent;
}

.modal-header h3 {
    color:#ffffff;
}


.close, .close:hover {
    color: #FFFFFF;
    opacity: 1;}
    
    
    #mediaRatioPreviewContainer 
    {
        position:relative !important; float:right; 
    -webkit-transform:scale(0.8,0.8);
    -ms-transform:scale(0.8,0.8);
    transform:scale(0.8,0.8);
    margin-top:-10px;
    }

    
        #mediaRatioPreviewContainer .imgmargintop
        {
        }



.modal
{
    width:900px;
    margin-left:-450px !important;
}


.modal .inner-panel-wrap 
{
    padding:10px;  box-shadow:inset 1px 5px 20px 10px #cccccc; -moz-box-shadow:inset 1px 5px 20px 10px #cccccc;  height:auto !important; 
    min-height:350px; height:auto !important; height:350px; overflow:hidden;
}

.media-selector-search .media-search {
    margin:10px !important;
}

.modal .outer-btn-group 
{
    padding:10px;  box-shadow:inset 1px 5px 200px 10px #000026; -moz-box-shadow:inset 1px 5px 200px 10px #000026; background-color:#000026; overflow:hidden; height:auto; width:100%; margin:0px -20px;
    display:block;
}

.modal .outer-btn-group .btn-group 
{
    float:right;
}


.modal .outer-btn-group .btn-group a.btn
{
    font-size:20px;
}

#mediaRatioPreview {
    overflow: hidden;
    margin:auto;
}

#page-contents li 
{
    padding:10px !important;   
}
.media_thumbnail_container 
{
    
}
.modal-footer 
{
    padding:0px !important;   
}
a.backtotopbutton 
{
    position:fixed; bottom:20px; right:20px;   
}

ul.t-reset li.t-item h2 
{
    color:#000026 !important; display:block !important; font-size:22px !important;
}
ul.t-reset li.t-item h3 
{
    color:#999999 !important; display:block !important; font-size:17px !important;
}
ul.t-reset li.t-item h4 
{
    color:#666666 !important; display:block !important; font-size:14px !important;
}
ul.t-reset li.t-item p 
{
    color:#333333 !important; display:block !important; font-size:12px !important;
}
/* Document lists */
.tag-selector-results, .tag-selector-selected-results
{  
    width:420px !important;
}
.tag-selector-selected-results
{  
    float:right; margin-left:0px !important; margin-right:20px;
}
.tag-selector-results ul.unstyled, .tag-selector-selected-results ul.unstyled, .document-list 
{
    height:300px; overflow:auto; 
}
.tag-selector-results ul.unstyled li, .tag-selector-selected-results ul.unstyled li, .document-list li 
{
    border-bottom:1px solid #eeeeee; padding:10px !important; height:auto; overflow:hidden;
}
.tag-selector-results ul.unstyled li span, .tag-selector-selected-results ul.unstyled li span
{
    width:320px; float:left;
}
.tag-selector-results ul.unstyled li a, .tag-selector-selected-results ul.unstyled li a
{
    float:right;
}
.document-list li div 
{
    margin-right:10px;
    padding-right:10px;
}
.document-list li div.title
{
    display:block;
    font-size:16px;
    font-weight:bold;
}
.document-list li div.languages 
{
    display:inline;
    border-right: 2px solid #333;
}
.document-list li div.languages 
{
    display:inline !important;
}
.document-list li div.format
{
    display:inline !important;
}
.media-selector-tab-views 
{
    height:300px; overflow:auto; 
}
.maxcharsblock 
{
    font-weight:100;    
}
    .maxcharsblock span
    {
        color:#bcbcbc;
    }
    .maxcharsblock span.redtext
    {
        color:#CD1F2B;
    }
        .span9 form .row-fluid input[type="text"].borderredtext
        {
            color:#CD1F2B !important; border:1px solid #CD1F2B !important;
        }
h4 {
    margin-bottom:10px;
}
.docsectionindex 
{    
    width:800px;
}
    .docsectionindex li.well
    {    
        padding:0px; margin-bottom:10px;
    }
        .docsectionindex li.well span.well-header
        {    
            height:auto; padding:10px; overflow:hidden; display:block; background-color:#000026;
        }
            .docsectionindex li.well span.well-header h4
            {    
                margin:0px; color:#ffffff !important; 
            }
                .docsectionindex li.well span.well-header h4 span
                {    
                    color:#ffffff !important;
                }
            .docsectionindex li.well span.well-header p span
            {    
                color:#ffffff !important;
            }
        .docsectionindex li.well span.well-header .btn
        {    
            float:right; margin-left:5px;
        }
        .docsectionindex li.well span.well-desc
        {    
            height:auto; padding:10px; overflow:hidden; display:block;
        }
.doctablelist td, .doctablelist th
{
    padding:10px 20px 10px 0px;
}
    .doctablelist tr
    {
        border-bottom:1px solid #E6E6E6;
    }
    .doctablelist .buttonpadding
    {
        padding-top:5px; padding-bottom:5px;
    }
ul.document-file-list 
{
    margin:0px; padding:0px;
}
    ul.document-file-list li
    {
        margin:0px; padding:0px 5px 8px 0px; list-style-type:none; height:auto; overflow:hidden;
    }
        ul.document-file-list li span
        {
            float:left; padding-right:10px; width:auto;
        }
            ul.document-file-list li span.language
            {
                width:100px;
            }
        ul.document-file-list li span.updatedon
        {
            float:right; padding-right:0px; width:175px;
        }
            ul.document-file-list li span.ed-button a
            {
                text-decoration:underline;
            }
            .gallery-selector-tab-views 
            {
                width:auto; height:auto; overflow:hidden;
            }
li.mediafix
{
    display:block;
    float:left;
    width:128px;
    height:88px;
    margin:5px;
}

#controlPanel
{
    left: 15px;
    position: absolute;
    top: 250px;
    width: 23.0769%;
}




#versionHistory
{
    
}
    #versionHistory li.version-item
    {
        padding: 5px 0px 5px 0px;
        border-bottom: 1px solid #9696BC;
    }
    #versionHistory li p.comment
    {
        display:inline !important;
        color: #9696BC !important;
        margin:0px !important;
        font-style: italic;
    }
    #versionHistory li a.revert
    {
        display: inline;   
    }
    #versionHistory li div.details
    {
        font-size: 10px;
    }



#controlPanel textarea
{
    border: 1px solid #EDEDED !important;
    border-radius: 0 0 0 0 !important;
    color: #5C5C82 !important;
    font-size: 14px !important;
    height: auto;
    padding: 10px !important;
}

#controlPanel .btn-group-fixed
{
    left: auto !important;
    position: relative;
    top: auto !important;
    width: auto !important;
}

#controlPanel textarea::-webkit-input-placeholder
{
    color: #D4D4D4 !important;  
    font-size:28px !important;
    font-weight:bold !important;
}

#controlPanel textarea:-moz-placeholder
{  
   color: #D4D4D4 !important;  
   font-size:28px !important;
   font-weight:bold !important;
}

#controlPanel textarea::-moz-placeholder
{  
   color: #D4D4D4 !important;  
   font-size:28px !important;
   font-weight:bold !important;
}

#controlPanel textarea:-ms-input-placeholder {  
   color: #D4D4D4 !important;  
   font-size:28px !important;
   font-weight:bold !important;
}











.eventdisciplines {
    margin: 0 2% 0 0;
    width: 48%;
    padding-top:20px;
}





    .eventdisciplines h2 {
        background-color: #000026;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: 100;
    line-height: 35px;
    padding: 0 8px;
    width: auto;
    font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    margin-top:-10px;
    }

    .eventdisciplines ul {
        margin:0px; padding:0px; list-style-type:none; border-left:1px solid #E6E6E6; border-right:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6;
    }

    
        .eventdisciplines ul li {
            margin:0px; padding:10px 0px 5px 0px;  list-style-type:none;margin:0px 0px 0px 0px; width:100%; display:block; height:auto; overflow:hidden;
        }

        .eventdisciplines ul li ul {
            border:0px none transparent !important;
        }

            .eventdisciplines ul li:nth-child(even) {
                background-color:#F5F5F5;
            }


            .eventdisciplines ul.dropdowndisciplinelist li {
                float:left; margin:0px 5px 5px 10px; background-color:none !important; padding:0px !important; width:auto !important; border:0px none transparent !important;
            }



  p.comment
    {
        display:inline !important;
        color: #9696BC !important;
        margin:0px !important;
        font-style: italic;
    }









@media (max-width: 1140px)
{

    .navbar .nav > li > a
    {
        font-size:16px;
    }

}






@media (max-width: 979px) {
  
    .navbar .nav > li > a {
        padding:0px !important;    
        margin-top:7px; margin-bottom:0px;
        font-size:15px !important;
    }


    .nav .dropdown-menu {
        padding:0px !important; width:98%;
    }

    .nav .dropdown-menu a {
        padding:0px;
    }


    .nav-collapse .dropdown-menu
    {
        padding:0px 5px 0px 5px !important;
    }
    
    .nav-collapse .dropdown-menu li
    {
        padding:0px 10px 0px 0px;
    }
    
    .nav-collapse .dropdown-menu li a
    {
        font-size:13px !important; font-weight:100; line-height:25px;
    }
    

    .navbar .btn-navbar {
        display:none;
    }

}



@media (max-width: 500px) {
  
    .navbar .nav > li > a {
        font-size:13px !important;
    }
    
    .nav-collapse .dropdown-menu
    {
        padding:3px 5px 3px 5px !important;
    }

    .nav-collapse .dropdown-menu li a
    {
        font-size:11px !important; line-height:20px;
    }
    
    .btn {
        font-size:11px !important;
        padding:4px 5px 4px 5px !important;
    }
    
    .nav-collapse .nav {
        margin-bottom:0px;
    }



    
}




@media (max-width: 300px) {
  
    .nav-collapse .nav {
        margin: -20px 0 0;
    }
}






#loginContainer .modal-body {
    background-color:#ffffff;
}

#loginContainer .modal-footer {
    padding:10px !important; text-align:center;
}




#loginContainer #login.btn {
    margin-bottom:10px; font-size:20px;
}


#loginContainer input[type="text"], #loginContainer input[type="password"] {
    width: 97%;
}



/* cms popup styles */






/* zoom panel */

.overlay-bg 
{
    position:fixed; top:0px; left:0px; width:100%; height:100%; display:none; background:url(../Images/overlay-bg.png) 50% 50% repeat; z-index:2000;
}


    


    .overlay-panel 
    {
        position:fixed; top:20%; left:25%; width:auto; height:auto; overflow:hidden; display:none; background-color:#ffffff; z-index:2500;
    }


    .overlay-panel.nobgcolour
    {
        background-color:transparent;
    }




        .close-overlay
        {
            position:fixed; top:0px; right:0px; cursor:pointer;
        }




        .overlay-panel-content
        {
            float:left; width:auto; overflow:hidden; height:auto; display:block;
        }












/* zoom panel */






    .problems-viewing {
        height:30px; line-height:30px; margin-bottom:-30px; width:100%; text-align:right; display:none; 
    }

    
        .problems-viewing a {
            color:#ffffff; border-bottom:1px dashed #ffffff; text-decoration:none !important; margin-right:10px;
        }



    body.iebrowser .problems-viewing {
        display:block;
    }

    

@media (max-width: 979px) {

    .problems-viewing {
        margin-bottom:0px;
    }

}


.fanslinkslist {
    margin-top:20px !important;
}


    .fanslinkslist li {
        height:auto !important; overflow:hidden; margin-bottom:0px !important;
    }



.fanslinkspanel {
}

    .fanslinkspanel {
        float:left; display:block; padding:12px 10px 12px 12px; width:auto !important; height:auto !important; overflow:hidden !important;
    }

    .fanslinkspanel h4 {
        display:block; margin:0px;
    }

     .fanslinkspanel a {
        display:block; color:#999999;
    }

         .fanslinkspanel p {
        display:block;
    }

   .greenfont{
	   color:green;
   }
.boldfont
{
	font-weight:bold;
}
  


.closedelete {
    float:right;
}






.gettyunstyled {

}

    .gettyunstyled li {
        height:auto; overflow:hidden;
    }

    .gettyunstyled li img {
        padding:0%; border:1px solid #cccccc; background-color:#ffffff; float:left; width:20%;
    }
    
    .gettyunstyled li .floatedInfo {
        float:left; padding-left:2%; width:75%;
        padding-top:25px;
    }

    .gettyunstyled li .floatedInfo textarea.span12 {
        width:100% !important;
    }


     

@media (max-width: 500px) {
  


.gettyunstyled {

}

    .gettyunstyled li {
    }

    .gettyunstyled li img {
        width:100%;
        margin-top:40px;
    }
    
    .gettyunstyled li .floatedInfo {
        padding-left:0%; width:100%; padding-top:10px;
    }


}






.flashInterviewList .well input[type="text"].span12, .flashInterviewList .well textarea.span12 {
    width:100% !important;
}

.alert-success input[type="text"].span12, .alert-success textarea.span12 {
    border:1px solid #468847 !important;
    color:#468847 !important;
    width:100% !important;
}


.alert-success strong {
    color:#468847 !important;
    font-size:14px;
}


.flashInterviewList .alert-success .fIinfo {
    color:#468847 !important;
}




.alert-error input[type="text"].span12, .alert-error textarea.span12 {
    border:1px solid #ff0000 !important;
    color:#ff0000 !important;
    width:100% !important;
}


.flashInterviewList .alert-error .fIinfo {
    color:#ff0000 !important;
}


.alert-error strong {
    color:#ff0000 !important;
    font-size:14px;
}


.flashInterviewList .well .btn-group {
    right:15px;
    width:auto;
    text-align:right;
    padding:10px 0px 10px 10px;
        top: 20px;
}


.flashInterviewList form {
    margin:0px !important;
}


.flashInterviewList .well .fIinfo {
    right:15px;
    width:auto;
    text-align:right;
    padding:10px 0px 10px 10px;
    position:absolute; top:70px;
}





.crop-area {
    width:880px;
}

.crop-area > img {
    width:40% !important;
}

