﻿#controls
{
    display: inline-block;
}
#controls .btn.active {
      color: #333333;
      text-decoration: none;
      background-color: #e6e6e6;
      *background-color: #d9d9d9;
      /* Buttons in IE7 don't get borders, so darken on hover */

      background-position: 0 -15px;
      -webkit-transition: background-position 0.1s linear;
         -moz-transition: background-position 0.1s linear;
          -ms-transition: background-position 0.1s linear;
           -o-transition: background-position 0.1s linear;
              transition: background-position 0.1s linear;
    }
#backup, #restore
{
    vertical-align: top;
}

#userMessage
{
    vertical-align: top;
    padding: 6px;
    display: inline-block;
}

#commandListPanel
{
    margin-left: 0px;
}

ul.command-list
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
    ul.command-list li
    {
        margin-bottom:3px;
    }
        ul.command-list li.selected a
        {
            background-color: #0088cc;
            color: #FFFFFF !important;
        }
            ul.command-list li.selected a span
            {
                color: #FFFFFF !important;
            }
        ul.command-list li a
        {
            display:block;
            padding:3px;
            background-color: #EDEDED;
            border-radius: 2px;
        }
    ul.command-list .command-time
    {
        display: inline-block;
        width: 70px;
        font-weight: bold;
    }
    ul.command-list .command-id
    {
        display: inline-block;
        width: 180px;
    }
    ul.command-list .command-type
    {
        display: inline-block;
    }
    
        #selectedCommandPanel .arr
        {
            display: block;
            margin-left: 20px;
        }
            #selectedCommandPanel .arr .inner-arr
            {
                display: block;
                margin-left: 20px;
            }
                #selectedCommandPanel .arr .inner-arr .item .property
                {

                }
        #selectedCommandPanel .obj
        {
            display: block;
            margin-left: 20px;
        }
            #selectedCommandPanel .obj .inner-obj
            {
                display: block;
                margin-left: 20px;
            }
                #selectedCommandPanel .obj .inner-obj .property
                {
                    
                }


/* Command details panel */
#selectedCommandPanel h3
{
    background-color: #0088cc;
    color: #FFFFFF;
}
#selectedCommandPanel #clearSelectedCommand
{
    position: absolute;
    color: #FFF;
    right:26px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px;
    margin-bottom: 20px;
}