﻿.document-selector
{
    position: absolute;
    margin: 0px 0px 0px -480px !important;
    top:10px !important;
}
.document-selector .document-selector-search .document-search 
{
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}

.document-selector .column {
    display:inline-block;
    width:410px;
    vertical-align: top;
    margin-left:20px;
    border-right: 1px solid #EEEEEE;
    padding-right:10px;
}

.document-selector .document-selector-results label, .document-selector .document-selector-selected-results label
{
    display: block;
    color: #000026;
    width: 100%;
    padding: 0;
    margin-bottom: 27px;
    font-size: 19.5px !important;
    line-height: 36px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;   
    font-weight: normal !important;
}

.document-selector .document-selector-results ul li, .document-selector .document-selector-selected-results ul li 
{
    position:relative;
    padding:5px;
    background-color: #EDEDED;
    border-radius: 2px;
    margin-bottom: 5px;
}
.document-selector .document-selector-results ul li div, .document-selector .document-selector-selected-results ul li div 
{
    margin-right:10px;
    padding-right:10px;
}
.document-selector .document-selector-results ul li div.title, .document-selector .document-selector-selected-results ul li div.title
{
    display:block;
    font-size:16px;
    font-weight:bold;
}
.document-selector .document-selector-results ul li div.languages, .document-selector .document-selector-selected-results ul li div.languages
{
    font-size:8px;
    display:inline !important;
    border-right: 2px solid #333;
}
.document-selector .document-selector-results ul li div.format, .document-selector .document-selector-selected-results ul li div.format
{
    font-size:8px;
    display:inline !important;
}
.document-selector .document-selector-results ul li a.btn, .document-selector .document-selector-selected-results ul li a.btn
{
    float:right;
    position:relative;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 11px;
    line-height: 16px;
    padding: 2px 5px;
}
.document-quick-upload
{
    margin-bottom: 20px;
}

span.no-search
{
    color:#CCC;
    font-style:italic;
}

.document-selector .document-quick-upload input[type=text], .document-selector .document-quick-upload textarea
{
    border: 1px solid #EDEDED !important;
    border-radius: 0 0 0 0 !important;
    color: #000026 !important;
    font-size: 14px !important;
    height: auto;
    padding: 10px !important;
    width: 95% !important;
}
.document-selector .document-quick-upload .qq-upload-button, .document-selector .document-quick-upload .qq-upload-button input
{
    
}

.document-selector .document-quick-upload .qq-upload-button input
{
    width: 100% !important;
}

.document-selector .document-quick-upload .qq-upload-button
{
    width: 95% !important;
    display: inline-block;
    *display: inline;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 13px;
    line-height: 18px;
    *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.document-selector .document-quick-upload .qq-upload-button:hover
{
    color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.document-selector .document-quick-upload .qq-upload-list li.qq-upload-success 
{
    
}

.document-selector .document-quick-upload .document-uploader
{
    margin-bottom:20px;
}

.document-selector .document-quick-upload span.save-reminder
{
    float: left;
    padding: 4px 10px;
    background-color: #FFFFFF;
}