﻿body, span 
{
   color:#696969 !important; 
}


h2, h3, h4, p 
{
    margin:0px; padding:0px; font-weight:100;
}


p 
{
    padding:5px !important; margin-bottom:5px !important; border:1px dotted #ccc;   
}


h2 
{
    color:#000026; display:block; font-size:22px;
}

h3 
{
    color:#999999; display:block; font-size:17px;
}

h4 
{
    color:#666666; display:block; font-size:14px;
}

p 
{
    color:#696969; display:block; font-size:12px;
}


strong 
{
    font-weight:bold;
}




/*new styles*/


.dropMedia {
    margin:0px 10px 10px 10px;
    display:block;
    height:auto;
    overflow:hidden;    
    background-color:#efefef;
    text-align:center;
}


.dropMedia > div {
    margin:10px auto 10px auto;
    display:block;
    width:240px;
    height:160px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size: cover;
}

.dropMedia > span {
    margin:10px 10px 10px 10px;
    display:block;
}
