﻿body
{
    padding-top:60px;
    padding-bottom:40px;
    font-family: 'Spinnaker', sans-serif !important;
    /*font-family: 'PT Sans Caption', sans-serif !important;*/
}

label
{
    font-size:14px !important;
    font-weight:bold !important;
}

.sidebar-nav 
{
    padding: 9px 0 !important;
}

li.button-set
{
    margin-top:100px;
}


#primaryMenu
{
    
}
#primaryMenu li
{
    display:inline-block;
    margin:0px 10px 0px 10px;
}


/*********** Media Container Styles ***************/

ul.media_thumbnail_container
{
    
}
ul.media_thumbnail_container li.media_item, ul.gallery_thumbnail_container li.gallery_item
{
    position:relative;
    display:inline-block;
    margin-bottom:5px;
}


ul.media_thumbnail_container li img.thumbnail, ul.gallery_thumbnail_container li img.thumbnail
{
    width: 120px;
    height: 80px;
}

ul.media_thumbnail_container li span.caption, ul.media_thumbnail_container li a.caption, ul.gallery_thumbnail_container li span.caption, ul.gallery_thumbnail_container li a.caption
{
    display:block;
    text-align: center;
    font-weight:bold;
    max-width: 102px;
    max-height: 9px;
    font-size:9px;
    overflow:hidden
}

ul.media_thumbnail_container li a, ul.gallery_thumbnail_container li a
{
    
}

ul.media_thumbnail_container li a.media_remove, ul.gallery_thumbnail_container li a.gallery_remove
{
    position:absolute;
    top:7px;
    right:7px;
    color:#FFF;
    text-decoration: none;
    z-index:1000;
}

/****** Validation Errors *******/

.field-validation-error
{
    color:#B94A48;
    font-weight:bold;
}

/****** Alerts ******/
li.alert .headline
{
    font-weight: bold;
    
}

li.alert p
{
    margin-bottom: 0px !important;
}

.required_star
{
    font-size:22px;
    color: #CD1F2B;
}
.required_label
{
    
}


.revert
{
    display:inline !important;
}
.revert:hover
{
    background-color: transparent !important;
}
.revert:active
{
    background-color: transparent !important;
}
.delete {
    color:red;
    font-weight:bold;
}


/*Event Phase List*/



    .results-competition-dropdown 
    {
        display:inline-block; width:200px; float:right; height:28px; background:url(../img/down-arrow.gif) 100% 0% no-repeat #ffffff; position:relative; margin:-5px -10px -15px 0px; 
    }


.clicktoopendropdown 
{
    position:absolute; top:0px; right:0px; width:186px; height:18px; padding:5px 7px 5px 7px; cursor:pointer; line-height:18px; text-decoration:none !important;
}



    .results-competition-dropdown.dropdownopenstate
    {
        background:url(../img/up-arrow.gif) 100% 0% no-repeat #EBEBEC; cursor:pointer;
    }

.clicktoopendropdown 
{
    font-weight:bold;
}



        .results-competition-dropdown .dropdown-res-comp
        {
            position:absolute; top:28px; right:0px; width:900px; z-index:210; background-color:#EBEBEC; padding:20px; display:none;
        }


    
        .results-competition-dropdown .dropdown-res-comp .halfdownloadrespanel
        {
            float:left; width:440px; height:auto; padding:0px 10px 0px 0px; margin-bottom:-10px;
        }

            .results-competition-dropdown .dropdown-res-comp .halfdownloadrespanel:last-child
            {
                width:419px; height:auto; padding:0px 10px 0px 20px; border-left:1px solid #cccccc;
            }


        .results-competition-dropdown .dropdown-res-comp .halfdownloadrespanel h2
        {
            margin-bottom:10px;
            display:block;
            float:none;
        }


        .results-competition-dropdown .dropdown-res-comp .halfdownloadrespanel h3
        {
            display:block; float:left; width:120px; line-height:24px;
        }


        .results-competition-dropdown .dropdown-res-comp .dropdowndisciplinelist
        {
            height:auto; overflow:hidden; margin:0px 0px 15px 0px;
        }
        
        
        .results-competition-dropdown .dropdown-res-comp .eventrowdata
        {
            display:block; height:auto; overflow:hidden;
        }
        

            .results-competition-dropdown .dropdown-res-comp .dropdowndisciplinelist li
            {
                float:left; margin:0px 10px 0px 0px; padding:3px 0px 3px 0px; display:block; line-height:18px;
            }

            .results-competition-dropdown .dropdown-res-comp .dropdowndisciplinelist li a
            {
                border-right:1px solid #000026; padding:0px 10px 0px 0px;
            }

            .results-competition-dropdown .dropdown-res-comp .dropdowndisciplinelist li:last-child a
            {
                border-right:0px none transparent;
            }


/****Home Carousel*/    
  #documentGroupList li
        {
            
            cursor: move;
        }





