﻿


#menuListing ul
{
    position:relative;
    display:block;   
}
#menuListing ul li
{
    position:relative;
    display:inline;
    clear:both;
}
#menuListing .caret
{
    display:none;
    visibility: hidden;
}
#menuListing .dropdown-toggle
{
    cursor:auto;
    background-color:transparent;
    color:#046089;
 
    display:block;
    font-size:24px;
    padding: 20px 0px 20px 0px;
    max-width: 200px;
}
#menuListing .dropdown-menu
{
    background-color: #FFFFFF;
    color: #000026;
    box-shadow:none;
    border:0px;
    padding:0px;
    margin:0px;
    display:block;
    min-width:inherit;
    float:none;
}
#menuListing .dropdown-menu li
{
    margin:0px;
    min-width: 200px;
    line-height:30px;
    /*padding: 0px 20px 0px 20px;*/
}


#menuListing .dropdown-menu li { display:inline; }
/*#menuListing .dropdown-menu li:nth-child(4):after { content:"\A"; white-space:pre; }
#menuListing .dropdown-menu li:nth-child(8):after { content:"\A"; white-space:pre; }
#menuListing .dropdown-menu li:nth-child(12):after { content:"\A"; white-space:pre; }*/
#menuListing .dropdown-menu a, #menuListing > ul > li > a
{
    color: #000026;
    font-size: 1.3em;
    font-weight:bold;
    padding: 10px;
}
#menuListing > ul > li > a
{
    display:none;
}
#menuListing > ul > li > ul > li > a
{
    display:inline;
}
#menuListing .dropdown-menu a:hover
{
    background-color:#def4d0 !important;
}