﻿.tag-selector-search .tag-search {
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}

.tag-selector-results
{
    display:inline-block;
    width:450px;
    vertical-align: top;
    margin-left:20px;
    border-right: 1px solid #EEEEEE;
    padding-right:10px;
}
.tag-selector-selected-results
{
    display:inline-block;
    width:450px;
    vertical-align: top;
    margin-left:10px;
}

ul li.empty-list-notice
{
    color:#CCC;
}