﻿#eventSearchResults
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
    #eventSearchResults li
    {
        background-color: #ededed;
        border-radius: 3px;
        padding:5px;
        margin-bottom:2px;
    }
        #eventSearchResults li a
        {
            color: #333;
        }
    #eventSearchResults li.selected
    {
        background-color: #000026;
        padding:5px;
    }
        #eventSearchResults li.selected a
        {
            color: #FFF;
        }
#eventSearchHint
{
    color: #ccc;
}