﻿#loginContainer
{
    width:350px;
    margin: 0 auto;
}
input[type=text], input[type=password]
{
    width:100%;
}
input[type=checkbox]
{
    display: inline;
}

#passwordResetCompleteModal .modal-body
{
    min-height:300px;