﻿.gallery-items-preview li
{
    display:inline-block;
}
.gallery-items-preview img
{
    max-height:64px !important;
    max-width:64px !important;
}

.gallery-list .gallery
{
    display: inline-block;
    position:relative;
}
    .gallery-list .gallery img
    {
        max-width:210px;
        max-height:140px;
        margin-left:auto 0;
    }
    .gallery-list .gallery .gallery-details
    {
        position: absolute;
        width: 300px;
        background-color: #333;
        opacity:0.95;
        pointer-events: none;
        color: #FFF;
        padding:10px;
        z-index:10000;
        border-radius: 2px;
    }
    .gallery-list .gallery .gallery-details div
    {
        margin-bottom:5px;
        line-height:20px;
    }
    .gallery-list .gallery .label
    {
        margin-top:10px;
        margin-left:10px;
    }

#mediaGalleryRatioPreview
{
    overflow: hidden;
}

#mediaGalleryFullCropbox
{
    
}
.remote_hosting_properties
{
    display:none;
}

#mediaGalleryRatioPreview img
{
    max-width:inherit !important;
}

#mediaGalleryRatioPreviewContainer
{
    position:absolute;
    display:block;
    right:0px;
    background-color: #333;
}

#mediaItems
{
    
}
#mediaItems .thumbnail
{
    display:inline-block;   
}
#mediaGallery .thumbnail img
{
    max-width:210px;
    max-height:140px;
    margin-left:auto 0;
}

/*********** Overlay ************/

.overlay
{
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.overlay h2
{
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}

/*************** Modal Overwrites *******************/
.modal
{
    
}
.modal .inner-panel-wrap
{
    height:400px !important;
}