﻿ul.child-list
{
    list-style-type:none;
}
ul.child-list form
{
    padding: 0px !important;
}
ul.child-list input
{
    margin: 0px !important;   
}
span.title
{
    display:block;
    font-size:14px;
    font-weight:bold;
}
span.url
{
    color:#999;
}
span.publication-status
{
    color:#999;   
}
p.meta-description
{
    color:#999;   
}