﻿#documentGroupContent li.selected, #documentSectionContent li.selected
{
    background: #F5F5F5;
}
#documentGroupContent li, #documentSectionContent li
{
    
    padding:5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
