﻿@model List<ITOK.Core.Data.Model.Question>
@{
    ViewBag.Title = "QuestionList";
}

@if (Model.Any())
{
    foreach (var question in Model)
    {

        <div class="col-md-12 question-row">
            @question.QuestionText

            <div class="action-btns pull-right">
                <a class="btn btn-default" href="javascript:editQuestion('@question.Id.ToString()')" title="Edit">
                    <i class="fa fa-pencil" title="Edit"></i>
                </a>
                <a class="btn btn-danger" href="javascript:RemoveQuestion('@question.Id.ToString()')" title="Delete">
                    <i class="fa fa-trash" title="Delete"></i>
                </a>
            </div>
        </div>
    }
}
else
{
    <p>No questions added yet</p>
}

