﻿@model System.Collections.Generic.IList<ITOK.Core.Data.Model.ReadingList>

@{
    ViewBag.Title = "All available reading lists";

    var privatelists = Model.Where(x => x.UserId == LiveUser.Get().Id);
    var sharewithMe = Model.Where(x => x.UserId != LiveUser.Get().Id);
}




    <div class="row briefing-and-main-topics">
        <div class="col-md-12 offset-top-20 articles">
            <div class="blog-post row">
                <div class="page-header">

                    <h1 class="pull-left">
                        My folders
                    </h1>

                    <div class="btn-group pull-left">
                        <a href="readinglist/new" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Add New Folder
                        </a>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>

                @if (privatelists.Count() == 0)
                {
                    <p>You have no folders yet</p>
                }
                @foreach (var list in privatelists)
            {

                var url = "/readinglist/list/" + list.Id;

                    <div class="list-group-item alt-color row ">
                        <h2>
                            <a href="@url">
                                @list.Name
                            </a>
                            @*<small>
                            @(list.IsPublic ? "Shared List" : "Private List")
                        </small>*@
                        </h2>
                        <div class="clearfix"></div>
                        <div role="group">
                            @if (list.UserId == LiveUser.Get().Id)
                            {
                                <a id="EditReadingListButton" href="/readinglist/new/@list.Id" class="btn btn-default">
                                    <i class="fa fa-pencil"></i>
                                    Edit
                                </a>
                                <a id="DeleteReadingListButton" href="/readinglist/delete/@list.Id" class="btn btn-default" onclick="return confirm('Are you sure?')">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </a>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>

                }
                </div>
            </div>
        </div>
  



<script type="text/javascript">
    $('#ShareReadingListButton').click(function () {
        location.href = 'mailto:?subject=A Reading List was shared with you&body=' + window.location.href;
    });

    //var readingListAction = {};
    //readingListAction.loadReadingList = true;
</script>