﻿@model ITOK.Core.Data.Model.ReadingList
@{
                /**/

                var title = "";

                if (Model.UserId == LoginManager.CurrentUser.Id)
                {
                    title = "My reading list - " + Model.Name;// + (Model.IsPublic ? "- Shared" : "");
                }
                else
                {
                    title = "Shared reading list - " + Model.Name;
                }
                ViewBag.Title = title;
                var readingListId = Model.Id;

}

<div class="row briefing-and-main-topics">
    <div class="col-md-12 offset-top-20 articles">
        <div class="blog-post row">
            <div class="page-header">


                <div class="btn-group pull-right">

                    @if (Model.UserId == LoginManager.CurrentUser.Id)
                    {
                        <a id="EditReadingListButton" href="/readinglist/new/@Model.Id" class="btn">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>
                        <a href="/readinglist/delete/@readingListId" onclick="return confirm('Are you sure?')" class="btn">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                        @*<a id="ShareReadingListButton" href="#" class="btn">
                                <i class="fa fa-share"></i>
                                Share
                            </a>*@
                    }
                </div>
                <div class="clearfix"></div>
                <h1>
                    @title
                </h1>
                <div class="clearfix"></div>

            </div>

            <div class="clearfix"></div>

            <div class="col-md-12" id="content">

                @{
                    Html.RenderAction("ListContainerReadingList", "Hub", new { type = ITOKFrontend.Models.Constants.ArticleFilterType.UserReading, cols = 1, filter = readingListId });
                }
                <script>





    $('#ShareReadingListButton').click(function () {
        location.href = 'mailto:?subject=A Reading List was shared with you&body=' + window.location.href;
    });

    function removeArticleFromReadingList(articleId) {

        if ("@readingListId" == '' || articleId == '')
            return;
        if (confirm("Are you sure you want to remove this article from the folder?")) {
            $.get("/readinglist/RemoveArticleFromReadingList/?readingListId=@readingListId&articleId=" + articleId,
                  function (data) {

                      //Logic to delete the item

                      //alert("The article was removed from the reading list");
                      if (data == true)
                          $('#DivArticleElement_' + articleId).remove();
                      else
                          alert('You are not allowed to delete articles from others folders');
                  });
        }
    }
                </script>
            </div>

        </div>
    </div>
</div>

@*<script type="text/javascript">
        var readingListAction = {};
        readingListAction.loadReadingList = true;
    </script>*@