﻿@{
    ViewBag.Title = "New Reading List";
}


    <div class="row briefing-and-main-topics">
        <div class="col-md-12 offset-top-20 articles">
            <div class="blog-post row">
                <div class="page-header">

                    @if (!string.IsNullOrEmpty((string)ViewBag.ReadingListId))
        {
    <h1>
        Edit Folder Name
    </h1>
        }
        else
        {

    <h1>
        New Folder
    </h1>
        }

                </div>

                <div class="clearfix"></div>

                <div class="col-md-7 col-sm-7 col-xs-12" id="content">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ReadingListNewForm" }))
    {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Name :")

        @Html.TextBox("Name", (string)ViewBag.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @*@Html.Label("I want to share this list with colleagues at my site", new { @for = "IsPublic", style = "cursor:pointer" })

            @Html.CheckBox("IsPublic", (Boolean?)ViewBag.IsPublic)*@
        @Html.Hidden("IsPublic", "false")

        @Html.Hidden("ReadingListId", (string)ViewBag.ReadingListId)
    </div>

    <button type="submit" form="ReadingListNewForm" value="Submit" class="btn btn-primary btn-lg">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Save
    </button>

    <a href="/readinglist/" class="btn btn-danger btn-lg">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancel
    </a>

    <div class="clearfix"></div>

    @ViewBag.ErrorMessage

    }
                </div>


            </div>
        </div>
    </div>

<script>
    $('.input').keypress(function (e) {
        if (e.which == 13) {
            $('form#ReadingListNewForm').submit();
            return false;
        }
    });

    $('input#Name').focus();
</script>


@*<script type="text/javascript">
        var readingListAction = {};
        readingListAction.loadReadingList = true;
    </script>*@