﻿@model ITOKFrontend.Models.TagHubViewModel

<div id="transition">

    <div class="col-md-7 col-sm-12 col-xs-12" id="content">

        <div class="page-header">

            <h1>Terms and Conditions for use</h1>

            <div class="clearfix"></div>
        </div>

        <h3>1) General</h3>
        <p>a) By using the Volkswagen Desktop extranet service (the&nbsp;“Site”) which is owned and operated by Volkswagen UK you agree to all of the terms and conditions (the “Terms”) as set out below.</p>
        <p>b) Volkswagen UK is a trading division of Volkswagen Group United Kingdom Limited whose registered office is at Yeomans Drive, Blakelands, Milton Keynes MK14 5AN, a company authorised to conduct business in the United Kingdom ("Volkswagen UK", “we”, “our” “us”).</p>
        <p>c) Volkswagen UK reserves the right to amend these Terms at any time by posting changes online. You will be deemed to have accepted any changes to these Terms when you use the Site after the publication of the amended Terms. </p>
        <p>d) This Site is a service designed to allow you to access applications, information and third party sites.</p>
        <h3>2) Access to the Site</h3>
        <p>a) You shall not interfere or attempt to interfere with the proper operation of our software or any service being delivered through the Site. You must not attempt to gain unauthorised access to our computer system or the computer system(s) or any other user. You may not take any action which does or may cause our service to users to be interrupted or degraded. </p>
        <p>b) You shall not grant access to the Site to any third party or to any other user who already has access to the Site by providing or sharing usernames and / or passwords provided for your sole use. It is a condition of your use of the Site that you shall not use the Site or the information contained therein for any unlawful purpose or purposes prohibited by these Terms. </p>
        <p>c) You are responsible for ensuring that your User ID and password remain confidential so that they cannot be used by any unauthorised person and for preventing unauthorised persons from using your User ID and/or password. You must not disclose your password to any third parties or use your password for any purpose connected with the improper use of the Site.</p>
        <p>
            d) You shall take all reasonably necessary action to avoid a third party becoming aware of or gaining access to any information concerning all or any part of the Site, its security codes and procedures. You shall immediately advise Volkswagen UK of any violation or suspected violation. <br>
            &nbsp;
        </p>
        <h3>3) Privacy Statement</h3>
        <p>
            a) Volkswagen UK recognises the importance of protecting your privacy. Please be assured that we follow a strict policy of not selling or trading any personal or sensitive may store information about you so that you are able to use the Site. By accepting these Terms you consent to our processing your personal data for Site management and administration purposes. <br>
            <br>
            b) Volkswagen UK is committed to meeting its obligations under the Data Protection Act 1998. Volkswagen UK will strive to observe the law in all collection and processing of personal data and will meet any subject access request in compliance with the law. Volkswagen UK will only use your personal data respond to in ways relevant to carrying out its legitimate purposes and functions in a way that is not prejudicial to the interests of individual. Volkswagen UK will take due care in the collection and storage of any personal data.&nbsp;
        </p>
        <p>c) We may collect technical data about the type of Internet browser and computer operating system that you use. This information does not identify you as an individual and is used only for tracking of site use. We might also place a "cookie" on your hard drive that will help us to identify you when you return to the site and allow us to tailor content to your personal preferences. If you do not wish to use "cookies" you may disable this option in your Internet browser settings. "Cookies" can be removed from your computer.</p>
        <h3>4) Cookies</h3>
        <p>a) When you first visit the Site we may send you a cookie. A cookie is a small file that can be placed on your computer’s hard disc for record keeping purposes. This cookie is used to tell the Site that you are a registered user. </p>
        <p>b) You are not obliged to accept a cookie from us, or any other website, and may modify your browser so that it will not accept cookies at your discretion. Further information on the law concerning the use of cookies and how they may be removed from your system can be found at <a href="http://www.aboutcookies.org">www.aboutcookies.org</a>. </p>
        <h3>5) Content</h3>
        <p>a) We accept no liability for any material not created by, or pursuant to specific authorisation in writing from, Volkswagen UK which has been loaded onto the Site or is accessible via the Site. </p>
        <p>
            b) We reserve the right to remove any comment which in our sole discretion we consider to be defamatory, offensive, inappropriate or unlawful in any way, regardless of whether we have received a complaint to that effect. <br>
            <br>
            c) Comments or opinions expressed on the discussion board are those of their respective contributors only. The views expressed do not necessarily represent the views of VW UK, its management or employees.<br>
            <br>
        </p>
        <h3>6) Responsibility for transmission and use of the Site</h3>
        <p>a) You are solely responsible for the content of any of your transmissions through the Site and any content which you may post on the Site. You agree not to use the Site, its content or the services provided by it for any illegal purpose and that your use of the Site will not interfere with or disrupt computer networks or systems connected to, supporting or hosting the Site. </p>
        <p>b) You must not use the Site for transmitting any false, unlawful, harassing, defamatory, abusive, hateful, racist, threatening, harmful, vulgar, obscene, seditious or otherwise offensive material of any kind. </p>
        <p>c)&nbsp; If any offensive or illegal material is posted on the Site we reserve the rights to forward the originators details to the relevant authorities.</p>
        <p>d) Volkswagen UK reserves the right to prevent your usage of this Site if you misuse the content or the Site, in any manner. Volkswagen UK is the final arbiter as to what shall constitute misuse and its decision will be final.</p>
        <h3>7) Product Specification</h3>
        <p>a) Volkswagen UK has taken steps to ensure that all the product information and pricing ("product specification") featured on the Site is accurate and up-to-date. However, the product specifications contained on the Site are for information purposes only, as our products are continually updated and Volkswagen UK reserves the right to change the product specifications at any time without notice. Therefore all product specifications should be confirmed with Volkswagen UK. If you require any specific feature you must consult Volkswagen UK who is regularly updated with any changes in product specification.</p>
        <p>
            b) Images and photographs on this site are for general guidance only. They do not necessarily illustrate the UK specifications of the vehicles or any other products.<br>
            &nbsp;
        </p>
        <h3>8) Intellectual Property Rights</h3>
        <p>a) The Site is published by Volkswagen UK and is protected by copyright and other intellectual property rights in existence at the date hereof throughout the world. All intellectual property rights and goodwill relating to the Site and its design belong to us or to our licensors. Any content placed on the Site by Volkswagen UK will belong to us. You may not use our content for any purpose other than for the purpose for which it has been provided on the Site. </p>
        <p>b) Permission is hereby granted to electronically copy and to print in hard copy portions of the Site for the sole purpose of using the Site as an information resource for Volkswagen UK products. Any other use of materials on the Site, including reproduction for purposes other than the above, modification, distribution or republication without the prior written permission of Volkswagen UK is prohibited.</p>
        <p>c) The trade marks, logos and service marks shown on the Site, unless otherwise specified, are the trade marks of Volkswagen UK or its licensors. No rights are granted to use any of them in any manner whatsoever.</p>
        <p>d) Nothing in these Terms shall grant you any right, title or interest in or to any Intellectual Property and goodwill of Volkswagen UK and/or any other third party. </p>
        <p>
            e) Any infringement of Volkswagen UK's rights will result in appropriate legal action being taken against you. <br>
            <br>
            <br>
        </p>
        <h3>9) Termination</h3>
        <p>a) We reserve the right to suspend or terminate access to the Site at any time. Any such suspension or termination of access will not affect the accrued rights or liabilities of either party. </p>
        <p>&nbsp;</p>
        <h3>10) Content</h3>
        <p>
            a) None of the documents or other materials accessible by use of the Site constitutes an offer to a contract and no contract can be formed based on any content in the Site without express approval by other means. <br>
            <br>
            <br>
        </p>
        <h3>9) Confidentiality</h3>
        <p>a) You recognise that by using the Site you may receive trade secrets and/or confidential or proprietary information of Volkswagen UK or third parties including but not limited to information concerning business plans, customers, suppliers, services, intellectual property and financial results (“Confidential Information”). </p>
        <p>
            b) You agree not to use the Confidential Information for any purpose other than the purpose for which it is made available on the Site and agree not to divulge any Confidential Information received, to any individual who would not otherwise have access to such Confidential Information, and to prevent its disclosure to or access by any third party without the prior written consent of the party to whom it belongs except as may be required by law or any legal or regulatory authority. <br>
            <br>
            <br>
        </p>
        <h3>10) Disclaimer and Liability</h3>
        <p>
            a) Downloading from the Site is at your own risk and you must carry out all necessary virus checks. <br>
            &nbsp;<br>
            b) All express warranties, representations, conditions of any kind or other terms implied by statute or common law with respect to this Site or the information, content, materials or products included on the Site are hereby expressly excluded to the fullest extent permitted by law.
        </p>
        <p>c) Volkswagen UK shall not be liable in any circumstances for any direct or indirect, special or consequential loss or damage (whether for loss of profit or otherwise),&nbsp; costs, claims, expenses or other claims for compensation whatsoever,&nbsp; whether caused by the acts, omissions or the negligence of Volkswagen UK, its employees&nbsp; or agents, which arise out of or in connection with the use of the Site or the information, content, materials or products included on the Site, except in respect of death or personal injury caused by Volkswagen UK's, its employees' or its agents' proven negligence.</p>
        <p>
            d) Volkswagen UK does not accept any responsibility or liability for access to or material on, any web site which is linked from or to the Site.<br>
            &nbsp;
        </p>
        <h3>11) Governing Law</h3>
        <p>The Site is only for use by Volkswagen Centres in the UK and is not applicable to any other country or jurisdiction. These Terms will be governed by and construed in accordance with the laws of England and Wales. Each party irrevocably agrees to submit to the exclusive jurisdiction of the courts of England and Wales over any claim or matter arising under or in connection with these Terms.&nbsp; </p>

   
    </div>


</div>