﻿@using ITOK.Core.Data.Model
@model IList<Article>

@foreach (var article in Model)
{
    <li>
        <span class="result-heading">@article.Title (@article.LiveFrom.Value.ToString("dd/MM/yyyy") )</span>
        <a href="#" class="add-result btn" rel="@article.Id">Add</a>
    </li>
}