﻿@using ITOK.Core.Data.Model
@model IList<ITOK.Core.Data.Model.Country>

@foreach (var country in Model)
{
    <li>
        <span class="result-heading">@country.Name</span>
        <a href="#" class="add-result btn" rel="@country.Id">Add</a>
    </li>
}