﻿@model IList<ITOK.Core.Data.Model.SRAEvent>

@foreach (var FIPPEvent in Model)
{
    <li>
        <span class="result-heading">@FIPPEvent.Name</span>
        <a href="#" class="add-result btn" rel="@FIPPEvent.Id">Add</a>
    </li>
}