﻿@model IList<ITOK.Core.Data.Model.Policy>

@foreach (var publication in Model)
{
    <li>
        <span class="result-heading">@publication.Title</span>
        <a href="#" class="add-result btn" rel="@publication.Id">Add</a>
    </li>
}