﻿@model ITOK.Core.Data.Model.Retailer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{

}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/retailer"><i class="fa fa-chevron-left"></i>Back to list</a></li>

}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    if (!String.IsNullOrEmpty(ViewBag.Msg))
    {
        <ul class="unstyled" id="userResponses">

            <li class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <span class="headline">Success</span>
                <p>@ViewBag.Msg</p>
            </li>
        </ul>
    }

    <hr />
        @Html.ValidationSummary(true)
        <div id="row">
            <div class="pull-right">
                <div class="affix-row row">
                    <div class="btn-group pull-left margin-right-10">
                        <input class="btn btn-default btn-lg" id="save" name="submit" type="submit" value="Save" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
            <div role="tabpanel" class="tab-pane active" id="info">
                <ul class="list-unstyled">
                   
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Retailer ID<span class="required_star">* (must be unique)</span> @Html.ValidationMessageFor(x => x.RetailerId)
                        </label>
                        @Html.TextBoxFor(x => x.RetailerId, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Retailer Name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.RetailerName)
                        </label>
                        @Html.TextBoxFor(x => x.RetailerName, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                   
                </ul>
            </div>




}

