﻿@using ITOK.Core.Data.Model
@model List<Retailer>
@{
    ViewBag.Title = "Index";
}
@section Head
{
}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li>
        @Html.ActionLink("Add New Retailer", "Create", null, new { @class = "sm_new_article" })
    </li>

}
<h2>Retailers</h2>
<ul class="tags list-unstyled">

    @foreach (var retailer in Model)
    {
        <li tagid="@retailer.Id">
            <dl class="top-group-item">
                <dt>(@retailer.RetailerId) @retailer.RetailerName</dt>
                <dd class="sm2_actions">
                    <strong>Actions:</strong> <a href="/retailer/Edit/?Id=@retailer.Id" title="Edit">Edit</a>
                    <span class="sm2_delete" title="Delete"><a href="/retailer/delete/?Id=@retailer.Id" title="Delete">Delete</a></span>
                </dd>
            </dl>
          
        </li>
    }


</ul>

