﻿@using CMS.Helpers
@using ITOK.Core.Common.Constants
@using ITOK.Core.Common.Utils
@using ITOK.Core.Services.Security
@using ITOK.Core.Data.Model
@model SubmittedArticle

@{

    var brands = Model.brand;
    
}

<div class="list-group-item">

    <div class="btn-group pull-right" role="group">
        @if (Model.Status != SubmissionStatus.Deleted)
        {

            <a class="btn btn-default" href="@Html.GetSubmissionPreviewUri(Model)" target="_blank" title="View Article">
                <i class="fa fa-external-link" title="View Article"></i>
            </a>

            <a class="btn btn-default" href="/submissions/Edit/@Model.Id" title="Edit">
                <i class="fa fa-pencil" title="Edit"></i>
            </a>


                <a class="btn btn-danger" href="/submissions/Delete?articleid=@Model.Id" title="Delete">
                    <i class="fa fa-trash" title="Delete"></i>
                </a>


        }
        else
        {


                <a class="btn btn-default" href="/submissions/HardDelete?articleid=@Model.Id" title="Remove from recycle bin (irreversible)">
                    <i class="fa fa-exclamation-triangle"></i>
                </a>

                <a class="btn btn-default" href="/submissions/Restore?articleid=@Model.Id" title="Restore">
                    <i class="fa fa-repeat"></i>
                </a>

        }
    </div>

    <h4>
        @if (Model.Status != SubmissionStatus.Deleted)
        {
            <a href="/submissions/Edit/@Model.Id" title="Edit">
             @Model.ArticleType:  @Model.Title
            </a>

        }
        else
        {
            string.Format("{0}", Model.Title);
        }
    </h4>

    <ul class="list-unstyled">
        <li class="form-group">
            <strong>
                @Model.Status
            </strong>
        </li>
        <li>
            @foreach (var tag in Model.RelatedTags)
            {
                <span class="tag">@tag.DisplayText</span>

            }
        </li>
        <li>Created By: @Model.CreatedBy.Forename @Model.CreatedBy.Surname</li>
        <li>Updated By: @Model.UpdatedBy.Forename @Model.UpdatedBy.Surname</li>
        <li class="divider"></li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>
            
            Updated On: @(((DateTime)Model.UpdatedOn).ToLocalTime())
        </li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>
            Live from: @(((DateTime)Model.LiveFrom).ToLocalTime())
            
        </li>


      

    </ul>

</div>
