﻿@using CMS.Helpers.HtmlExtensions
@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@model SubmittedMedia


@{
    var thumbnailUrl = "";
    var thumbnailIcon = "";
    var thumbnailTitle = Model.Title;
    switch (Model.Format)
    {
        case FileFormat.PNG:
        case FileFormat.JPEG:
        case FileFormat.GIF:
        case FileFormat.Bitmap:
            thumbnailUrl = Html.GetSubmittedMediaUri(MediaProfile.Original, Model).ToString();
            thumbnailIcon = "";
            thumbnailTitle = Model.Title + " - Original dimensions " + Model.SourceHeight + " x " + Model.SourceWidth;
            break;
        case FileFormat.AVI:
        case FileFormat.MP4:
        case FileFormat.MPG:
            if (Model.Hosting == MediaHosting.RemoteYoutube)
            {
                thumbnailUrl = "http://img.youtube.com/vi/" + Model.RemoteItemCode + "/1.jpg";
                thumbnailIcon = "";
                thumbnailTitle = Model.Title + " - Original dimensions " + Model.SourceHeight + " x " + Model.SourceWidth;
            }
            else
            {
                thumbnailUrl = "";
                thumbnailIcon = "fa-video-camera";
            }
            break;

        case FileFormat.PDF:
            thumbnailUrl = "";
            thumbnailIcon = "fa-file-pdf-o";
            break;
        case FileFormat.Excel:
            thumbnailUrl = "";
            thumbnailIcon = "fa-file-excel-o";
            break;
        case FileFormat.Word:
            thumbnailUrl = "";
            thumbnailIcon = "fa-file-word-o";
            break;
        case FileFormat.Text:
            thumbnailUrl = "";
            thumbnailIcon = "fa-file-text-o";
            break;
        case FileFormat.PPT:
        case FileFormat.PPTX:
            thumbnailUrl = "";
            thumbnailIcon = "fa-file-powerpoint-o";
            break;
        default:
            thumbnailUrl = "";
            thumbnailIcon = "file-o";
            break;

    }
}
<li class="media_item thumbnail">
    @if (thumbnailIcon != "")
    {
        <span class="thumbnail tn-@thumbnailIcon">
            <i class="fa @thumbnailIcon" aria-hidden="true"></i>
        <span>@Model.Title</span></span>

    }
    else
    {
    <img src="@thumbnailUrl" alt="@Model.Title"
         title="@Model.Title" class="edit-media-item-image @(thumbnailIcon != ""? "tn-" + thumbnailIcon : "")" /><br/>
    }
    @*<span class="caption">@Model.Title</span>*@
    <a href="#" class="media_remove" rel="@(Model.Id)">[x]</a>
</li>