﻿@model CMS.Models.SubmissionsSelectTagModel
@{
    ViewBag.Title = "Index";
}
<style>
    select{
        height: 50px !important; 
        width: 500px !important;
        font-size: 18px !important;
    }
    option{
        font-size: 18px;
    }

</style>
@using (Html.BeginForm("Index", "Submissions", FormMethod.Post, new { name = "editForm" }))
{

    @Html.AntiForgeryToken()


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="row">

        <div class="page-header">
            <h1>
               Submit Content
            </h1>
            <p>Select the event and year you wish to submit content for</p>
        </div>
        <div id="row">

            <div class="affix-row row">
                <div class="form-group pull-left">
                    <div class="form-group col-md-12">
                        <label class="control-label">
                            Event
                        </label>
                        <div>
                            <select class="form-control" id="eventid" name="eventid" autofocus onchange="filterTopicList()">
                                @foreach (var tag in Model.EventTags.OrderBy(i => i.Order))
                                {
                                    <option value="@tag.Id">@tag.DisplayText</option>
                                }
                            </select>
                        </div>
                        <label class="control-label">
                            Year
                        </label>
                        <div>
                            <select class="form-control" id="yearid" name="yearid" autofocus>
                                <option value="">Please select</option>
                                @foreach (var tag in Model.YearTags)
                                {
                                    <option value="@tag.Id" parent="@tag.ParentId">@tag.DisplayText</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" value="Go" class="btn btn-primary btn-lg" />
                    </div>
                </div>
                <script>
                    function filterTopicList()
                    {
                        var selected = $("#eventid").val();
                        $("#yearid option").show();
                        console.log(selected);
                        console.log($("#yearid option[parent!='" + selected + "']").length);
                        $("#yearid option[parent!='" + selected + "']").hide();
                        $("#yearid").val("");
                    }
                    $(document).ready(function () {
                        filterTopicList();
                    });
                </script>

            </div>

        </div>


        <div class="clearfix"></div>


    </div>


}
