﻿@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using ITOK.Core.Common.Config
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar
@using ITOK.Core.Common.Utilities

@model List<ITOK.Core.Data.Model.Tags>

@{
    ViewBag.Title = "Editing ";
    Layout = "~/Views/Shared/_Layout.cshtml";
  

}
@section Head
{
}
@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
        <a href="/Submissions">
            <i class="fa fa-chevron-left"></i>
            Back to list
        </a>
    </li>
    }

@using (Html.BeginForm("SelectTag", "Submissions", FormMethod.Post, new { name = "editForm" }))
{

    @Html.AntiForgeryToken()


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="row">

        <div id="row">

            <div class="affix-row row">
                    <div class="form-group pull-left">
                        <div class="form-group col-md-12">
                            <label class="control-label">
                                Area
                            </label>
                            <div>
                                <select class="form-control" id="tagId" name="tagId" autofocus onchange="filterTopicList()">
                                    @foreach (var tag in Model.OrderBy(i => i.DisplayText))
                                    {
                                            <option value="@tag.Id">@tag.DisplayText</option>
                                    }
                                </select>
                            </div>
                            <label class="control-label">
                                Area topic
                            </label>
                            <div>
                                <select class="form-control" id="topicId" name="topicId" autofocus>
                                    <option value="">Please select</option>
                                   @foreach (var tag in Model)
                                   {
                                       foreach(var topicHeader in tag.TopicHeaders)
                                       {
                                           <option value="@topicHeader.Key" parent="@tag.Id">@topicHeader.Value</option>
                                       }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" value="Go"/>
                            </div>
                        </div>
                <script>
                    function filterTopicList()
                    {
                        var selected = $("#tagId").val();
                        $("#topicId option").show();
                        console.log(selected);
                        console.log($("#topicId option[parent!='" + selected + "']").length);
                        $("#topicId option[parent!='" + selected + "']").hide();
                        $("#topicId").val("");
                    }
                    $(document).ready(function () {
                        filterTopicList();
                    });
                </script>



                <div class="pull-right">

                    <label class="control-label">
                        &nbsp;
                    </label>
                    <div class="btn-group pull-left margin-right-10">


                        <input class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" />

                        <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />


                    </div>


                </div>


            </div>

        </div>


        <div class="clearfix"></div>


    </div>


}
