﻿@using CMS.Models;
@using ITOK.Core.Common.Constants;
@model SubmissionsOverviewModel
@{
    ViewBag.Title = "Summary";
}
<style>
    .Empty{
        background-color: silver;
    }
    .Approved{
        background-color: green;
    }
    .Rejected{
        background-color:red;
    }
      .InProgress{
        background-color:yellow;
    }
    .Submitted{
        background-color:orange;
    }
    table, th, td{
        border: solid 1px lightgrey;
        padding: 2px;
        padding-left: 10px;
    }
    th{
        font-weight: bold;
        background-color: lightgray;
        height: 30px;
    }

</style>

@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
       

        <a href="/Submissions">
            <i class="fa fa-chevron-left"></i>
            Submissions Home
        </a>

    </li>
    }
<h2>Viewing your content for @Model.EventTag.DisplayText, @Model.YearTag.DisplayText </h2>
<div style="float:right">
    <p>Completed @Model.overviewList.Where(i => i.article != null && (i.article.Status == SubmissionStatus.Approved || i.article.Status == SubmissionStatus.Submitted)).Count() of @Model.overviewList.Count()</p>
    @{
        var totalCount = @Model.overviewList.Count();
        decimal greenWidth = Model.overviewList.Where(i => i.article != null && i.article.Status == SubmissionStatus.Approved).Count();
        greenWidth = Math.Round(((greenWidth / totalCount) * 100) * 3);
        decimal orangeWidth = Model.overviewList.Where(i => i.article != null && i.article.Status == SubmissionStatus.Submitted).Count();
        orangeWidth = Math.Round(((orangeWidth / totalCount) * 100) * 3);
        decimal redWidth = Model.overviewList.Where(i => i.article != null && i.article.Status == SubmissionStatus.Rejected).Count();
        redWidth = Math.Round(((redWidth / totalCount) * 100) * 3);
        decimal yellowWidth = Model.overviewList.Where(i => i.article != null && i.article.Status == SubmissionStatus.InProgress).Count();
        yellowWidth = Math.Round(((yellowWidth / totalCount) * 100) * 3);
        decimal greyWidth = Model.overviewList.Where(i => i.article == null).Count();
        greyWidth = Math.Round(((greyWidth / totalCount) * 100) * 3);
    }
    <div style="width: 300px; height:21px;">
        <div style="width:@(greenWidth)px; height:21px;background-color:green; float:left">

        </div>
        <div style="width:@(yellowWidth)px; height:21px;background-color:yellow; float:left">

        </div>
        <div style="width:@(orangeWidth)px; height:21px;background-color:orange; float:left">

        </div>
        <div style="width:@(redWidth)px; height:21px;background-color:red; float:left">

        </div>
        <div style="width:@(greyWidth)px; height:21px;background-color:silver; float:left">

        </div>
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="clearfix"/>

<table width="100%">
    <tr>
        <th>Area</th>
        <th>Question</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    @foreach (var _so in Model.overviewList)
    {
        string backColor = "white";
        <tr>
            <td width="30%">@_so.tagName</td>
            <td>@_so.topicHeader</td>
            <td width="10%" class="@(_so.article != null ? _so.article.Status.ToString() : "Empty")">@(_so.article != null ? _so.article.Status.ToString() : "Empty")</td>
            <td width="3%">
                @if (_so.article != null)
                {
                <a class="btn btn-default" href="/submissions/Edit/@_so.article.Id" title="Edit">
                    <i class="fa fa-pencil" title="Edit"></i>
                </a>
                }
                else
                {
                    <a class="btn btn-default" href="/submissions/selecttag/@_so.tagId/@_so.topicId/@Model.EventTag.Id/@Model.YearTag.Id" title="Edit">
                        <i class="fa fa-pencil" title="Edit"></i>
                    </a>
                }
            </td>
        </tr>
    }
</table>
