﻿@model ITOK.Core.Data.Model.UserGroup

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{

}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/usergroup"><i class="fa fa-chevron-left"></i>Back to list</a></li>

}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "UserGroup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    if (!String.IsNullOrEmpty(ViewBag.Msg))
    {
        <ul class="list-unstyled" id="userResponses">

            <li class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <span class="headline">Success</span>
                <p>@ViewBag.Msg</p>
            </li>
        </ul>
    }

    <h4>User Group</h4>
    <hr />
    @Html.ValidationSummary(true)

    <fieldset id="generalinfoTab" class="row-fluid tab">
        <a name="geninfo"></a><legend>Edit User Group</legend>
        <ul class="list-unstyled">
            <li class="form-group">
                <label for="title">
                    Name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Name)
                </label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", autofocus = string.Empty })
            </li>

        </ul>
    </fieldset>


    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id, new { @class = "form-control", autofocus = string.Empty })
            @Html.ValidationMessageFor(model => model.Id)
        </div>
    </div>


    <h3 class="base-module">Members</h3>
    <div style="height:150px;overflow:auto; ">
        <ul class="list-unstyled list-module">
            @if (ViewBag.UserMembers != null)
            {
                foreach (var userMember in ViewBag.UserMembers)
                {
                    <li>
                        @*<span><b>@(userMember.GivenName)</b></span>*@
                        <span><i>@( userMember.UserEmail)</i></span>
                        <span>@(userMember.UserName)</span>
                        <span><i>@( userMember.RetailerID)</i></span>
                        <a href="/UserGroup/RemoveMember/?userId=@(userMember.Id)&userGroupId=@(Model.Id)"><i class="fa fa-minus-circle"></i></a>
                    </li>
                }
            }
        </ul>
    </div>
    <div id="controlPanel">
        <div class="btn-group btn-group-fixed">
            <input class="btn btn-default" id="save" name="submit" type="submit" value="Save" />
        </div>
    </div>


    <h3 class="base-module">Add more members</h3>
    <ul><li>Type in the name to find users </li></ul>
    <input type="text" autocomplete="off" id="searchText" class="form-control" value="Search by Email or Name" data-bind="value: UserGroupsPage_usersText, valueUpdate: 'keyup'" />

    <div style="height:150px;overflow:auto; ">
        <!-- ko foreach: UserGroupsPage_users -->

        <ul class="list-unstyled list-module">
            <li>
                <span> <!--ko text: UserEmail --><!--/ko--></span>
                <span><b><!--ko text: UserName --><!--/ko--></b> </span>
                <span> <!--ko text: RetailerID --><!--/ko--></span>

                <a href="#" data-bind="attr: { 'href' : '/UserGroup/AddMember/?userId='+  Id +'&userGroupId=@(Model!=null?Model.Id:"")'}"><i class="fa fa-plus-circle"></i></a>
            </li>
        </ul>

        <!--/ko-->
        <div class="CMSUsersNoResultsFound">No Results Found</div>
    </div>
       

        <h3 class="base-module">Import members from an excel spreadsheet :</h3>
        <ul>
            <li>First Line of the excel spreadsheet doesn't get imported as it is considered the Columns Names</li>
            <li>Format of columns is (Name , Email)</li>
          
        </ul>
        <input type="file" name="file" />




        }


        <script>
            $('.CMSUsersNoResultsFound').hide();
        </script>
