﻿@model ITOK.Core.ViewModels.ImportResultsModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/UserGroup/"><i class="fa fa-chevron-left"></i>Back to list</a></li>

}
<p><a href="/UserGroup/Edit/@(Model.UserGroupId)">Back To The Group</a></p>
<p><a href="#" onclick="window.print()">Print this page</a></p>
<h2>Import Results</h2>

<h3>Imported Successfully (@Model.ImportedSuccessfullyEmails.Count)</h3>
<ul>
    @foreach (var email in Model.ImportedSuccessfullyEmails)
    {
        <li>@email</li>
    }
</ul>


<h3>Not Imported , Email Not Found (@Model.EmailNotFoundEmails.Count)</h3>
<ul>
    @foreach (var email in Model.EmailNotFoundEmails)
    {
        <li>@email</li>
    }
</ul>

<h3>Not Imported , Already In The Group (@Model.AlreadyInTheGroupEmails.Count)</h3>
<ul>
    @foreach (var email in Model.AlreadyInTheGroupEmails)
    {
        <li>@email</li>
    }
</ul>
