﻿@model IEnumerable<ITOK.Core.Data.Model.UserGroup>


<h2>Edit User Groups</h2>
<p>&nbsp;</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new
                   {
                       id = item.Id
                   },
            new { onclick = "return confirm('Are you sure you wish to delete this group?');" })
            </td>
        </tr>
    }

</table>
