﻿.overflow-scroll {
  overflow-x: scroll;
}
.transportation-template {
  width: 1400px;
}
@media screen and (max-width: 991px) {
  .transportation-template {
    width: 1400px;
  }
}
@media screen and (max-width: 991px) {
  .volunteers-area {
    width: 1000px;
  }
}
.staffhired-template .bg-color {
  background-color: #c4ddff;
}
.staffhired-template .staffhired-table.table > tbody > tr > td {
  border: 1px solid #000;
  font-size: 12px;
  padding: 6px 8px;
}
.staffhired-template .staffhired-table tr td .inputHeight {
  height: 22px;
  width: 60px;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  .site-visit-summary {
    width: 1000px;
  }
}
.tamplate-section .questions-item-header {
  border: 1px solid #000;
  background-color: #c4ddff;
  float: left;
  width: 100%;
}
.tamplate-section .questions-item-header .questions-header-title {
  padding: 10px;
  vertical-align: middle;
  border-left: 1px solid #000;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  justify-content: center;
}
.tamplate-section .questions-item-header .questions-header-title:first-child {
  border: none;
}
.tamplate-section.staffhired-template .table-responsive.fixed-left-td-sec {
  overflow: hidden;
}
.questions-item {
  float: left;
  width: 100%;
  border: 1px solid #000;
  border-top: none;
  display: flex;
}
.questions-item .anwser-list {
  border-left: 1px solid #000;
  padding-left: 0;
  padding-right: 0;
}
.questions-item .anwser-list:last-child {
  border-right: none;
}
.questions-item .header {
  padding: 10px 10px;
  background-color: #c4ddff;
  font-size: 12px;
}
.questions-item .inputHeight {
  height: 22px;
  border-radius: 0;
  border: none;
  text-align: center;
  font-size: 12px;
}
.questions-item .checkboxClass {
  margin-top: 14px;
}
.questions-item .form-group {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .overflow-scroll {
    overflow-x: scroll;
  }
}
.staffhired-template .staffhired-table tr td .inputHeight {
  width: 42px;
  padding: 5px !important;
}
.staffhired-template .table-responsive.fixedLeftHeader {
  overflow: hidden !important;
}
.staffhired-template .table-responsive.fixedLeftHeader .table-wrapper-sec {
  overflow: auto;
  width: 100%;
  height: 500px;
}
.modalpopupForTemp5,
.modalpopupForvolunteer,
.modalpopupForsiteSummery {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  z-index: 9999999999;
  top: 0px;
  height: 100%;
  width: 100%;
}
.modalpopupForTemp5 .modal-dialog,
.modalpopupForvolunteer .modal-dialog,
.modalpopupForsiteSummery .modal-dialog {
  max-width: 1366px;
  width: 100%;
  margin: 100px auto 0;
  /*height: 600px;
        overflow: auto;*/
}
.modalpopupForTemp5 .modal-dialog .modal-body,
.modalpopupForvolunteer .modal-dialog .modal-body,
.modalpopupForsiteSummery .modal-dialog .modal-body {
  max-height: 500px;
  overflow: auto;
}
.modalpopupForTemp5 .modal-dialog .modal-body td,
.modalpopupForvolunteer .modal-dialog .modal-body td,
.modalpopupForsiteSummery .modal-dialog .modal-body td {
  padding: 4px;
}
.modalpopupForsiteSummery.ClientGroupPopup .modal-body {
  overflow-x: hidden;
  overflow-y: auto;
}
.clone {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.clone td {
  visibility: hidden;
  border-color: transparent;
}
.clone th {
  visibility: hidden;
  border-color: transparent;
  visibility: visible;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid black;
}
.clone .fixed-side {
  border: 1px solid #000000;
  background: #EEEEEE;
  visibility: visible;
}
.clone thead,
.clone tfoot {
  background: transparent;
}
.tamplate-section.site-visit-summary .questions-item {
  display: table-row;
}
.modalpopupForsiteSummery.ClientGroupPopup .modal-body {
  max-height: 500px;
  overflow: hidden;
  padding: 0px;
}
.tamplate-section.staffhired-template .table-responsive {
  overflow: auto;
  height: calc(100vh - 180px);
  position: relative;
}
.tamplate-section.site-visit-summary .questions-item .header {
  margin-bottom: 10px;
}
/*Fixed left td with both scrollbar*/
table.fixed-left-td {
  position: relative;
  width: 1000px;
  overflow: hidden;
  border-collapse: collapse;
}
/*tbody*/
table.fixed-left-td tbody {
  position: relative;
  display: block;
  /*seperates the tbody from the header*/
  width: 1000px;
  height: 500px;
  overflow: scroll;
}
table.fixed-left-td tbody tr td:nth-child(1) {
  /*the first cell in each tr*/
  position: relative;
  display: block;
  /*seperates the first column from the tbody*/
  height: 57px;
}
/*Fixed template modal css*/
.fixed-modal-dialog {
  position: fixed;
  left: 0.5%;
  width: calc(100% - 1%) !important;
  z-index: 9999;
  top: -15px;
  overflow-y: auto;
  max-height: 100%;
}
.fixed-modal-dialog .modal-header {
  padding: 10px 15px;
}
.fixed-modal-dialog .questions-item .header {
  padding: 2px 10px;
  margin-bottom: 0 !important;
}
.fixed-modal-dialog .table-responsive.fixedLeftHeader {
  height: auto;
}
.fixed-modal-dialog .table-responsive.fixedLeftHeader .table-wrapper-sec {
  height: auto;
}
.fixed-modal-dialog .tamplate-section.site-visit-summary .questions-item {
  display: flex;
}
.fixed-modal-dialog .tamplate-section.site-visit-summary .questions-item .form-group {
  margin-bottom: 0;
  height: 100%;
}
.fixed-modal-dialog .staffhired-template.summary-table-detail .staffhired-table tr td input[type="text"].inputHeight {
  width: 100%;
}
.fixed-modal-dialog .staffhired-template.summary-table-detail .staffhired-table tr.bg-color.tr-header td[colspan="2"] {
  text-align: center;
}