﻿.staffhired-template .bg-color {
  background-color: #c4ddff;
}
.staffhired-template .staffhired-table.table > tbody > tr > td {
  border: 1px solid #000;
  font-size: 12px;
  padding: 6px 8px;
}
.staffhired-template .staffhired-table tr td .inputHeight {
  height: 22px;
  width: 60px;
  text-align: center;
  font-size: 12px;
}