﻿@import "template1";
@import "template2";
@import "template3";
@import "template4";
@import "template5";
@import "template6";


@depth:40px;
@search:#EEEEEE;
@black:#000000;
@white:#FFFFFF;

.tamplate-section {
    .questions-item-header {
        border: 1px solid #000;
        background-color: #c4ddff;
        float: left;
        width: 100%;

        .questions-header-title {
            padding: 10px;
            vertical-align: middle;
            border-left: 1px solid #000;
            display: flex;
            align-items: center;
            height: 30px;
            font-size:12px;
            justify-content:center;

            &:first-child {
                border: none;
            }
        }
    }

    &.staffhired-template {        
        .table-responsive {
        &.fixed-left-td-sec {
            overflow:hidden;
        }
        }
    }
}



.questions-item {
    float: left;
    width: 100%;
    border: 1px solid #000;
    border-top: none;
    display: flex;

    .anwser-list {
        border-left: 1px solid #000;
        padding-left: 0;
        padding-right: 0;

        &:last-child {
            border-right: none;
        }
    }

    .header {
        padding: 10px 10px;
        background-color: #c4ddff;
        font-size:12px;
    }

    .inputHeight {
        height: 22px;
        border-radius: 0;
        border: none;
        text-align: center;
        font-size:12px;
    }

    .checkboxClass {
        margin-top: 14px;
    }

    .form-group {
        margin-bottom: 0;
    }
}






@media screen and (max-width: 991px) {
    .overflow-scroll {
        overflow-x: scroll;
    }

}

.staffhired-template {
    .staffhired-table tr td .inputHeight {
        width: 42px;
        padding: @depth/8 !important;
    }

    .table-responsive {
        &.fixedLeftHeader {
            overflow: hidden !important;

            .table-wrapper-sec {
                overflow: auto;
                width: 100%;
                height: 500px;
            }
        }

       
    }
}


.modalpopupForTemp5 {
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0px;
    z-index: 9999999999;
    top: 0px;
    height: 100%;
    width: 100%;

    .modal-dialog {
        max-width: 1366px;
        width: 100%;
        margin: 100px auto 0;
        /*height: 600px;
        overflow: auto;*/
        .modal-body {
            max-height: 500px;
            overflow: auto;

            td {
                padding: @depth/10;
            }
        }
    }
}

.modalpopupForvolunteer {
    &:extend(.modalpopupForTemp5 all);
}

.modalpopupForsiteSummery {
    &:extend(.modalpopupForTemp5 all);
}

.modalpopupForsiteSummery.ClientGroupPopup .modal-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.clone {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;

    td {
        visibility: hidden;
        border-color: transparent;
    }

    th {
        visibility: hidden;
        border-color: transparent;
        visibility: visible;
        color: @black;
        background: @white;
        border: 1px solid black;
    }
}


.clone .fixed-side {
    border: 1px solid @black;
    background: @search;
    visibility: visible;
}

.clone thead, .clone tfoot {
    background: transparent;
}

.tamplate-section.site-visit-summary .questions-item {
    display: table-row;
}

.modalpopupForsiteSummery.ClientGroupPopup .modal-body {
    max-height: 500px;
    overflow: hidden;
    padding: 0px;
}

.tamplate-section.staffhired-template .table-responsive {
    overflow: auto;
    height: calc(100vh - 180px);
    position: relative;
}

.tamplate-section.site-visit-summary .questions-item .header {
    margin-bottom: 10px;
}


/*Fixed left td with both scrollbar*/
table.fixed-left-td {
    position: relative;
    width: 1000px;
    overflow: hidden;
    border-collapse: collapse;
}

/*tbody*/
table.fixed-left-td tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    width: 1000px;
    height: 500px;
    overflow: scroll;
}

table.fixed-left-td tbody tr td:nth-child(1) { /*the first cell in each tr*/
    position: relative;
    display: block; /*seperates the first column from the tbody*/
    height: 57px;
}


/*Fixed template modal css*/

.fixed-modal-dialog {
    position: fixed;
    left: 0.5%;
    width: calc(100% - 1%) !important;
    z-index: 9999;
    top: -15px;
    overflow-y: auto;
    max-height: 100%;

    .modal-header {
        padding: 10px 15px;
    }

    .questions-item .header {
        padding: 2px 10px;
        margin-bottom: 0 !important;
    }

    .table-responsive {
        &.fixedLeftHeader {
            height: auto;

            .table-wrapper-sec {
                height: auto;
            }
        }
    }


    .tamplate-section.site-visit-summary .questions-item {
        display: flex;

        .form-group {
            margin-bottom: 0;
            height: 100%;
        }
    }

    .staffhired-template.summary-table-detail {
        .staffhired-table {
            tr {
                td input[type="text"].inputHeight {
                    width: 100%;
                }

                &.bg-color.tr-header {
                    td[colspan="2"] {
                        text-align:center;
                    }
                }
            }
        }
    }
}
