﻿@model CMS.Models.AreasOfInterestEditModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/tags"><i class="fa fa-chevron-left"></i>Back to list</a></li>

}

<h2>Create New Tag</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div id="row">
            <div class="pull-right">
                <div class="affix-row row">
                    <div class="btn-group pull-left margin-right-10">
                        <input class="btn btn-default btn-lg" id="create" name="submit" type="submit" value="Create" />
                    </div>
                </div>
            </div>
            </div>
        <div class="clearfix"></div>
        @if (!string.IsNullOrEmpty(ViewBag.errMsg))
        {
            <p><b>@ViewBag.errMsg</b></p>
        }
        @Html.ValidationSummary(true)

        <div role="tabpanel" class="tab-pane active" id="info">
            <ul class="list-unstyled">
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Display Text<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.areaOfInterest.InterestTagName)
                    </label>
                    @Html.TextBoxFor(x => x.areaOfInterest.InterestTagName, new { @class = "form-control", autofocus = string.Empty })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Associated Tag<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.areaOfInterest.InterestTagId)
                    </label>
                    @Html.DropDownListFor(m => m.areaOfInterest.InterestTagId, (List<SelectListItem>)ViewBag.tagItems, new { @class = "form-control" })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Belongs to Job Role<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.areaOfInterest.ParentId)
                    </label>
                    @Html.DropDownListFor(m => m.areaOfInterest.ParentId, (List<SelectListItem>)ViewBag.parentItems, new { @class = "form-control" })
                </li>
            </ul>
        </div>


        

            </div>

            }

