﻿@model CMS.Models.AreasOfInterestEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{

}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/areasofinterest"><i class="fa fa-chevron-left"></i>Back to list</a></li>

}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    if (!String.IsNullOrEmpty(ViewBag.Msg))
    {
        <ul class="unstyled" id="userResponses">

            <li class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <span class="headline">Success</span>
                <p>@ViewBag.Msg</p>
            </li>
        </ul>
    }

        <hr />
    @Html.ValidationSummary(true)
    <div id="row">
        <div class="pull-right">
            <div class="affix-row row">
                <div class="btn-group pull-left margin-right-10">
                    <input class="btn btn-default btn-lg"  id="save" name="submit" type="submit" value="Save" />
                </div>
            </div>
        </div>
    </div>
            <div class="clearfix"></div>
    <div role="tabpanel" class="tab-pane active" id="info">
        <ul class="list-unstyled">
            <li class="form-group">
                @*maxchars" maxchars="110"*@
                <label for="title">
                    Display Text<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.areaOfInterest.InterestTagName)
                </label>
                @Html.TextBoxFor(x => x.areaOfInterest.InterestTagName, new { @class = "form-control", autofocus = string.Empty })
            </li>
            <li class="form-group">
                @*maxchars" maxchars="110"*@
                <label for="title">
                  Associated Tag<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.areaOfInterest.InterestTagId)
                </label>
                @Html.DropDownListFor(m => m.areaOfInterest.InterestTagId, (List<SelectListItem>)ViewBag.tagItems, new { @class="form-control"})
            </li>
            <li class="form-group">
                @*maxchars" maxchars="110"*@
                <label for="title">
                    Belongs to Job Role<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.areaOfInterest.ParentId)                </label>
                @Html.DropDownListFor(m => m.areaOfInterest.ParentId, (List<SelectListItem>)ViewBag.parentItems, new { @class = "form-control" })
            </li>
        </ul>
</div>
   




        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.areaOfInterest.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.areaOfInterest.Id, new { @class = "span12", autofocus = string.Empty })
                @Html.ValidationMessageFor(model => model.areaOfInterest.Id)
            </div>
        </div>





        
        }

