﻿@using ITOK.Core.Data.Model
@model List<AreasOfInterest>
@{
    ViewBag.Title = "Index";
}
@section Head
{
    <script src="~/Scripts/Draggable.js" type="text/javascript"></script>
}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li>
        @Html.ActionLink("Add New Area", "Create", null, new { @class = "sm_new_article" })
    </li>

}
<h2>Areas of Interest</h2>
<p>To remove an area please contact Support. It would need to be removed from all users favourites</p>
<ul class="tags list-unstyled">

    @foreach (var tag in Model.OrderBy(i => i.ParentSlug))
    {
        <li tagid="@tag.Id" tagname="@tag.InterestTagName">
            <dl class="top-group-item">
                <dt><b>@tag.ParentSlug : @tag.InterestTagName</b></dt>
                <dd class="sm2_actions">
                    <strong>Actions:</strong> <a href="/AreasOfInterest/Edit/?Id=@tag.Id" title="Edit">Edit</a>
                </dd>
            </dl>
          
        </li>
    }


</ul>

