﻿@using ITOKFrontend.Models.Constants
@using ITOK.Core.Common.Extensions
@using ITOK.Core.Common.Utilities
@using ITOK.Core.Common.Utilities.Extensions.Html
@using ITOK.Core.Common.Utils
@model ITOKFrontend.Models.ArticleDetailViewModel

@{
    var itemMediaProfile = ITOK.Core.Common.Constants.MediaProfile.size_600x300;
    var profileConfig = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfile);

    ViewBag.Title = Model.Article.Title;

    string queryString = Request.QueryString.ToString() ?? "";

    var brand = Brand.itok;


    var _statsService = new ITOK.Core.Services.Core.StatsService(new ITOK.Core.Data.MongoRepository());
}

@section MetaTags{
    <meta name="description" content="@(Model.Article.MetaDescription)">
    @if (string.IsNullOrEmpty(Model.Article.AuthorUserId) == false)
    {
        <meta name="author" content="@(Model.AuthorName)">
    }
    <meta name="title" content="@(Model.Article.SEOTitle)">
    @foreach (var tag in Model.Article.Tags)
    {
        <meta name="tag" content="@tag">
    }

    <meta name="brand" content="@brand">

    <meta name="DatePublished" content="@(ITOK.Core.Common.Utils.DateTimeUtilities.DateFormatISO(Model.Article.CreatedOn, true))">
    <meta name="VersionDate" content="@(ITOK.Core.Common.Utils.DateTimeUtilities.DateFormatISO(Model.Article.VersionDate, true))">
    <meta name="UpdatedDate" content="@(ITOK.Core.Common.Utils.DateTimeUtilities.DateFormatISO(Model.Article.UpdatedOn, true))">
    <script type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>

}
@if (MembershipHelper.IsAuthenticated())
{
    <script>
        @*newrelic.setCustomAttribute('articleTitle', '@Model.Article.Title');
        newrelic.setCustomAttribute('articleId', '@Model.Article.Id');
        newrelic.setCustomAttribute('articleTags', '@(string.Join(",", Model.Article.Tags.ToArray()))');*@
    </script>
}



    <div class="row briefing-and-main-topics">

        <div class="col-md-12 offset-top-20 articles">

                <div class="blog-post row" data-articletitle="@Model.Article.Title">

                    <div class="page-header less-top">

                        <div class="btn-group spaced add-tools fv-tools-article" role="group">

                            <a href="#" onclick="window.print();return false;" class="print-link btn btn-lg btn-default _mobileHide">
                                <i class="fa fa-print" aria-hidden="true"></i>                            Print this page
                            </a>

                            <a href="mailto:?subject=@Model.Article.Title&body=@(Request.Url.GetLeftPart(UriPartial.Authority) + ArticleUtilities.GetArticleUri(Model.Article))"
                               onclick="javascript: window.open('mailto:?subject=@Model.Article.Title&body=@(Request.Url.GetLeftPart(UriPartial.Authority) + ArticleUtilities.GetArticleUri(Model.Article))', 'mail'); event.preventDefault()" class=" print-link btn btn-lg btn-default">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                Share by Email
                            </a>

                            @if (Model.Article.IsFavoriteForCurrentUser)
                        {
                                <a class="btn btn-lg btn-default no-text" href="#" data-favourite="true" data-urlslug="@Model.Article.Id">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span class="favcount" data-count="@Model.Article.FavCount"></span>
                                </a>
                        }
                        else
                        {
                                <a class="btn btn-lg btn-default no-text" href="#" data-favourite="false" data-urlslug="@Model.Article.Id">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="favcount" data-count="@Model.Article.FavCount"></span>
                                </a>
                        }

                            <button class="btn btn-lg btn-default" id="btnAddToReadingList" data-bind="click: function(){ showDialog(true); articleUrlSlug('@Model.Article.Id'); }">
                                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                <span class="readinglistcount" id="@(Model.Article.Id)RL" data-count="@Model.Article.ReadingListCount"></span>
                            </button>


                        </div>

                        <div class="clearfix"></div>

                        <hr />



                            @if (LiveUser.CanDoAny(Permission.EditArticles))
                            {
                                <a class="btn btn-default btn-lg pull-right" href="http://cms.itok.hn-staging.com/article/edit/@Model.Article.Id" target="_blank">
                                    Edit
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            }
                            <h1>
                                @Model.Article.Title
                            </h1>

                        <div class="col-md-8">
                            @if (Model.AreaTag != null)
                            {

                                <div class="col-md-12 row mainimg thumbnail">

                                    <div class="document-group responsibilities">

                                        <h3>
                                            Responsibilities
                                        </h3>

                                        <ul class="list-unstyled">
                                            @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsibleName))
                                            {
                                                <li>Responsible: @Model.AreaTag.ResponsibleName</li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsibleTitle))
                                            {
                                                <li>Title: @Model.AreaTag.ResponsibleTitle</li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsiblePhone))
                                            {
                                                <li>Phone: @Model.AreaTag.ResponsiblePhone</li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsibleEmail))
                                            {
                                                <li>Email: <a href="mailto:@Model.AreaTag.ResponsibleEmail">@Model.AreaTag.ResponsibleEmail </a></li>
                                            }
                                        </ul>

                                    </div>

                                </div>

                            }
                            <div class="clearfix"></div>

                            <div class="pull-left article-number-and-date">

                                @*<div class="pull-left">
                    <span class="article-number">
                        @Model.Article.BrandArticleNumber
                    </span>
                </div>*@

                                <div class="pull-left">
                                    <h4 class="date">
                                        @Html.DateFormat(Model.Article.LiveFrom)
                                        @if (Model.Article.VersionDate.HasValue && Model.Article.LiveFrom != Model.Article.VersionDate.Value)
                                        {
                                            <small>
                                                Last Updated <strong>@Html.DateTimeAgo(Model.Article.VersionDate)</strong>
                                            </small>
                                        }
                                    </h4>
                                </div>

                            </div>

                            <div class="clearfix"></div>

                            @if (Model.Article.PrimaryMedia != null && Model.Article.ResultCard != ResultCard.HideInArticle)
                            {
                                if (Model.Article.ArticleType == ITOK.Core.Common.Constants.ArticleType.document)
                                {
                                    var extension = System.IO.Path.GetExtension(Model.Article.PrimaryMedia.FileName).Substring(1);
                                    <div class="col-md-12 row mainimg">
                                        <div class=" document-group text-center">
                                            <h3>
                                                <a href="@Html.GetDocumentUri(Model.Article.PrimaryMedia.FileName)">
                                                    @switch (extension)
                                                    {
                                                        case "xlsx":
                                                            <i class="fa fa-file-excel-o"></i>
                                                            break;
                                                        case "pdf":
                                                        <i class="fa fa-file-pdf-o"></i>
                                                            break;
                                                        case "docx":
                                                        <i class="fa fa-file-word-o"></i>
                                                            break;
                                                    }
                                                    @Model.Article.PrimaryMedia.Title
                                                </a>
                                            </h3>
                                            <div class="text-center">
                                                <div class="btn-group" role="group">
                                                    <a class="btn btn-default nrDownload" href="@Html.GetDocumentUri(Model.Article.PrimaryMedia.Id, brand, true)">
                                                        <i class="fa fa-cloud-download"></i>
                                                    </a>
                                                    <a class="btn btn-default nrOpenDownload" href="@Html.GetDocumentUri(Model.Article.PrimaryMedia.Id, brand, false)" target="_blank">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 row mainimg thumbnail">
                                        @Html.GetMedia(itemMediaProfile, Model.Article.PrimaryMedia, brand, profileConfig.Height, profileConfig.Width, true, false, false)
                                    </div>
                                }

                            }

                        </div>
                            <div class="clearfix"></div>

                        </div>

                    <div class="col-md-8">

                        @Html.Raw(@Model.Article.Body)
                    </div>
                </div>


            @if (Model.Article.RelatedMedia.Any(i => FileUtilities.FormatIsInGroup(i.Format, FileFormatGroup.Video)))
            {
                <div class="row related-media">
                    <div class="col-md-12">
                        <!-- related documents-->

                        <h2>Related Videos</h2>
                        @foreach (var mediaItem in Model.Article.RelatedMedia.Where(i => ITOK.Core.Common.Utils.FileUtilities.FormatIsInGroup(i.Format, FileFormatGroup.Video)))
                        {

                            @Html.GetMedia(MediaProfile.size_600x300, mediaItem, brand, 400, 600, false, true, false)

                        }

                    </div>
                </div>
            }
            @if (Model.Article.RelatedMedia.Any(i => FileUtilities.FormatIsInGroup(i.Format, FileFormatGroup.Document)))
            {
                <div class="row related-media">
                    <div class="col-md-12">
                        <!-- related documents-->

                        <h2>Related Downloads</h2>
                        @foreach (var mediaItem in Model.Article.RelatedMedia.Where(i => ITOK.Core.Common.Utils.FileUtilities.FormatIsInGroup(i.Format, FileFormatGroup.Document)))
                        {

                            @Html.GetMedia(MediaProfile.size_600x300, mediaItem, brand, 300, 600, false, true, false)

                        }

                    </div>
                </div>
            }
            @if (string.IsNullOrEmpty(Model.AuthorName) == false)
            {
                <div class="clearfix"></div>

                <h4>
                    <small>
                        Article written by <strong>@(Model.AuthorName)</strong>
                    </small>
                </h4>

                <div class="clearfix"></div>
            }

            <div class="clearfix"></div>










            <div class="post-tags row">

                <div class="tags">
                    <div class="btn-group spaced altcolors offset-below-10" role="group" aria-label="...">
                        <label>
                            <i class="fa fa-tags"></i>
                        </label>
                        @foreach (var tag in Model.Article.RelatedTags.OrderBy(x => x.TagType).ThenBy(x => x.DisplayText))
                        {
                            <a class="btn btn-default offset-below-10" href="/hub/@tag.UrlSlug?utm_source=@Model.Article.ArticleType&utm_medium=RelatedTag&utm_content=@Model.Article.Title">@tag.DisplayText</a>
                        }
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="btn-group spaced add-tools fv-tools-article" role="group">

                    <a href="#" onclick="window.print();return false;" class="print-link btn btn-default">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print this page
                    </a>

                    <a href="mailto:?subject=@Model.Article.Title&body=@(Request.Url.Scheme + "://" + Request.Url.Host + ArticleUtilities.GetArticleUri(Model.Article))" class=" print-link btn btn-default">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        Share by Email
                    </a>

                    @if (Model.Article.IsFavoriteForCurrentUser)
                    {
                        <a class="btn btn-default" href="#" data-favourite="true" data-urlslug="@Model.Article.Id">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="favcount" data-count="@Model.Article.FavCount"></span>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-default" href="#" data-favourite="false" data-urlslug="@Model.Article.Id">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span class="favcount" data-count="@Model.Article.FavCount"></span>
                        </a>
                    }

                    <button class="btn btn-default" id="btnAddToReadingList" data-bind="click: function(){ showDialog(true); articleUrlSlug('@Model.Article.Id'); }">
                        Add to reading list
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <span class="readinglistcount" id="@(Model.Article.Id)RL" data-count="@Model.Article.ReadingListCount"></span>
                    </button>

                </div>

            </div>
            @if (Model.Article.EnableGotItBlock || Model.Article.EnableMessageAuthorBlock)
            {

                if (Model.Article.EnableMessageAuthorBlock)
                {
                    <div class="post-tags row" id="sendAuthorComment">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="offset-top-20">
                                <h3>
                                    Send the author a comment
                                </h3>

                                <div class="clearfix"></div>

                                <textarea name="comments" class="form-control" id="articleComment" placeholder="Send the author a comment"></textarea>

                                <button type="button" class="btn btn-primary btn-lg  offset-top-10" id="btnSendComment" onclick="javascript:SendComment()">
                                    Send
                                </button>

                            </div>
                        }
                    </div>
                }
                @*<div class="thumbnail">
    <div class="document-group">
        @if (Model.Article.EnableGotItBlock)
            {
                    <span>
                        Got it
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is a Tooltip that will appear above the ? which explains what 'Got it?' means further">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </span>

                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="#" id="btnYes">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            I have got it
                        </a>
                        <a class="btn btn-default" href="#" id="btnNo">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            I have not got it
                        </a>
                    </div>

                    <script type="text/javascript">
                    $(document).ready(function () {
                        $.get("@(string.Format("/{1}/article/getgotit/{0}", Model.Article.Id, brand))",
                        function (data) {
                            if (data.Voted == true) {
                                $("#btnYes, #btnNo").on("click", function () {
                                    alert("You have already voted for this");
                                    return false;
                                });
                                if (data.YesNo == 0) {
                                    $("#btnYes").addClass("btn-primary").removeClass("btn-default");
                                } else if (data.YesNo == 1) {
                                    $("#btnNo").addClass("btn-primary").removeClass("btn-default");
                                    $("#sendAuthorComment").show();
                                }
                            }
                            else {
                                $("#btnYes").on("click", function () {
                                    $(this).addClass("btn-primary").removeClass("btn-default");
                                    GotIt(true);
                                    return false;
                                });
                                $("#btnNo").on("click", function () {
                                    $(this).addClass("btn-primary").removeClass("btn-default");
                                    GotIt(false);
                                    $("#sendAuthorComment").show();
                                    return false;
                                });
                            }
                        });
                    });
                    function GotIt(gotit) {
                        $.get("/@brand/article/gotit/@Model.Article.Id/" + gotit,
                        function (data) {
                            $("#btnYes, #btnNo").off("click");
                            $("#btnYes, #btnNo").on("click", function () {
                                alert("You have already voted for this");
                            });
                        });
                    }
                    </script>

            }

                    </div>
                </div>*@
                <div class="clearfix"></div>
            }

            <div class="col-lg-12 briefing no-padding offset-below-40">

                <h3 class="aside offset-top-10">
                    Related articles
                </h3>

                <div class="clearfix"></div>
                @if (Model.Article.RelatedArticles.Any())
            {

                    <div class="clearfix"></div>

                if (Model != null && Model.Article.RelatedArticles.Any() && Model.Article.RelatedArticles.First() != null)
                {

                    foreach (var article in Model.Article.RelatedArticles)
                    {
                        var url = ArticleUtilities.GetArticleUri(article);
                        var divArticleElement = "";


                        <div class="list-group-item alt-color row col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-right-1 @divArticleElement @( article.ArticleType == ArticleType.group ? "important" : string.Empty)">

                            <div class="pull-left article-number-and-date">

                                <div class="pull-left">
                                    <h4 class="date">
                                        @Html.DateFormat(article.LiveFrom)
                                    </h4>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <h2>
                                <a href="@url">
                                    @article.Title
                                </a>
                            </h2>

                            <div class="clearfix"></div>
                            <p class="standfirst">
                                @article.StandFirst
                            </p>

                            <div class="clearfix"></div>

                        </div>
                    }
                }

            }
               
                <div class="clearfix"></div>

            </div>




        </div>

    </div>








<script type="text/javascript">

    function SendComment() {
        $.ajax(
           {
               type: "post",
               url: "/article/addcomment",
               data: AddAntiForgeryToken({ comment: $("#articleComment").val(), title: '@Model.Article.Title', urlSlug: '@Model.Article.UrlSlug' }),
               success: function (data, status, xhr) {

                   if (data.Success) {
                       $('#okay').fadeIn(1500).delay(3500).fadeOut(1500);
                   }
                   else {
                       alert('Sorry, failed to send comment');
                   }
               }
           });

    }
    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };
</script>

<script>

    $.ajax({
        url: '/article-viewed/@LiveUser.Get().Id/@(Model.Article.Id)?@queryString' //article-viewed/{UserId}/{JobRole}/{urlSlug}
    });

    var article = {};
    article.isFavourited = '@Model.Article.Id';
    //article.isRead = '@Model.Article.Id';
    //article.ReadingListId = '56d4884977aab40c30f60919';
    brightcove.createExperiences();

</script>