﻿@using CMS.Models
@using ITOK.Core.Common.Config
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar
@model UserEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ScriptRegistrar.RegisterScript("~/Scripts/UserEdit.js");
    ScriptRegistrar.RegisterClientVariable("permissions", Enum.GetValues(typeof(Permission)));
    ScriptRegistrar.RegisterStyle("~/Content/Styles/User.css");


}

@section Head
{

}

@section SideBar
{
    <li><a href="/User"><i class="fa fa-chevron-left"></i> Back to list</a></li>
}
<style>
    .disabledUL {
        pointer-events: none;
        opacity: 0.6;
    }
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default radio button */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .tile {
        padding: 0 0px 0 7px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #868686;
        background-color: #f1f1f1;
        font-size: 10px;
        font-weight: bold;
    }

        .tile i {
            color: #fff;
            background-color: #d54d49;
            margin-left: 5px;
            padding: 2px 3px;
            border-radius: 3px;
            font-size: 10px;
        }
</style>
@{ Html.RenderPartial("UserResponses", Model.Responses); }

@using (Html.BeginForm("EditAction", "User", FormMethod.Post, new { name = "editForm" }))
{
    if (string.IsNullOrEmpty(Model.User.Id))
    {
        <h2>New User</h2>
    }
    else
    {
        <h2>Editing User @Model.User.Forename @Model.User.Surname</h2>
    }

    <p class="required_label"><strong>Note: </strong>Items marked with a <span class="required_star">*</span> are required.</p>

    <fieldset class="row-fluid tab">
        <legend>General Info</legend>
        <ul class="list-unstyled">
            <li class="form-group">
                <label>Forename<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.User.Forename)</label>
                @Html.TextBoxFor(x => x.User.Forename, new { @class = "form-control", @Id = "txtForename" })
                @Html.HiddenFor(x => x.User.Id, new { @class = "form-control", @Id = "txtUserId" })
            </li>
            <li class="form-group">
                <label>Surname<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.User.Surname)</label>
                @Html.TextBoxFor(x => x.User.Surname, new { @class = "form-control", @Id = "txtSurname" })
            </li>
            <li class="form-group">
                <label>Email<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.User.Email)</label>
                @Html.TextBoxFor(x => x.User.Email, new { @class = "form-control", @Id = "txtEmail", @type = "email" })

            </li>
            <li class="form-group">
                <label>New Password<span class="required_star">*</span></label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </li>

            <li class="form-group">
                <label>Confirm New Password</label>
                <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="confirm new password..." class="form-control" />
            </li>
            <li class="form-group">
                <label>Permissions</label>
                <ul id="permissions">
                    @foreach (var permissionConfig in Model.AllPermissionConfigurations)
                    {
                        var liClass = "disabled";
                        if (Model.User.Permissions != null && Model.User.Permissions.Contains(permissionConfig.Name))
                        {
                            liClass = "enabled";
                        }
                        <li id="@permissionConfig.Name" class="@liClass">
                            <a href="#" id="@permissionConfig.Name.ToString()">
                                <span class="name">@permissionConfig.DisplayName</span>
                                <span class="subtext">@permissionConfig.Description</span>
                            </a>
                        </li>
                    }
                </ul>

                <div style="display:none; visibility: hidden" id="hiddenPermissions">
                    @if (Model.User.Permissions != null)
                    {
                        foreach (var permission in Model.User.Permissions)
                        {
                            <input type="hidden" name="User.Permissions" value="@permission.ToString()" />
                        }
                    }
                </div>
            </li>

            <li></li>
            <li class="form-group">
                @*<h1>Custom Radio Buttons</h1>*@
                <div>
                    <label class="container">
                        ITOK Leader
                        <input type="checkbox" id="itokLearder" checked="@Model.User.IsItokLeader" onclick="disableDiv()" name="radioitkLeader">
                        <span class="checkmark"></span>
                    </label>

                </div>
                <div id="selectionMode">
                    <label class="container">
                        All
                        <input type="radio" id="chkAll" onchange="ChkUnchk('All')" name="radioAll">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Selected
                        <input type="radio" id="chkSelected" onchange="ChkUnchk('Select')" name="radioSelect">
                        <span class="checkmark"></span>
                    </label>
                </div>

            </li>

            <li>
                <div id="divSelection" class="itock-leader-sec">
                    <label class="col-md-12">Area</label>
                    <ul id="areasul">
                        @*@Html.DropDownListFor(m => m.User.AreaTagId, (List<SelectListItem>)ViewBag.TagsList, "Please select", new { @class = "form-control" ,@id="", onchange = "AjaxAreaQuestionCall(this)" })*@
                        <select id="ddlArea" onchange="AjaxAreaQuestionCall(this)">
                            <option value="0">Please select</option>
                            @{
                                if (ViewBag.TagsList != null)
                                {
                                    var lst = ViewBag.TagsList;
                                    foreach (var i in lst)
                                    {
                                        <option value=@i.Value>@i.Text</option>
                                    }
                                }
                            }

                        </select>


                    </ul>

                    <div id="divQuestion" class="col-md-12" style="display:none;">
                        <label>Question</label>
                        <div class="row">
                            <label class="col-md-12" style="margin-left:5px"><input id="checkUncheck" type="checkbox" checked="checked" name="checkUncheck" /> Select All/Unselect All</label>
                            <ul id="questionul" class="list-inline col-md-12">
                                @*@if (Model.User.Questions != null && Model.User.Questions.Count > 0)
                                    {
                                        for (int i = 0; i < Model.User.Questions.Count; i++)
                                        {
                                            <li class="checkbox col-md-4 col-sm-12">
                                                @Html.CheckBoxFor(x => Model.User.Questions[i].IsChecked, new { @class = "questionCls", @id = Model.User.Questions[i].Id })
                                                @Model.User.Questions[i].DisplayText
                                                @Html.HiddenFor(x => Model.User.Questions[i].Id)
                                                @Html.HiddenFor(x => Model.User.Questions[i].DisplayText)
                                                @Html.HiddenFor(x => Model.User.Questions[i].TagType)
                                                @Html.HiddenFor(x => Model.User.Questions[i].ParentId)
                                            </li>
                                        }
                                    }*@
                            </ul>
                        </div>
                    </div>

                    <div id="divevents" style="display:none;">
                        <label>Events</label>
                        <ul id="events" style="padding-left:25px" class="list-inline">

                            @*for (int i = 0; i < Model.User.Eventtags.Count; i++)
                                {
                                <li>
                                    @Html.CheckBoxFor(x => Model.User.Eventtags[i].IsChecked, new { @class = "evetCls", @id = Model.User.Eventtags[i].Id })
                                    @Model.User.Eventtags[i].DisplayText
                                    @Html.HiddenFor(x => Model.User.Eventtags[i].Id)
                                    @Html.HiddenFor(x => Model.User.Eventtags[i].DisplayText)
                                    @Html.HiddenFor(x => Model.User.Eventtags[i].TagType)
                                    @Html.HiddenFor(x => Model.User.Eventtags[i].ParentId)
                                </li>

                                }*@
                        </ul>
                    </div>
                    <div id="divYear" class="col-md-12" style="display:none;">
                        <label>Years</label>
                        <ul id="yearsul" class="list-inline col-md-12" style="padding-left:0">
                            @*@if (Model.User.Yeartags != null && Model.User.Yeartags.Count > 0)
                                {
                                    for (int i = 0; i < Model.User.Yeartags.Count; i++)
                                    {
                                        <li class="checkbox col-md-4 col-sm-12">
                                            @Html.CheckBoxFor(x => Model.User.Yeartags[i].IsChecked, new { @class = "yearCls", @id = Model.User.Yeartags[i].Id })
                                            @Model.User.Yeartags[i].DisplayText
                                            @Html.HiddenFor(x => Model.User.Yeartags[i].Id)
                                            @Html.HiddenFor(x => Model.User.Yeartags[i].DisplayText)
                                            @Html.HiddenFor(x => Model.User.Yeartags[i].TagType)
                                            @Html.HiddenFor(x => Model.User.Yeartags[i].ParentId)
                                        </li>
                                    }
                                }*@
                        </ul>
                    </div>
                    <div><p>&nbsp;</p></div>
                    <div class="btn-group">
                        <input class="btn btn-primary" id="btnAdd" name="submit" type="button" value="Add" onclick="AddSelection()" />

                    </div>
                    <div class="btn-group">
                        <input class="btn btn-primary" id="btnClr" name="submit" type="button" value="Clear Grid" onclick="ClearSelection()" />
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>

    <div class="tbRecords-table table-responsive">
        <table id="tbRecords" class="table table-bordered">
            <tbody>
                @Html.Raw(Model.tags as string)
            </tbody>
        </table>
    </div>
    <div class="btn-group">
        <input class="btn btn-primary" id="btnSaveData" name="submit" type="button" value="Save" onclick="SaveAllData()" />
    </div>

    <script>
        function eventClick(eventId) {

            if (eventId.checked) {
                AjaxCall(eventId.id, eventId.name);
            }
            else {
                $('#yearsul').html("");
            }

        }
        (function () {
            var eventids = '';
            $(".evetCls").each(function () {
                if ($(this).is(':checked')) {
                    if (eventids.length == 0) {
                        eventids = $(this).attr('id');
                    }
                    else {
                        eventids += "," + $(this).attr('id');

                    }
                }
            });
            var areaids = '';
        })();

        var yVals = [];

        function GetCheckedYearIds() {
            $('#divYear :checked').each(function () {
                yVals.push($(this).attr('id'));
            });
        }

        function GetYearIds() {
            $('#divYear :input:checkbox').each(function () {
                for (var i = 0, l = yVals.length; i < l; i++) {

                    if ($(this).attr('id') == yVals[i]) {
                        $(this).prop('checked', true);
                    }
                }
                yearVals = '';
            });
        }

        var quesVals = [];
        function GetCheckedQuestionIds() {
            $('#divQuestion :checked').each(function () {
                quesVals.push($(this).attr('id'));
            });
        }

        function GetQuestionIds() {
            $('#divQuestion :input:checkbox').each(function () {
                for (var i = 0, l = quesVals.length; i < l; i++) {

                    if ($(this).attr('id') == quesVals[i]) {
                        $(this).prop('checked', true);
                    }
                }
                questionVals = '';
            });
        }
    </script>

}

<script>
    var arrDt = [];
    function disableDiv() {

        if ($('#itokLearder')[0].checked == true) {
            $('#divSelection').hide();
            $('#selectionMode').hide();
        }
        else {

            $('#divSelection').show()
            $('#selectionMode').show();

        }
        ClearSelection();

    }
    function ChkUnchk(button) {
        if (button == 'All') {

            $('#chkSelected').prop('checked', false);
            $('#chkAll').prop('checked', true);
            $('#ddlArea').val(0);
            ///////////////////////////////////
            $('#questionul').html("");
            $('#events').html("");
            $('#yearsul').html("");
            $('#divYear').removeClass("disabledUL");
            $('#events').removeClass("disabledUL");
            $('#divQuestion').hide();
            $('#divevents').hide();
            $('#divYear').hide();
            ///////////////////////////////////
        }
        else {
            $('#chkAll').prop('checked', false);
            $('#chkSelected').prop('checked', true);
            $('#ddlArea').val(0);
            ///////////////////////////////////
            $('#questionul').html("");
            $('#events').html("");
            $('#yearsul').html("");
            $('#divYear').removeClass("disabledUL");
            $('#events').removeClass("disabledUL");
            $('#divQuestion').hide();
            $('#divevents').hide();
            $('#divYear').hide();
            ///////////////////////////////////
        }

    }
    function AjaxCall(eventids, name) {
        if (eventids != null || eventids != '') {
            //var model = model.user
            $.ajax({
                url: '/User/BindYearByType',
                type: 'GET',
                data: { eventids: eventids },
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    console.log(result);
                    data = eval(result);
                    if (data.Yeartags.length > 0) {
                        var options = '';
                        $.each(data.Yeartags, function (index, value) {
                            var user = "User.Yeartags[" + index + "]";
                            options += '<li class="checkbox col-md-4 col-sm-12"><input class="yearCls" checked="true"  data-val="true" data-val-required="The IsChecked field is required." title="' + value.DisplayText + '" name="' + eventids + '' + '" type="checkbox" value="true" id="' + value.Id + '"/><input name="' + user + '.IsChecked' + '" type="hidden" value="false"/>' + value.DisplayText + '<input id="' + user + '.Id" name="' + user + '.Id' + '" type="hidden" value="' + value.Id + '"/><input id="' + user + '.DisplayText" name="' + user + '.DisplayText' + '" type="hidden" value="' + value.DisplayText + '"><input id="' + user + '.TagType" name="' + user + '.TagType' + '" type="hidden" value="' + value.TagType + '"/><input id="' + user + '.ParentId" name="' + user + '.ParentId' + '" type="hidden" value="' + value.ParentId + '"/> </li>'
                        });
                        $('#divYear').show();
                        ('#itokLearder$')[0].checked
                        if ($('#chkAll')[0].checked == true) {
                            $('#yearsul').html('');
                            $('#yearsul').html(options);
                        }

                        else {
                            $('#yearsul').append("<fieldset  class='fieldset-border'><legend style='margin-bottom:0'>" + name + "</legend>" + "<label style='margin: 0 0 10px -5px;' class='chkUncheckYear'><input type='checkbox' name='chkuncheckYear' onchange='chkUnchkYear()' checked='true' id='chkuncheckYearbox'  /> Select All/Unselect All</label>" + options + "</fieldset>");
                        }
                        chkUnchkYear()
                        //GetYearIds();
                    }
                    else {
                        $('#divYear').hide();
                    }

                }
            });
        }
        else {
            $('#divYear').hide();
        }
    }


    var glbAppendNewArea = false;
    function AjaxAreaQuestionCall(areaids) {

        if (areaids.selectedOptions[0].value == "0") {
            $('#questionul').html("");
            $('#events').html("");
            $('#yearsul').html("");
            $('#divYear').removeClass("disabledUL");
            $('#events').removeClass("disabledUL");
            $('#divQuestion').hide();
            $('#divevents').hide();
            $('#divYear').hide();
            return false;
        }
        if (areaids != null) {
            console.log(areaids);

            if ($('#chkAll')[0].checked == false && $('#chkSelected')[0].checked == true) {
                $('#questionul').html("");
                $('#events').html("");
                $('#yearsul').html("");
                $('#divYear').removeClass("disabledUL");
                $('#divevents').removeClass("disabledUL");
                $('#divQuestion').show();
                $('#divevents').show();
                $('#divYear').show();
                $.ajax({
                    url: '/User/BindQuestionByTag',
                    type: 'GET',
                    data: { areaids: areaids.selectedOptions[0].value },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        console.log(result);
                        data = eval(result);

                        if (data.Questions.length > 0) {
                            var options = '';
                            var optionsEvnts = '';
                            $.each(data.Eventtags, function (index, value) {
                                var user = "User.Eventtags[" + index + "]";
                                optionsEvnts += '<li class="checkbox col-md-4 col-sm-12"><input class="evetCls" data-val="true" data-val-required="The IsChecked field is required."  name="' + value.DisplayText + '' + '" type="checkbox" onclick="eventClick(this)" value="true" id="' + value.Id + '"/><input name="' + user + '.IsChecked' + '" type="hidden" value="false"/>' + value.DisplayText + '<input id="' + user + '.Id" name="' + user + '.Id' + '" type="hidden" value="' + value.Id + '"/><input id="' + user + '.DisplayText" name="' + user + '.DisplayText' + '" type="hidden" value="' + value.DisplayText + '"><input id="' + user + '.TagType" name="' + user + '.TagType' + '" type="hidden" value="' + value.TagType + '"/><input id="' + user + '.ParentId" name="' + user + '.ParentId' + '" type="hidden" value="' + value.ParentId + '"/> </li>'
                            });
                            $.each(data.Questions, function (index, value) {
                                var user = "User.Questions[" + index + "]";
                                options += '<li class="checkbox col-md-4 col-sm-12"><input class="questionCls" checked="true" data-val="true" title="' + value.DisplayText + '" data-val-required="The IsChecked field is required."   name="' + user + '.IsChecked' + '" type="checkbox" value="true" id="' + value.Id + '"/><input name="' + user + '.IsChecked' + '" type="hidden" value="false"/>' + value.DisplayText + '<input id="' + user + '.Id" name="' + user + '.Id' + '" type="hidden" value="' + value.Id + '"/><input id="' + user + '.DisplayText" name="' + user + '.DisplayText' + '" type="hidden" value="' + value.DisplayText + '"><input id="' + user + '.TagType" name="' + user + '.TagType' + '" type="hidden" value="' + value.TagType + '"/><input id="' + user + '.ParentId" name="' + user + '.ParentId' + '" type="hidden" value="' + value.ParentId + '"/> </li>'
                            });

                            $('#events').html('');
                            $('#divevents').show();
                            $('#divQuestion').show();
                            $('#questionul').html('');
                            $('#divevents').removeClass("disabledUL");
                            $('#events').html(optionsEvnts);
                            $('#questionul').html(options);
                            $("#checkUncheck").change(function () {
                                $("input.questionCls:checkbox").prop('checked', $(this).prop("checked"));
                            });

                        }
                        else {
                            $('#divQuestion').hide();
                        }

                    }
                });
            }
            else if ($('#chkSelected')[0].checked == false && $('#chkAll')[0].checked == true) {

                $('#questionul').html("");
                $('#events').html("");
                $('#yearsul').html("");
                $('#divYear').removeClass("disabledUL");
                $('#events').removeClass("disabledUL");
                $.ajax({
                    url: '/User/BindQuestionByTag',
                    type: 'GET',
                    data: { areaids: areaids.selectedOptions[0].value },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        console.log(result);
                        data = eval(result);
                        if (data.Questions.length > 0) {
                            var options = '';
                            $.each(data.Questions, function (index, value) {
                                var user = "User.Questions[" + index + "]";
                                options += '<li class="checkbox col-md-4 col-sm-12"><input class="questionCls" data-val="true" title="' + value.DisplayText + '" data-val-required="The IsChecked field is required." checked="true"  name="' + user + '.IsChecked' + '" type="checkbox" value="true" id="' + value.Id + '"/><input name="' + user + '.IsChecked' + '" type="hidden" value="false"/>' + value.DisplayText + '<input id="' + user + '.Id" name="' + user + '.Id' + '" type="hidden" value="' + value.Id + '"/><input id="' + user + '.DisplayText" name="' + user + '.DisplayText' + '" type="hidden" value="' + value.DisplayText + '"><input id="' + user + '.TagType" name="' + user + '.TagType' + '" type="hidden" value="' + value.TagType + '"/><input id="' + user + '.ParentId" name="' + user + '.ParentId' + '" type="hidden" value="' + value.ParentId + '"/> </li>'
                            });
                            var optionsYrs = '';
                            $.each(data.Yeartags, function (index, value) {
                                var user = "User.Yeartags[" + index + "]";
                                optionsYrs += '<li class="checkbox col-md-4 col-sm-12"><input class="yearCls" data-val="true" data-val-required="The IsChecked field is required." checked="true" name="' + value.ParentId + '" type="checkbox" value="true" id="' + value.Id + '"/>' + value.DisplayText + '</li>'
                            });
                            var optionsEvnts = '';
                            $.each(data.Eventtags, function (index, value) {
                                var user = "User.Eventtags[" + index + "]";
                                optionsEvnts += '<li class="checkbox col-md-4 col-sm-12"><input class="evetCls" data-val="true" data-val-required="The IsChecked field is required." checked="true" name="' + user + '.IsChecked' + '" type="checkbox" value="true" id="' + value.Id + '"/><input name="' + user + '.IsChecked' + '" type="hidden" value="false"/>' + value.DisplayText + '<input id="' + user + '.Id" name="' + user + '.Id' + '" type="hidden" value="' + value.Id + '"/><input id="' + user + '.DisplayText" name="' + user + '.DisplayText' + '" type="hidden" value="' + value.DisplayText + '"><input id="' + user + '.TagType" name="' + user + '.TagType' + '" type="hidden" value="' + value.TagType + '"/><input  name="evtParentId" type="hidden" value="' + value.ParentId + '"/> </li>'
                            });
                            $('#divQuestion').show();
                            $('#questionul').html('');
                            $('#questionul').html(options);
                            $('#events').html(optionsEvnts);
                            $('#divevents').show();
                            $('#divYear').show();
                            $('#yearsul').html(optionsYrs);

                            $('#divYear').addClass("disabledUL");
                            $('#divevents').addClass("disabledUL");
                        }
                        else {
                            $('#divQuestion').hide();
                        }

                    }
                });
            }
            else {
                alert('Select Mode Of Selection');
                $('#ddlArea').val(0);
                $('#chkAll').focus();
            }
        }
        else {
            $('#divQuestion').hide();
        }
        glbAppendNewArea = true;
    }
    function ClearSelection() {
        $('#tbRecords tbody').html("");
        arrDt = [];
    }
    function deleteQuestion(obj) {
        var qid = obj.parentElement.getAttribute('qid');
        var tdId = obj.parentElement.parentElement.getAttribute('id');
        tdId = tdId.replace(',' + qid, '');
        tdId = tdId.replace(qid + ',', '');
        obj.parentElement.parentElement.id = tdId;
        obj.parentElement.remove();
    }

    function AddSelection() {
        if ($("#questionul :checked")[0] == undefined) {
            alert('Atleast Select One Question');
            return false;
        }
        if ($('#ddlArea :selected')[0].value == 0) {
            $("#tbRecords tbody").html("");
        }

        arrDt = [];
        $('#tbRecords tr').each(function () {
            arrDt.push($.trim(this.innerText.replace(/\s/g, '')));
        });
        var tr = "";
        var newTr = "";
        if ($('#chkAll')[0].checked == true) {
            $('#events li').each(function () {
                var evntText = $(this).find().context.innerText;
                var evntId = $(this).find().context.firstChild.id;

                $('#yearsul li').each(function () {
                    var yrText = $(this).find().context.innerText;
                    var yrId = $(this).find().context.firstChild.id;
                    var parentId = $(this).find().context.firstChild.name;
                    if (parentId === evntId) {
                        var ques = "";
                        var quesChk = "";
                        var quesid = "";
                        $("#questionul :checked").each(function () {
                            ques = ques + "<span class='tile'>" + $(this)[0].title + "<i onclick='deleteQuestion(this)' class='fa fa-close'></i></span> "
                            quesChk = quesChk + $(this)[0].title;
                            if (quesid.length > 0) {
                                quesid = quesid + $(this)[0].id + " ,";
                            }
                            else {
                                quesid = $(this)[0].id + " ,";
                            }

                        });
                        ques = ques.substr(0, ques.length - 1);
                        quesid = quesid.substr(0, quesid.length - 1);
                        newTr = "<tr><td id=" + $('#ddlArea :selected')[0].value + ">" + $('#ddlArea :selected')[0].innerText + "</td><td id=" + evntId + ">" + evntText + "</td><td id=" + yrId + ">" + yrText + "</td><td id='" + quesid + "'>" + ques + "</td><td><input class='btn btn-danger'  name='submit' type='button' value='Delete' onclick='deleteRow(this)' /></td></tr>";
                        if (arrDt.indexOf($.trim(($('#ddlArea :selected')[0].innerText + "" + evntText + "" + yrText + "" + quesChk).replace(/\s/g, ''))) <= -1) {

                            arrDt.push($.trim(($('#ddlArea :selected')[0].innerText + "" + evntText + "" + yrText + "" + quesChk).replace(/\s/g, '')));
                            tr = tr + newTr;

                        }
                    }
                });

            });
        }
        else {
            $('#events li').each(function () {
                if ($(this)[0].children[0].checked == true) {
                    var evntText = $(this).find().context.innerText;
                    var evntId = $(this).find().context.firstChild.id;

                    $('#yearsul fieldset li input:checkbox:checked').each(function () {
                        if (evntId === this.name) {
                            var yrText = this.title;
                            var yrId = this.id;
                            var ques = "";
                            var quesChk = "";
                            var quesid = "";
                            $("#questionul :checked").each(function () {
                                ques = ques + "<span class='tile'>" + $(this)[0].title + "<i onclick='deleteQuestion(this)' class='fa fa-close'></i></span> "
                                quesChk = quesChk + $(this)[0].title;
                                if (quesid.length > 0) {
                                    quesid = quesid + $(this)[0].id + " ,";
                                }
                                else {
                                    quesid = $(this)[0].id + " ,";
                                }

                            });
                            ques = ques.substr(0, ques.length - 1);
                            quesid = quesid.substr(0, quesid.length - 1);
                            newTr = "<tr><td id=" + $('#ddlArea :selected')[0].value + ">" + $('#ddlArea :selected')[0].innerText + "</td><td id=" + evntId + ">" + evntText + "</td><td id=" + yrId + ">" + yrText + "</td><td id='" + quesid + "'>" + ques + "</td><td><input class='btn btn-danger'  name='submit' type='button' value='Delete' onclick='deleteRow(this)' /></td></tr>";
                            if (arrDt.indexOf($.trim(($('#ddlArea :selected')[0].innerText + "" + evntText + "" + yrText + "" + quesChk).replace(/\s/g, ''))) <= -1) {
                                arrDt.push($.trim(($('#ddlArea :selected')[0].innerText + "" + evntText + "" + yrText + "" + quesChk).replace(/\s/g, '')));
                                tr = tr + newTr;
                            }

                        }
                    });
                }
                //alert(this);
            });
        }


        $('#tbRecords tbody').append(tr);
        $('.tbRecords-table').show();
        glbAppendNewArea = false;
    }

    function SaveAllData() {
        $(".error").remove();

        var emailReg = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var emailInput = $('#newPassword').val();
        var lowerCaseLetters = /[a-z]/g; // Validate lowercase letters
        var upperCaseLetters = /[A-Z]/g;  // Validate capital letters
        var numbers = /[0-9]/g;  // Validate numbers

        if ($('#txtForename').val() == '') {
            $('#txtForename').focus();
            return false;
        }
        else if ($('#txtSurname').val() == '') {
            $('#txtSurname').focus();
            return false;
        }
        else if ($('#txtEmail').val() == '') {
            $('#txtEmail').focus();
            return false;
        }
        else if (!emailReg.test($('#txtEmail').val())) {
            $("#txtEmail").after('<span class="error">Enter a valid email address.</span>');
            $('#txtEmail').focus();
            return false;
        }
        if (!window.location.href.includes('Edit')) {
            if ($('#newPassword').val() == '') {
                $('#newPassword').focus();
                return false;
            }
            else if (!emailInput.match(lowerCaseLetters) || !emailInput.match(upperCaseLetters) || !emailInput.match(numbers) || !emailInput.length >= 8) {
                $("#newPassword").after('<span class="error">Invalid password.</span>').focus();

                return false;
            }
            else if ($('#newPasswordConfirmation').val() == '') {
                $('#newPasswordConfirmation').focus();
                return false;
            }
            else if ($('#newPassword').val() != $('#newPasswordConfirmation').val()) {
                $("#newPassword").after('<span id="pwdNotMatch" class="error">Password and confirm password should match.</span>');
                $('#newPasswordConfirmation').focus();
                return false;
            }
        }

        var obj = "";
        $('#tbRecords tr').each(function () {
            var str = "";
            $(this).children("td").children("span").each(function () { str = str + this.innerText + "#~#"; });
            str = str.substr(0, str.length - 3);
            obj = obj + "{ 'AreaId': '" + $(this)[0].cells[0].id + "','AreaTitle':'" + $(this)[0].cells[0].innerText + "', 'EventId':'" + $(this)[0].cells[1].id + "','EventTitle': '" + $(this)[0].cells[1].innerText + "', 'YearId': '" + $(this)[0].cells[2].id + "','YearTitle':'" + $(this)[0].cells[2].innerText + "', 'QuestionIds': '" + $(this)[0].cells[3].id + "','QuestionTexts':'" + str + "' }^~^";
        });
        var premissions = "";
        $('#permissions li').each(function () {
            if (this.className == "enabled") {
                premissions = premissions + this.id + ",";
            }

        });
        var usrObj = "{'Id': '" + $('#txtUserId').val() + "','Forename':'" + $('#txtForename').val() + "','Surname':'" + $('#txtSurname').val() + "','Email':'" + $('#txtEmail').val() + "','Password':'" + $('#newPassword').val() + "','Password':'" + $('#newPassword').val() + "','PermissionsStr':'" + premissions + "','IsItokLeader':'" + $('#itokLearder')[0].checked + "'}";

        if ($('#UseCMS').attr('Class') == 'enabled') {
            if (obj == "" && $('#itokLearder')[0].checked == false) {
                alert('Please add any area. Then only you can save');
                return;
            }
        }
        $.ajax({
            url: '/user/savealluserevent',
            type: 'POST',
            data: JSON.stringify({ "obj": obj, "user": usrObj }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (document.location.href.indexOf('/Edit/') > 0) {
                    alert("User has been updated.");
                } else {
                    alert("User has been created.");
                }
                document.location.href = window.location.origin + '/user';
            }
        });
    }
    function deleteRow(obj) {
        var h = obj.parentElement.parentElement;
        obj.parentElement.parentElement.remove();
    }
</script>

@if (Model.User.Yeartags != null)
{
    if (Model.User.Yeartags.Count > 0)
    {
        <script type="text/javascript">
            $("#divYear").show();
        </script>
    }
}
@if (Model.User.Questions != null)
{
    if (Model.User.Questions.Count > 0)
    {
        <script type="text/javascript">
            $("#divQuestion").show();
        </script>
    }
}

<script type="text/javascript">
    function chkUnchkYear() {
        $(".chkUncheckYear input").change(function () {
            $(this).parents('.chkUncheckYear').siblings('li.checkbox').children(".yearCls:checkbox").prop('checked', $(this).prop("checked"));
        });
    };
</script>
