﻿@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    ViewBag.Title = "Template1";
    Layout = null;

    var firstQuestions = Model.QuestionTemplate.Questions.First();
    var lastQuestions = Model.QuestionTemplate.Questions.Last();
}

<style>
    .header {
        background-color: aqua;
    }

    .inputHeight {
        height: 20px;
    }

    .totalColor {
        background-color: bisque;
        font-weight: bold;
    }

    .modal-dialog {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>GetQuestionDetail</h2>

<div>
    <div class="modal-dialog fixed-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Summary of Transportation per client group</h4>
            </div>
            @using (Html.BeginForm("TemplateSave", "QuestionTemplates", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="tamplate-section staffhired-template summary-table-detail">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.QuestionTemplate.isReadOnly)
                        <input type="hidden" name="Model.EventId" value="@Model.EventId" />
                        <input type="hidden" name="Model.YearId" value="@Model.YearId" />
                        <input type="hidden" name="Model.AreaId" value="@Model.AreaId" />
                        <input type="hidden" name="Model.QuestionId" value="@Model.QuestionId" />
                        <input type="hidden" name="Model.TemplateType" id="templateType" value="@Model.TemplateType" />

                        @Html.HiddenFor(x => x.QuestionTemplate.EventId)
                        @Html.HiddenFor(x => x.QuestionTemplate.YearId)
                        @Html.HiddenFor(x => x.QuestionTemplate.AreaId)
                        @Html.HiddenFor(x => x.EventId)
                        @Html.HiddenFor(x => x.YearId)
                        @Html.HiddenFor(x => x.AreaId)
                        <div class="table-responsive">
                            <table class="table staffhired-table">
                                <tr class="bg-color tr-header">
                                    <td>Area / Months before event</td>
                                    @foreach (var itemAnswer in firstQuestions.AnswersRows)
                                    {
                                        <td colspan="2" class="@(itemAnswer.AnswerDataType == AnswerDataType.CalculatedHorizontally ? "totalColor" : "")">@itemAnswer.Title</td>
                                    }
                                </tr>

                                @for (int questionIndex = 0; questionIndex < Model.QuestionTemplate.Questions.Count - 1; questionIndex++)
                                {
                                    var itemQuestion = Model.QuestionTemplate.Questions[questionIndex];
                                    itemQuestion.MvcItemName = string.Format("Model.Questions[{0}]", questionIndex);
                                    <tr class="@(itemQuestion.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "")">
                                        <td class="bg-color tr-header">
                                            <input type="hidden" name='@itemQuestion.GetMvcItemName("Question")' value="@itemQuestion.Question" />
                                            <input type="hidden" name='@itemQuestion.GetMvcItemName("MvcItemName")' value="@itemQuestion.MvcItemName" />
                                            @itemQuestion.Question
                                        </td>

                                        @for (int answerIndex = 0; answerIndex < itemQuestion.AnswersRows.Count; answerIndex++)
                                        {
                                            var answer = itemQuestion.AnswersRows[answerIndex];
                                            answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                            answer.QuestionVerticallyIndex = questionIndex;
                                            answer.QuestionHorizontallyIndex = answerIndex;

                                            <td colspan="2" class="@(answer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "")">
                                                <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control inputHeight" value="@answer.Title">
                                                <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control inputHeight" value="@answer.AnswerDataType">
                                                <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control inputHeight" value="@answer.MvcItemName">
                                                <input type="hidden" name="@answer.GetMvcItemName("QuestionVerticallyIndex")" class="form-control inputHeight" value="@answer.QuestionVerticallyIndex">
                                                @Html.Partial("_AnswerRow", answer)
                                            </td>
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td>Costs (in US$)</td>
                                    <td>Twin/double</td>
                                    <td>Single</td>
                                    <td>Twin/double</td>
                                    <td>Single</td>
                                    <td>Twin/double</td>
                                    <td>Single</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    @for (int answerIndex = 0; answerIndex < lastQuestions.AnswersRows.Count; answerIndex++)
                                    {
                                        var questionIndex = Model.QuestionTemplate.Questions.Count - 1;
                                        var answer = lastQuestions.AnswersRows[answerIndex];
                                        answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                        answer.QuestionVerticallyIndex = questionIndex;
                                        answer.QuestionHorizontallyIndex = answerIndex;

                                        <td class="@(answer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "")">
                                            <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control inputHeight" value="@answer.Title">
                                            <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control inputHeight" value="@answer.AnswerDataType">
                                            <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control inputHeight" value="@answer.MvcItemName">
                                            <input type="hidden" name="@answer.GetMvcItemName("QuestionVerticallyIndex")" class="form-control inputHeight" value="@answer.QuestionVerticallyIndex">
                                            @Html.Partial("_AnswerRow", answer)
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save">Save</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("_Javascripts")


