﻿@using ITOK.Core.Common.Constants
@using ITOK.Core.Common.HtmlExtensions
@model ITOK.Core.Data.Model.Answer
@{
    ViewBag.Title = "Get Question Detail";
}



@*<h2>GetQuestionDetail</h2>*@

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Question</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>@Model.QuestionText</label>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(x => x.AnswerTags[0].Text, new { @id = "AnswerTagsText0" })
                    @Html.HiddenFor(x => x.AnswerTags[1].Text, new { @id = "AnswerTagsText1" })
                    @Html.HiddenFor(x => x.AnswerTags[2].Text, new { @id = "AnswerTagsText2" })
                    @Html.HiddenFor(x => x.AnswerTags[0].UrlSlug, new { @id = "AnswerTagsUrlSlug0" })
                    @Html.HiddenFor(x => x.AnswerTags[1].UrlSlug, new { @id = "AnswerTagsUrlSlug1" })
                    @Html.HiddenFor(x => x.AnswerTags[2].UrlSlug, new { @id = "AnswerTagsUrlSlug2" })
                    @Html.HiddenFor(x => x.QuestionText, new { @id = "QuestionText" })
                    @Html.HiddenFor(x => x.AnswerType, new { @id = "AnswerType" })
                    @Html.HiddenFor(x => x.OptionType, new { @id = "OptionType" })
                    @Html.HiddenFor(x => x.AreaId, new { @id = "AreaId" })
                    @Html.HiddenFor(x => x.YearId, new { @id = "YearId" })
                    @Html.HiddenFor(x => x.EventId, new { @id = "EventId" })

                    <label id="errorMessage" style="color: red; display: none">* Please fill the answer(s)</label>
                    @if (Model.AnswerType == AnswerType.Options && Model.OptionType == QuestionOptionType.Radio)
                    {

                        foreach (var itemOption in Model.OptionList)
                        {
                            <input type="radio" name="answerRadio" value="@itemOption" @(Model.AnswerValue == itemOption ? "checked" : "")> @itemOption <br />
                        }

                    }
                    else if (Model.AnswerType == AnswerType.Options && Model.OptionType == QuestionOptionType.Checkbox)
                    {
                        foreach (var itemOption in Model.OptionList)
                        {
                            <input type="checkbox" name="answerCheckbox" value="@itemOption" @(Model.AnswerValue.Contains(itemOption) ? "checked" : "")> @itemOption <br />
                        }
                    }
                    else if (Model.AnswerType == AnswerType.Text)
                    {
                        <label for="answer">Answer:</label>
                        <div class="tinymce">
                            @Html.TextAreaFor(x => x.AnswerValue, new { @class = "span12", @id = "answer" })
                        </div>

                    }
                    else if (Model.AnswerType == AnswerType.Numeric)
                    {
                        <label for="answer">Answer:</label>
                        @Html.TextBoxFor(x => x.AnswerValue, new { @class = "form-control", @type = "number", @id = "answer" })
                    }
                    else if (Model.AnswerType == AnswerType.Attachment)
                    {
                        <li class="media_item"><button class="btn btn-default caption" href="#" id="fileUploadButton">Quick Upload</button> </li>
                    }

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <input type="button" id="btnSave" class="btn btn-primary" value="Save" onclick="submitQuestion();" />
            </div>
        </div>
    </div>
</div>

<script>

    function showError(message) {
        $("#errorMessage").html(message);
        $("#errorMessage").show();
    }

    function submitQuestion() {
        const answerId = "@Model.Id";
        const questionId = "@Model.QuestionId";
        const answerValue = $("#answer").val();
        const answerTagsText0 = $("#AnswerTagsText0").val();
        const answerTagsText1 = $("#AnswerTagsText1").val();
        const answerTagsText2 = $("#AnswerTagsText2").val();
        const answerTagsUrlSlug0 = $("#AnswerTagsUrlSlug0").val();
        const answerTagsUrlSlug1 = $("#AnswerTagsUrlSlug1").val();
        const answerTagsUrlSlug2 = $("#AnswerTagsUrlSlug2").val();
        const questionText = $("#QuestionText").val();
        const answerType = $("#AnswerType").val();
        const optionType = $("#OptionType").val();
        const areaId = $("#AreaId").val();
        const yearId = $("#YearId").val();
        const eventId = $("#EventId").val();

        var jsonData = { Id: answerId, AreaId: areaId, YearId: yearId, EventId: eventId, QuestionId: questionId, QuestionText: questionText, AnswerType: answerType, OptionType: optionType, AnswerValues: [], AnswerValue: answerValue, AnswerTags: [{ Text: answerTagsText0, UrlSlug: answerTagsUrlSlug0 }, { Text: answerTagsText1, UrlSlug: answerTagsUrlSlug1 }, { Text: answerTagsText2, UrlSlug: answerTagsUrlSlug2 } ] };
        if (answerType === "Options") {
            if (optionType === "Radio") {
                const optionValue = $("input[name='answerRadio']:checked").val();

                if (typeof (optionValue) !== 'undefined') {
                    jsonData.AnswerValue = "";
                    jsonData.AnswerValues = [];

                    jsonData.AnswerValues.push(optionValue);
                    jsonData.AnswerValue = optionValue;
                }


            } else if (optionType === "Checkbox") {
                jsonData.AnswerValue = "";
                jsonData.AnswerValues = [];

                $.each($("input[name='answerCheckbox']:checked"), function(){
                    jsonData.AnswerValues.push($(this).val());
                    jsonData.AnswerValue = jsonData.AnswerValues.join(",");
                });
            }
        } else if (answerType === "Text") {
            jsonData.AnswerValue = tinyMCE.activeEditor.getContent();
            jsonData.AnswerValues.push(jsonData.AnswerValue);

        } else {
            jsonData.AnswerValues.push(answerValue);
        }


        if (jsonData.AnswerType === "Numeric") {
            if (window.location.href.indexOf('/Home/LeaderIndex') < 0 && window.alreadyAnswered==false) {
            if (jsonData.AnswerValue.trim() === "") {
                showError("* Please fill the numeric field.");
                return false;
                }
            }
        } else if (jsonData.AnswerType === "Text") {
            if (window.location.href.indexOf('/Home/LeaderIndex') < 0 && window.alreadyAnswered == false) {
                if (jsonData.AnswerValue.trim() === "") {
                showError("* Please fill the text field.");
                return false;
            }
            }
        } else if (answerType === "Options") {
            if (optionType === "Radio") {
                if (typeof (jsonData.AnswerValue) === 'undefined' || jsonData.AnswerValue.trim() === "") {
                    showError("* Please select the radio button.");
                    return false;
                }
            } else if (optionType === "Checkbox") {
                if (typeof (jsonData.AnswerValue) === 'undefined' || jsonData.AnswerValue.trim() === "") {
                    showError("* Please select the checkboxes.");
                    return false;
                }
            }

        }
        $('#modalWrapper').modal('hide');
        var jsonString = JSON.stringify(jsonData);
        $.ajax({
            type: "POST",
            dataType: "JSON",
            contentType: "application/json;",
            url: "/Home/SaveAnswer",
            data: jsonString,
            success: function (result) {
                $('#modalWrapper').html(result);
                document.location.href = window.location.href;
            },
            error: function (err) {
                console.log('error from ajax call - /home/saveanswer - ' + err);
            }
        });
        return true;
    }
</script>
