﻿@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using System.Web.Configuration
@model UserQuestion


<li class="list-group-item question-item-row leader-row">
    <ul class="list-unstyled">
        <a href="javascript:void(0);" onclick="editAnswer('@Model.QuestionId.Trim()', @Model.Question.IsAttachment.ToString().ToLower(), '@Model.EventId','@Model.YearId','@Model.AreaId');" data-toggle="modal" data-target="#modalWrapper" class="@(Model.Question.IsAttachment ? "fileUploadButton" : "")">

            <li class="col-md-8">
                <strong> @Model.Question.QuestionText</strong>
                <div id="divUpdatedDetail" class="update-detail">
                    <ul class="list-unstyled">
                        @if (!String.IsNullOrEmpty(Model.UpdatedBy))
                        {
                            <li><span>Updated By: </span>@Model.UpdatedBy , @Model.UpdatedDate.ToString("dd/MM/yyyy")</li>
                        }
                    </ul>
                </div>
            </li>
        </a>
        <li class="col-md-4 text-right action-icons-listing">
            @if (Model.Question.AnswerType == AnswerType.Attachment)
            {
                <i class="fa fa-2x fa-align-justify" onclick="setGlobalIds('@Model.QuestionId.Trim()','@Model.EventId','@Model.YearId','@Model.AreaId'); editAttachment('@Model.QuestionId.Trim()', @Model.Question.IsAttachment.ToString().ToLower());" data-toggle="modal" data-target="#modalWrapper"></i>

                <a href="javascript:void(0);">
                    <i id="@Model.QuestionId.Trim()@Model.EventId@Model.YearId@Model.AreaId" class="fa fa-2x fa-paperclip fileUploadButton actionIcon" onclick="setGlobalIds('@Model.QuestionId.Trim()','@Model.EventId','@Model.YearId','@Model.AreaId');"></i>
                    @if (Model.AttachmentCount > 0)
                    {
                        <span>@Model.AttachmentCount</span>
                    }
                    else
                    {
                        <span>0</span>
                    }
                </a>
            }

            @if (Model.isAnswered)
            {
                <a href="javascript:void(0);" class="actionIcon" onclick="addEditCommentForItokLeader('@Model.AnswerId.Trim()', '@Model.Question.QuestionText');" data-toggle="modal" data-target="#modalWrapper">
                    <i id="fa-comment-@Model.AnswerId.Trim()" class="fa fa-2x fa-comment actionIcon @(Model.isCommented ? "fa-comment-success" : "")" title="View/add comment"></i>
                </a>

                <span class="div-flag question-flag actionIcon">
                    <input type="hidden" id="hdnFlagId" />
                    @Html.HiddenFor(m => m.AnswerId, new { @class = "answer-id" })
                    @Html.HiddenFor(m => m.AnswerFlagId, new { @class = "answer-flag" })
                    <i id="@Model.AnswerId.Trim()" class="fa fa-2x fa-flag @(Model.FlagColor==FlagColor.Red?"dangerStatus":Model.FlagColor==FlagColor.Green?"successStatus":Model.FlagColor==FlagColor.Amber?"mediumStatus":"")" title="Set flag"></i>
                    <ul class="pickcolorDD pickcolor-@Model.AnswerId.Trim()" style="display:none"></ul>

                </span>

                <i class="fa fa-2x fa-check actionIcon" style="color:forestgreen!important"></i>
            }
            else
            {
                <i class="fa fa-2x fa-comment actionIcon" title=""></i>
                <i class="fa fa-2x fa-flag actionIcon"></i>
                <i class="fa fa-2x fa-times actionIcon"></i>
            }
        </li>
    </ul>
</li>

