﻿@using System.Configuration
@using ITOK.Core.Common.Constants
@using ITOK.Core.Common.Utilities.Extensions.Html
@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    Layout = null;
}

<style>
    .header {
        background-color: aqua;
    }

    .inputHeight {
        height: 20px;
    }

    .totalColor {
        background-color: bisque;
        font-weight: bold;
    }

    .modal-dialog {
        width: 100%;
    }
</style>

<h2>GetAttachments</h2>

<div>
    <div class="modal-dialog fixed-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Attachments</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Model.EventId" value="@Model.EventId" />
                <input type="hidden" name="Model.YearId" value="@Model.YearId" />
                <input type="hidden" name="Model.AreaId" value="@Model.AreaId" />
                <input type="hidden" name="Model.QuestionId" value="@Model.QuestionId" />
                @if (Model != null && Model.Attachments != null)
                {
                    foreach (var item in Model.Attachments)
                    {
                        // will change this hardcode url once will have prod url
                        string downloadurl = ConfigurationManager.AppSettings["DownloadUrlPrefix"] + Html.GetDocumentUri(item.Id, Brand.itok, true);
                        <li class="list-group-item question-item-row" id="@item.Id">
                            <ul class="list-unstyled">
                                <li class="col-md-9">
                                    <a href='@downloadurl'>@item.Title</a>
                                </li>
                                <li class="col-md-3 text-right action-icons-listing">
                                    <i class="fa fa-2x fa-trash" onclick="removeAttachment('@Model.QuestionId', '@item.Id');"></i>
                                </li>
                            </ul>
                        </li>
                    }
                }
                else
                {
                    <span>No attachment available </span>
                }

            </div>
        </div>
    </div>
</div>

@Html.Partial("_Javascripts")


