﻿@using ITOK.Core.Data.Model
@model IList<UserEvent>
@{
    dynamic distinctArea = null;
    if (Model != null)
    {
        distinctArea = Model.Select(x => x.AreaTitle).Distinct().ToList();
    }
}
<h2>My Areas</h2>
@if (distinctArea != null)
{
    foreach (var item in distinctArea)
    {
        <div class="list-group-item list-area-item no-border row">
            <ul class="area-listing">
                <li class="col-md-3"><p><i class="fa fa-tag"></i> @item</p></li>
            </ul>
        </div>
    }
}
else
{
    <p>You have no assigned areas</p>
}