﻿@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using System.Web.Configuration
@model UserQuestion

@if (Model.Question != null)
{
    <li class="list-group-item question-item-row">
        <ul class="list-unstyled">
            <a href="javascript:void(0);" onclick="editQuestion('@Model.QuestionId.Trim()', @Model.Question.IsAttachment.ToString().ToLower(), '@Model.Question.QuestionText');" data-toggle="modal" data-target="#modalWrapper" class="@(Model.Question.IsAttachment ? "fileUploadButton" : "")">
                <li class="col-md-9">
                    @Model.Question.QuestionText
                </li>
            </a>
            <li class="col-md-3 text-right action-icons-listing">
                @if (Model.Question.IsAttachment)
                {
                    <i class="fa fa-2x fa-align-justify" title="Remove uploaded files" onclick="editAttachment('@Model.QuestionId.Trim()', @Model.Question.IsAttachment.ToString().ToLower());" data-toggle="modal" data-target="#modalWrapper"></i>

                    <i class="fa fa-2x fa-paperclip fileUploadButton actionIcon" title="Upload files" onclick="editQuestion('@Model.QuestionId.Trim()', @Model.Question.IsAttachment.ToString().ToLower(), '@Model.Question.QuestionText');"></i>
                    if (Model.AttachmentCount > 0)
                    {
                        <span>@Model.AttachmentCount</span>
                    }
                }

                @if (Model.isAnswered)
                {
                    <a href="javascript:void(0);" class="actionIcon" onclick="addEditComment('@Model.QuestionId.Trim()', '@Model.Question.QuestionText');" data-toggle="modal" data-target="#modalWrapper">
                        <i id="fa-comment-@Model.AnswerId" class="fa fa-2x fa-comment actionIcon @(Model.isCommented ? "fa-comment-success" : "")" title="View/add comment"></i>
                    </a>

                    <span class="div-flag question-flag actionIcon">
                        <input type="hidden" id="hdnFlagId" />
                        @Html.HiddenFor(m => m.AnswerId, new { @class = "answer-id" })
                        @Html.HiddenFor(m => m.AnswerFlagId, new { @class = "answer-flag" })
                        <i id="@Model.QuestionId.Trim()" class="fa fa-2x fa-flag @(Model.FlagColor==FlagColor.Red?"dangerStatus":Model.FlagColor==FlagColor.Green?"successStatus":Model.FlagColor==FlagColor.Amber?"mediumStatus":"")" title="Set flag"></i>
                        <ul class="pickcolorDD pickcolor-@Model.QuestionId.Trim()" style="display:none"></ul>
                    </span>
                    <i id="@Model.QuestionId.Trim()actionIcon" class="fa fa-2x fa-check actionIcon" title="Answer complete"></i>
                }
                else
                {
                    <i class="fa fa-2x fa-comment actionIcon" title=""></i>
                    <i class="fa fa-2x fa-flag actionIcon"></i>
                    <i id="@Model.QuestionId.Trim()actionIcon" class="fa fa-2x fa-times actionIcon" title="Answer in progress or unstarted"></i>
                }

            </li>

        </ul>
    </li>

}