﻿@model ITOK.Core.Data.Model.QuestionComment
@using CMS.Helpers

<div class="modal-dialog comments-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Question</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>@Model.QuestionText</label>
            </div>
            <div class="comment-content">
                @foreach (var itemComment in Model.UsersComment)
                {
                    <div class="post-content" id="post-content-@itemComment.CommentDate.ToBinary()">
                        <div class="avatar hovercard">
                            <a href="#" class="user">
                                <img src="https://c.disquscdn.com/uploads/users/4153/6750/avatar92.jpg?1358503003" alt="Avatar">
                            </a>
                        </div>

                        <div class="post-body">
                            <header class="comment__header">
                                <span class="author publisher-anchor-color">
                                    @itemComment.UserName</span>
                                <p class="post-meta">@itemComment.CommentDate.ToString("dd MMM")</p>
                                </header>

                            <div class="post-body-inner">
                                <div class="post-message">
                                    <label id="lblComment-@itemComment.CommentDate.ToBinary()">@itemComment.Comment</label>
                                    <textarea id="edit-comment-@itemComment.CommentDate.ToBinary()" class="edit-Comment form-control" style="display:none;" cols="20" name="CommentText" rows="2"></textarea>
                                  
                                    @if (itemComment.UserId == MembershipHelper.GetActiveUserId || MembershipHelper.IsItokLeader)
                                    {
                                        <div class="control-comment-btn">
                                        <input type="hidden" id="hdncommentDate" value="" />
                                        <input type="hidden" id="updateCommentDate" value="" />
                                        <span id="update-comment-@itemComment.CommentDate.ToBinary()" class="update-comment-row pull-right" style="display:none;">
                                            <i id="" class="fa fa-save" title="Update comment" onclick="updateComment()"></i>
                                            <i id="" class="fa fa-close" title="Cancel" onclick="cancelEdit()"></i>
                                        </span>

                                        <span id="edit-delete-icon-@itemComment.CommentDate.ToBinary()" class="edit-remove-row pull-right">
                                            <i id="faEdit-@itemComment.CommentDate.ToBinary()" data-value="@itemComment.CommentDate" title="Edit comment" class="fa fa-edit"></i>
                                            <i id="faTrash-@itemComment.CommentDate.ToBinary()" title="Remove comment" class="fa fa-trash" onclick="removeComment('@itemComment.CommentDate','@itemComment.CommentDate.ToBinary()')"></i>
                                        </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="form-group comment-field">
                @Html.HiddenFor(x => x.Id, new { @class = "comment-id" })
                @Html.HiddenFor(x => x.AnswerId, new { @class = "ans-comment-Id" })
                <label for="comment">Comment:</label><span class="required_star">*</span>
                <div class="tinymce">
                    @Html.TextAreaFor(x => x.CommentText, new { @class = "form-control", @id = "commentText" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <input type="button" id="btnSave" class="btn btn-primary" value="Comment" onclick="submitComment()" />
        </div>
    </div>
    
</div>
<script>

    function submitComment() {
        const commentId = $(".comment-id").val();
        const answerId = $(".ans-comment-Id").val();
        const commentText = $('textarea#commentText').val();
        if (commentText == "") {
            $('textarea#commentText').focus();
            return false;
        }
        var jsonData = { Id: commentId, AnswerId: answerId, CommentText: commentText };
        var jsonString = JSON.stringify(jsonData);

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/Home/SaveComment", //
            data: jsonString,
            success: function (result) {
                if (result) {
                    $('#fa-comment-' + answerId).addClass("fa-comment-success");
                    $("#modalWrapper .close").click();
                }
                else {
                    alert('Something went wrong, please try again')
                }
            }
        });
        return true;
    }

    function updateComment() {

        const commentId = $(".comment-id").val();

        const selectedCommentDate = $("#hdncommentDate").val();
        const updateDate = $('#updateCommentDate').val();
        const commentText = $('textarea#edit-comment-' + selectedCommentDate).val();
        if (commentText == "") {
            $('textarea#edit-comment-' + selectedCommentDate).focus();
            return false;
        }
    
        var jsonData = { Id: commentId, UpdateCommentDate: updateDate, CommentText: commentText };
        var jsonString = JSON.stringify(jsonData);

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/Home/UpdateComment", //
            data: jsonString,
            success: function (result) {
                if (result) {
                    $('#lblComment-' + selectedCommentDate).show().text(commentText);
                    $('.update-comment-row').hide();

                    $('#edit-delete-icon-' + selectedCommentDate).show();
                    $('textarea#edit-comment-' + selectedCommentDate).hide().val('');
                }
                else {
                    alert('Something went wrong, please try again')
                }
            }
        });
    }

    function removeComment(commentDate,selectedId) {
      
        const commentId = $(".comment-id").val();
        const answerId = $(".ans-comment-Id").val();
        var jsonData = { Id: commentId, UpdateCommentDate: commentDate};
        var jsonString = JSON.stringify(jsonData);

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/Home/DeleteComment", //
            data: jsonString,
            success: function (result) {
              
                if (result.success) {
                    $('#post-content-' + selectedId).remove();
                    if (result.totalUserCommentCount == 0) {
                        $('#fa-comment-' + answerId).removeClass("fa-comment-success");
                    }
                }
                else {
                    alert('Something went wrong, please try again')
                }
            }
        });
    }

    $(".fa-edit").click(function () {
     
        $('.update-comment-row').hide();
      
        var selectedEditId = $(this).attr('id');
        var hdnDate = $(this).attr('data-value');

        selectedEditId = selectedEditId.substring(selectedEditId.indexOf("-") + 1, selectedEditId.length);
        $('#hdncommentDate').val(selectedEditId);  //hidden field
        $('#updateCommentDate').val(hdnDate); 
        $('textarea#edit-comment-' + selectedEditId).show().val($('#lblComment-' + selectedEditId).hide().text());
        $('#edit-delete-icon-' + selectedEditId).hide();
        $('#update-comment-' + selectedEditId).show();
    });

    function cancelEdit() {
        $('.update-comment-row').hide();
        $('.edit-remove-row').show();
        var hdnCommentId = $('#hdncommentDate').val();
        $('#lblComment-' + hdnCommentId).show();
        $('.edit-Comment').hide();
    }
</script>
