﻿@using System.Configuration
@using CMS.Helpers
<center>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary side-action-btn" href="@Url.Action("Index")">Home</a>
        </li>
        <li>
            <a href="@ConfigurationManager.AppSettings["KnowledgeCenterUrl"].ToString()" class="btn btn-primary side-action-btn">View Knowledge Centre</a>
        </li>
        <li>
            <a class="btn btn-primary side-action-btn" href="mailto:@(GlobalVariables.ITOKLeaderEmail)?subject=Question from IAAF Knowledge Centre" style="white-space: normal !important; height: 60px">Contact Knowledge Centre Leader</a>
        </li>
    </ul>
</center>