﻿@using ITOK.Core.Data.Model
@model IList<UserEvent>



@if (Model != null && Model.Count != 0)
{
    foreach (var itemUserEvent in Model)
    {
        Html.RenderPartial("_UserEventListItem", itemUserEvent);
    }
}
else
{
    <li>
        You have no questions assigned to answer
    </li>
}

