﻿@using ITOK.Core.Data.Model
@using System.Web.Configuration
@model UserEvent

<a href="@Url.Action("Questions", "Home", new { yearId = Model.YearId, areaId = Model.AreaId, eventId = Model.EventId })">
    <li class="list-group-item">
        <ul class="list-unstyled">
            <li class="col-md-6 col-sm-2 ">
                @Model.EventTitle @Model.YearTitle

            </li>
            <li class="col-md-5 col-sm-2 ">
                @Model.AreaTitle
            </li>
            <li class="col-md-1 pull-right text-right action-icons-listing">
                @if (Model.Status == EventAnswerStatus.Complete)
                {
                    <i class="fa fa-2x fa-check" title="Answer complete"></i>
                }
                else if (Model.Status == EventAnswerStatus.InProgress)
                {
                    <i class="fa fa-2x fa-clock-o" title="Answer in progress"></i>
                }
                else if (Model.Status == EventAnswerStatus.Unstarted)
                {
                    <i class="fa fa-2x fa-times" title="Answer unstarted"></i>
                }
            </li>
        </ul>
    </li>
</a>