﻿@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar
@using ITOK.Core.Data.Model
@model IList<UserEvent>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterStyle("~/Content/Styles/Home.css");
}
@section SideBar
{
    @Html.Partial("_SideBar")
}

@section SubSideBar
{


}

<div class="row status-sec">

    <div class="page-header status-header">
        <h2>
            My Status
        </h2>
    </div>

    <div class="clearfix"></div>

    @Html.Partial("_UserEventList", Model)

    <div class="clearfix"></div>

    <br />
    <br />
    <br />
    <br />

    @Html.Partial("_MyAreas", Model)

</div>
