﻿@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar
@using ITOK.Core.Data.Model
@using System.Web.Configuration
@model UserEvent
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterStyle("~/Content/Styles/Home.css");
}

@{ Html.RenderAction("Load", "InContentMediaSelector"); }
@{ Html.RenderAction("Load", "MediaSelector"); }
@{ Html.RenderAction("Load", "MediaQuickUpload"); }
<script>
    $(document).ready(function () {
        $("#divUpdatedDetail").show();
    });
</script>
<div class="row">
    <div class="page-header">
    </div>
    <div class="search-panel">
        <div class="col-md-12 filter-fields">
            <div class="row">
                <div class="col-md-4 form-group">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Event", new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <select class="drop-filter" id="eventId" name="eventId" autofocus onchange="bindyearbyevent(this)">
                                    <option value="">Please Select</option>
                                    @foreach (var tag in Model.Events.OrderBy(i => i.Order))
                                    {
                                        <option value="@tag.Id" title="@tag.DisplayText">@tag.DisplayText</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Edition", new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <select class="drop-filter" id="yearId" name="yearId">
                                    <option value="">Please Select</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Area", new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class="searchform">
                                <select class="drop-filter" id="areaId" name="areaId">
                                    <option value="">Please Select</option>
                                    @foreach (var tag in Model.Areas.OrderBy(i => i.Order))
                                    {
                                        <option value="@tag.Id" title="@tag.DisplayText">@tag.DisplayText</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12 search-textbar">
            <input class="span4 col-md-8" type="text" id="SearchBox" placeholder="Search text..." value="" />
            <button class="btn btn-primary" type="button" value="Search" onclick="bindsearch()">
                Search
            </button>
            <button class="btn btn-primary" type="button" value="Search" onclick="clearsearch()">
                Clear Search
            </button>
        </div>
    </div>
    <div class="clearfix"></div>

    <input type="hidden" id="Item-Document" />
    <input type="hidden" id="lastClickedQuestionId" />
</div>
<div class="row" style="width:100%;">
    <ul class="QuesList">
        @foreach (var itemQuestion in Model.QuestionList)
        {
            @Html.Partial("_AnswerItemItokLeader", itemQuestion)
        }
    </ul>
</div>

<div id="modalWrapper" class="modal fade">
    @* Inject form here *@
</div>

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/answer.js"></script>

<script>

    function setGlobalIds(qid, eventId, yearId, areaId) {
        if (eventId && yearId && areaId) {
            jsGlobalEventId = eventId;
            jsGlobalYearId = yearId;
            jsGlobalAreaId = areaId;
            $("#lastClickedQuestionId").val(qid);
        }
    }

    function editAnswer(_qid, _isAttachment, _eventId, _yearId, _areaId) {
        if (!_isAttachment) {
            $("#lastClickedQuestionId").val("");
            $.ajax({
                url: "/Home/GetQuestionDetail", //
                data: { questionId: _qid, eventId: _eventId, yearId: _yearId, areaId: _areaId },
                success: function (data) {
                    $('#modalWrapper').html(data);

                    initTinyMCE();
                }
            });
        } else {

            jsGlobalEventId = _eventId;
            jsGlobalYearId = _yearId;
            jsGlobalAreaId = _areaId;

            $("#lastClickedQuestionId").val(_qid);

        }
    }

    function bindyearbyevent(evntid) {
        if (evntid.value == "0") {
            return false;
        }

        console.log(evntid.value);
        $.ajax({
            url: '/Home/BindYearByEvent',
            type: 'GET',
            data: { 'eventid': evntid.value },
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                data = eval(result);
                if (data.Years.length > 0) {
                    var options = '';
                    $.each(data.Years, function (index, value) {
                        options += "<option value=" + value.Id + " title=" + value.DisplayText + ">" + value.DisplayText + "</option>";
                    });
                }
                $('#yearId').html();
                $('#yearId').html('<option value="">Please Select</options>');
                $('#yearId').append(options);
            }
        });
    }
    function bindareabycategory(catid) {
        if (catid.value == "0") {
            return false;
        }
        $.ajax({
            url: '/Home/BindAreaByCategory',
            type: 'GET',
            data: { 'categoryId': catid.value },
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                data = eval(result);
                if (data.Years.length > 0) {
                    var options = '';
                    $.each(data.Years, function (index, value) {
                        options += "<option value=" + value.Id + " title=" + value.DisplayText + ">" + value.DisplayText + "</option>";
                    });
                }
                $('#areaId').html();
                $('#areaId').html('<option value="">Please Select</options>');
                $('#areaId').append(options);
            }
        });
    }

    function bindsearch() {

        var SearchText = $("#SearchBox").val();
        var EventId = $("#eventId").val();
        var YearId = $("#yearId").val();
        var AreaId = $("#areaId").val();


        var data = { SearchText: SearchText, EventId: EventId, YearId: YearId, AreaId: AreaId };
        $.ajax({
            type: "POST",
            url: '/Home/BindSearch',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (result) {
                if (result == "") {
                    $('.QuesList').html('<li class="list-group-item" style="">No Result</li>');
                }
                else {
                    $('.QuesList').html(result);
                    flagClick();
                    quickUploadMedia();
                    setGlobalIds();
                }
            },
            error: function error(a, b, c) {
                if (console && console.error && JSON && JSON.stringify)
                    console.error("a: " + JSON.stringify(a) + "| b: " + b + "|c: " + c);
            }

        });
    }

    function clearsearch() {
        document.location.href = window.location.href;
    }
</script>


<style>
    .search-panel {
        padding: 20px;
        border: 1px solid #ddd;
        display: inline-block;
        margin-bottom: 20px;
    }

    .filter-fields {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .drop-filter {
        width: 100%;
        padding: 6px;
    }



    .search-textbar .btn {
        margin-left: 10px;
    }

    .search-textbar #SearchBox {
        padding: 8px 10px;
    }
</style>
