﻿@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar
@using ITOK.Core.Data.Model
@model UserEvent
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterStyle("~/Content/Styles/Home.css");
}
@section SideBar
{
    @Html.Partial("_SideBar")
}

@section SubSideBar
{

}

@{ Html.RenderAction("Load", "InContentMediaSelector"); }
@{ Html.RenderAction("Load", "MediaSelector"); }
@{ Html.RenderAction("Load", "MediaQuickUpload"); }
@{ Html.RenderAction("Load", "TagSelector"); }

<div class="row status-sec" style="margin-top: 25px;">

    <div class="page-header margin-top-20">
        <h4>
            Editing : @Model.EventTitle > @Model.YearTitle > @Model.AreaTitle
        </h4>
    </div>

    <input type="hidden" id="Item-Document" />
    <input type="hidden" id="lastClickedQuestionId" />

    <div class="clearfix"></div>


    @foreach (var itemQuestion in Model.QuestionList)
    {
        @Html.Partial("_QuestionItem", itemQuestion)
    }


</div>

<div id="modalWrapper" class="modal fade">
    @* Inject form here *@
</div>

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/answer.js"></script>
<script>
    jsGlobalEventId = '@Model.EventId';
    jsGlobalYearId = '@Model.YearId';
    jsGlobalAreaId = '@Model.AreaId';
</script>

