/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}
#PopularArticlesTab { border: 1px solid #000000;width: 350px; }

#PopularTags { border: 1px solid #000000; width: 350px;}

#PopularArticles { border: 1px solid #000000; width: 350px;margin-bottom: 50px;}

#PopularTagsBox { margin: 30px; }

.btn-default { margin: 10px;}

.blog-post-meta { color:darkgray}

.lastUpdated { margin-left: 60px;}

.storySeparator { 
    height:1px;
    border:none;
    color: lightgray;
    background-color:lightgray
}

.articleImage {
    vertical-align: text-top;
}
.Container {
    width: 800px;
}
#FindContentIntro {
    margin-left: 25px;
}

#ArticleGotIt {
    font-size: 60%;
}