﻿@*@using Iaaf.Common.Extensions.Strings
@using Iaaf.Common.Extensions.Web.Url
@using Iaaf.Cms.Models
@model PasswordResetModel*@

<div style="background-color: #CD1F2B; height: 115px; margin: 0 auto; position: relative; width: 100%;">
    <div style="float: left; margin-top: 13px;">
       Logo goes here
    </div>
</div>

<p style="color: #000026; font-size:14px;">
    A request has been made to reset the password for the IAAF CMS account associated with this email address. This request will remain active for 30 minutes after the initial request was made.
</p>
<p style="color: #000026;">
    If you made this request then follow this link to complete the process:
</p>
<p style="color: #000026;">
    <a href="@(Model.BaseUrl)/User/Login?key=@Model.PasswordResetTicketKey" >@(Model.BaseUrl)/User/Login?key=@Model.PasswordResetTicketKey</a>
</p>
<p style="color: #000026;">
    If you didn't make the request then please ignore this email.
</p>
<p style="color: #000026; font-weight: bold;">
    Regards,
    <br /><br /><br /><br />
    The IAAF team
</p>

<p style="background-color #FF2534; color: #FFFFFF; font-weight:bold; font-size:8px;">
    Please do not reply to this email.
</p>
