﻿@using ITOK.Core.Common.Config
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar

@* Register the media selector scripts and styles *@
@{ 
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.incontent-submittedmedia-selector.js");
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.jqote2.js");
    
    //IaafScriptRegistrar.RegisterStyle("~/Content/Styles/MediaSelector.css");
    ScriptRegistrar.RegisterClientVariable("baseMediaUrl", ITOKConfig.Instance.Media.baseUri.ToString() + "/" + ITOKConfig.Instance.Media.Directory + "/Original/");
}

<!-- Media Selector -->

    <script type="text/x-jqote-template" id="inlinemediaSelectorTemplate">
    <![CDATA[
        <div id="inlinemediaSelector<*= this.instanceNumber *>" style="display:block; margin-top:20px;">

            <h3>
                In Line Media Selector
            </h3>

            <div class="inner-panel-wrap">

                <div class="media-selector-search">
                    <input type="text" class="inlinemedia-search form-control" name="mediaSearch" placeholder="Search media" />
                </div>

                <div class="inlinemedia-selector-tab-views"></div>

            </div>


        </div>
    ]]>
</script>


<script type="text/x-jqote-template" id="inlinemediaSelectorMediaItemTemplate">

          <* if(this.Results.length == 0) { *>
                <li>No results</li>
            <* } else {
                for( var r in this.Results ) {
                    var media = this.Results[r].Media;
                   

                <![CDATA[
                <* 
                   var thumbnailUrl = "";
      
                switch(media.Hosting)
                {
                    case 0:
                        thumbnailUrl = this.baseMediaUrl + media.FileName;
       
                        break;
                    case 1:
                        thumbnailUrl = "http://img.youtube.com/vi/" + media.RemoteItemCode + "/1.jpg";
                        break;
                    case 4:
                        thumbnailUrl = "/content/images/error.jpg";
                        break;
                    case 3:
                        thumbnailUrl = this.Results[r].ThumbnailUrl;
                        break;
                } 
                var fileClass = "";
                switch(media.Format)
                {
                case 4:
                fileClass = "pdf";
                break;
                case "15":
                fileClass = "xls";
                break;
                case "16":
                fileClass = "doc";
                break;
                case "17":
                fileClass = "txt";
                break;
                case "18":
                case "19":
                fileClass = "ppt";
                break;
                }
            *>
              

               

    
                <div draggable="true" ondragstart="drag(event)" type="<*= media.Hosting *>" filename="<*= media.FileName *>" class="dropMedia <*= fileClass *>" id="<*= media.Id *>" style="background-image:url(<*= thumbnailUrl *>);" data-caption="<*= media.Title *>"></div>
    

            ]]>


                     
            <* }
        } *>
        

   
    </script>

<!-- End Media Selector -->