﻿@font-face {
	font-family:'Din';
	src: url('/Assets/font/DINWeb.eot'); /* IE9 Compat Modes */
	src: url('/Assets/font/DINWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('/Assets/font/DINWeb.woff') format('woff'), /* Modern Browsers */
	    url('/Assets/font/DINComp-CondMedium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family:'iaaf_sans_blackregular';
	src: url('/Assets/font/iaafsansblack-webfont.eot'); /* IE9 Compat Modes */
	src: url('/Assets/font/iaafsansblack-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('/Assets/font/iaafsansblack-webfont.woff') format('woff'), /* Modern Browsers */
	    url('/Assets/font/iaafsansblack-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family:'iaaf_sans_boldregular';
	src: url('/Assets/font/iaafsansbold-webfont.eot'); /* IE9 Compat Modes */
	src: url('/Assets/font/iaafsansbold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('/Assets/font/iaafsansbold-webfont.woff') format('woff'), /* Modern Browsers */
	    url('/Assets/font/iaafsansbold-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family:'iaaf_sansregular';
	src: url('/Assets/font/iaafsans-webfont.eot'); /* IE9 Compat Modes */
	src: url('/Assets/font/iaafsans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('/Assets/font/iaafsans-webfont.woff') format('woff'), /* Modern Browsers */
	    url('/Assets/font/iaafsans-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
}