﻿@model ITOK.Core.Data.Model.Article
@{
    ViewBag.Title = "Article Stats";
}
<!--
 Total unique views
2)      Percentage of unique total views by job role (ie as a proportion of all total unique views for this article in this date range*, how does it break down by job role)
-          Example
-          500 Service Advisors in VW network, read by 167 Service Advisors = 33% Service Advisor coverage
-          185 Aftersales Managers in VW network, read by 10 Aftersales Managers = 5% Aftersales Manager coverage

3)      Percentage of unique total views by dealer/retailer (ie of everyone visiting this page, summarise how many dealers/Retailers are represented)
    -          Example
-          220 Retailers in VW network; read by at least one person at 150 Retailers = 68% network coverage

4)      Got it – number of people who get it/as a proportion (if applicable)
-          Example
-          354 views, 89 people have clicked the ‘got it’ button = 25% ‘Got it’ score
5)      Views by device – mobile, tablet and desktop – percentage split into the three categories (if possible)
6)      Dwell time
7)      Bounce rate
8)      Shares/favourited
9)      Scroll depth in 20%/40%/60%/80%/100% stages
10)   Actions – ie clicking on links in page
-->



<script>
    (function (w, d, s, g, js, fs) {
        g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
        js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
        js.src = 'https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
    }(window, document, 'script'));
</script>



@* stats page *@
<div class="col-md-12">

    <div class="col-xs-12 offset-top-20 stats">

        <div class="page-header">

            <h1>
                Statistics for: @Model.Title (@Model.BrandArticleNumber)
            </h1>

            <div class="clearfix"></div>

            <select id="selectedDateRange" class="form-control">
                <option>
                    Select Date Range
                </option>
                <option value="Yesterday">
                    Last 24 hours
                </option>
                <option value="7DaysAgo">
                    Last 7 days
                </option>
                <option value="14DaysAgo">
                    Last 14 days
                </option>
                <option value="30DaysAgo" selected="selected">
                    Last 30 days
                </option>
            </select>

            <div class="clearfix"></div>

            <label>
                Please note some stats may take up to 24 hours to display
            </label>

            <div class="clearfix"></div>

            <hr />

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>


        @if (Model != null && !string.IsNullOrEmpty(Model.Id))
        {
            <div id="visitor-container"></div>

            <div class="col-md-12">
                <div class="module" id="divArticleEvents">
                    <div id="divArticleEventsLoad"></div>
                    <table id="tblArticleEvents">
                        <tr>
                            <th>
                                Favourite
                            </th>
                            <th>
                                Printed
                            </th>
                            <th>
                                Reading List
                            </th>
                            <th>
                                Got It Y/N
                            </th>
                            <th>
                                Read 25%
                            </th>
                            <th>
                                Read 50%
                            </th>
                            <th>
                                Read 75%
                            </th>
                            <th>
                                Read 100%
                            </th>
                        </tr>
                        <tr>
                            <td><span id="spAE_Favourite"></span></td>
                            <td><span id="spAE_Printed"></span></td>
                            <td><span id="spAE_ReadingList"></span></td>
                            <td><span id="spAE_GotItYes"></span> / <span id="spAE_GotItNo"></span></td>
                            <td><span id="spAE_Scroll25"></span></td>
                            <td><span id="spAE_Scroll50"></span></td>
                            <td><span id="spAE_Scroll75"></span></td>
                            <td><span id="spAE_Scroll100"></span></td>
                        </tr>
                    </table>
                </div>
                <div id="articleEvents-container" class="module" style="display:none"></div>

            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div id="pageView-container" style="display:none"></div>
                    <div class="module">
                        <b>Total Page Views</b> <span id="spnPageViewCount"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">

                <div class="module" id="divPageViewsByDay">
                    <h3>Views per day</h3>
                    <div id="pageViewsByDay-container"></div>


                </div>


            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">

                <div class="col-md-6">

                    <div class="module module-tall" id="divPrimaryJobRoles">
                        <h3>Breakdown by role</h3>
                        <div id="primaryJobRole-container"></div>
                        <!-- hidden on purpose -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="module module-tall" id="divPrimaryJobRolesTable">
                        <h3>Breakdown by role</h3>
                        <table id="tblJobRoles" style="width:100%" class="gaDataTable">
                            <thead>
                                <tr>
                                    <th width="70%">Job Role</th>
                                    <th>Count</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">

                <div class="col-md-6">

                    <div class="module module-tall" id="divSecondaryJobRoles">
                        <h3>Breakdown by secondary role</h3>
                        <div id="secondaryJobRole-container"></div>
                        <!-- hidden on purpose -->
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="module" id="divSecondaryJobRolesTable">
                        <h4>Secondary roles</h4>

                        <table id="tblSecondaryJobRoles" style="width:100%" class="gaDataTable">
                            <thead>
                                <tr>
                                    <th width="70%">Job Role</th>
                                    <th>Count</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <h3>Browsers</h3>
                <div id="browser-breakdown-container"></div>
            </div>
        }

        <div class="clearfix"></div>

        @if (!string.IsNullOrEmpty(ViewBag.errorMsg))
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <span class="headline">
                    Error
                </span>
                <p>
                    @ViewBag.errorMsg
                </p>
            </div>
            <div class="clearfix"></div>
        }


        <div class="clearfix"></div>

    </div>

</div>


@* stats page *@


<div id="embed-api-auth-container" style="display:none"></div>
<div id="view-selector-container" style="display:none"></div>





















<script>
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    $("#divTraffic").hide();

    var startDate = "30daysAgo";


    gapi.analytics.ready(function () {
        gapi.analytics.auth.authorize({
            'serverAuth': {
                'access_token': '@ViewBag.Token'
            }
        });
        var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector-container'
        });

        // Render the view selector to the page.
        viewSelector.execute();

        if ('@ViewBag.urlSlug' != '') {

            //sessions
            var dataChartTraffic = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:sessions',
                    dimensions: 'ga:date',
                    'start-date': startDate,
                    'end-date': 'yesterday'
                },
                chart: {
                    container: 'traffic-container',
                    type: 'LINE',
                    options: {
                        width: '100%',
                        height: '210px'
                    }
                }
            });

            //Total visitor Count
            var dataChartVisitors = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:users',
                    dimensions: 'ga:usertype',
                    'start-date': startDate,
                    'end-date': 'yesterday',
                    filters: 'ga:pagepathlevel1=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'visitor-container',
                    type: 'TABLE',
                    options: {
                        width: '100%'
                    }
                }
            });

            // ------------------ Article Events - favourite, scroll etc --------------------------
            var dataChartArticleEvents = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:uniqueEvents',
                    dimensions: 'ga:eventAction',
                    'start-date': startDate,
                    'end-date': 'yesterday',
                    filters: 'ga:EventCategory==Article;ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'articleEvents-container',
                    type: 'TABLE',
                    options: {
                        width: '100%'
                    }
                }
            });
            dataChartArticleEvents.on("success", function (response) {
                console.log("Article Events Loaded");
                console.log(response);
                var s = "";
                $("#spAE_Scroll25").html("N/A");
                $("#spAE_Scroll50").html("N/A");
                $("#spAE_Scroll75").html("N/A");
                $("#spAE_Scroll100").html("N/A");
                $("#spAE_Printed").html("N/A");
                $("#spAE_ReadingList").html("N/A");
                $("#spAE_Favourite").html("N/A");
                $("#spAE_GotItNo").html("N/A");
                $("#spAE_GotItYes").html("N/A");
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    switch (response.dataTable.getValue(i, 0)) {
                        case "Scroll25":
                            $("#spAE_Scroll25").html(response.dataTable.getValue(i, 1));
                            break;
                        case "Scroll50":
                            $("#spAE_Scroll50").html(response.dataTable.getValue(i, 1));
                            break;
                        case "Scroll75":
                            $("#spAE_Scroll75").html(response.dataTable.getValue(i, 1));
                            break;
                        case "Scroll100":
                            $("#spAE_Scroll100").html(response.dataTable.getValue(i, 1));
                            break;
                        case "Print":
                            $("#spAE_Printed").html(response.dataTable.getValue(i, 1));
                            break;
                        case "AddToReadingList":
                            $("#spAE_ReadingList").html(response.dataTable.getValue(i, 1));
                            break;
                        case "Favourite":
                            $("#spAE_Favourite").html(response.dataTable.getValue(i, 1));
                            break;
                        case "GotItNo":
                            $("#spAE_GotItNo").html(response.dataTable.getValue(i, 1));
                            break;
                        case "GotItYes":
                            $("#spAE_GotItYes").html(response.dataTable.getValue(i, 1));
                            break;
                    }

                }
                console.log(s);

            })
            // ------------------ END Article Events - favourite, scroll etc --------------------------



            // ------------------ Browser/device breakdown --------------------------
            var browserBreakdownChart = new gapi.analytics.googleCharts.DataChart({
                query: {
                    'dimensions': 'ga:browser',
                    'metrics': 'ga:sessions',
                    'start-date': startDate,
                    'end-date': 'yesterday',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug',
                    'sort': '-ga:sessions',
                    'max-results': '6'
                },
                chart: {
                    type: 'TABLE',
                    container: 'browser-breakdown-container',
                    options: {
                        width: '100%'
                    }
                }
            });

            var breakdownChart = new gapi.analytics.googleCharts.DataChart({
                query: {
                    'dimensions': 'ga:date',
                    'metrics': 'ga:sessions',
                    'start-date': startDate,
                    'end-date': 'yesterday'
                },
                chart: {
                    type: 'LINE',
                    container: 'breakdown-chart-container',
                    options: {
                        width: '100%'
                    }
                }
            });

            // ------------------ End Browser/Device breakdown --------------------------

            var realtime = new gapi.client.analytics.data.realtime.get({ 'ids': gaid, 'metrics': 'rt:activeUsers' });


            //page views
            var dataChartPageViews = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:pageviews',
                    dimensions: 'ga:pagePath',
                    'start-date': startDate,
                    'end-date': 'yesterday',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'pageView-container',
                    type: 'TABLE',
                    options: {
                        width: '100%'
                    }
                }
            });

            dataChartPageViews.on("success", function (response) {
                try {
                    var total = 0;
                    for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                        total = total + response.dataTable.getValue(i, 1);
                    }

                    $("#spnPageViewCount").text(total);
                }
                catch (e) {
                    $("#spnPageViewCount").text("0");
                }

            })


            var dataChartJobRoles = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:users',
                    dimensions: 'ga:dimension2',
                    'start-date': startDate,
                    'end-date': 'today',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'primaryJobRole-container',
                    type: 'PIE',
                    options: {
                        width: '100%'
                    }
                }
            });

            dataChartJobRoles.on("success", function (response) {
                console.log("Loading breakdown by job roles table");
                var tbody = $("table#tblJobRoles tbody");
                var s = "";
                console.log("RESULTS");
                console.log(response.dataTable);
                var total = 0;
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    total = total + response.dataTable.getValue(i, 1);
                }
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    s += "<tr><td>" + response.dataTable.getValue(i, 0) + "</td>";
                    s += "<td>" + response.dataTable.getValue(i, 1) + "</td>";
                    s += "<td>" + ((response.dataTable.getValue(i, 1) / total) * 100).toFixed(2) + "</td></tr>";
                }
                console.log(s);
                tbody.html(s);

            })



            var dataChartSecondaryJobRoles = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:users',
                    dimensions: 'ga:dimension3',
                    'start-date': startDate,
                    'end-date': 'today',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'secondaryJobRole-container',
                    type: 'PIE',
                    options: {
                        width: '100%'
                    }
                }
            });

            dataChartSecondaryJobRoles.on("success", function (response) {
                var tbody = $("table#tblSecondaryJobRoles tbody");
                var s = "";
                console.log("Results for secondary job roles: " + response.dataTable.getNumberOfRows());
                var total = 0;
                if (response.dataTable.getNumberOfRows() == 0)
                    $("#divSecondaryJobRolesTable").hide();
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    total = total + response.dataTable.getValue(i, 1);
                }
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    s += "<tr><td>" + response.dataTable.getValue(i, 0) + "</td>";
                    s += "<td>" + response.dataTable.getValue(i, 1) + "</td>";
                    s += "<td>" + ((response.dataTable.getValue(i, 1) / total) * 100).toFixed(2) + "</td></tr>";
                }
                console.log(s);
                tbody.html(s);

            })


            var dataChartAllRoles = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:users',
                    dimensions: 'ga:dimension3',
                    'start-date': startDate,
                    'end-date': 'today'
                },
                chart: {
                    container: 'allRoles-container',
                    type: 'PIE',
                    options: {
                        width: '100%'
                    }
                }
            });

            dataChartAllRoles.on("success", function (response) {
                console.log("Loading breakdown by secondary job roles table");
                var tbody = $("table#tblJobRoles tbody");
                var s = "";
                console.log("RESULTS");
                console.log(response.dataTable);
                var total = 0;
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    total = total + response.dataTable.getValue(i, 1);
                }
                for (var i = 0; i < response.dataTable.getNumberOfRows() ; i++) {
                    s += "<tr><td>" + response.dataTable.getValue(i, 0) + "</td>";
                    s += "<td>" + response.dataTable.getValue(i, 1) + "</td>";
                    s += "<td>" + (response.dataTable.getValue(i, 1) / total) * 100 + "</td></tr>";
                }
                console.log(s);
                tbody.html(s);

            })



            var dataChartPageViewsByDay = new gapi.analytics.googleCharts.DataChart({
                query: {
                    metrics: 'ga:pageviews',
                    dimensions: 'ga:date',
                    'start-date': startDate,
                    'end-date': 'yesterday',
                    filters: 'ga:pagepath=~@ViewBag.urlSlug'
                },
                chart: {
                    container: 'pageViewsByDay-container',
                    type: 'BAR',
                    options: {
                        width: '100%',
                        legend: { position: 'bottom' }
                    }
                }
            });

            dataChartPageViewsByDay.on("success", function (response) {
                //can hide loading effects here
            })

        }
        var gaid;

        function reloadTracking(gaid) {
            var options = { query: { ids: gaid } };
        }

        function reloadAll(gaid, dateRange) {
            console.log(dateRange);
            startDate = dateRange;
            var options = { query: { ids: gaid } };
            dataChartPageViews.set(options).execute();
            dataChartArticleEvents.set(options).execute();
            dataChartPageViewsByDay.set(options).execute();
            browserBreakdownChart.set(options).execute();
            dataChartSecondaryJobRoles.set(options).execute();
            setTimeout(function () { reloadTracking(gaid) }, 2000);
            setTimeout(function () { dataChartJobRoles.set(options).execute() }, 4000);
        }


        $(document).on("click", "#selectedDateRange", function (e) {
            reloadAll("ga:121081533", $("#selectedDateRange").val());
        });
        reloadAll("ga:121081533", $("#selectedDateRange").val());

    });

</script>
