﻿@using ITOK.Core.Common.Extensions
@using ITOK.Core.Common.Utilities
@using ITOK.Core.Common.Utilities.Extensions.Html
@using ITOK.Core.Services.Core
@model ITOKFrontend.Models.SearchModels.SearchFilterModel
@{

    ViewBag.Title = "Search";

    var clickformoreshow = true;
    var _statsService = new StatsService(new ITOK.Core.Data.MongoRepository());

    const MediaProfile itemMediaProfile = ITOK.Core.Common.Constants.MediaProfile.size_600x300;
    var profileConfig = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfile);

    const MediaProfile itemMediaProfileSmall = ITOK.Core.Common.Constants.MediaProfile.size_300x200;

    var profileConfigSmall = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfileSmall);


    var brand = Brand.itok;



    var q = "q=" + Model.SearchText;

    var t = "&t=";

    t = !string.IsNullOrEmpty(Model.Tags) ? Model.SelectedTags.Aggregate(t, (current, tag) => current + ("+" + tag.UrlSlug)) : "";

    var startDate = Model.Start.HasValue ? Model.Start.Value.ToString("dd/MM/yy") : "";

    var s = Model.Start.HasValue ? "&s=" + Model.Start.Value.ToString("dd/MM/yy") : "";


    var so = "&so=" + (Model.SortOrder == SortOrder.Relevance ? "Relevance" : "VersionDate");

    var e = Model.End.HasValue ? "&e=" + Model.End.Value.ToString("dd/MM/yy") : "";



    var datefilter = "";


    if (startDate == DateTime.Today.AddYears(-1).ToString("dd/MM/yy"))
    {
        datefilter = "Past 12 months";
    }
    else if (startDate == DateTime.Today.AddMonths(-1).ToString("dd/MM/yy"))
    {
        datefilter = "Past month";
    }
    else if (startDate == DateTime.Today.AddDays(-7).ToString("dd/MM/yy"))
    {
        datefilter = "Past week";
    }
    else if (startDate == "")
    {
        datefilter = "unlimited";
    }
    else
    {
        datefilter = startDate + " - " + (Model.End.HasValue ? Model.End.Value.ToString("dd/MM/yy") : "");
    }



    var sf = "&sf=and";

    switch (Model.SearchFilter)
    {

        case SearchFilter.Or:
            sf = "&sf=any";
            break;
        case SearchFilter.Phrase:
            sf = "&sf=phrase";
            break;
        default:
        case SearchFilter.And:
            sf = "&sf=and";
            break;

    }

    var tags = "none";
    if (!string.IsNullOrEmpty(Model.Tags))
    {
        tags = Model.Tags;
    }

    var endDate = Model.End.HasValue;



    if (Model.TotalItemCount < 20)
    {
        clickformoreshow = false;
    }



}






    <div class="row search-panel">

        <div class="col-md-12 search">
            <div class="search-btn-group">
                <div class="label">
                    <label>
                        You searched for:
                    </label>
                </div>
                <div class="searchform">
                    <form class="form-group has-feedback" id="searchform" method="GET" action="/search">
                        <input class="form-control" name="q" type="text" placeholder="Search Hub" value="@Model.SearchText" />
                        <button type="submit" value="Submit" form="searchform" class="btn btn-link btn-transparent-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-3 col-sm-6 col-xs-12 search-block no-padding">
            <div class="dropdown">

                <button class="btn btn-link btn-lg dropdown-toggle col-md-12" type="button" id="dateresults" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <p>
                        Results from @*the*@
                    </p>
                    <span data-bind="html: byDateText() === '' ? 'Past 12 months' : byDateText"></span>
                </button>

                <div class="clearfix"></div>

                <ul class="dropdown-menu col-xs-12" aria-labelledby="dateresults">
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, sf, so, "&s=" + DateTime.Today.AddYears(-1).ToString("dd/MM/yy"), e, t))', 'date', 'Past 12 months')">
                            Past 12 months
                        </a>
                    </li>
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, sf, so, "&s=" + DateTime.Today.AddMonths(-1).ToString("dd/MM/yy"), e, t))', 'date', 'Past month')">
                            Past month
                        </a>
                    </li>
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, sf, so, "&s=" + DateTime.Today.AddDays(-7).ToString("dd/MM/yy"), e, t))', 'date', 'Past week')">
                            Past week
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#customDateRange">
                            Custom date range
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 search-block no-padding">

            <div class="dropdown">
                <button class="btn btn-link btn-lg dropdown-toggle col-md-12" type="button" id="wordresults" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <p>
                        That include
                    </p>
                    <span data-bind="html: byWordsText"></span>
                </button>

                <div class="clearfix"></div>

                <ul class="dropdown-menu col-xs-12" aria-labelledby="wordresults">
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, "&sf=any", so, s, e, t))', 'words', '<strong>Any</strong> of the search words')">
                        <strong>Any</strong> of the search words
                    </a>
                    </li>
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, "&sf=and", so, s, e, t))', 'words', '<strong>All</strong> the search words')">
                        <strong>All</strong> the search words
                    </a>
                    </li>
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, "&sf=phrase", so, s, e, t))', 'words', 'The <strong>exact phrase</strong>')">
                        The <strong>exact phrase</strong>
                    </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 search-block no-padding">

            <div class="dropdown">
                <button class="btn btn-link btn-lg dropdown-toggle col-md-12" type="button" id="showingesults" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <p>
                        Showing
                    </p>
                    <span data-bind="html: byShowingText"></span>
                </button>

                <div class="clearfix"></div>

                <ul class="dropdown-menu col-xs-12" aria-labelledby="showingesults">
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, sf, "&so=VersionDate", s, e, t))', 'showing', 'Most recent first')">
                            Most recent first
                        </a>
                    </li>
                    <li>
                        <a href="#" data-bind="click: search.bind($data, '@(string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, sf, "&so=Relevance", s, e, t))', 'showing', 'Most relevant first')">
                            Most relevant first
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 search-block no-padding">

            <button class="btn btn-link btn-lg dropdown-toggle col-md-12 collapsed all-topics" id="showrelatedtags">
                <p>
                    Including
                </p>
                <span>
                    All topics
                </span>
            </button>

        </div>

        @if (Model.SelectedTags.Any())
    {
            <div class="col-md-12 offset-top-20">
                <div class="btn-group spaced">
                    @foreach (var item in Model.SelectedTags)
                {
                    var newt = "";
                    newt = Model.SelectedTags.Count == 1 ? "" : t.Replace("+" + item.UrlSlug, "");

                    var urlslug = string.Format("{0}?{1}{2}{3}{4}{5}{6}", Model.BaseUrl, q, sf, so, s, e, newt);

                        <a class="btn btn-danger" href="@urlslug" title="View Topics labelled @item.DisplayText">
                            <i class="fa fa-minus"></i>
                            @item.DisplayText

                        </a>
                }
                </div>
            </div>
    }

        <div class="clearfix"></div>

        <div id="relatedtagscollapse" class="collapse topics no-margin-bottom">
            <p>
                Refine your results by clicking on these related topics
            </p>
            <div class="row" id="relatedtags">
                <div class="btn-group">
                    @foreach (var item in Model.FilterTags)
                {
                    if (string.IsNullOrEmpty(t))
                    {
                        t = "&t=";
                    }

                    var urlslug = string.Format("{0}?{1}{2}{3}{4}{5}{6}+{7}", Model.BaseUrl, q, sf, so, s, e, t, item.tagSlug);

                        <a class="btn btn-default" href="@urlslug" title="View Topics labelled @item.tagName">
                            <i class="fa fa-plus"></i>
                            @item.tagName
                            <span>
                                (@item.tagCount)
                            </span>
                        </a>
                }
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 search-results" id="content">

        <h2 class="homeh2 offset-top-20">
            Total results returned: @Model.TotalItemCount
        </h2>

        @if (Model.Articles != null && Model.Articles.Any())
    {
        foreach (var article in Model.Articles)
        {
            var url = ArticleUtilities.GetArticleUri(article);

            if (!string.IsNullOrEmpty(Model.Filter))
            {
                url += "?search=" + Model.Filter;
            }
            var divArticleElement = "";

            if (article.VersionDate > LoginManager.CurrentUser.LastLoginDate)
            {
                divArticleElement = article.LiveFrom != article.VersionDate ? "updated-item" : "new-item";
            }
            else if (!_statsService.IsArticleViewed(article.Id, LoginManager.CurrentUser.Id))
            {
                divArticleElement = "unread-item";

            }


            <div id="DivArticleElement_@(article.Id)" class="list-group-item alt-color row @divArticleElement @( article.ArticleType == ArticleType.group ? "important" : string.Empty)">

                <div class="col-lg-12 no-padding full-width-partial">

                    <div class="pull-left list-group-item-banners">

                        @if (divArticleElement == "updated-item")
                        {
                            <span class="btn btn-info">
                                UPDATED
                            </span>
                        }
                        else if (divArticleElement == "new-item")
                        {
                            <span class="btn btn-primary new">
                                NEW
                            </span>
                        }
                        else if (divArticleElement == "unread-item")
                        {
                            <span class="btn btn-info btn-danger">
                                UNREAD
                            </span>
                        }

                    </div>

                    <div class="pull-left article-number-and-date">
                        <div class="pull-left">
                            <span class="article-number">
                                @article.BrandArticleNumber
                            </span>
                        </div>
                        <div class="pull-left">
                            <h4 class="date">
                                @Html.DateFormat(article.LiveFrom)
                                @if (article.VersionDate.HasValue && article.LiveFrom != article.VersionDate)
                                {
                                    <span class="_mobileHide">
                                        &dash;
                                        Last updated @Html.DateTimeAgo(article.VersionDate)
                                    </span>
                                }
                            </h4>
                        </div>
                    </div>

                    <div class="pull-right btn-group spaced add-tools" role="group">


                        @{

                                var tooltipText = "Favourited by " + article.FavCount + " people";
                                if (article.FavCount == 1)
                                {
                                    tooltipText = "Favourited by " + article.FavCount + " person";
                                }

                                if (article.IsFavoriteForCurrentUser)
                                {
                                    <a class="btn btn-default" href="#" data-favourite="true" data-urlslug="@article.Id" data-toggle="tooltip" title="@tooltipText">
                                        <i class="fa fa-star"></i>
                                        <span class="favcount" data-count="@article.FavCount"></span>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-default" href="#" data-favourite="false" data-urlslug="@article.Id" data-toggle="tooltip" title="@tooltipText">
                                        <i class="fa fa-star-o"></i>
                                        <span class="favcount" data-count="@article.FavCount"></span>
                                    </a>
                                }
                        }

                        @{
                                var readingListText = "Added to " + article.FavCount + " peoples reading list";
                                if (article.FavCount == 1)
                                {
                                    readingListText = "Added to " + article.FavCount + " persons reading list";
                                }
                        }

                        <button class="btn btn-default" data-bind="click: function(){ showDialog(true); articleUrlSlug('@article.Id'); }" data-toggle="tooltip" title="@readingListText">
                            <i class="fa fa-bookmark-o"></i>
                            <span class="readinglistcount" id="@(article.Id)RL" data-count="@article.ReadingListCount"></span>

                        </button>


                    </div>

                    <div class="clearfix"></div>

                    <h2>
                        <a href="@url">
                            @article.Title
                        </a>
                    </h2>

                    <div class="clearfix"></div>

                    @if (article.PrimaryMedia != null)
                    {
                        if (article.ArticleType == ArticleType.document && article.PrimaryMedia.Hosting == MediaHosting.Document)
                        {

                            string extension = System.IO.Path.GetExtension(article.PrimaryMedia.FileName).Substring(1);
                            <div class="thumbnail">
                                <div class="document-group text-center @extension">
                                    <h3>
                                        <a href="@Url.Action("download", "Download", new {filename = @article.PrimaryMedia.FileName, urlslug = article.Title})">
                                            @switch (extension)
                                            {
                                                case "xlsx":
                                                    <i class="fa fa-file-excel-o"></i>
                                                    break;
                                                case "pdf":
                                                <i class="fa fa-file-pdf-o"></i>
                                                    break;
                                                case "docx":
                                                <i class="fa fa-file-word-o"></i>
                                                    break;
                                            }
                                            @article.PrimaryMedia.Title
                                        </a>
                                    </h3>
                                    <div class="text-center">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-primary btn-lg nrDownload" href="@Html.GetDocumentUri(article.PrimaryMedia.Id, GlobalVariables.CurrentBrand, true)">
                                                <i class="fa fa-cloud-download"></i>
                                            </a>
                                            <a class="btn btn-primary btn-lg nrOpenDownload" href="@Html.GetDocumentUri(article.PrimaryMedia.Id, GlobalVariables.CurrentBrand, false)" target="_blank">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (article.PrimaryMedia.Hosting == MediaHosting.Local)
                        {

                            <div class="col-md-6 no-padding">
                                <p class="standfirst">
                                    @article.StandFirst
                                </p>
                            </div>

                            <div class="col-md-6 thumbnail">
                                <a href="@url">
                                    @Html.GetMedia(itemMediaProfile, article.PrimaryMedia, GlobalVariables.CurrentBrand, profileConfig.Height, profileConfig.Width, true, false, false)
                                </a>
                            </div>
                        }

                        else
                        {

                            <div class="col-md-6 no-padding">
                                <p class="standfirst">
                                    @article.StandFirst
                                </p>
                            </div>

                            <div class="col-md-6 thumbnail">
                                @Html.GetMedia(itemMediaProfileSmall, article.PrimaryMedia, GlobalVariables.CurrentBrand, profileConfigSmall.Height, profileConfigSmall.Width, true, false, false)

                            </div>
                        }

                    }
                    else
                    {
                        <p class="standfirst">
                            @article.StandFirst
                        </p>
                    }

                    <div class="clearfix"></div>


                </div>

            </div>




        }

        <!-- ko foreach: news -->
            <div data-bind="template: { name: 'news-template' }"></div>
        <!--/ko-->

            <div class="clearfix"></div>
        <!-- ./ end of repeater run -->

        if (clickformoreshow)
        {
            <!-- ko if: noMoreNews() -->
            <div class="row text-center click-for-more">
                <a href="#" class="btn btn-lg btn-primary" data-bind="click: getNews">
                    Click for more
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <!--/ko-->
            <!-- ko ifnot: noMoreNews() -->
            <div class="row text-center click-for-more">
                <h6>
                    No more results
                </h6>
            </div>
            <!--/ko-->
        }
    }
    else
    {
            <div class="panel panel-default legend">
                <div class="alert alert-info" role="alert">
                    <p>No results found.</p>
                </div>
            </div>
    }
    </div>



<div class="clearfix"></div>

<!-- Modal -->
<div class="modal fade" id="customDateRange" tabindex="-1" role="dialog" aria-labelledby="customDateLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Custom date range
                </h4>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <input type="text" class="form-control" id="datepickerStart" placeholder="Start Date" />
                    <div class="input-group-addon">to</div>
                    <input type="text" class="form-control" id="datepickerEnd" placeholder="End Date" />
                </div>

                <div class="text-center offset-top-20">
                    <button type="button" class="btn btn-primary btn-lg" data-bind="click: customRange">
                        Search
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

    var newsAction = {}

    newsAction.getNewsUrl = "@Model.BaseDataUrl";

    var searchAction = {}
    searchAction.searchFilter = "@Model.SearchFilter";
    searchAction.dateRange = @endDate.ToString().ToLower();
    searchAction.dateText = "@datefilter";
    searchAction.sortOrder = "@Model.SortOrder";
    searchAction.customRangeUrl = "@(string.Format("{0}?{1}{2}{3}+{4}", Model.BaseUrl, q, sf, so, t))";

</script>