﻿@using CMS.Helpers
@using ITOK.Core.Common.Constants
@using ITOK.Core.Common.Utils
@using ITOK.Core.Services.Security
@using ITOK.Core.Data.Model
@model Article

@{

    var brands = Model.brand;
    
}

<div class="list-group-item">

    <div class="btn-group pull-right" role="group">
        @if (Model.Status != PublicationStatus.Deleted)
        {

            <a class="btn btn-default" href="@Html.GetArticleUri(Model)" target="_blank" title="View Article">
                <i class="fa fa-external-link" title="View Article"></i>
            </a>

            <a class="btn btn-default" href="/Article/Edit/@Model.Id" title="Edit">
                <i class="fa fa-pencil" title="Edit"></i>
            </a>


                <a class="btn btn-danger" href="/Article/Delete?articleid=@Model.Id" title="Delete">
                    <i class="fa fa-trash" title="Delete"></i>
                </a>


        }
        else
        {


                <a class="btn btn-default" href="/Article/HardDelete?articleid=@Model.Id" title="Remove from recycle bin (irreversible)">
                    <i class="fa fa-exclamation-triangle"></i>
                </a>

                <a class="btn btn-default" href="/Article/Restore?articleid=@Model.Id" title="Restore">
                    <i class="fa fa-repeat"></i>
                </a>

        }
    </div>

    <h4>
        @if (Model.Status != PublicationStatus.Deleted)
        {
            <a href="/Article/Edit/@Model.Id" title="Edit">
             @Model.ArticleType:  @Model.Title 
            </a>
        }
        else
        {
            string.Format("{0}", Model.Title, Model.brand);
        }
    </h4>

    <ul class="list-unstyled">
        <li class="form-group">
            <strong>
                @Model.Status
            </strong>
        </li>
        <li class="divider"></li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>
            
            Updated On: @(((DateTime)Model.UpdatedOn).ToLocalTime())
        </li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>
            Live from: @(((DateTime)Model.LiveFrom).ToLocalTime())
            
        </li>

        <li class="col-md-1 col-sm-2 ">
            <span data-toggle="tooltip" data-placement="right" title="Unique Views">
                <i class="fa fa-eye"></i>
                @Model.ViewCount
            </span>
        </li>

        <li class="col-md-1 col-sm-2">
            <span data-toggle="tooltip" data-placement="right" title="Favorited">
                <i class="fa fa-star"></i>
                @Model.FavCount
            </span>
        </li>


        <li class="col-md-1 col-sm-2">
            <span data-toggle="tooltip" data-placement="right" title="In Reading List">
                <i class="fa fa-bookmark"></i>
                @Model.ReadingListCount
            </span>
        </li>

      

    </ul>

</div>
