﻿@using ITOK.Core.Data.Model
@model IList<Article>
@if (Model != null && Model.Count != 0)
{
    foreach (var article in Model)
    {
        Html.RenderPartial("ArticleListItem", article);
    }
}
else
{
    <li>
        No articles
    </li>
}