﻿@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using ITOK.Core.Common.Config
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar
@using ITOK.Core.Common.Utilities

@model CMS.Models.ArticleEditModel

@{
    ViewBag.Title = "Editing ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterScript("~/Scripts/ArticleEdit.js");
    if (!string.IsNullOrEmpty(Model.Article.Id))
    {
        ScriptRegistrar.RegisterClientVariable("articleId", Model.Article.Id);
    }

}
@section Head
{
    <script type="text/javascript">
        // Pass the base media url to the client. hacky but necessary right now.
        // It might be possible to pass it back with the json requests to the server...
        @{
            var profileConfig = ITOKConfig.Instance.MediaProfiles.GetProfileConfig(MediaProfile.Original);
            var baseMediaUrl = ITOKConfig.Instance.FileStore.BaseUri.ToString() + "/" + ITOKConfig.Instance.Media.Directory + "/" + profileConfig.DirectoryName + "/";
        }
        var baseMediaUrl = "@baseMediaUrl";
    </script>
    @{ Html.RenderAction("Load", "InContentMediaSelector"); }
    @{ Html.RenderAction("Load", "MediaSelector"); }
    @{ Html.RenderAction("Load", "MediaQuickUpload"); }
    @{ Html.RenderAction("Load", "TagSelector"); }
}
@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
        <a href="/Article">
            <i class="fa fa-chevron-left"></i>
            Back to list
        </a>
    </li>

    <li class="divider"></li>

    <li role="presentation" class="active">
        <a href="#info" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            General Info
        </a>
    </li>
    <li role="presentation">
        <a href="#text" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-align-justify"></i>
            Body Copy
        </a>
    </li>
    <li role="presentation">
        <a href="#tags" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-tag"></i>
            Tags
        </a>
    </li>
    <li role="presentation">
        <a href="#media" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-picture-o"></i>
            Media
        </a>
    </li>

    @if (!string.IsNullOrEmpty(Model.Article.Id))
    {
        <li class="divider"></li>
        <li role="presentation">
            <a href="#comments" aria-controls="home" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-comment"></i>
                Comments (@(Model.Comments.Count))
            </a>
        </li>

        @*<li role="presentation">
            <a href="/dashboard/articlestats?id=@Model.Article.Id" role="tab">
                <i class="fa fa-bar-chart"></i>
                Dashboard
            </a>
        </li>*@
        @*<li role="presentation">
                <a href="/analysis/article/@Model.Article.Id" role="tab" >
                    <i class="glyphicon glyphicon-signal"></i>
                    Analytics
                </a>
            </li>*@
    }

    <li class="divider"></li>

}
@section SubSideBar
{
    @{ Html.RenderPartial("VersionHistory", new VersionHistoryModel(Model.VersionHistory, "Article", "/Article/RevertToVersion")); }
}

@{ Html.RenderPartial("UserResponses", Model.Responses); }

@using (Html.BeginForm("EditAction", "Article", FormMethod.Post, new { name = "editForm" }))
{

    @Html.AntiForgeryToken()

    <input type="hidden" name="articleId" value="@Model.Article.Id" />



    <div class="row">

        @if (string.IsNullOrEmpty(Model.Article.Id))
        {

            <div class="page-header">
                <h1>
                    New @ArticleUtilities.PrettifyArticleType(Model.Article.ArticleType)
                </h1>
            </div>



        }
        else
        {

            <div class="page-header">
                <h1>
                    Editing @Model.Article.Title (@ArticleUtilities.PrettifyArticleType(Model.Article.ArticleType))
                </h1>
            </div>

        }



        @Html.HiddenFor(x => x.Article.brand)
        @Html.HiddenFor(x => x.Article.CreatedOn)


        <div id="row">

            <div class="affix-row row">

                @if (!string.IsNullOrEmpty(Model.Article.Id))
                {

                    <div class="form-group pull-left">
                        <div class="form-group col-md-12">
                            <label class="control-label">
                                Status
                            </label>
                            <div>
                                <select class="form-control" id="articleStatus" name="Article.Status" autofocus>
                                    @foreach (PublicationStatus val in Enum.GetValues(typeof(PublicationStatus)))
                                    {
                                        if (Model.Article.Status == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label class="control-label">
                                Article Type
                            </label>
                            <div>
                                <select class="form-control" id="articleType" name="Article.ArticleType" autofocus>
                                    @foreach (ArticleType val in Enum.GetValues(typeof(ArticleType)))
                                    {
                                        if (Model.Article.ArticleType == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    @Html.HiddenFor(x => x.Article.ArticleType)
                }



                <li class="col-md-1 col-sm-2 ">
                    <span data-toggle="tooltip" data-placement="right" title="Unique Views">
                        <i class="fa fa-eye"></i>
                        @Model.Article.ViewCount
                    </span>
                </li>

                <li class="col-md-1 col-sm-2">
                    <span data-toggle="tooltip" data-placement="right" title="Favorited">
                        <i class="fa fa-star"></i>
                        @Model.Article.FavCount
                    </span>
                </li>


                <li class="col-md-1 col-sm-2">
                    <span data-toggle="tooltip" data-placement="right" title="In Reading List">
                        <i class="fa fa-bookmark"></i>
                        @Model.Article.ReadingListCount
                    </span>
                </li>



                <div class="pull-right">

                    <label class="control-label">
                        &nbsp;
                    </label>
                    <div class="btn-group pull-left margin-right-10">

                        @if (!string.IsNullOrEmpty(Model.Article.Id))
                        {
                            @Html.ActionLink("Clone this article", "CloneArticle", new { articleId = Model.Article.Id}, new { @class = "btn btn-default btn-lg" })
                        }
                            <input class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" />

                            <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />

                            @if (!string.IsNullOrEmpty(Model.Article.Id))
                            {
                                <a class="btn btn-default btn-lg" href="@Html.GetPreviewUri(Model.Article)" target="_blank" title="Preview Article">
                                    <i class="fa fa-external-link" title="Preview Article"></i>
                                </a>
                            }
                            else
                            {
                                <div class="btn disabled btn-lg" id="cancel" title="First save to use preview"><i class="icon-eye-open" title="First save to use preview"></i></div>
                            }


                    </div>


                    <div class="form-group pull-left">
                        @if (!string.IsNullOrEmpty(Model.Article.Id))
                        {
                            <textarea id="versionComment" name="versionComment" class="form-control version-comment" placeholder="Whats changed?"></textarea>
                        }
                    </div>

                </div>


            </div>

        </div>


        <div class="clearfix"></div>


        @if (Model.CreatedBy != null)
        {
            <strong>
                Created by
            </strong>
            <text>@Model.CreatedBy.Forename on @Model.Article.CreatedOn.ToString("dd MMMM yyyy")</text>
        }
        @if (Model.UpdatedBy != null)
        {
            <strong>Last updated by</strong>
            <text>@Model.UpdatedBy.Forename  on @Model.Article.UpdatedOn.ToString("dd MMMM yyyy")</text>
        }


        @if (Model.Article.VersionDate != null && Model.Article.VersionDate.HasValue)
        {
            <strong>Versioned On</strong>
            <text>@Model.Article.VersionDate.Value.ToString("dd MMMM yyyy")</text>
        }

    </div>


    <div class="tab-content row">

        <p class="required_label">
            <strong>
                Note:
            </strong>
            Items marked with a
            <span class="required_star">*</span>
            are required.
        </p>

        <div class="clearfix"></div>

        <div role="tabpanel" class="tab-pane active" id="info">

            <h2>
                General Info
            </h2>

            <ul class="list-unstyled">

                @*<li class="form-group">
                    <label for="title">
                        Brands
                    </label>
                    Html.EnumCheckBoxListFor(m => m.Article.brands)
                </li>*@

                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Title<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Article.Title)
                    </label>
                    @Html.TextBoxFor(x => x.Article.Title, new { @class = "form-control", autofocus = string.Empty })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Url <span class="required_star">*</span> <span class="instruction">Will auto-generate from the title if left blank</span> @Html.ValidationMessageFor(x => x.Article.UrlSlug)
                    </label>

                    @Html.TextBoxFor(x => x.Article.UrlSlug, new { @class = "form-control" })
                </li>
              
                <li class="form-group">
                    <label for="standFirst">
                        Summary<span class="required_star">*</span><span class="instruction">(Good paragraph long, used to advertise content on the listing pages, not the same as title)</span> @Html.ValidationMessageFor(x => x.Article.StandFirst)
</label>
                    @Html.TextAreaFor(x => x.Article.StandFirst, new { @class = "form-control" })



                </li>

                <li class="form-group">
                    <label for="locationName">
                        Date of Event (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a><span class="instruction"> This is used to order content, or to set a date for something to appear live on the site</span>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Article.LiveFrom)
                    </label>
                    @Html.TextBoxFor(x => x.Article.LiveFrom)
                </li>
                <li class="form-group">
                    <label for="locationName">
                        Expires on (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Article.LiveTo)
                    </label>
                    @Html.TextBoxFor(x => x.Article.LiveTo)
                </li>
                <li class="form-group">
                    <label for="locationName">
                        Action Date (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>. <span class="instruction">May be used in future to build schedules</span> @Html.ValidationMessageFor(x => x.Article.ActionDate)
</label>
                    @Html.EditorFor(x => x.Article.ActionDate)
                </li>

                @*@if (string.IsNullOrEmpty(Model.Article.Id) == false)
                {
                    <li class="form-group">
                        <label for="standFirst">
                            Version This Article
                        </label>
                        <input type="checkbox" name="UpdateVersion" value="yes"/>
                       
                       
                    </li>
                }*@
               


                @*<li>
                    <label for="Article_EnableGotItBlock">
                        Enable 'Got It' Vote For This Article
                    </label>
                    @Html.CheckBoxFor(x => x.Article.EnableGotItBlock, new { @class = "form-control" })
                </li>*@

                <li>
                    <label for="Article_EnableMessageAuthorBlock">
                        Enable commenting For this article
                    </label>
                    @Html.CheckBoxFor(x => x.Article.EnableMessageAuthorBlock, new { @class = "form-control" })
                </li>
            </ul>

        </div>


        <div role="tabpanel" class="tab-pane" id="text">

            <h2>
                Body Copy
            </h2>

            <ul class="list-unstyled">
                <li class="form-group">

                    <label for="body">
                        Article Body @Html.ValidationMessageFor(x => x.Article.Body)
                    </label>

                    <div class="tinymce">
                        @Html.TextAreaFor(x => x.Article.Body, new { @class = "span12", @id = "editor" })
                    </div>


                    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
                    <script>

                        tinymce.init({
                            selector: "textarea#editor",
                            content_css: "/Content/Styles/EditorStylesOverride.css",
                            plugins: [
                                "advlist autolink lists link image base64_image charmap print preview anchor",
                                "searchreplace visualblocks code fullscreen",
                                "insertdatetime media table contextmenu paste ",
                                "template"
                            ],
                            theme_advanced_blockformats: "p,h1,h2,h3,h4,h5,h6,blockquote,dt,dd,code,samp",
                            menubar: false,
                            toolbar: "insertfile undo redo | styleselect | template | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link anchor base64_image media | table | code",

                            //templates: [
                            //    { title: 'Product', description: 'Full List', url: '/Templates/product.html' },
                            //    { title: 'Extra Item', description: '', url: '/Templates/product_item.html' }
                            //],
                            height: 500,
                            paste_data_images: true,
                            force_p_newlines: true,
                            //allow_script_urls: true,
                            extended_valid_elements: 'script[language|type|src|async|defer]'
                        }); </script>








                    <div class="inline-media-selector" id="inline-media-selector"></div>

                    <script>
                        function drag(ev) {

                            bG = $("#" + ev.target.id).attr("style");
                            dC = $("#" + ev.target.id).attr("data-caption");
                            type = $("#" + ev.target.id).attr("type");
                            filename = $("#" + ev.target.id).attr("filename");
                            ev.dataTransfer.setData("Text", "[#" + ev.target.id + "]");

                            document.addEventListener("dragend", function (event) {

                                setTimeout(function () {
                                    $("iframe#editor_ifr").contents().find("body").each(function () {
                                        var text = $(this).html();
                                        $(this).html(text.replace("[#" + ev.target.id + "]", "<div id='" + ev.target.id + "' class='dropMedia'><div style='" + bG + "'></div><span>" + dC + "</span></div>"));
                                    });
                                }, 1000);

                            }, false);

                        }
                    </script>
                </li>
            </ul>

        </div>


        <div role="tabpanel" class="tab-pane" id="tags">
            <ul class="span11 list-unstyled">
                <li class="row-fluid">
                    <label>
                        Related Articles
                    </label>
                    <!-- Related Articles -->
                    <ul class="list-unstyled" id="relatedArticles">
                        <li>
                            <img src="@Url.CdnContent("~/Content/Images/loader.gif")" alt="Loading..." />
                        </li>
                    </ul>
                </li>
            </ul>
                <script>
                    $(document).ready(function () {
                        $("#filter").keyup(function () {

                            // Retrieve the input field text and reset the count to zero
                            var filter = $(this).val(), count = 0;

                            // Loop through the comment list
                            $(".tags li").each(function () {

                                // If the list item does not contain the text phrase fade it out
                                if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                                    $(this).fadeOut();

                                    // Show the list item if the phrase matches and increase the count by 1
                                } else {
                                    $(this).show();
                                    count++;
                                }
                            });

                            // Update the count
                            var numberItems = count;
                            // $("#filter-count").text("Number of tags = " + count);
                        });
                    });

                    function removeTag(e) {
                        var id = $(e).attr("id");
                        console.log(id);
                        var checkBox = $("input[type='checkbox'][url-slug='" + id + "']");
                        console.log(checkBox);
                        console.log(checkBox.prop("checked"));
                        checkBox.prop("checked", false);
                        $(e).hide();
                    }


                </script>
                <h2>
                    Tags
                </h2>
                <p style="border: 1px silver; background-color: silver; padding:10px; border-radius: 8px;">
                    <b>Current Tags</b>
                    @foreach (var selectedTag in Model.Article.RelatedTags)
                {
                        <span class="btn btn-lg btn-primary" onclick="javascript:removeTag(this)" id="@selectedTag.UrlSlug">@selectedTag.DisplayText</span>
                    }
                </p>

                <form id="live-search" action="" class="styled" method="post">
                    <fieldset style="border: 1px silver; background-color: silver; padding:10px; border-radius: 8px;">
                        Start typing to filter the list below: <input type="text" class="text-input" id="filter" value="" />
                        <span id="filter-count"></span>
                    </fieldset>
                </form>
                <div style="overflow-y:scroll; max-height: 600px">
                    <h4>All Tags</h4>
                    <table>
                        <tr>
                            <td>Areas</td>
                            <td>Years</td>
                            <td>Events</td>
                        </tr>
                        <tr style="vertical-align:top">
                            <td>
                                <ul style="">
                                    @foreach (var tag in Model.availableTags.Where(i => i.TagType == TagType.Area).OrderBy(i => i.DisplayText))
                                    {
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" name="tags" value="@tag.Id" url-slug="@tag.UrlSlug" @(Model.Article.Tags.Contains(tag.UrlSlug) ? "checked=true" : "") /> @tag.DisplayText
                                            </label>
                                        </li>   

                                    }
                                </ul>
                            </td>
                            <td>
                                <ul class="">
                                    @foreach (var tag in Model.availableTags.Where(i => i.TagType == TagType.Year))
                                    {
                                    <li class="checkbox">
                                        <label>
                                            <input type="checkbox" name="tags" value="@tag.Id" url-slug="@tag.UrlSlug" @(Model.Article.Tags.Contains(tag.UrlSlug) ? "checked=true" : "") /> @tag.DisplayText
                                        </label>
                                    </li>

                                    }
                                </ul>
                            </td>
                            <td>
                                <ul class="">
                                    @foreach (var tag in Model.availableTags.Where(i => i.TagType == TagType.Events))
                                    {
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" name="tags" value="@tag.Id" url-slug="@tag.UrlSlug" @(Model.Article.Tags.Contains(tag.UrlSlug) ? "checked=true" : "") /> @tag.DisplayText
                                            </label>
                                        </li>

                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
                   

                </div>
</div>


        <div role="tabpanel" class="tab-pane" id="media">

            <h2>
                Media
            </h2>

            <ul class="list-unstyled">

                <li class="form-group">
                    <label >
                       Result Card/Image format.
                    </label>
                    

                    @Html.EnumDropDownListFor(model => model.Article.ResultCard, htmlAttributes: new { @class = "form-control" })

                </li>

                <li class="form-group">
                   
                    <label>
                        Primary Media
                    </label>
                    <span class="instruction">
                        This is the media item that is used for listings and the main, large image on the
                        article page.
                    </span>
                    <!-- Media -->
                    <ul id="primaryMedia" class="list-unstyled media_thumbnail_container remove-this-pri-image">
                        @if (Model.Article.PrimaryMedia != null)
                        {
                            Html.RenderPartial("EditMediaItem", Model.Article.PrimaryMedia);
                        }

                            <li class="media_item thumbnail">
                                <img alt="Add a media item" src="@Url.CdnContent("~/Content/Images/EditMedia.jpg")" />
                                <a class="caption" href="/Article/AddPrimaryMedia" id="addPrimaryMedia">Set </a>
                            </li>

                            <li class="media_item"><button class="btn btn-default caption" href="#" id="quickUploadPrimaryMedia">Quick Upload</button> </li>

                    </ul>
                </li>
                <li class="form-group">
                    <label>
                        Related Media
                    </label>
                    <span class="instruction">
                        Media items related to this article.
                    </span>
                    <!-- Media -->
                    <ul id="secondaryMedia" class="list-unstyled media_thumbnail_container remove-this-sec-image">
                        @foreach (var media in Model.Article.RelatedMedia)
                        {
                            Html.RenderPartial("EditMediaItem", media);
                        }

                            <li class="media_item thumbnail">
                                <img alt="Add a media item" src="@Url.CdnContent("~/Content/Images/EditMedia.jpg")" />
                                <a class="caption" href="/Article/AddSecondaryMedia" id="addSecondaryMedia">Add</a>
                            </li>

                            <li class="media_item"><button class="btn btn-default caption" href="#" id="quickUploadSecondaryMedia">Quick Upload</button> </li>

                    </ul>
                </li>

            </ul>
        </div>

        <div role="tabpanel" class="tab-pane" id="comments">

            <h2>
                Comments
            </h2>

            <ul class="tags list-unstyled">
                @foreach (var comment in Model.Comments)
                {

                    <li class="checkbox clearfix">
                        <label for="author">
                            @comment.Comment
                        </label>

                        <label for="author">
                            <a href="mailto:@comment.UserEmail">@comment.UserName</a>
                        </label>

                        <label for="author">
                            @comment.CreatedOn.ToString("dd MMMM yyyy HH:mm")
                        </label>





                    </li>
                }
            </ul>
        </div>

    </div>
    <script>
  $( function() {
      $("#Article_LiveFrom").datepicker();
      $("#Article_LiveTo").datepicker();
      $("#Article_ActionDate").datepicker();
  } );
    </script>
}