﻿@using CMS.Helpers
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@model ITOK.Core.Data.Model.Article
<li class="well">
    <b>@Model.ArticleType.ArticleTypeName - @Model.Title</b><br />
    @Model.Status @Model.LiveFrom
    <div class="btn-group">
        <a class="btn btn-default" href="@Html.GetArticleUri(Model)" target="_blank" title="View Article">
            <i class="fa fa-external-link" title="View Article"></i>
        </a>
        <a class="btn btn-default" href="/Article/Edit/@Model.Id" title="Edit">
            <i class="fa fa-pencil" title="Edit"></i>
        </a>
       
    </div>
</li>

