﻿@using CMS.Models
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Common.Constants
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar
@model ArticleListModel
@{
    ViewBag.Title = "Editorial > Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var showSearchResults = Model.SearchResults != null && Model.SearchResults.Count != 0;
    ScriptRegistrar.RegisterClientVariable("showSearchResults", showSearchResults);

}
@section Head
{
    <link href="@Url.CdnContent("~/Content/Styles/Article.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Scripts/ArticleList.js")" type="text/javascript"></script>


}
@section SideBar
{
    <li class="nav-header">Actions</li>
    @foreach (ArticleType articleType in Enum.GetValues(typeof(ArticleType)).Cast<ArticleType>())
    {
        if (ITOK.Core.Common.Utilities.ArticleUtilities.PrettifyArticleType(articleType) != "gallery" &&
            ITOK.Core.Common.Utilities.ArticleUtilities.PrettifyArticleType(articleType) != "group" &&
            ITOK.Core.Common.Utilities.ArticleUtilities.PrettifyArticleType(articleType) != "news" &&
            ITOK.Core.Common.Utilities.ArticleUtilities.PrettifyArticleType(articleType) != "page")
        {
        <li>
            @Html.ActionLink(string.Format("New {0} content", ITOK.Core.Common.Utilities.ArticleUtilities.PrettifyArticleType(articleType)), "Create", new { type = articleType }, new { @class = "sm_new_article" })
        </li>
        }

    }
    @if (Model.ShowDeletedArticles)
    {
        <li class="divider"></li>
        <li class="nav-header">
            View : Recycle Bin
        </li>
        <li>
            @Html.ActionLink("Exit Recycle Bin", "Page", new { showDeletedArticles = false })
        </li>
    }
    else
    {
        <li class="divider"></li>
        <li class="nav-header">
            View : Active Articles
        </li>
        <li>
            @Html.ActionLink("Recycle Bin", "Page", new { showDeletedArticles = true })
        </li>

    }
}
@section SubSideBar
{

}
@{ Html.RenderPartial("UserResponses", Model.Responses); }



<div class="row" id="searchContainer">

    <div class="page-header">
        <h1>
            Articles
        </h1>
    </div>

    <div class="clearfix"></div>

    <div class="input-append">

        <h3>
            Search for an Article by Title
        </h3>

        <div class="col-lg-12 no-padding">
            <input class="form-control" type="text" id="articleSearchBox" placeholder="search..." value="@Model.SearchText" />
        </div><!-- /.col-lg-6 -->

    </div>
</div>




<div class="row">

    <div class="row hide" id="articleSearchResultsContainer">

        <div class="col-md-12">

            <h2>
                Search Results For "<span id="searchTermsLabel"></span>"
            </h2>

            <div id="searchedArticleList" class="list-group">
                @if (showSearchResults)
                {
                    Html.RenderPartial("ArticleList", Model.SearchResults);
                }
            </div>

            @*<div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">
                            100% Complete
                        </span>
                    </div>
                </div>*@

            <a href="#" id="searchMoreArticles" class="btn btn-default">
                More Results
            </a>

        </div>
    </div>

    <div class="row" id="articleListContainer">

        <div class="col-md-12">

            <ul class="nav nav-tabs" id="searchNav">
                <li class=@(Model.FilterType == ArticleType.article ? "active" : string.Empty)>
                    @Html.ActionLink("Article", "ByArticleType", new {articleType = ArticleType.article, selectedBrand = ViewBag.brand})
                </li>             
              
                <li class=@(Model.FilterType == ArticleType.bulletin ? "active" : string.Empty)>
    @Html.ActionLink("Bulletins", "ByArticleType", new { articleType = ArticleType.bulletin, selectedBrand = ViewBag.brand })
</li>
                <li class=@(Model.FilterType == ArticleType.video ? "active" : string.Empty)>
                    @Html.ActionLink("Video", "ByArticleType", new { articleType = ArticleType.video, selectedBrand = ViewBag.brand })
                </li>
                <li class=@(Model.FilterType == ArticleType.document ? "active" : string.Empty)>
                    @Html.ActionLink("Documents", "ByArticleType", new { articleType = ArticleType.document, selectedBrand = ViewBag.brand })
                </li>
               
                
                
            </ul>


            @{ Html.RenderPartial("Pagination", Model.Pagination); }

            <div id="articleList" class="list-group">
                @{ Html.RenderPartial("ArticleList", Model.Articles); }
            </div>

            @{ Html.RenderPartial("Pagination", Model.Pagination); }


        </div>
    </div>



</div>


<script type="text/javascript">

    $(document).ready(function () {

        $(".tab")
            .on("click", function () {
                var id = $(this).id;
                $(".tabDiv").style.display = "none";
                $("#" + id).style.display = "block"
            });

    });

</script>