﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */

/* CSS cross-browser background resize */
.background_size(@default:cover) {
    -webkit-background-size:@default;
    -moz-background-size:@default;
    -o-background-size:@default;
    background-size:@default;
}

/* rounded corner, default set to 5px */
.border_radius(@default:5px) {
    -webkit-border-radius:@default;
    -moz-border-radius:@default;
    -ms-border-radius:@default;
    -o-border-radius:@default;
    border-radius:@default;
}

/* CSS cross-browser box shadow, IE & non-IE considerations met */
.box_shadow(@c:#000, @s:20px, @hs:1px, @vs:5px, @d:135) {
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
    filter:progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c');
    -webkit-box-shadow:@hs @vs @s @c;
    -moz-box-shadow:@hs @vs @s @c;
    box-shadow:@hs @vs @s @c;
}

/* CSS cross-browser box sizing */
.box_sizing(@default:border-box) {
    -webkit-box-sizing:@default; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:@default; /* Firefox, other Gecko */
    box-sizing:@default; /* Opera/IE 8+ */
}

/* CSS cross-browser gradient */
.gradient(@g1c, @g2c) {
    background-color:transparent;
    /*background:@g2c;*/ /* for non-css3 browsers */
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/ /* for IE */
    background-image:linear-gradient(to top, @g2c, @g1c);
    background:-webkit-gradient(linear, left top, left bottom, from(@g1c), to(@g2c)); /* for webkit browsers */
    background:-moz-linear-gradient(top, @g1c, @g2c); /* for firefox 3.6+ */
}

/* CSS cross-browser filter blur */
.filter_blur(@blur:5px) {
    -webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
    -ms-filter: blur(@blur);
    filter: blur(@blur);
}

/* min-height cross-browser solution, default height set to 90px */
.min_height(@default:90px) {
    min-height:@default;
    height:auto !important;
    height:@default;
}

/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
.opacity(@ieo:50, @o:0.5) {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
    filter:alpha(opacity=@ieo);
    -moz-opacity:@o;
    -khtml-opacity:@o;
    opacity:@o;
}

/* CSS cross-browser text-shadow */
.text_shadow(@c:#000000, @s:10px, @hs:0px, @vs:0px) {
    text-shadow:@hs @vs @s @c;
    &:before {
        text-shadow:0px 0px 0px transparent;
    }
}

/* rotate CSS transformation, default rotation set at 90deg */
.transform_rotate(@default:90deg) {
    -webkit-backface-visibility:hidden;
    -webkit-transform-origin:left;
    -webkit-transform:translate(50%, 50%) rotate(@default);
    -moz-transform:rotate(@default);
    -ms-transform:rotate(@default);
    -o-transform:rotate(@default);
    transform:rotate(@default);
}

/* scale CSS transformation, default x,y at 1.5,1.5 */
.transform_scale(@x:1.5, @y:1.5) {
    -webkit-transform:scale(@x,@y);
    -ms-transform:scale(@x,@y);
    transform:scale(@x,@y);
}

/* translateY CSS transformation, default x at 0px */
.transform_translateY(@x:0px) {
    -webkit-transform:translateY(@x); /* Chrome, Safari, Opera */
    transform:translateY(@x);
}

/* skew CSS transformation, default x,y at 20deg, 20deg */
.transform_skew(@x:20deg, @y:20deg) {
    -webkit-transform:skew(@x,@y);
    -ms-transform:skew(@x,@y);
    transform:skew(@x,@y);
}

/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */




/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */

/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
.circle(@w:100px, @h:100px) {
    .border_radius(50%);
    height:@h;
    width:@w;
}

/* CSS cross-browser clear fix */
.clear_fix(@h:0px) {
    content:"";
    display:block;
    clear:both;
    font-size:@h;
    line-height:@h;
    height:@h;
    visibility:hidden;
}

/* CSS cross-browser ellipsis treatment */
.ellipsis(@w:100%) {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:auto;
    max-width:@w;
}

/* CSS cross-browser 100%-width/auto-height images */
.image_width(@w:100%, @h:auto) {
    box-sizing:border-box;
    display:block;
    height:@h;
    width:@w;
    max-width:@w;
}

/* CSS cross-browser ratio */
.ratio(@h:50%, @w:100%) {
    position:relative; /* to assign position absolute elements inside the div */
    width:@w; /* assign width - in this case, @w width for a responsive example */
    &:after {
        content:"";
        display:block;
        padding-top:@h; /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
    }
}

/* CSS cross-browser text selection */
.selection(@f:#fff, @b:#000) {
    ::selection { /* safari */
	    background-color:@b; 
	    color:@f;
	}
    ::-moz-selection { /* firefox */
	    background-color:@b;  
	    color:@f; 
    }
}

/* CSS transition, speed set at .150s, and action set to ease-out by default */
.transition(@s:.150s, @a:ease-out) {
    -webkit-transition:all @s @a;
    -moz-transition:all @s @a;
    transition:all @s @a;
}

/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */




/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */

/* colors/social */
    @FBc:#3b5998; /*Facebook*/
    @TWc:#00aced; /*Twitter*/
    @GPc:#dd4b39; /*Google+*/
    @YTc:#bb0000; /*YouTube*/
    @LIc:#007bb6; /*LinkedIn*/
    @INc:#517fa4; /*Instagram*/
    @PNc:#cb2027; /*Pinterest*/
    @FLc:#ff0084; /* */
    @TMc:#32506d; /* */
    @VMc:#aad450; /*Vimeo*/
    @SPc:#81b71a; /*Spotify*/
    @RSS:#FF6600; /*RSS*/
/* colors/social */

/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */

