﻿@import "_custom-library";
@import "User/user";

@depth: 40px;

@alt: lighten(#e0e0e0, 10%);
@white: #FFFFFF;
@red: #FF0000;
@blue: #0055a4;
@primary: #434343;
@title: #333333;
@btn: #0055a4;
@grey: #d1d7d9;
@bcg: #ececec;

@black: #000000;
@grey: #333333;
@link: #337ab7;
@link_hover: #23527c;
@white: #FFFFFF;
@bgc: #CCCCCC;
@bgc_alt: #DDDDDD;
@lightgrey: #999999;
@midgrey: #666666;
@dkYellow: #FFE599;
@successGrn: #009E0F;
@removeColor: #CF2A27; 
@search: #EEEEEE;
@search_alt: #d2d7dc;
@orangePeel: #FF9900;

@desktop: 992px;
@tablet: 768px;
@_mobile: 480px;

@font-face {
    font-family: 'stolz1';
    src: url('../../Fonts/307740_0_0.eot') format('embedded-opentype'), url('../../Fonts/307740_0_0.ttf') format('truetype'), url('../../Fonts/307740_0_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz2';
    src: url('../../Fonts/307740_1_0.eot') format('embedded-opentype'), url('../../Fonts/307740_1_0.ttf') format('truetype'), url('../../Fonts/307740_1_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz3';
    src: url('../../Fonts/307740_2_0.eot') format('embedded-opentype'), url('../../Fonts/307740_2_0.ttf') format('truetype'), url('../../Fonts/307740_2_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz4';
    src: url('../../Fonts/307740_3_0.eot') format('embedded-opentype'), url('../../Fonts/307740_3_0.ttf') format('truetype'), url('../../Fonts/307740_3_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz5';
    src: url('../../Fonts/307740_4_0.eot') format('embedded-opentype'), url('../../Fonts/307740_4_0.ttf') format('truetype'), url('../../Fonts/307740_4_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz6';
    src: url('../../Fonts/307740_5_0.eot') format('embedded-opentype'), url('../../Fonts/307740_5_0.ttf') format('truetype'), url('../../Fonts/307740_5_0.woff') format('woff');
}


@stolz1: stolz1, sans-serif;
@stolz2: stolz2, sans-serif;
@stolz3: stolz3, sans-serif;
@stolz4: stolz4, sans-serif;
@stolz5: stolz5, sans-serif;
@stolz6: stolz6, sans-serif;


body {
     font-family: @stolz4;
}

h1 {font-family:@stolz4; color:@blue; font-size: 2em; }
h2 {font-family:@stolz2; color:@blue; font-size: 2em; }

h3,
h4 {
    margin-top: @depth/8;
    font-family:@stolz5;
}

a {color: @blue;}

label {
    display: block;
    padding-top: @depth/8;
}

.affix-row {
    width: 100%;
}
.affix {
    background-color:rgba(255,255,255,.85);
    border-bottom: 1px solid #ddd;
    left:0;
    top: 50px;
    padding: @depth/2 @depth - 15 0;
    margin: 0 0 0 16.66666667%;
    width:83.33333333%;
    .affix-row {
    }
    .col-md-6 {
        width:auto;
    }
}

.margin-bottom-5 {
    margin-bottom: @depth/8;
}

.margin-right-10 {
    margin-right: @depth/4;
}

.row {
}

[class^="col-"] {
    &.no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

.buttons {
    padding-top: 10px;
    .btn {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    @media (max-width: @tablet) {
    }
}

.edit-media-item-image {
    width: 100%;
    max-width: 400px !important;
}

.input-append {
    display:block;
    height: auto;
    overflow: hidden;
    padding-bottom: @depth;
}

.list-group {
    .list-group-item {
        &:nth-child(odd) {
            background-color: @alt;
        }
        .btn-group {
            &.pull-right {
                margin-left: @depth/4;
            }
        }
        .list-unstyled {
            margin-bottom: 0;
        }
    }
}

.offset-below-10 {
    margin-bottom: 10px;
}

.offset-below-20 {
    margin-bottom: 20px;
}

.tab-content {
    border: 1px solid #ddd;
    border-top-width: 0;
    margin-bottom: 40px;
    padding: 15px;
}

.nav-sidebar {
    li {
        &.nav-header {
            padding-left: @depth/2;
            padding-right: @depth/2;
            padding-top: @depth;
            &:first-child {
                padding-top: 0;
            }
        }
        i {
            width: @depth/2;
        }
    }
}


.cmslogo {
    float: left;
    margin: 0 10px;
}


.tab-content {
    &.row {
        border-top: 1px solid #ddd;
        h2 {
            margin-top: 0;
        }
    }
}


/* FORMS */

.required_star {
    color:@red;
}


.tags  {
    padding-left: 1em;
    margin: 1.5em;
    .subtags
    {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    }
}

.top-group-item {
    background-color:@bcg;
    padding: 0.7em 1.4em;
    clear: both;
}

.sm2_actions, .sm2_status {
    a {padding-right: 0.3em;}
    span{padding-right: 0.3em;}
}

.list-group-item {
    clear: both;
    overflow: auto;
    margin-bottom: 7px;
}


.alert-error {
    color: @red
}

.field-validation-error{
        color: @red
}


.ui-datepicker{
    background-color:@bcg;
    padding: 0.7em;
}

/* lists */

.list-module {
    margin: 1.5em 0;
    li {margin-bottom: 0.4em;}
}


/* space-top */

.base-module {
    margin-top: 1.7em;
}

.section-bcg{
    background-color: @bcg;
    padding: 0.3em 0.2em;
}

.module-bcg{
    background-color: @bcg;
    padding: 1em 1.5em;
}



/* media */
.media-item {
    padding-left: 0;
    @media (min-width: @desktop) {
        &.col-md-2 {
            &:nth-child(6n+1) {
                clear:left;
            }
        }    
    }
    @media (min-width: @tablet) and (max-width: @desktop) {
        &.col-md-2 {
            &:nth-child(4n+1) {
                clear:left;
            }
        }    
    }
    @media (max-width: @tablet) {
        &.col-md-2 {
            &:nth-child(2n+1) {
                clear:left;
            }
        }    
    }
}



/* for header */
.for-header {
    & > [class^="col-md"] {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
.modal-dialog {
    width: 700px;
    margin: 30px auto;
}
}


#authorList {
    .list-group-item {
        margin-bottom: -1px;
        .pull-left {
            margin-right: 10px;
        }
        p {
            margin-bottom: 0;
        }
    }
}


.modal-content{

a.add-media-item:hover {   
        .thumbnail {    
    background-color: @bcg;
}
    }

.media-selector-tab-view-recent-media {
    .add-media-item {
        display:block;
        .min_height(@depth*2);
        img {
            &.thumbnail {
                .image_width;
            }
        }
    }

    & > li {
        
   
        @media only screen and (min-width: @desktop) {
            &:nth-child(4n-3) {
                clear: left;
            }
        }
   
        @media only screen and (min-width: @tablet) and (max-width: @desktop) {
            &:nth-child(3n-2) {
                clear: left;
            }
        }
   
        @media only screen and (max-width: @tablet) {
            &:nth-child(2n-1) {
                clear: left;
            }
        }

    }

}


#mediaRatioPreviewContainer{
display: none;
}
.modal-footer {
    clear:both;
}

}

.inlinemedia-selector-tab-views  {

    display: block;
    height: auto;
    width: 100%;

    .dropMedia {      
        border: 1px solid #cccccc; 
        cursor: move;
        width: 200px;
        height: 100px;
         background-size: 200px 100px;
        float: left;
        margin: 10px 10px 0px 0;
        padding: 10px;
    }

}

#Article_brands {
    div{
        display: inline;
        width: 150px;
        padding-right: 25px;
    }
}




   .mce-content-body  {

       table.mce-item-table {
    thead { 
        background-color: @bgc;
        font-weight: bold;
        font-size: 1.1em;
    }
    td {
    font-weight: 100;
    height: auto;
    overflow: hidden;
    padding: 10px 8px;
    min-height: 20px;
    font-size: 0.77em;
    }
    tr:nth-child(even) {
        background-color: @alt;
    }
}
        
        ul {
            list-style: none;
            position: relative;
            padding: 0;
            margin: 1em 0;

            li {
                padding-left: 1em;
                margin-left: 1.5em;
                margin-bottom: 0.4em;
                color: @midgrey;
                position: relative;
            }

            li:before {
                position: absolute;
                font-family: FontAwesome;
                font-size: 0.5em;
                content: "\f111";
                left: 0;
                top: 0.8em;
            }
        }
    }



.tn-fa-file-pdf-o, 
.tn-fa-file-excel-o, 
.tn-fa-file-word-o,
.tn-fa-file-text-o, 
.tn-file-o, 
.tn-fa-file-powerpoint-o{
    box-sizing: border-box; 
    color: @white;
    padding: @depth/4;
    text-align: center;
    .min_height(@depth*2);
    i {
        color: @white;
        font-size: @depth/2;
        line-height: @depth;
    }
    span {
        display:block;
    }
}


.tn-fa-file-pdf-o{ 
    background-color: @primary !important;
}
.tn-fa-file-excel-o{ 
    background-color: @red !important;
}
.tn-fa-file-word-o{
    background-color: @btn !important;
}
.tn-fa-file-text-o, 
.tn-file-o{ 
    background-color: @alt !important;
    color: @black !important;
    i {
        color: @black !important;
    }
}
.tn-fa-file-powerpoint-o{
    background-color: @blue !important;
}
@import "Template/template.less";

.question-row {
    border: 1px solid @bgc;
    padding: 5px 10px;
    font-size: 16px;

    .action-btns {
        a {
            i {
                font-size: 15px;
            }
        }
    }
}

.error {
    color: #ff0000;
    width: 100%;
    float: left;
}



.sidebar-action-sec {
    margin: 70px 0 0 0;

    .btn-primary {
        &.side-action-btn {
            width: 185px;
            margin: 5px 0 0 0;
        }
    }
}

.main .page-header.status-header {
    margin: 55px 0 0 0;
}

.main .page-header.margin-top-20 {
    margin-top:20px;
}

.status-sec {

    i {
        &.fa-clock-o {
            color: @dkYellow;
        }

        &.fa-check {
            color: @successGrn;
        }

        &.fa-times {
            color:@removeColor;
        }
    }
}

.action-icons-listing {
    i {
        margin:0 0 0 15px;
    }
}

.list-group-item.list-area-item {
    &.no-border {
        border: none;
    }
}

ul {
    &.area-listing {
        margin-top:10px;
        li {
            padding-left:0;
        }
    }
}

.question-flag {
    position: relative;
    cursor:pointer;

    .pickcolorDD {
        position: absolute;
        top: 28px;
        left: 11px;
        padding: 0;
        width: 45px;

        li {
            list-style: none;
            width: 15px;
            height: 15px;
            display: inline-block;
            cursor:pointer;
        }
    }
}

.question-item-row {
    overflow: visible;
    height: 50px;

    &.leader-row {
        min-height: 65px;

        .action-icons-listing {
            margin:7px 0 0 0 !important;
        }
        }

        .action-icons-listing {
            .actionIcon {
                width: 50px;
                display: inline-block;
                margin: 0 !important;
            }

            .successStatus {
                color: @successGrn;
            }

            .dangerStatus {
                color: @red;
            }

            .mediumStatus {
                color: @orangePeel;
            }

            a {
                i.fa-comment {
                    color: @grey;
                }
            }

            a {
                i.fa-comment-success {
                    color: @successGrn;
                }
            }
        }
    }

.action-icons-listing {
        a {
            &:hover {
                text-decoration: none;
            }

            .fa-comment-success {
                color: rgb(0, 158, 15);
            }
        }
    }

.comment-field {
        label {
            display: inline-block;
        }
    }

.comment-content {
    float: left;
    width: 100%;
    margin-bottom: 10px;

    .post-content {
        position: relative;
        float: left;
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid #ddd;

        .avatar {
            display: inline;
            margin-right: 12px;
            float: left;

            img {
                max-width: 45px;
                border-radius: 100%;
            }
        }

        .comment__header {
            line-height: 1;
            font-size: 13px;
            padding-right: 46px;
            margin-bottom: 3px;

            .publisher-anchor-color {
                color: rgb(32, 119, 211);
            }

            .post-meta {
                color: #656c7a;
                font-weight: 500;
                margin: 4px 0 0 0;
            }
        }

        .post-message {
            margin: 0 0 10px 0;
            position: relative;

            .edit-Comment {
                max-width: 90%;
                margin-top: 30px;
                border: 1px solid #ddd;
                border-radius: 0;
            }

            .control-comment-btn {
                position: absolute;
                top: 5px;
                right: 0;
            }
        }
    }
}

.modal {
    .modal-dialog {
        &.comments-modal {
            .modal-content {
                .modal-body {
                    max-height: 350px;
                    overflow-y: auto;
                }
            }
        }
    }
}

.update-detail {
    margin-top:5px;
}

.edit-remove-row,
.update-comment-row {
    i {
        font-size: 18px;
        margin:0 3px;
    }
}

 