﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
.list-unstyled .form-group {
  clear: both;
}
#areasul {
  padding: 0;
}
#areasul #ddlArea {
  padding: 10px 10px;
  width: 100%;
  max-width: 550px;
}
#divQuestion {
  padding: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 20px;
}
#divQuestion #questionul {
  padding-left: 40px;
  margin-top: 10px;
  display: inline-block;
}
#events {
  padding-left: 30px;
  display: inline-block;
  margin-top: 10px;
}
#divYear {
  display: inline-block;
}
#divYear #yearsul {
  padding-left: 40px;
  margin-top: 10px;
  display: inline-block;
}
#tbRecords {
  margin-top: 20px;
}
#yearsul .fieldset-border {
  padding: 10px 20px;
  border: 1px solid silver;
}
#yearsul .fieldset-border legend {
  display: inline;
  width: auto;
  border-bottom: none;
  padding: 0 10px;
}
.list-area-item ul {
  padding: 0;
  margin: 0;
}
.list-area-item ul li {
  list-style: none;
}
@font-face {
  font-family: 'stolz1';
  src: url('../../Fonts/307740_0_0.eot') format('embedded-opentype'), url('../../Fonts/307740_0_0.ttf') format('truetype'), url('../../Fonts/307740_0_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz2';
  src: url('../../Fonts/307740_1_0.eot') format('embedded-opentype'), url('../../Fonts/307740_1_0.ttf') format('truetype'), url('../../Fonts/307740_1_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz3';
  src: url('../../Fonts/307740_2_0.eot') format('embedded-opentype'), url('../../Fonts/307740_2_0.ttf') format('truetype'), url('../../Fonts/307740_2_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz4';
  src: url('../../Fonts/307740_3_0.eot') format('embedded-opentype'), url('../../Fonts/307740_3_0.ttf') format('truetype'), url('../../Fonts/307740_3_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz5';
  src: url('../../Fonts/307740_4_0.eot') format('embedded-opentype'), url('../../Fonts/307740_4_0.ttf') format('truetype'), url('../../Fonts/307740_4_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz6';
  src: url('../../Fonts/307740_5_0.eot') format('embedded-opentype'), url('../../Fonts/307740_5_0.ttf') format('truetype'), url('../../Fonts/307740_5_0.woff') format('woff');
}
body {
  font-family: stolz4, sans-serif;
}
h1 {
  font-family: stolz4, sans-serif;
  color: #0055a4;
  font-size: 2em;
}
h2 {
  font-family: stolz2, sans-serif;
  color: #0055a4;
  font-size: 2em;
}
h3,
h4 {
  margin-top: 5px;
  font-family: stolz5, sans-serif;
}
a {
  color: #0055a4;
}
label {
  display: block;
  padding-top: 5px;
}
.affix-row {
  width: 100%;
}
.affix {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #ddd;
  left: 0;
  top: 50px;
  padding: 20px 25px 0;
  margin: 0 0 0 16.66666667%;
  width: 83.33333333%;
}
.affix .col-md-6 {
  width: auto;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
[class^="col-"].no-padding {
  padding-left: 0;
  padding-right: 0;
}
.buttons {
  padding-top: 10px;
}
.buttons .btn {
  margin-bottom: 5px;
  margin-right: 5px;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.edit-media-item-image {
  width: 100%;
  max-width: 400px !important;
}
.input-append {
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 40px;
}
.list-group .list-group-item:nth-child(odd) {
  background-color: #fafafa;
}
.list-group .list-group-item .btn-group.pull-right {
  margin-left: 10px;
}
.list-group .list-group-item .list-unstyled {
  margin-bottom: 0;
}
.offset-below-10 {
  margin-bottom: 10px;
}
.offset-below-20 {
  margin-bottom: 20px;
}
.tab-content {
  border: 1px solid #ddd;
  border-top-width: 0;
  margin-bottom: 40px;
  padding: 15px;
}
.nav-sidebar li.nav-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.nav-sidebar li.nav-header:first-child {
  padding-top: 0;
}
.nav-sidebar li i {
  width: 20px;
}
.cmslogo {
  float: left;
  margin: 0 10px;
}
.tab-content.row {
  border-top: 1px solid #ddd;
}
.tab-content.row h2 {
  margin-top: 0;
}
/* FORMS */
.required_star {
  color: #FF0000;
}
.tags {
  padding-left: 1em;
  margin: 1.5em;
}
.tags .subtags {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.top-group-item {
  background-color: #ececec;
  padding: 0.7em 1.4em;
  clear: both;
}
.sm2_actions a,
.sm2_status a {
  padding-right: 0.3em;
}
.sm2_actions span,
.sm2_status span {
  padding-right: 0.3em;
}
.list-group-item {
  clear: both;
  overflow: auto;
  margin-bottom: 7px;
}
.alert-error {
  color: #FF0000;
}
.field-validation-error {
  color: #FF0000;
}
.ui-datepicker {
  background-color: #ececec;
  padding: 0.7em;
}
/* lists */
.list-module {
  margin: 1.5em 0;
}
.list-module li {
  margin-bottom: 0.4em;
}
/* space-top */
.base-module {
  margin-top: 1.7em;
}
.section-bcg {
  background-color: #ececec;
  padding: 0.3em 0.2em;
}
.module-bcg {
  background-color: #ececec;
  padding: 1em 1.5em;
}
/* media */
.media-item {
  padding-left: 0;
}
@media (min-width: 992px) {
  .media-item.col-md-2:nth-child(6n+1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .media-item.col-md-2:nth-child(4n+1) {
    clear: left;
  }
}
@media (max-width: 768px) {
  .media-item.col-md-2:nth-child(2n+1) {
    clear: left;
  }
}
/* for header */
.for-header > [class^="col-md"] {
  padding-left: 0;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    margin: 30px auto;
  }
}
#authorList .list-group-item {
  margin-bottom: -1px;
}
#authorList .list-group-item .pull-left {
  margin-right: 10px;
}
#authorList .list-group-item p {
  margin-bottom: 0;
}
.modal-content a.add-media-item:hover .thumbnail {
  background-color: #ececec;
}
.modal-content .media-selector-tab-view-recent-media .add-media-item {
  display: block;
  min-height: 80px;
  height: auto !important;
  height: 80px;
}
.modal-content .media-selector-tab-view-recent-media .add-media-item img.thumbnail {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 992px) {
  .modal-content .media-selector-tab-view-recent-media > li:nth-child(4n-3) {
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .modal-content .media-selector-tab-view-recent-media > li:nth-child(3n-2) {
    clear: left;
  }
}
@media only screen and (max-width: 768px) {
  .modal-content .media-selector-tab-view-recent-media > li:nth-child(2n-1) {
    clear: left;
  }
}
.modal-content #mediaRatioPreviewContainer {
  display: none;
}
.modal-content .modal-footer {
  clear: both;
}
.inlinemedia-selector-tab-views {
  display: block;
  height: auto;
  width: 100%;
}
.inlinemedia-selector-tab-views .dropMedia {
  border: 1px solid #cccccc;
  cursor: move;
  width: 200px;
  height: 100px;
  background-size: 200px 100px;
  float: left;
  margin: 10px 10px 0px 0;
  padding: 10px;
}
#Article_brands div {
  display: inline;
  width: 150px;
  padding-right: 25px;
}
.mce-content-body table.mce-item-table thead {
  background-color: #CCCCCC;
  font-weight: bold;
  font-size: 1.1em;
}
.mce-content-body table.mce-item-table td {
  font-weight: 100;
  height: auto;
  overflow: hidden;
  padding: 10px 8px;
  min-height: 20px;
  font-size: 0.77em;
}
.mce-content-body table.mce-item-table tr:nth-child(even) {
  background-color: #fafafa;
}
.mce-content-body ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 1em 0;
}
.mce-content-body ul li {
  padding-left: 1em;
  margin-left: 1.5em;
  margin-bottom: 0.4em;
  color: #666666;
  position: relative;
}
.mce-content-body ul li:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 0.5em;
  content: "\f111";
  left: 0;
  top: 0.8em;
}
.tn-fa-file-pdf-o,
.tn-fa-file-excel-o,
.tn-fa-file-word-o,
.tn-fa-file-text-o,
.tn-file-o,
.tn-fa-file-powerpoint-o {
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  min-height: 80px;
  height: auto !important;
  height: 80px;
}
.tn-fa-file-pdf-o i,
.tn-fa-file-excel-o i,
.tn-fa-file-word-o i,
.tn-fa-file-text-o i,
.tn-file-o i,
.tn-fa-file-powerpoint-o i {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 40px;
}
.tn-fa-file-pdf-o span,
.tn-fa-file-excel-o span,
.tn-fa-file-word-o span,
.tn-fa-file-text-o span,
.tn-file-o span,
.tn-fa-file-powerpoint-o span {
  display: block;
}
.tn-fa-file-pdf-o {
  background-color: #434343 !important;
}
.tn-fa-file-excel-o {
  background-color: #FF0000 !important;
}
.tn-fa-file-word-o {
  background-color: #0055a4 !important;
}
.tn-fa-file-text-o,
.tn-file-o {
  background-color: #fafafa !important;
  color: #000000 !important;
}
.tn-fa-file-text-o i,
.tn-file-o i {
  color: #000000 !important;
}
.tn-fa-file-powerpoint-o {
  background-color: #0055a4 !important;
}
.overflow-scroll {
  overflow-x: scroll;
}
.transportation-template {
  width: 1400px;
}
@media screen and (max-width: 991px) {
  .transportation-template {
    width: 1400px;
  }
}
@media screen and (max-width: 991px) {
  .volunteers-area {
    width: 1000px;
  }
}
.staffhired-template .bg-color {
  background-color: #c4ddff;
}
.staffhired-template .staffhired-table.table > tbody > tr > td {
  border: 1px solid #000;
  font-size: 12px;
  padding: 6px 8px;
}
.staffhired-template .staffhired-table tr td .inputHeight {
  height: 22px;
  width: 60px;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  .site-visit-summary {
    width: 1000px;
  }
}
.tamplate-section .questions-item-header {
  border: 1px solid #000;
  background-color: #c4ddff;
  float: left;
  width: 100%;
}
.tamplate-section .questions-item-header .questions-header-title {
  padding: 10px;
  vertical-align: middle;
  border-left: 1px solid #000;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  justify-content: center;
}
.tamplate-section .questions-item-header .questions-header-title:first-child {
  border: none;
}
.tamplate-section.staffhired-template .table-responsive.fixed-left-td-sec {
  overflow: hidden;
}
.questions-item {
  float: left;
  width: 100%;
  border: 1px solid #000;
  border-top: none;
  display: flex;
}
.questions-item .anwser-list {
  border-left: 1px solid #000;
  padding-left: 0;
  padding-right: 0;
}
.questions-item .anwser-list:last-child {
  border-right: none;
}
.questions-item .header {
  padding: 10px 10px;
  background-color: #c4ddff;
  font-size: 12px;
}
.questions-item .inputHeight {
  height: 22px;
  border-radius: 0;
  border: none;
  text-align: center;
  font-size: 12px;
}
.questions-item .checkboxClass {
  margin-top: 14px;
}
.questions-item .form-group {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .overflow-scroll {
    overflow-x: scroll;
  }
}
.staffhired-template .staffhired-table tr td .inputHeight {
  width: 42px;
  padding: 5px !important;
}
.staffhired-template .table-responsive.fixedLeftHeader {
  overflow: hidden !important;
}
.staffhired-template .table-responsive.fixedLeftHeader .table-wrapper-sec {
  overflow: auto;
  width: 100%;
  height: 500px;
}
.modalpopupForTemp5,
.modalpopupForvolunteer,
.modalpopupForsiteSummery {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  z-index: 9999999999;
  top: 0px;
  height: 100%;
  width: 100%;
}
.modalpopupForTemp5 .modal-dialog,
.modalpopupForvolunteer .modal-dialog,
.modalpopupForsiteSummery .modal-dialog {
  max-width: 1366px;
  width: 100%;
  margin: 100px auto 0;
  /*height: 600px;
        overflow: auto;*/
}
.modalpopupForTemp5 .modal-dialog .modal-body,
.modalpopupForvolunteer .modal-dialog .modal-body,
.modalpopupForsiteSummery .modal-dialog .modal-body {
  max-height: 500px;
  overflow: auto;
}
.modalpopupForTemp5 .modal-dialog .modal-body td,
.modalpopupForvolunteer .modal-dialog .modal-body td,
.modalpopupForsiteSummery .modal-dialog .modal-body td {
  padding: 4px;
}
.modalpopupForsiteSummery.ClientGroupPopup .modal-body {
  overflow-x: hidden;
  overflow-y: auto;
}
.clone {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.clone td {
  visibility: hidden;
  border-color: transparent;
}
.clone th {
  visibility: hidden;
  border-color: transparent;
  visibility: visible;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid black;
}
.clone .fixed-side {
  border: 1px solid #000000;
  background: #EEEEEE;
  visibility: visible;
}
.clone thead,
.clone tfoot {
  background: transparent;
}
.tamplate-section.site-visit-summary .questions-item {
  display: table-row;
}
.modalpopupForsiteSummery.ClientGroupPopup .modal-body {
  max-height: 500px;
  overflow: hidden;
  padding: 0px;
}
.tamplate-section.staffhired-template .table-responsive {
  overflow: auto;
  height: calc(100vh - 180px);
  position: relative;
}
.tamplate-section.site-visit-summary .questions-item .header {
  margin-bottom: 10px;
}
/*Fixed left td with both scrollbar*/
table.fixed-left-td {
  position: relative;
  width: 1000px;
  overflow: hidden;
  border-collapse: collapse;
}
/*tbody*/
table.fixed-left-td tbody {
  position: relative;
  display: block;
  /*seperates the tbody from the header*/
  width: 1000px;
  height: 500px;
  overflow: scroll;
}
table.fixed-left-td tbody tr td:nth-child(1) {
  /*the first cell in each tr*/
  position: relative;
  display: block;
  /*seperates the first column from the tbody*/
  height: 57px;
}
/*Fixed template modal css*/
.fixed-modal-dialog {
  position: fixed;
  left: 0.5%;
  width: calc(100% - 1%) !important;
  z-index: 9999;
  top: -15px;
  overflow-y: auto;
  max-height: 100%;
}
.fixed-modal-dialog .modal-header {
  padding: 10px 15px;
}
.fixed-modal-dialog .questions-item .header {
  padding: 2px 10px;
  margin-bottom: 0 !important;
}
.fixed-modal-dialog .table-responsive.fixedLeftHeader {
  height: auto;
}
.fixed-modal-dialog .table-responsive.fixedLeftHeader .table-wrapper-sec {
  height: auto;
}
.fixed-modal-dialog .tamplate-section.site-visit-summary .questions-item {
  display: flex;
}
.fixed-modal-dialog .tamplate-section.site-visit-summary .questions-item .form-group {
  margin-bottom: 0;
  height: 100%;
}
.fixed-modal-dialog .staffhired-template.summary-table-detail .staffhired-table tr td input[type="text"].inputHeight {
  width: 100%;
}
.fixed-modal-dialog .staffhired-template.summary-table-detail .staffhired-table tr.bg-color.tr-header td[colspan="2"] {
  text-align: center;
}
.question-row {
  border: 1px solid #CCCCCC;
  padding: 5px 10px;
  font-size: 16px;
}
.question-row .action-btns a i {
  font-size: 15px;
}
.error {
  color: #ff0000;
  width: 100%;
  float: left;
}
.sidebar-action-sec {
  margin: 70px 0 0 0;
}
.sidebar-action-sec .btn-primary.side-action-btn {
  width: 185px;
  margin: 5px 0 0 0;
}
.main .page-header.status-header {
  margin: 55px 0 0 0;
}
.main .page-header.margin-top-20 {
  margin-top: 20px;
}
.status-sec i.fa-clock-o {
  color: #FFE599;
}
.status-sec i.fa-check {
  color: #009E0F;
}
.status-sec i.fa-times {
  color: #CF2A27;
}
.action-icons-listing i {
  margin: 0 0 0 15px;
}
.list-group-item.list-area-item.no-border {
  border: none;
}
ul.area-listing {
  margin-top: 10px;
}
ul.area-listing li {
  padding-left: 0;
}
.question-flag {
  position: relative;
  cursor: pointer;
}
.question-flag .pickcolorDD {
  position: absolute;
  top: 28px;
  left: 11px;
  padding: 0;
  width: 45px;
}
.question-flag .pickcolorDD li {
  list-style: none;
  width: 15px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
}
.question-item-row {
  overflow: visible;
  height: 50px;
}
.question-item-row.leader-row {
  min-height: 65px;
}
.question-item-row.leader-row .action-icons-listing {
  margin: 7px 0 0 0 !important;
}
.question-item-row .action-icons-listing .actionIcon {
  width: 50px;
  display: inline-block;
  margin: 0 !important;
}
.question-item-row .action-icons-listing .successStatus {
  color: #009E0F;
}
.question-item-row .action-icons-listing .dangerStatus {
  color: #FF0000;
}
.question-item-row .action-icons-listing .mediumStatus {
  color: #FF9900;
}
.question-item-row .action-icons-listing a i.fa-comment {
  color: #333333;
}
.question-item-row .action-icons-listing a i.fa-comment-success {
  color: #009E0F;
}
.action-icons-listing a:hover {
  text-decoration: none;
}
.action-icons-listing a .fa-comment-success {
  color: #009e0f;
}
.comment-field label {
  display: inline-block;
}
.comment-content {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.comment-content .post-content {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
}
.comment-content .post-content .avatar {
  display: inline;
  margin-right: 12px;
  float: left;
}
.comment-content .post-content .avatar img {
  max-width: 45px;
  border-radius: 100%;
}
.comment-content .post-content .comment__header {
  line-height: 1;
  font-size: 13px;
  padding-right: 46px;
  margin-bottom: 3px;
}
.comment-content .post-content .comment__header .publisher-anchor-color {
  color: #2077d3;
}
.comment-content .post-content .comment__header .post-meta {
  color: #656c7a;
  font-weight: 500;
  margin: 4px 0 0 0;
}
.comment-content .post-content .post-message {
  margin: 0 0 10px 0;
  position: relative;
}
.comment-content .post-content .post-message .edit-Comment {
  max-width: 90%;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 0;
}
.comment-content .post-content .post-message .control-comment-btn {
  position: absolute;
  top: 5px;
  right: 0;
}
.modal .modal-dialog.comments-modal .modal-content .modal-body {
  max-height: 350px;
  overflow-y: auto;
}
.update-detail {
  margin-top: 5px;
}
.edit-remove-row i,
.update-comment-row i {
  font-size: 18px;
  margin: 0 3px;
}