﻿body.vw nav.navbar {
    border-bottom: solid 3px !important;
    border-bottom-color: #0055a4 !important;
    border-bottom-width: 3px !important;
}

body.audi nav.navbar {
    border-bottom: solid 3px !important;
    border-bottom-color: #222222 !important;
    border-bottom-width: 3px !important;
}

body.seat nav.navbar {
    border-bottom: solid 3px !important;
    border-bottom-color: #c62831 !important;
    border-bottom-width: 3px !important;
}

body.skoda nav.navbar {
    border-bottom: solid 3px !important;
    border-bottom-color: #42b74c !important;
    border-bottom-width: 3px !important;
}

body.vwcv nav.navbar {
    border-bottom: solid 3px !important;
    border-bottom-color: #4bafe8 !important;
    border-bottom-width: 3px !important;
}

body.vwcv nav.navbar {
    border-bottom: solid 3px !important;
    border-bottom-color: #0055a4 !important;
    border-bottom-width: 3px !important;
}