﻿@model ITOK.Core.Data.Model.Tags

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/tags"><i class="fa fa-chevron-left"></i>Back to list</a></li>

}

<h2>Create New Tag</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>Please consider whether the new tag is relevant and necessary and can be used combined with other tags to allow users to be able to navigate to the content by drilling down through different routes</p>
    <p>For example, "Accessory Fitting Guides" would then also need to be (repetitively) tagged as "Fitting Guides" and "Accessories" so it can be found via those routes. Do not make tags too specific</p>
    <div class="form-horizontal">
        <hr />
        <div id="row">
            <div class="pull-right">
                <div class="affix-row row">
                    <div class="btn-group pull-left margin-right-10">
                        <input class="btn btn-default btn-lg" id="create" name="submit" type="submit" value="Create" />
                    </div>
                </div>
            </div>
            </div>
        <div class="clearfix"></div>
        @if (!string.IsNullOrEmpty(ViewBag.errMsg))
        {
            <p><b>@ViewBag.errMsg</b></p>
        }
        @Html.ValidationSummary(true)

        <div role="tabpanel" class="tab-pane active" id="info">
            <ul class="list-unstyled">
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Display Text<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.DisplayText)
                    </label>
                    @Html.TextBoxFor(x => x.DisplayText, new { @class = "form-control", autofocus = string.Empty })
                </li>
              
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Description<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Description)
                    </label>
                    <div class="tinymce">
                        @Html.TextAreaFor(x => x.Description, new { @class = "span12", @id = "editor" })
                    </div>
                    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
                    <script>

                        tinymce.init({
                            selector: "textarea#editor",
                            content_css: "/Content/Styles/EditorStylesOverride.css",
                            plugins: [
                                "advlist autolink lists link image base64_image charmap print preview anchor",
                                "searchreplace visualblocks code fullscreen",
                                "insertdatetime media table contextmenu paste ",
                                "template"
                            ],
                            theme_advanced_blockformats: "p,h1,h2,h3,h4,h5,h6,blockquote,dt,dd,code,samp",
                            menubar: false,
                            toolbar: "insertfile undo redo | styleselect | template | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link anchor base64_image media | table | code",

                            //templates: [
                            //    { title: 'Product', description: 'Full List', url: '/Templates/product.html' },
                            //    { title: 'Extra Item', description: '', url: '/Templates/product_item.html' }
                            //],
                            height: 300,
                            paste_data_images: true,
                            force_p_newlines: true,
                            //allow_script_urls: true,
                            extended_valid_elements: 'script[language|type|src|async|defer]'
                        }); </script>


                </li>
                <li class="form-group">
                    <b>Responsibilities</b>
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Responsible name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.ResponsibleName)
                    </label>
                    @Html.TextBoxFor(x => x.ResponsibleName, new { @class = "form-control", autofocus = string.Empty })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Responsible title<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.ResponsibleTitle)
                    </label>
                    @Html.TextBoxFor(x => x.ResponsibleTitle, new { @class = "form-control", autofocus = string.Empty })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Responsible phone<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.ResponsiblePhone)
                    </label>
                    @Html.TextBoxFor(x => x.ResponsiblePhone, new { @class = "form-control", autofocus = string.Empty })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Responsible email<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.ResponsibleEmail)
                    </label>
                    @Html.TextBoxFor(x => x.ResponsibleEmail, new { @class = "form-control", autofocus = string.Empty })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Contact email (when a user sends message from front end) @Html.ValidationMessageFor(x => x.ContactEmail)
                    </label>
                    @Html.TextBoxFor(x => x.ContactEmail, new { @class = "form-control", autofocus = string.Empty })
                </li>

                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Url Slug<span class="required_star">* (must be unique)</span> @Html.ValidationMessageFor(x => x.UrlSlug)
                    </label>
                    @Html.TextBoxFor(x => x.UrlSlug, new { @class = "form-control", autofocus = string.Empty })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Tag Type<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.TagType)
                    </label>
                    @Html.DropDownListFor(m => m.TagType, (List<SelectListItem>)ViewBag.TypeList, new { @class = "form-control" })
                </li>
                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Parent Tag<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.ParentId)
                    </label>
                    @Html.DropDownListFor(m => m.ParentId, (List<SelectListItem>)ViewBag.TagsList, "Please select", new { @class = "form-control" })
                </li>
            </ul>
        </div>


        

            </div>

            }

