﻿@model CMS.Models.TagEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{
}

@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/tags"><i class="fa fa-chevron-left"></i>Back to list</a></li>
}
<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    if (!String.IsNullOrEmpty(ViewBag.Msg))
    {
        <ul class="unstyled" id="userResponses">
            <li class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <span class="headline">Success</span>
                <p>@ViewBag.Msg</p>
            </li>
        </ul>
    }

    <hr />
        @Html.ValidationSummary(true)
        <div id="row">
            <div class="pull-right">
                <div class="affix-row row">
                    <div class="btn-group pull-left margin-right-10">
                        <input class="btn btn-default btn-lg" id="save" name="submit" type="submit" value="Save" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
            <div role="tabpanel" class="tab-pane active" id="info">
                <ul class="list-unstyled">
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Display Text<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.DisplayText)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.DisplayText, new { @class = "form-control", autofocus = string.Empty })
                    </li>

                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Description<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.Description)
                        </label>
                        <div class="tinymce">
                            @Html.TextAreaFor(x => x.Tag.Description, new { @class = "span12", @id = "editor" })
                        </div>
                        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
                        <script>

                        tinymce.init({
                            selector: "textarea#editor",
                            content_css: "/Content/Styles/EditorStylesOverride.css",
                            plugins: [
                                "advlist autolink lists link image base64_image charmap print preview anchor",
                                "searchreplace visualblocks code fullscreen",
                                "insertdatetime media table contextmenu paste ",
                                "template"
                            ],
                            theme_advanced_blockformats: "p,h1,h2,h3,h4,h5,h6,blockquote,dt,dd,code,samp",
                            menubar: false,
                            toolbar: "insertfile undo redo | styleselect | template | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link anchor base64_image media | table | code",

                            //templates: [
                            //    { title: 'Product', description: 'Full List', url: '/Templates/product.html' },
                            //    { title: 'Extra Item', description: '', url: '/Templates/product_item.html' }
                            //],
                            height: 300,
                            paste_data_images: true,
                            force_p_newlines: true,
                            //allow_script_urls: true,
                            extended_valid_elements: 'script[language|type|src|async|defer]'
                        }); </script>

                    </li>
                    <li class="form-group">
                        <b>Responsibilities</b>
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Responsible name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.ResponsibleName)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.ResponsibleName, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Responsible title<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.ResponsibleTitle)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.ResponsibleTitle, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Responsible phone<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.ResponsiblePhone)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.ResponsiblePhone, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Responsible email<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.ResponsibleEmail)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.ResponsibleEmail, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Contact email (when a user sends message from front end) @Html.ValidationMessageFor(x => x.Tag.ContactEmail)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.ContactEmail, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Url Slug<span class="required_star">* (must be unique)</span> @Html.ValidationMessageFor(x => x.Tag.UrlSlug)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.UrlSlug, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Tag Type<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.TagType)
                        </label>
                        @Html.DropDownListFor(m => m.Tag.TagType, (List<SelectListItem>)ViewBag.TypeList, new { @class = "form-control" })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Parent Tag<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.ParentId)
                        </label>
                        @Html.DropDownListFor(m => m.Tag.ParentId, (List<SelectListItem>)ViewBag.TagsList, "Please select", new { @class = "form-control" })
                    </li>

                </ul>
            </div>

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Tag.Id, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tag.Id, new { @class = "span12", autofocus = string.Empty })
                    @Html.ValidationMessageFor(model => model.Tag.Id)
                </div>
            </div>


}

<h2>Questions</h2>
<h4>Current questions in this Area</h4>
<div id="divQuestions">
    @Html.Partial("~/Views/Question/QuestionList.cshtml", Model.questions)

</div>

<p>&nbsp;</p>
<input type="button" class="btn btn-default" value="Add new Question" onclick="addQuestion()" data-toggle="modal" data-target="#modalWrapper" />
<div id="modalWrapper" class="modal fade">
    @* Inject form here *@
</div>
<script>

   
            //$("#AddCategoryForm").on("submit", "#AddCategoryForm", function (e) {
            //            e.preventDefault();  // prevent standard form submission
            //            console.log("partial submit");
            //            var form = $(this);
            //            console.log(form.attr("method"));
            //            $.ajax({
            //                url: form.attr("action"),
            //                method: form.attr("method"),  // post
            //                data: form.serialize(),
            //                success: function (partialResult) {
            //                    $("#divTopicHeaders").html(partialResult);
            //                }
            //            });
            //        });
                    //$(function () {
                    //    $('#modalWrapper').modal();
                    //});

                function editQuestion(qid) {

                        $.ajax({
                            url: "/Question/GetQuestionDetail", // The method name + paramater
                            data: {ParentTagSlug: '@Model.Tag.UrlSlug', ParentTagId: '@Model.Tag.Id', questionId: qid},
                            success: function (data) {
                                $('#modalWrapper').html(data);
                                $(function () { $('#modalWrapper').modal(); });// This should be an empty div where you can inject your new html (the partial view)
                            }
                        });
                    }
                    function addQuestion() {
                        $.ajax({
                            url: "/Question/GetQuestionDetail", // The method name + paramater
                            data: {ParentTagSlug: '@Model.Tag.UrlSlug', ParentTagId: '@Model.Tag.Id'},
                            success: function (data) {
                                $('#modalWrapper').html(data);
                                //$(function () { $('#modalWrapper').modal(); });// This should be an empty div where you can inject your new html (the partial view)
                            }
                        });
                    }


                    function RemoveQuestion(questionid) {
                        var data = {};
                        data["tagId"] = '@Model.Tag.Id';
                        data["questionid"] = questionid;
                        if (confirm("Are you sure you want to remove this?")) {
                            $.ajax({
                                url: "/question/removequestion",
                                data: data,
                                success: function (data) {
                                    $("#divQuestions").html(data);
                                },
                                error: function (xhr, status, msg) {
                                    alert("Error:" + msg);
                                }
                            });
                        }

                    }
</script>

