﻿@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants

@model List<Tags>
@{
    ViewBag.Title = "Index";
}
@section Head
{
    <script src="~/Scripts/Draggable.js" type="text/javascript"></script>
}
@section SideBar
{
    <li class="nav-header">Actions</li>
        <li>
            @Html.ActionLink("Add New Tag", "Create", null, new { @class = "sm_new_article" })
        </li>

  }
<h2>Tags</h2>
<p>Areas can be children of Categories, Years can be children of Events. i.e. IAAF World Championships as child items of London 2017, Beijing 2015.</p>
<p>To delete a tag, please contact Support who will check the number of articles affected.</p>
<table width="100%">
    <tr style="vertical-align:top">
        @*<td width="25%">
            <h3>Categories</h3>
            <ul class="tags list-unstyled">
                @foreach (var tag in Model.Where(i => i.TagType == TagType.Category).OrderBy(i => i.DisplayText))
                {
                    <li tagid="@tag.Id" tagname="@tag.DisplayText">
                        <dl class="top-group-item" style="background-color:silver">
                            <dt><span style="font-size: x-small"></span> <b>@tag.DisplayText </b></dt>
                            <dd class="sm2_actions">
                                <strong>Actions:</strong> <a href="/Tags/Edit/?Id=@tag.Id" title="Edit">Edit</a>
                                <span class="sm2_delete" title="Delete">Delete</span>
                            </dd>
                        </dl>
                    </li>
                }
            </ul>
        </td>*@
        <td width="25%">
            <h3>Areas</h3>
            <ul class="tags list-unstyled">
                @foreach (var tag in Model.Where(i => i.TagType == TagType.Area).OrderBy(i => i.DisplayText))
                {
                    <li tagid="@tag.Id" tagname="@tag.DisplayText">
                        <dl class="top-group-item" style="background-color:silver">
                            <dt><span style="font-size: x-small"></span> <b>@tag.DisplayText @(tag.Show == true ? "(In Menu)" : "")</b></dt>
                            <dd class="sm2_actions">
                                <strong>Actions:</strong> <a href="/Tags/Edit/?Id=@tag.Id" title="Edit">Edit</a>
                                <span class="sm2_delete" title="Delete">Delete</span>
                            </dd>

                        </dl>
                    </li>
                }
            </ul>
        </td>
        <td width="25%">
            <h3>Years</h3>
            <ul class="tags list-unstyled">
                @foreach (var tag in Model.Where(i => i.TagType == TagType.Year).OrderBy(i => i.Order))
                {
                    <li tagid="@tag.Id" tagname="@tag.DisplayText">
                        <dl class="top-group-item" style="background-color:silver">
                            <dt><span style="font-size: x-small"></span> <b>@tag.DisplayText @(tag.Show == true ? "(In Menu)" : "")</b></dt>
                            <dd class="sm2_actions">
                                <strong>Actions:</strong> <a href="/Tags/Edit/?Id=@tag.Id" title="Edit">Edit</a>
                                <span class="sm2_delete" title="Delete">Delete</span>
                            </dd>

                        </dl>
                    </li>
                }
            </ul>
        </td>
        <td width="25%">
            <h3>Events</h3>
            <ul class="tags list-unstyled">
                @foreach (var tag in Model.Where(i => i.TagType == TagType.Events).OrderBy(i => i.Order))
                {
                    <li tagid="@tag.Id" tagname="@tag.DisplayText">
                        <dl class="top-group-item" style="background-color:silver">
                            <dt><span style="font-size: x-small"></span> <b>@tag.DisplayText @(tag.Show == true ? "(In Menu)" : "")</b></dt>
                            <dd class="sm2_actions">
                                <strong>Actions:</strong> <a href="/Tags/Edit/?Id=@tag.Id" title="Edit">Edit</a>
                                <span class="sm2_delete" title="Delete">Delete</span>
                            </dd>

                        </dl>
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>






    <script>
        function Delete(tagid) {
            if (confirm("Are you sure you want to delete this tag? It cannot be undone and will be removed from all articles")) {
                window.location.href = "/Tags/Delete/?id=" + tagid;
            }
        }
    </script>
