﻿@using ITOK.Core.Data.Model
@model List<Alert>

@{
    var count = 1;
}

@if (Model.Any())
{
<h3 class="aside">
    Alerts
</h3>
    <div class="alerts row">
        @foreach (var alert in Model)
        {
            <div class="grid-alert col-md-12">

                <div class="col-md-2 col-sm-1 col-xs-2 no-padding">
                    <div class="number">
                        <span>
                            @count
                        </span>
                    </div>
                </div>

                <div class="col-md-10 col-sm-11 col-xs-10 @alert.status">

                    <h4>
                        @alert.Headline
                    </h4>
                    <div class="clearfix"></div>
                    <small class="pull-left">
                        @(alert.CreatedOn.ToShortTimeString() == "00:00" ? alert.CreatedOn.ToString("dd MMM yyyy") : alert.CreatedOn.ToString("HH:mm on dd MMM yyyy"))

                    </small>
                    <button class="btn btn-link pull-right showrelatedalerts">
                        <i class="fa fa-plus pull-right" aria-hidden="true"></i>
                        <i class="fa fa-minus pull-right" aria-hidden="true"></i>
                    </button>
                    <div class="clearfix"></div>
                    <div class="collapse relatedalertscollapse">
                        <p>
                            @Html.Raw(alert.AlertText)
                        </p>
                        @{count++;}
                    </div>
                </div> 

            </div>
        }
    </div>
    }
