﻿@using ITOK.Core.Common.Constants

@model List<ITOK.Core.Data.Model.Tags>

<div class="nav-sidebar">

    <p>
        Filter the list to the left by selecting your chosen areas and years
    </p>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#year" aria-controls="year" role="tab" data-toggle="tab">
                By Year
            </a>
        </li>
        <li role="presentation">
            <a href="#areas" aria-controls="areas" role="tab" data-toggle="tab">
                By Areas
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="year">
            <div class="btn-group spaced">
                @foreach (var tag in Model.Where(i => i.TagType == TagType.Year))
                {

                    <a href="/hub/@tag.UrlSlug" class="btn btn-link btn-clean @(Request.Url.AbsoluteUri.Contains(tag.UrlSlug) ? "selected": "")">
                        @tag.DisplayText
                    </a>

                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="areas">
            <div class="btn-group spaced">
                @foreach (var tag in Model.Where(i => i.TagType == TagType.Area))
                {
                    @*<a href="@string.Format("{0}+{1}", Request.Url.AbsoluteUri, tag.UrlSlug)" class="btn btn-link btn-clean @(Request.Url.AbsoluteUri.Contains(tag.UrlSlug) ? "selected": "")">
                            @tag.DisplayText
                        </a>*@
                    <a href="/hub/@tag.UrlSlug" class="btn btn-link btn-clean @(Request.Url.AbsoluteUri.Contains(tag.UrlSlug) ? "selected": "")">
                        @tag.DisplayText
                    </a>
                }
            </div>
        </div>
    </div>

</div>