﻿@model List<ITOK.Core.Data.Model.Tags>


<div class="offset-top-40 offset-below-40">

    <div class="dropdown">
        <button class="btn dropdown-toggle dropdown-default" type="button" data-toggle="dropdown">
            Change WAS event
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            @foreach (var tag in Model)
            {
                <li>
                    <a href="@tag.UrlSlug">
                        @tag.DisplayText
                    </a>
                </li>
            }
        </ul>
    </div>

</div>