﻿@using ITOK.Core.Common.Extensions
@using ITOK.Core.Common.Utilities

@model ITOKFrontend.Models.ArticleFilterModel
@{
    var colsClass = "list-group-item alt-color";
    var clickformoreshow = true;
}
@{
    var itemMediaProfile = ITOK.Core.Common.Constants.MediaProfile.size_600x300;
    var profileConfig = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfile);
}

@if (Model.Articles != null && Model.Articles.Any())
{
    bool shownTODAY = false, shownYESTERDAY = false, shownLASTWEEK = false, shownLASTMONTH = false, shownOLDER = false;
    <h3  class="aside offset-top-10">Recently viewed</h3>
    foreach (var article in Model.Articles)
    {

        //var itemClass = topNews ? "top-news" : string.Empty;

        var url = ArticleUtilities.GetArticleUri(article);

        if (!string.IsNullOrEmpty(Model.Filter))
        {
            url += "?hub=" + Model.Filter;
        }


        <div class="@colsClass list-group-item alt-color row ">

            <h2>
                <a href="@url">
                    @article.Title
                </a>
            </h2>

            <div class="clearfix"></div>

            <div class="article-number-and-date">
                <div class="pull-left">
                    <span class="article-number">
                        @article.BrandArticleNumber
                    </span>
                </div>
                <div class="pull-left">
                    <h4 class="date">
                        @Html.DateFormat(article.CreatedOn)
                        <small>
                            Last Updated <strong>@Html.DateTimeAgo(article.VersionDate)</strong>
                        </small>
                    </h4>
                </div>
            </div>

            <div class="clearfix"></div>
            </div>

            }

            <!-- ko foreach: news -->
            <div class="@colsClass row reduced">
                <h3>
                    <a href="#" data-bind="attr: { 'href' : 'Articleurl' }">
                        <!-- ko text: Title --><!--/ko-->
                    </a>
                </h3>

                <div class="clearfix"></div>

                <span class="article-number"><!-- ko text: Title --><!--/ko--></span>

                <div class="clearfix"></div>

                <h4 class="date">
                    <!-- ko text: LiveFrom --><!--/ko-->
                    <small>
                        Last Updated <strong><!-- ko text: LiveFrom --><!--/ko--></strong>
                    </small>
                </h4>

                <div class="clearfix"></div>
            </div>
            <!--/ko-->

            <div class="clearfix"></div>

          

            }
            else
            {
            <div class="panel panel-default legend">
                <div class="panel-heading">
                    No results found
                </div>
                <div class="panel-body">
                    <p>
                        You haven't viewed any Articles
                    </p>
                </div>
            </div>
            }

            <script type="text/javascript">

                var newsAction = {};

                newsAction.getNewsUrl = "@(Model.BaseUrl)";
                newsAction.paged = @((Model.TotalItemCount > 12).ToString().ToLower());
                newsAction.count = @(Model.TotalItemCount);
            </script>