﻿@{

    var isLoggedIn = MembershipHelper.IsAuthenticated();
}
@{

    var bodyClass = "";
    var backgroundImage = "";
    var showBackToTop = true;



    var brand = Brand.itok;
   


    if (isLoggedIn)
    {
        bodyClass = brand.ToString();
    }
    else
    {
        bodyClass = brand + " loginscreen";
        backgroundImage = "/Assets/Images/screens/" + brand + "banner.jpg";
        showBackToTop = false;
    }

    var GACode = System.Configuration.ConfigurationManager.AppSettings["GACode"];
    var GATagManager = System.Configuration.ConfigurationManager.AppSettings["GATagManagerCode"];

}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    @*<meta name="description" content="">
        <meta name="author" content="">*@
    @RenderSection("MetaTags", required: false)

    @{
        string pageTitle = @ViewBag.Title ?? "Latest Updates";
    }

    <title>
        @pageTitle
    </title>


    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no" />

    @* script(s) *@
    <script src="~/Assets/Scripts/jquery/jquery-2.2.0.js" type="text/javascript"></script>
    <!-- RequireJS -->
    <script src="~/Assets/Scripts/requirejs/require.js" type="text/javascript"></script>
    <!-- RequireJS -->
    <script src="~/Assets/Scripts/waypoint.js" type="text/javascript"></script>
    @* script(s) *@
    <script src="~/Assets/Scripts/sideMenu.js"></script>
    <script src="~/Assets/Scripts/custom.js"></script>

    @* stylesheet(s) *@
    <link href="~/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/Styles/font-awesome/font-awesome-4.5.0/css/font-awesome.min.css?v=1234" rel="stylesheet" />
    <link href="~/Assets/Scripts/intro/introjs.min.css" rel="stylesheet" />

    <link href="~/Assets/Font/font.css" rel="stylesheet" />

    <link href="~/Assets/Styles/custom/custom.css" rel="stylesheet" />
    <link href="~/Assets/Styles/custom/temp.css" rel="stylesheet" />
    <link href="~/Assets/Styles/custom/itok.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Assets/Styles/custom/print.css" type="text/css" media="print" />
    @*<link href="~/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />*@
    @*<link href="~/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />*@
    <link href="~/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    @* stylesheet(s) *@

    <link rel="icon" href="~/Assets/Images/@brand/favicon.ico?v=ico" />
    <link rel="apple-touch-icon" href="~/Assets/Images/logos/new-desktop.png" />
    <!-- Google Tag Manager -->
   
    <script>
        dataLayer = [];

        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@GATagManager');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body class="@bodyClass landing-page" style="background-image:url('@backgroundImage');">
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=@GATagManager"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- RequireJS -->
    <script type="text/javascript">

        // contents of app.js:
        require.config({
            "baseUrl": "/Assets/Scripts/",
            "urlArgs": "10",
            "waitSeconds": 360,
            "paths": {
                "jquery": "jquery",
                "jqueryui": "jquery-ui-1.11.4.custom/jquery-ui.min",
                "knockout": "knockout",
                "bootstrap": "bootstrap",
                "bc": "//players.brightcove.net/1842992633001/B1M2VUPz_default/index.min",
                "bcga": "videojs.ga.videocloud.min",
                "intro": "intro"
            },
            "shim": {
                "bootstrap": { "deps": ["jquery"], exports: "jQuery" },
                "jqueryui": { "deps": ["jquery"], exports: "jQuery" },
                "bcga": { "deps": ["bc"], exports: "ga" },
            },
            timeout: 30
        });

        require(["app/jquery"]); //load jquery
        require(["app/bootstrap"]); //load bootstrap
        require(["app/knockout"]); //load knockout
        require(["app/bc"]); //load knockout

    </script>
    <!-- RequireJS -->
   

    @if (isLoggedIn)
    {

    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="logo-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Assets/Images/IAAF-logo.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container posrel">

            <div class="pull-left centermenu">
                <div class="mobile-group">
                    <div class="navbar-item navbar-logo">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/" class="logo-box _tabletHide">
                                    <img src="~/Assets/Images/iaaf-mobile.png" />
                                    <span class="main-heading">
                                        Knowledge Centre
                                    </span>
                                </a>
                                <a href="/" class="logo-box _tabletShow">
                                    
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="pull-right profile">

                <div class="btn-group _tabletHide">
                    <form class="form-group has-feedback" id="searchformnav" method="GET" action="/hub/index">
                        <input class="form-control" id="searchtext" name="s" type="text" placeholder="Search Knowledge Centre" />
                        <button type="submit" id="searchbtn" value="Submit" form="searchformnav" class="btn btn-link btn-transparent-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>

                <div class="btn-group _tabletShow" role="group" aria-label="...">
                    <button class="btn btn-link" id="searchexpand">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="navbar-item _tabletHide">
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="menu-icon btn btn-link" href="/profile/favorites" id="profileFavourite">
                            <i class="fa fa-star-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Favourites"></i>
                        </a>
                        <a class="menu-icon btn btn-link" href="/readinglist" id="profileReadingList">
                            <i class="fa fa-bookmark-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Folders"></i>
                        </a>
                        <a class="menu-icon btn btn-link hidden" href="/profile/history" id="profileHistory">
                            <i class="fa fa-history" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="History"></i>
                        </a>
                    </div>
                </div>


            </div>

            <div class="clearfix"></div>
        </div>

        <div id="searchbar">

            <div class="wrap">

                <div class="container navbar-search">

                    <div class="row">
                        <div class="more-tags col-md-3 col-sm-4 col-xs-4">
                            @*<div class="btn-group btn-lg altcolors">
                                <button class="btn btn-default btn-lg tagsbc collapsed" data-toggle="collapse" id="step2" data-target="#populartags">
                                    <i class="fa fa-tags"></i>
                                    <span>
                                        Popular topics
                                    </span>
                                </button>
                            </div>*@
                        </div>
                        <div id="step6" class="search top-search col-md-9 col-sm-8 col-xs-8 _tabletShow">
                            <form class="form-group has-feedback" id="searchform" method="GET" action="/hub/index">
                                <input class="form-control" name="s" type="text" placeholder="Search Hub" />
                                <button type="submit" value="Submit" form="searchform" class="btn btn-link btn-transparent-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>

                        <div class="clearfix"></div>

                        @*<div id="populartags" class="collapse" data-bind="template: { name: 'popular-tags' }"></div>*@
                    </div>

                </div>
            </div>
        </div>

    </nav>

    }

    <div class="clearfix"></div>

    <div id="main" class="row">

        <div>
            @* homepage-container *@

            <div class="row">
                <div class="full-screen-background">
                    <div class="container">
                        <div class="col-md-3 col-sm-12 menu-parent-sec">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">


                                    @{Html.RenderAction("MenuTopics", "Home", new { area = "" });}


                                </div>

                                <div class="col-md-12 col-sm-12 user-menu-section hidden">

                                    <ul class="text-large">
                                        <li>
                                            <a href="/profile">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                My profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profile/favorites" id="profileFavouriteMenu">
                                                <i class="fa fa-star-o"></i>
                                                My favourite articles
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/readinglist" id="profileReadingListMenu">
                                                <i class="fa fa-bookmark-o"></i>
                                                My folders
                                            </a>
                                        </li>
                                        <li class="hidden">
                                            <a href="/profile/history" id="profileHistoryMenu">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                                History
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" id="startIntro">
                                                <i class="fa fa-question" aria-hidden="true"></i>
                                                Help
                                            </a>
                                        </li>
                                        @if (LiveUser.CanDoAny(Permission.UseCMS))
                                        {
                                            <li>
                                                <a href="http://cms.itok.hn-staging.com">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                    CMS
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            @Html.ActionLink("Sign Out", "Logout", "User")
                                        </li>
                                    </ul>

                                    <div class="clearfix"></div>

                                    <ul class="text-small">
                                        <!-- CHANGE BRAND REMOVED-->
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 main-col">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="clearfix"></div>

        </div>

    </div>

    <div class="clearfix"></div>

    @RenderSection("scripts", required: false)
    @RenderSection("Modals", false)

  

    <script type="text/javascript">
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
        }

        $("#searchtext").keypress(function (e) {
            if (e.which == 13) {
                $("#searchbtn").click();
            }
        });

    </script>

    <script type="text/html" id="news-template">

        <!--ko if: ArticleType === 'bulletin' -->
        <div class="list-group-item alt-color row bulletin">

            <div class="article-number-and-date">
                <div class="pull-left">
                    <span class="article-number">
                        <!--ko text: BrandArticleNumber --><!--/ko-->
                    </span>
                </div>
                <div class="pull-left">
                    <h4 class="date">
                        <!--ko text: LiveFrom --><!--/ko-->
                        <!--ko if: ShowUpdatedText -->
                        <span class="_mobileHide">
                            &dash;
                            Last Updated <strong><!--ko text: DateTimeAgo --><!--/ko--></strong>
                        </span>
                        <!--/ko-->
                    </h4>
                </div>
            </div>

            <div class="clearfix"></div>

            <h2>
                <a data-bind="attr: { 'href' : Articleurl }">
                    <!--ko text: Title --><!--/ko-->
                </a>
            </h2>

            <div class="clearfix"></div>

            <!--ko ifnot: MediaMarkup === '' -->
            <div data-bind="html: MediaMarkup"></div>
            <!--/ko-->

            <div class="clearfix"></div>

            <div data-bind="html: StandFirst"></div>

            <div class="clearfix"></div>
            <!--ko ifnot: Tags.length < 1 -->
            <div class="btn-group spaced altcolors" role="group" aria-label="...">
                <label>
                    <i class="fa fa-tags"></i>
                </label>
                <!--ko foreach: Tags -->
                <a href="hub/" data-bind="attr: { 'href' : '/@brand/hub/' + UrlSlug }" class="btn btn-default">
                    <!--ko text: DisplayText --><!--/ko-->
                </a>
                <!--/ko-->
            </div>
            <div class="clearfix"></div>
            <!--/ko-->
        </div>
        <!--/ko-->
        <!--ko ifnot: ArticleType === 'bulletin' -->
        <div class="list-group-item alt-color row">

            <div class="no-padding full-width-partial">

                <div class="pull-left list-group-item-banners">

                    <!--ko if: ViewType === 'updated-item' -->
                    <span class="btn btn-info">
                        UPDATED
                    </span>
                    <!--/ko-->
                    <!--ko if: ViewType === 'new-item' -->
                    <span class="btn btn-primary new">
                        NEW
                    </span>
                    <!--/ko-->
                    <!--ko if: ViewType === 'unread-item' -->
                    <span class="btn btn-info btn-danger">
                        UNREAD
                    </span>
                    <!--/ko-->

                </div>

                <div class="pull-left article-number-and-date">
                    <div class="pull-left">
                        <span class="article-number">
                            <!--ko text: BrandArticleNumber --><!--/ko-->
                        </span>
                    </div>
                    <div class="pull-left">
                        <h4 class="date">
                            <!--ko text: LiveFrom --><!--/ko-->
                            <!--ko if: ShowUpdatedText -->
                            <span class="_mobileHide">
                                &dash;
                                Last Updated <strong><!--ko text: DateTimeAgo --><!--/ko--></strong>
                            </span>
                            <!--/ko-->
                        </h4>
                    </div>
                </div>

                <div class="pull-right btn-group spaced add-tools" role="group">

                    <!--ko if: IsFavoriteForCurrentUser -->
                    <button class="btn btn-default" data-favourite="true" data-bind="attr: { 'data-urlslug' : Id }">
                        <i class="fa fa-star"></i>
                        <span class="favcount" data-bind="attr: { 'data-count' : FavCount }"></span>
                    </button>
                    <!--/ko-->
                    <!--ko ifnot: IsFavoriteForCurrentUser -->
                    <button class="btn btn-default" data-favourite="false" data-bind="attr: { 'data-urlslug' : Id }">
                        <i class="fa fa-star-o"></i>
                        <span class="favcount" data-bind="attr: { 'data-count' : FavCount }"></span>
                    </button>
                    <!--/ko-->

                    <button class="btn btn-default" data-bind="click: function(){ $root.showDialog(true); $root.articleUrlSlug(Id); }">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="readinglistcount" data-bind="attr: { 'id' : Id + 'RL', 'data-count' : ReadingListCount }"></span>
                    </button>

                </div>

                <div class="clearfix"></div>

                <h2>
                    <a data-bind="attr: { 'href' : Articleurl }">
                        <!--ko text: Title --><!--/ko-->
                    </a>
                </h2>

                <div class="clearfix"></div>

                <!--ko ifnot: MediaMarkup === '' -->
                <div class="col-md-6 no-padding">
                    <p class="standfirst">
                        <!--ko text: StandFirst --><!--/ko-->
                    </p>
                </div>
                <div class="col-md-6 thumbnail">
                    <!--ko if: BrightcoveID === '' -->
                    <div data-bind="html: MediaMarkup"></div>
                    <!--/ko-->
                    <!--ko ifnot: BrightcoveID === '' -->
                    <div class="video-iframe">
                        <iframe src="/@brand/videoplayer/" frameborder="0" data-bind="attr: { 'src' : '/@brand/videoplayer/' + BrightcoveID }"></iframe>
                    </div>
                    <!--/ko-->
                </div>
                <!--/ko-->
                <!--ko if: MediaMarkup === '' -->
                <p class="standfirst">
                    <!--ko text: StandFirst --><!--/ko-->
                </p>
                <!--/ko-->


                <div class="clearfix"></div>

                <!--ko ifnot: Tags.length < 1 -->
                <div class="btn-group spaced altcolors" role="group" aria-label="...">
                    <label>
                        <i class="fa fa-tags"></i>
                    </label>
                    <!--ko foreach: Tags -->
                    <a href="hub/" data-bind="attr: { 'href' : '/@brand/hub/' + UrlSlug }" class="btn btn-default">
                        <!--ko text: DisplayText --><!--/ko-->
                    </a>
                    <!--/ko-->
                </div>
                <div class="clearfix"></div>
                <!--/ko-->

            </div>

        </div>
        <!--/ko-->

    </script>


    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal:showDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">
                        Reading Lists
                    </h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label>
                                Please select a Reading List
                            </label>
                            <select class="form-control" id="ReadingLists">
                                <option value=""></option>
                                <!--ko foreach: readingList -->
                                <option data-bind="attr: { 'value' : Value }">
                                    <!--ko text: Text --><!--/ko-->
                                </option>
                                <!--/ko-->
                            </select>
                        </div>
                        <div class="clearfix"></div>

                        <button type="button" id="addToReading" class="btn btn-primary btn-lg pull-right" data-bind="click : submitReading.bind($data)" disabled="disabled">Add Article to Reading List</button>@*, '@Model.Article.UrlSlug'*@
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- google analytics plugin -->
    @*<script src="~/Assets/Scripts/videojs.ga.videocloud.min.js"></script>*@
    <!-- custom script -->


    <script type="text/javascript">

        var global = {};
        global.brand = '@brand';

        //Add Class in body for change body background image
        var segment_str = window.location.pathname; // return segment1/segment2/segment3/segment4
        var segment_array = segment_str.split('/');
        var last_segment = segment_array.pop();
        $("body").addClass(last_segment + '-page');

    </script>


    @* ONLY IF USER LOGGED IN - CLARE TO DO *@
    @if (isLoggedIn)
    {
        <script type="text/javascript">

            var readingListAction = {};
            readingListAction.loadReadingList = true;

        </script>

    } @* ONLY IF USER LOGGED IN - CLARE TO DO *@


</body>
</html>