﻿@using ITOK.Core.Common.Extensions
@using ITOK.Core.Common.Utilities
@using ITOK.Core.Common.Utilities.Extensions.Html
@using ITOK.Core.Services.Core
@using ITOKFrontend.Models.Constants
@model ITOKFrontend.Models.ArticleFilterModel
@{
    var clickformoreshow = true;
    var _statsService = new StatsService(new ITOK.Core.Data.MongoRepository());

    const MediaProfile itemMediaProfile = ITOK.Core.Common.Constants.MediaProfile.size_600x300;

    const MediaProfile itemMediaProfileSmall = ITOK.Core.Common.Constants.MediaProfile.size_300x200;


    var profileConfig = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfile);


    var profileConfigSmall = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfileSmall);

}

<div class="clearfix"></div>
    <div class="article-listing-row hidden">
        <div class="header">
            <h2>
                Title Here
            </h2>
        </div>
        <div class="list-group-item alt-color row article-listing">

            <div class="no-padding full-width-partial">
                <div class="pull-left article-number-and-date">
                    <div class="pull-left">
                        <h4 class="date">
                            21 OCT 2016
                        </h4>
                        <span class="btn btn-info">
                            NEW
                        </span>
                    </div>
                </div>

                <div class="pull-right btn-group spaced add-tools" role="group">


                    <a class="btn btn-default" href="#" data-favourite="false" data-urlslug="580a35462abbab08888c245e" data-toggle="tooltip" title="" data-original-title="Favourited by 1 person">
                        <i class="fa fa-star-o"></i>
                        <span class="favcount" data-count="1"></span>
                    </a>
                    <button class="btn btn-default" data-bind="click: function(){ showDialog(true); articleUrlSlug('580a35462abbab08888c245e'); }" data-toggle="tooltip" title="" data-original-title="Added to 1 persons reading list">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="readinglistcount" id="580a35462abbab08888c245eRL" data-count="0"></span>
                    </button>

                </div>

                <div class="clearfix"></div>

                <h2 class="article-title">
                    <a href="/article/post-race-procedure?hub=iaaf-world-championships">
                        Post-race Procedure
                    </a>
                </h2>

                <div class="clearfix"></div>

                <p class="standfirst">
                    Curabitur scelerisque maximus sem eget elementum. Morbi tempor urna a convallis dictum. Sed dapibus aliquet magna ut cursus. Vestibulum sodales dolor vitae enim cursus, at porttitor leo hendrerit.
                </p>


                <div class="clearfix"></div>

                <div class="btn-group spaced altcolors" role="group" aria-label="...">
                    <label>
                        <i class="fa fa-tags"></i>
                    </label>
                    <a class="btn btn-default" href="/hub/2015-beijing">2015 Beijing</a>
                    <a class="btn btn-default" href="/hub/iaaf-world-championships">IAAF World Championships</a>
                    <a class="btn btn-default" href="/hub/media-operations">Media Operations</a>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>


        <div class="list-group-item alt-color row article-listing">

            <div class="no-padding full-width-partial">
                <div class="pull-left article-number-and-date">
                    <div class="pull-left">
                        <h4 class="date">
                            21 OCT 2016
                        </h4>
                        <span class="btn btn-info">
                            NEW
                        </span>
                    </div>
                </div>

                <div class="pull-right btn-group spaced add-tools" role="group">


                    <a class="btn btn-default" href="#" data-favourite="false" data-urlslug="580a35462abbab08888c245e" data-toggle="tooltip" title="" data-original-title="Favourited by 1 person">
                        <i class="fa fa-star-o"></i>
                        <span class="favcount" data-count="1"></span>
                    </a>
                    <button class="btn btn-default" data-bind="click: function(){ showDialog(true); articleUrlSlug('580a35462abbab08888c245e'); }" data-toggle="tooltip" title="" data-original-title="Added to 1 persons reading list">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="readinglistcount" id="580a35462abbab08888c245eRL" data-count="0"></span>
                    </button>

                </div>

                <div class="clearfix"></div>

                <h2 class="article-title">
                    <a href="/article/post-race-procedure?hub=iaaf-world-championships">
                        Post-race Procedure
                    </a>
                </h2>

                <div class="clearfix"></div>

                <p class="standfirst">
                    Curabitur scelerisque maximus sem eget elementum. Morbi tempor urna a convallis dictum. Sed dapibus aliquet magna ut cursus. Vestibulum sodales dolor vitae enim cursus, at porttitor leo hendrerit.
                </p>

                <div class="download-file">
                        <a href="/Download/download?filename=5337eadd-e214-4310-9c0e-c32e2dc11b53.pdf&amp;urlslug=Cardiff%202016%20Debrief%20and%20Next%20Steps">
                            Cardiff Debrief and Next Steps
                        </a>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-lg nrDownload" href="/file.axd?fid=57e904212abbab01e81c9b77&amp;brand=itok&amp;dl=1">
                                <i class="fa fa-cloud-download"></i>
                            </a>
                            <a class="btn btn-primary btn-lg nrOpenDownload" href="/file.axd?fid=57e904212abbab01e81c9b77&amp;brand=itok" target="_blank">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                </div>

                <div class="clearfix"></div>

                <div class="btn-group spaced altcolors" role="group" aria-label="...">
                    <label>
                        <i class="fa fa-tags"></i>
                    </label>
                    <a class="btn btn-default" href="/hub/2015-beijing">2015 Beijing</a>
                    <a class="btn btn-default" href="/hub/iaaf-world-championships">IAAF World Championships</a>
                    <a class="btn btn-default" href="/hub/media-operations">Media Operations</a>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>

    </div>

@if (Model.Articles != null && Model.Articles.Any())
{

    foreach (var article in Model.Articles)
    {
        var url = ArticleUtilities.GetArticleUri(article);

        if (!string.IsNullOrEmpty(Model.Filter))
        {
            url += "?hub=" + Model.Filter;
        }



        var divArticleElement = "";

        if (article.VersionDate > LoginManager.CurrentUser.LastLoginDate)
        {
            divArticleElement = article.LiveFrom != article.VersionDate ? "updated-item" : "new-item";
        }
        else if (!_statsService.IsArticleViewed(article.Id, LoginManager.CurrentUser.Id))
        {
            divArticleElement = "unread-item";
        }
        if (article.ArticleType == ArticleType.bulletin)
        {
            divArticleElement = "factoid";
        }




        <div id="DivArticleElement_@(article.Id)" class="list-group-item alt-color row @divArticleElement @( article.ArticleType == ArticleType.group ? "important" : string.Empty)">
            @*  @article.ArticleType *@

            <div class="no-padding full-width-partial">

                <div class="pull-left list-group-item-banners">
                    @if (divArticleElement == "factoid")
                    {
                        <span class="btn btn-info btn-danger">
                            FACT
                        </span>
                    }
                    @if (divArticleElement == "updated-item")
                    {
                        <span class="btn btn-info btn-danger">
                            UPDATED
                        </span>
                    }
                    else if (divArticleElement == "new-item")
                    {
                        <span class="btn btn-info btn-danger">
                            NEW
                        </span>
                    }
                    else if (divArticleElement == "unread-item")
                    {
                        <span class="btn btn-info btn-danger">
                            UNREAD
                        </span>
                    }
                    @if (article.ActionDate > DateTime.Now)
                    {
                        <span class="btn btn-info btn-danger">
                            ACTION REQUIRED
                        </span>
                    }

                </div>

                <div class="pull-left article-number-and-date">
                    <div class="pull-left">
                        <span class="article-number">
                            @article.BrandArticleNumber
                        </span>
                    </div>
                    <div class="pull-left">
                        <h4 class="date">
                            @Html.DateFormat(article.LiveFrom)
                            @if (article.VersionDate.HasValue && article.LiveFrom != article.VersionDate)
                            {
                                <span class="_mobileHide">
                                    &dash;
                                    Last updated @Html.DateTimeAgo(article.VersionDate)
                                </span>
                            }
                        </h4>
                    </div>
                </div>

                <div class="pull-right btn-group spaced add-tools" role="group">


                    @{

                        var tooltipText = "Favourited by " + article.FavCount + " people";
                        if (article.FavCount == 1)
                        {
                            tooltipText = "Favourited by " + article.FavCount + " person";
                        }

                        if (article.IsFavoriteForCurrentUser)
                        {
                            <a class="btn btn-default" href="#" data-favourite="true" data-urlslug="@article.Id" data-toggle="tooltip" title="@tooltipText">
                                <i class="fa fa-star"></i>
                                <span class="favcount" data-count="@article.FavCount"></span>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="#" data-favourite="false" data-urlslug="@article.Id" data-toggle="tooltip" title="@tooltipText">
                                <i class="fa fa-star-o"></i>
                                <span class="favcount" data-count="@article.FavCount"></span>
                            </a>
                        }
                    }

                    @{
                        var readingListText = "Added to " + article.FavCount + " peoples reading list";
                        if (article.FavCount == 1)
                        {
                            readingListText = "Added to " + article.FavCount + " persons reading list";
                        }
                    }

                    <button class="btn btn-default" data-bind="click: function(){ showDialog(true); articleUrlSlug('@article.Id'); }" data-toggle="tooltip" title="@readingListText">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="readinglistcount" id="@(article.Id)RL" data-count="@article.ReadingListCount"></span>
                    </button>

                    @if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.UserReading && ViewBag.ReadingList.UserId == LoginManager.CurrentUser.Id)
                    {
                        <a class="btn btn-danger" href="javascript:removeArticleFromReadingList('@article.Id')" data-toggle="tooltip" data-placement="top" title="Remove From The List">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Remove
                        </a>
                    }
                </div>

                <div class="clearfix"></div>

                <h2>
                    <a href="@url">
                        @article.Title
                    </a>
                </h2>

                <div class="clearfix"></div>

                @if (article.PrimaryMedia != null)
                {
                    if (article.ArticleType == ArticleType.document && article.PrimaryMedia.Hosting == MediaHosting.Document)
                    {

                        string extension = System.IO.Path.GetExtension(article.PrimaryMedia.FileName).Substring(1);
                        <div class="thumbnail">
                            <div class="document-group text-center @extension">
                                <h3>
                                    <a href="@Url.Action("download", "Download", new {filename = @article.PrimaryMedia.FileName, urlslug = article.Title})">
                                        @switch (extension)
                                        {
                                            case "xlsx":
                                                <i class="fa fa-file-excel-o"></i>
                                                break;
                                            case "pdf":
                                                <i class="fa fa-file-pdf-o"></i>
                                                break;
                                            case "docx":
                                                <i class="fa fa-file-word-o"></i>
                                                break;
                                        }
                                        @article.PrimaryMedia.Title
                                    </a>
                                </h3>
                                <div class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary btn-lg nrDownload" href="@Html.GetDocumentUri(article.PrimaryMedia.Id, GlobalVariables.CurrentBrand, true)">
                                            <i class="fa fa-cloud-download"></i>
                                        </a>
                                        <a class="btn btn-primary btn-lg nrOpenDownload" href="@Html.GetDocumentUri(article.PrimaryMedia.Id, GlobalVariables.CurrentBrand, false)" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (article.PrimaryMedia.Hosting == MediaHosting.Local)
                    {
                        <div class="col-md-6 no-padding">
                            <p class="standfirst">
                                @article.StandFirst
                            </p>
                        </div>

                        <div class="col-md-6 thumbnail">
                            <a href="@url">
                                @Html.GetMedia(itemMediaProfile, article.PrimaryMedia, GlobalVariables.CurrentBrand, profileConfig.Height, profileConfig.Width, true, false, false)
                            </a>
                        </div>
                    }

                    else
                    {
                        <div class="col-md-6 no-padding">
                            <p class="standfirst">
                                @article.StandFirst
                            </p>
                        </div>

                        <div class="col-md-6 thumbnail">
                            @Html.GetMedia(itemMediaProfileSmall, article.PrimaryMedia, GlobalVariables.CurrentBrand, profileConfigSmall.Height, profileConfigSmall.Width, true, false, false)
                        </div>
                    }

                }
                else
                {
                    if (@article.ArticleType == ArticleType.bulletin)
                    {
                        <p class="standfirst">
                            @Html.Raw(article.Body)
                        </p>
                    }
                    else
                    {
                        <p class="standfirst">
                            @article.StandFirst
                        </p>
                    }
                }


                <div class="clearfix"></div>

                @if (Model.ShowTags)
                {
                    <div class="btn-group spaced altcolors" role="group" aria-label="...">
                        <label>
                            <i class="fa fa-tags"></i>
                        </label>
                        @foreach (var tag in article.RelatedTags.OrderBy(x => x.DisplayText))
                        {
                            <a class="btn btn-default" href="/hub/@tag.UrlSlug">@tag.DisplayText</a>
                        }
                    </div>
                    <div class="clearfix"></div>
                }

            </div>

        </div>

    }


    <!-- ko foreach: news -->
    <div data-bind="template: { name: 'news-template' }"></div>
    <!--/ko-->

    <div class="clearfix"></div><!-- ./ end of repeater run -->

    if (clickformoreshow)
    {
        <!-- ko if: noMoreNews() -->
        <div class="row text-center click-for-more">
            <a href="#" class="btn btn-lg btn-primary" data-bind="click: getNews">
                Click for more
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <!--/ko-->
        <!-- ko ifnot: noMoreNews() -->
        <div class="row text-center click-for-more">
            @*<h6>
                    No more results
                </h6>*@
        </div>
        <!--/ko-->
    }

}
else
{
    <div class="panel panel-default legend">
        <div class="alert alert-info" role="alert">
            <p>No results found.</p>
            @if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.None)
            {
                <p>Your search did not return any News results.</p>
            }
            else if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.UserFav)
            {
                <p>You don’t have any favourite articles. Click the <i class="fa fa-star-o"></i> icon next to any story to add it to your favourites, where you’ll be able to access it easily in future</p>
            }
            else if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.UserReading)
            {
                <p>You don't have any articles saved in the reading list</p>
            }
            else if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.History)
            {
                <p>You didn't see any article</p>
            }
        </div>
    </div>
}

<script type="text/javascript">

    var newsAction = {};

    newsAction.getNewsUrl = "@(Model.BaseUrl)";
    newsAction.paged = @((Model.TotalItemCount > 12).ToString().ToLower());
    newsAction.count = @(Model.TotalItemCount);
</script>


