﻿@using ITOK.Core.Common.Extensions
@using ITOK.Core.Common.Utilities
@using ITOK.Core.Services.Core
@using ITOKFrontend.Models.Constants
@model ITOKFrontend.Models.ArticleFilterModel
@{
    var clickformoreshow = true;
    var _statsService = new StatsService(new ITOK.Core.Data.MongoRepository());

    const MediaProfile itemMediaProfile = ITOK.Core.Common.Constants.MediaProfile.size_600x300;

    const MediaProfile itemMediaProfileSmall = ITOK.Core.Common.Constants.MediaProfile.size_300x200;


    var profileConfig = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfile);


    var profileConfigSmall = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfileSmall);

}

<div class="clearfix"></div>
@if (Model.FilterType != ArticleFilterType.Breifing || Model.TotalItemCount == 0)
{
    <h4 class="total-results-returned">
        Total results returned: @Model.TotalItemCount
    </h4>
}


@if (Model.Articles != null && Model.Articles.Any() && Model.Articles.First() != null)
{

    foreach (var article in Model.Articles)
    {
        var url = ArticleUtilities.GetArticleUri(article);

        if (!string.IsNullOrEmpty(Model.Filter))
        {
            url += "?hub=" + Model.Filter;
        }
        var divArticleElement = "";

        if (article.VersionDate > LoginManager.CurrentUser.LastLoginDate)
        {
            divArticleElement = article.LiveFrom != article.VersionDate ? "updated-item" : "new-item";
        }
        else if (!_statsService.IsArticleViewed(article.Id, LoginManager.CurrentUser.Id))
        {
            divArticleElement = "unread-item";

        }
        

        <div id="DivArticleElement_@(article.Id)" class="list-group-item alt-color row @divArticleElement @( article.ArticleType == ArticleType.group ? "important" : string.Empty)">

            <div class="pull-left list-group-item-banners">

                @switch (divArticleElement)
                {
                    case "updated-item":
                        <span class="btn btn-info">
                                    UPDATED
                                </span>
                        break;
                    case "new-item":
                        <span class="btn btn-primary new">
                                NEW
                            </span>
                        break;
                    case "unread-item":
                        <span class="btn btn-info btn-danger">
                                UNREAD
                            </span>
                        break;
                }
                @if (article.ActionDate > DateTime.Now)
                    {
                    <span class="btn btn-info btn-danger">
                        ACTION REQUIRED
                    </span>
                }

            </div>

            
            <div class="pull-left article-number-and-date">
                <div class="pull-left">
                    <span class="article-number">
                            @article.BrandArticleNumber
                        </span>
                </div>
                <div class="pull-left">
                    <h4 class="date">
                        @Html.DateFormat(article.LiveFrom)

                    </h4>
                </div>
            </div>

            <div class="clearfix"></div>
            <h2>
                <a href="@url">
                    @article.Title
                </a>
            </h2>

            <div class="clearfix"></div>
            <p class="standfirst">
                @article.StandFirst
            </p>

            <div class="clearfix"></div>

        </div>



    }

}
else
{
    <div class="panel panel-default legend">
        <div class="alert alert-info" role="alert">
            <p>No results found.</p>
            @if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.None)
            {
                <p>Your search did not return any News results.</p>
            }
            else if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.UserFav)
            {
                <p>You don’t have any favourite articles. Click the * icon next to any story to add it to your favourites, where you’ll be able to access it easily in future</p>
            }
            else if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.UserReading)
            {
                <p>You don't have any articles saved in the reading list</p>
            }
            else if (Model.FilterType == ITOKFrontend.Models.Constants.ArticleFilterType.History)
            {
                <p>You didn't see any article</p>
            }
        </div>
    </div>
}



