﻿@model ITOKFrontend.Models.MenuTopicsModel

@*@{
    var count = 1;
    var tabActive = "";
}*@

<div class="sidebar-nav-section">
    <div class="aside nav-sidebar">

        <div class="clearfix"></div>

        <!-- Nav tabs -->
        <ul class="sidebar-menu-sec">
            <li role="presentation">
                <span>
                    Events <i class="fa fa-caret-down pull-right"></i>
                </span>

                <ul class="submenu" id="Event">
                    @foreach (var child in Model.EventTags.OrderBy(i => i.DisplayText))
                    {
                        <li class="col-md-12 col-sm-12 col-xs-12">
                            <a href="/hub/index?e=@child.UrlSlug">
                                @child.DisplayText
                            </a>
                        </li>
                    }
                </ul>
            </li>
            <li role="presentation">
                <span>
                    Areas <i class="fa fa-caret-down pull-right"></i>
                </span>
                <ul class="submenu" id="Area">
                    @foreach (var child in Model.AreaTags.OrderBy(i => i.DisplayText))
                    {
                        <li class="col-md-12 col-sm-12 col-xs-12">
                            <a href="/hub/index?a=@child.UrlSlug">
                                @child.DisplayText
                            </a>
                        </li>
                    }
                </ul>

            </li>
            <li role="presentation" class="active">
                <span class="profile-span">
                    Profile 
                </span>
                <ul class="submenu" style="display:block">
                    <li class="col-md-12 col-sm-12 col-xs-12">
                        <a href="/profile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            My profile
                        </a>
                    </li>
                    <li class="col-md-12 col-sm-12 col-xs-12">
                        <a href="/profile/favorites" id="profileFavouriteMenu">
                            <i class="fa fa-star-o"></i>
                            My favourite articles
                        </a>
                    </li>
                    <li class="col-md-12 col-sm-12 col-xs-12">
                        <a href="/readinglist" id="profileReadingListMenu">
                            <i class="fa fa-bookmark-o"></i>
                            My folders
                        </a>
                    </li>
                    <li class="hidden">
                        <a href="/profile/history" id="profileHistoryMenu">
                            <i class="fa fa-history" aria-hidden="true"></i>
                            History
                        </a>
                    </li>
                    <li class="col-md-12 col-sm-12 col-xs-12">
                        <a href="#" id="startIntro">
                            <i class="fa fa-question" aria-hidden="true"></i>
                            Help
                        </a>
                    </li>
                    <li class="col-md-12 col-sm-12 col-xs-12">
                        <a href="mailto:knowledgecentre@iaaf.org?subject=Question from IAAF Knowledge Centre" id="startIntro">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            Contact us
                        </a>
                    </li>
                    @if (LiveUser.CanDoAny(Permission.UseCMS))
                    {
                        <li class="col-md-12 col-sm-12 col-xs-12">
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["CMSurl"]">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                CMS
                            </a>
                        </li>
                    }
                    <li class="col-md-12 col-sm-12 col-xs-12">
                        @Html.ActionLink("Sign Out", "Logout", "User")
                    </li>
                </ul>
            </li>

        </ul>

    </div>

    </div>









