﻿@using ITOK.Core.Common.Extensions

@model IList<ITOK.Core.Data.Model.Article>
@{
}

@if (Model != null && Model.Any())
{

    <div class="list-group">

        @foreach (var article in Model)
        {

            var url = "/post/" + article.UrlSlug;

            <div class="list-group-item">

                <div class="col-md-12 row">
                    <a href="@url">
                        @article.Title
                    </a><br />
                    <small>
                        <i class="fa fa-clock-o"></i>
                        Last Updated: @Html.DateTimeAgo(article.VersionDate)
                    </small>
                </div>
            </div>

        }
    </div>
}       