﻿@model List<ITOK.Core.Data.Model.Tags>
@{
}

<div id="relatedtagscollapse" class="collapse topics">

    @if (Model != null)
    {
        if (Model.ToList().Any())
        {
            <div class="row" id="relatedtags">

                <div class="btn-group">
                    @foreach (var tag in Model.ToList())
                    {
                        <a class="btn btn-default" href="/hub/@tag.UrlSlug">
                            @tag.DisplayText
                        </a>
                    }
                </div>

            </div>
        }
        else
        {
            <p>
                No tags were found.
            </p>
        }
    }

</div>
