﻿@using ITOK.Core.Common.Extensions
@using ITOK.Core.Common.Utilities
@using ITOK.Core.Services.Core
@model IList<ITOK.Core.Data.Model.Article>
@{
    var clickformoreshow = true;
    var _statsService = new StatsService(new ITOK.Core.Data.MongoRepository());

    const MediaProfile itemMediaProfile = ITOK.Core.Common.Constants.MediaProfile.size_600x300;

    const MediaProfile itemMediaProfileSmall = ITOK.Core.Common.Constants.MediaProfile.size_300x200;


    var profileConfig = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfile);


    var profileConfigSmall = ITOK.Core.Common.Config.ITOKConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfileSmall);

}

<div class="clearfix"></div>



@if (Model != null && Model.Any() && Model.First() != null)
{

    foreach (var article in Model)
    {
        var url = ArticleUtilities.GetArticleUri(article);

       
        var divArticleElement = "";

        if (article.VersionDate > LoginManager.CurrentUser.LastLoginDate)
        {
            divArticleElement = article.LiveFrom != article.VersionDate ? "updated-item" : "new-item";
        }
        else if (!_statsService.IsArticleViewed(article.Id, LoginManager.CurrentUser.Id))
        {
            divArticleElement = "unread-item";

        }
        

        <div class="list-group-item alt-color row col-lg-4 col-md-4 col-sm-6 col-xs-12 @divArticleElement @( article.ArticleType == ArticleType.group ? "important" : string.Empty)">

            <div class="pull-left list-group-item-banners">

                @switch (divArticleElement)
                {
                    case "updated-item":
                        <span class="btn btn-info">
                                    UPDATED
                                </span>
                        break;
                    case "new-item":
                        <span class="btn btn-primary new">
                                NEW
                            </span>
                        break;
                    case "unread-item":
                        <span class="btn btn-info btn-danger">
                                UNREAD
                            </span>
                        break;
                }


            </div>

            
            <div class="pull-left article-number-and-date">
                <div class="pull-left">
                    <span class="article-number">
                            @article.BrandArticleNumber
                        </span>
                </div>
                <div class="pull-left">
                    <h4 class="date">
                        @Html.DateFormat(article.LiveFrom)

                    </h4>
                </div>
            </div>

            <div class="clearfix"></div>
            <h2>
                <a href="@url">
                    @article.Title
                </a>
            </h2>

            <div class="clearfix"></div>
            <p class="standfirst">
                @article.StandFirst
            </p>

            <div class="clearfix"></div>

        </div>



    }

}

<div class="clearfix"></div>

