﻿@model ITOKFrontend.Models.MenuTopicsModel

@{
    var count = 1;
    var tabActive = "";
}

<div>
    PICK ME!
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var tag in Model.ParentTags.OrderBy(i => i.Order))
        {
            if (count == 1)
            {
                tabActive = "active";
            }
            else
            {
                tabActive = "";
            }
            <li role="presentation" class="@(tabActive)">
                <a href="#tab-@tag.UrlSlug" aria-controls="tab-@tag.UrlSlug" role="tab" data-toggle="tab">
                    @tag.DisplayText
                </a>
            </li>
            { count++; }
        }
    </ul>
    @{ count=1; }
    <!-- Tab panes -->
    <div class="tab-content tab-topics">
        @foreach (var tag in Model.ParentTags.OrderBy(i => i.Order))
        {
            if (count == 1)
            {
                tabActive = "active";
            }
            else
            {
                tabActive = "";
            }
            <div role="tabpanel" class="tab-pane @(tabActive)" id="tab-@tag.UrlSlug">
                <div class="btn-group">
                    @foreach (var child in Model.AllTags.Where(i => i.ParentId == tag.Id).OrderBy(i => i.Order))
                    {
                        <a class="btn btn-default" href="/hub/@child.UrlSlug">
                            @child.DisplayText
                        </a>
                    }
                </div>
            </div>
                    { count++; }
        }
    </div>

</div>




