﻿@using ITOK.Core.Data.Model
@model List<Weblink>

<h3 class="aside">
    Weblinks
</h3>

<div class="btn-group weblinks-dropdown">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Please select <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-fixed">
        @foreach (var link in Model)
        {
            <li>
                <a href="http://@link.Url" target="_blank">
                    @link.DisplayText
                </a>
            </li>
        }
    </ul>
</div>
