﻿@model ITOKFrontend.Models.YourTopicViewModel


<h3 class="aside">
    My topics
</h3>

<div class="topics">
    <h4>
        (xx) is the number of unread articles from past two weeks
    </h4>
 
        <div class="clearfix"></div>
        
        <div class="tags">
            @foreach (var topic in Model.Topics.ToList().Where(x => x.Forced == false).OrderBy(x => x.DisplayText))
            {
                <a href="/hub/@topic.UrlSlug">
                        @topic.DisplayText (@topic.UnreadCount)
                </a>
            }
        </div>
   
 
</div>