﻿@using ITOKFrontend.Models;
@model FavouriteTagsModel
@{
    ViewBag.Title = "";
}

<h1>
    Your homepage is tailored to show you the content you need
</h1>
<p>
    Click any or all of the topics below to follow updates in those areas

</p>
<div class="clearfix"></div>
<div class="checklist">
    @foreach (var listItem in Model.jobRoleItems.OrderBy(x => x.Text))
    {
        <div class="col-md-6 col-sm-6 col-xs-6">
            <label>
                <input type="checkbox" name="favouriteTags" value="@listItem.Value" id='@("JR_" + @listItem.Value)' />
                <span>
                    @listItem.Text
                </span>
            </label>
        </div>
    }
</div>