﻿@model ITOK.Core.Data.DTOs.GotItStat
<label class="btn btn-success btn-lg">
    <input type="checkbox" autocomplete="off" checked>
    <i class="fa fa-thumbs-up"></i>
    I have got it
    <input type="button" id="btnYes" value="Yes" />
</label>
<label class="btn btn-danger btn-lg ">
    <input type="checkbox" autocomplete="off">
    <i class="fa fa-thumbs-down"></i>
    I have not got it
    <input type="button" id="btnNo" value="No" />
</label>
@if (Model == null)
{
<script>
    $("#btnYes").click(function () {
            GotIt(1);
    });
    $("#btnNo").click(function () {
            GotIt(0);
    });
</script>
}
else
{
    <script>
    $("#btnYes").click(function () {

            alert("You have already rated this item");
    });
    $("#btnNo").click(function () {

            alert("You have already rated this item");
    });
    </script>
}