﻿@using ITOK.Core.Common.Extensions
@using ITOK.Core.Common.Utilities
@model System.Collections.Generic.IList<ITOK.Core.Data.Model.Article>

@if (Model.Any())
{
    <h4>
        Related Pages
    </h4>

    <ul class="related-pages list-unstyled">
        @foreach (var item in Model)
        {
            var url = ArticleUtilities.GetArticleUri(item);
            <li>
                <a href="@url">
                    @item.Title
                    <span>
                        @Html.DateFormat(item.LiveFrom)
                    </span>
                </a>
            </li>

        }
    </ul>
}

