﻿<div class="col-md-12 row">

    <h4>
        Popular topics
    </h4>

    <div class="tab-content">

        @{ Html.RenderAction("PopularHubPartial", "Hub", new { jobRoleId = LoginManager.CurrentUser.JobRole }); }
    </div>
</div>