﻿<div class="col-md-12 row">

    <h4>
        Popular Articles
    </h4>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active">
            <a href="#role" aria-controls="role" role="tab" data-toggle="tab">
                In my role
            </a>
        </li>
        <li role="presentation">
            <a href="#60mins" aria-controls="60mins" role="tab" data-toggle="tab">
                In the last 60 minutes
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="role">
            @{ Html.RenderAction("PopularArticlesPartial", "Article", new { jobRoleId = LoginManager.CurrentUser.JobRole }); }
        </div>
        <div role="tabpanel" class="tab-pane " id="60mins">
            @{ Html.RenderAction("PopularArticlesPartial", "Article", new { }); }
        </div>
    </div>
</div>