﻿@using ITOKFrontend.Models
@model ArticlePreviousNextModel

<nav class="text-center">

    <ul class="pagination pagination-lg">
        @if (Model.previousArticle != null)
            {
            var previousUrl = "/post/" + Model.previousArticle.UrlSlug;

            if (!string.IsNullOrEmpty(Model.Filter))
                {
                previousUrl += "?hub=" + Model.Filter + "&skip=" + ViewBag.skip;
                }
            <li>
                <a href="@previousUrl">
                    <i class="fa fa-chevron-left"></i>
                    @if (!Model.iconOnly)
                        {
                        <text>Previous Article</text>
                        }
                </a>
            </li>
            }
        @if (Model.nextArticle != null)
            {
            var nextUrl = "/post/" + Model.nextArticle.UrlSlug;

            if (!string.IsNullOrEmpty(Model.Filter))
                {
                nextUrl += "?hub=" + Model.Filter + "&skip=" + ViewBag.skip;
                }
            <li>
                <a href="@nextUrl">
                    @if (!Model.iconOnly)
                        {
                        <text>Next Article</text>
                        }
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            }
    </ul>
</nav>