﻿@using ITOKFrontend.Models
@model RelatedTagsModel
@{

    var brand = Brand.itok;


}
@*<button class="btn btn-default btn-lg collapsed" data-toggle="collapse" data-target="#relatedtagscollapse">
    <i class="fa fa-tags"></i>
    <span>
        Related topics
    </span>
</button>*@

<div id="relatedtagscollapse" class="collapse topics">

    @*<h4>
        Filter your content
    </h4>*@

    <p>
        Refine your content by clicking on one of the topics below, or type to find the subject you are after.
    </p>

    <div class="clearfix"></div>

    <div class="form-group has-feedback">
        <input autocomplete="off" class="form-control" data-bind="value: query, valueUpdate: 'keyup'" placeholder="Start typing to filter Topics" />
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    </div>

    <div class="clearfix"></div>

    <div class="row" id="relatedtags">

        <!-- ko ifnot: query() === "" -->
        <div class="panel-teaser">
            <!-- ko if: searchResults().length > 0 -->
            <div class="btn-group spaced " data-bind="foreach: searchResults">

                <!-- ko if: tagSlug !== '@Model.filter' -->
                <a class="btn btn-link btn-clean" href="/hub/" data-bind="attr : { 'href' : '/hub/' + '@Model.filter' + '+' + tagSlug, 'title' : 'View Topics labelled ' + tagName }">
                    <i class="fa fa-plus"></i>
                    <!-- ko text: tagName --><!-- /ko -->
                    <span>
                        (<!-- ko text: tagCount --><!-- /ko -->)
                    </span>
                </a>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko ifnot: searchResults().length > 0 -->
            <div class="alert alert-info hide" role="alert" data-bind="attr: { 'class' : query() !== '' ? 'alert alert-info' : 'alert alert-info hide' }">
                No Topics were found. Please refine your search.
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko if: query() === ""  -->
        <div class="panel-teaser">
            <div class="btn-group spaced ">
                <!-- ko foreach: searchResults -->
                <!-- ko if: $index() <= 9 -->
                <!-- ko if: tagSlug !== '@Model.filter' -->
                <a class="btn btn-link btn-clean" href="/hub/" data-bind="attr : { 'href' : '/hub/' + '@Model.filter' + '+' + tagSlug, 'title' : 'View Topics labelled ' + tagName }">
                    <i class="fa fa-plus"></i>
                    <!-- ko text: tagName --><!-- /ko -->
                    <span>
                        (<!-- ko text: tagCount --><!-- /ko -->)
                    </span>
                </a>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: query() === ""  -->
                <!-- ko if: searchResults().length > 9 -->
                <div class="clearfix"></div>
                <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#relatedTagsModal">
                    View more related topics &nbsp;
                    <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                </button>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>

</div>

<!-- ko if: query() === ""  -->
<!-- ko if: searchResults().length > 9 -->
<!-- Modal -->
<div class="modal fade" id="relatedTagsModal" tabindex="-1" role="dialog" aria-labelledby="relatedTagsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    View more Related Topics
                </h4>
            </div>
            <div class="modal-body">
                <!-- ko foreach: searchResults -->
                <!-- ko if: $index() > 9 -->
                <!-- ko if: tagSlug !== '@Model.filter' -->
                <a class="btn btn-link btn-clean" href="/hub/" data-bind="attr : { 'href' : '/hub/' + '@Model.filter' + '+' + tagSlug, 'title' : 'View Topics labelled ' + tagName }">
                    <i class="fa fa-plus"></i>
                    <!-- ko text: tagName --><!-- /ko -->
                    <span>
                        (<!-- ko text: tagCount --><!-- /ko -->)
                    </span>
                </a>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- /ko -->
<!-- /ko -->

<script type="text/javascript">

    var relatedTags = {};
    relatedTags.tagsUrl = '/hub/getrelatedtags/@Model.filter';
    relatedTags.existingFilter = '@Model.filter';

</script>