﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unauthorised";
}

<hgroup>
    <h1 class="text-danger">Unauthorised.</h1>
    <h2 class="text-danger">You do not have permission to change this.</h2>
</hgroup>