@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-barbell:before {
	content: "\e000";
}
.flaticon-basketball35:before {
	content: "\e001";
}
.flaticon-biceps:before {
	content: "\e002";
}
.flaticon-canopy:before {
	content: "\e003";
}
.flaticon-championship8:before {
	content: "\e004";
}
.flaticon-climbing6:before {
	content: "\e005";
}
.flaticon-drop19:before {
	content: "\e006";
}
.flaticon-dumbbell21:before {
	content: "\e007";
}
.flaticon-finish:before {
	content: "\e008";
}
.flaticon-fishing11:before {
	content: "\e009";
}
.flaticon-floating1:before {
	content: "\e00a";
}
.flaticon-guru1:before {
	content: "\e00b";
}
.flaticon-guru:before {
	content: "\e00c";
}
.flaticon-jump7:before {
	content: "\e00d";
}
.flaticon-jumping27:before {
	content: "\e00e";
}
.flaticon-leg5:before {
	content: "\e00f";
}
.flaticon-man362:before {
	content: "\e010";
}
.flaticon-mountain24:before {
	content: "\e011";
}
.flaticon-padding:before {
	content: "\e012";
}
.flaticon-ping3:before {
	content: "\e013";
}
.flaticon-regular2:before {
	content: "\e014";
}
.flaticon-rugby98:before {
	content: "\e015";
}
.flaticon-runner5:before {
	content: "\e016";
}
.flaticon-running30:before {
	content: "\e017";
}
.flaticon-skidiving:before {
	content: "\e018";
}
.flaticon-skiing7:before {
	content: "\e019";
}
.flaticon-skydiving2:before {
	content: "\e01a";
}
.flaticon-soccer43:before {
	content: "\e01b";
}
.flaticon-soccer44:before {
	content: "\e01c";
}
.flaticon-sport11:before {
	content: "\e01d";
}
.flaticon-sportive36:before {
	content: "\e01e";
}
.flaticon-stopwatch7:before {
	content: "\e01f";
}
.flaticon-swimming20:before {
	content: "\e020";
}
.flaticon-tennis18:before {
	content: "\e021";
}
.flaticon-time13:before {
	content: "\e022";
}
.flaticon-trekking:before {
	content: "\e023";
}
.flaticon-trophy45:before {
	content: "\e024";
}
.flaticon-walking17:before {
	content: "\e025";
}
.flaticon-weightlift:before {
	content: "\e026";
}
.flaticon-yoga12:before {
	content: "\e027";
}
