﻿@using ITOK.Core.Data.Model
@model AnswerRow
@{
    if (string.IsNullOrEmpty(Model.MvcItemName))
    {
        throw new Exception("AnswerRow.MvcItemName cannot be null or empty.");
    }
}

@if (Model.AnswerDataType == AnswerDataType.FreeText)
{
    <input type="text" name="@Model.GetMvcItemName("AnswerString")" class="form-control inputHeight" value="@Model.AnswerString">
}
else if (Model.AnswerDataType == AnswerDataType.YesNo)
{
    <input type="checkbox" class="checkboxClass" name="@Model.GetMvcItemName("AnswerBool")" value="@Model.AnswerBool.ToString()" @(Model.AnswerBool ? "checked=checked" : "")>
}
else if (Model.AnswerDataType == AnswerDataType.Numbers)
{
    <input type="number" name="@Model.GetMvcItemName("AnswerNumber")" questionVerticallyIndex="@Model.QuestionVerticallyIndex" questionHorizontallyIndex="@Model.QuestionHorizontallyIndex"  class="form-control inputHeight" value="@Model.AnswerNumber">
}
else if (Model.AnswerDataType == AnswerDataType.Date)
{
    <input type="text" name="@Model.GetMvcItemName("AnswerDate")" class="form-control inputHeight datetimePicker" value="@Model.AnswerDate">
}
else if (Model.AnswerDataType == AnswerDataType.Money)
{

}
else if (Model.AnswerDataType == AnswerDataType.CalculatedVertically)
{
    <input type="text" name="@Model.GetMvcItemName("AnswerString")" id="calculatedVertically-@Model.QuestionVerticallyIndex" class="form-control inputHeight" value="" disabled>
}
else if (Model.AnswerDataType == AnswerDataType.CalculatedHorizontally)
{
    <input type="text" name="@Model.GetMvcItemName("AnswerString")" id="calculatedHorizontally-@Model.QuestionHorizontallyIndex" class="form-control inputHeight" value="" disabled>
}