﻿<div id="row">
    <div class="affix-row row">
        <div class="pull-right">
            <label class="control-label">
                &nbsp;
            </label>
            <div class="btn-group pull-left margin-right-10">
                <button class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel">Cancel</button>
                <button class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save">Save</button>
            </div>
        </div>
    </div>
</div>
