﻿@using ITOK.Core.Data.Model;

@model QuestionTemplate

@{
    ViewBag.Title = "Template1";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var firstQuestions = Model.Questions.First();
}

<style>
    .header {
        background-color: aqua;
    }

    .inputHeight {
        height: 20px;
    }

    .totalColor {
        background-color: bisque;
        font-weight: bold;
    }

    .modal-dialog {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>GetQuestionDetail</h2>

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Carpool Usage per day</h4>
            </div>
            @using (Html.BeginForm("StaffHiredInLOC", "QuestionTemplates", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="tamplate-section staffhired-template">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.isReadOnly)
                        <div class="table-responsive fixedLeftHeader">
                            <div class="table-wrapper-sec">
                                <table class="table staffhired-table">
                                    <tr class="bg-color tr-header">
                                        <td rowspan="2"></td>
                                        <td colspan="10">Days Before Event</td>
                                        <td colspan="14">Days during event and post-event</td>
                                    </tr>
                                    <tr>
                                        @foreach (var itemAnswer in firstQuestions.AnswersRows)
                                        {
                                            <td class="@(itemAnswer.AnswerDataType == AnswerDataType.CalculatedHorizontally ? "totalColor" : "")">@itemAnswer.Title</td>
                                        }
                                    </tr>
                                    @for (int questionIndex = 0; questionIndex < Model.Questions.Count; questionIndex++)
                                    {
                                        var itemQuestion = Model.Questions[questionIndex];
                                        itemQuestion.MvcItemName = string.Format("Model.Questions[{0}]", questionIndex);
                                        <tr class="@(itemQuestion.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "")">
                                            <td class="bg-color tr-header">
                                                <input type="hidden" name='@itemQuestion.GetMvcItemName("Question")' value="@itemQuestion.Question" />
                                                <input type="hidden" name='@itemQuestion.GetMvcItemName("MvcItemName")' value="@itemQuestion.MvcItemName" />
                                                @itemQuestion.Question
                                            </td>

                                            @for (int answerIndex = 0; answerIndex < itemQuestion.AnswersRows.Count; answerIndex++)
                                            {
                                                var answer = itemQuestion.AnswersRows[answerIndex];
                                                answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                                answer.QuestionVerticallyIndex = questionIndex;
                                                answer.QuestionHorizontallyIndex = answerIndex;

                                                <td class="@(answer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "")">
                                                    <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control inputHeight" value="@answer.Title">
                                                    <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control inputHeight" value="@answer.AnswerDataType">
                                                    <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control inputHeight" value="@answer.MvcItemName">
                                                    <input type="hidden" name="@answer.GetMvcItemName("QuestionVerticallyIndex")" class="form-control inputHeight" value="@answer.QuestionVerticallyIndex">
                                                    @Html.Partial("_AnswerRow", answer)
                                                </td>
                                            }
                                        </tr>
                                    }
                                    <tr>
                                        <td>Total</td>

                                        <td colspan="10" style="text-align: center;"><input type="text" id="calculatedGroupHorizontally-0" class="form-control inputHeight" value="0" disabled=""></td>
                                        <td colspan="14" style="text-align: center;"><input type="text" id="calculatedGroupHorizontally-1" class="form-control inputHeight" value="0" disabled=""></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save">Save</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("_Javascripts")


