﻿@using ITOK.Core.Data.Model;

@model QuestionTemplate

@{
    ViewBag.Title = "Template1";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var firstQuestions = Model.Questions.First();
}

<style>
    .header {
        background-color: aqua;
    }

    .inputHeight {
        height: 20px;
    }

    .totalColor {
        background-color: bisque;
        font-weight: bold;
    }

    .modal-dialog {
        width: 100%;
    }
</style>

<h2>GetQuestionDetail</h2>

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Summary of Transportation per client group</h4>
            </div>
            @using (Html.BeginForm("TransportationTemplate", "QuestionTemplates", FormMethod.Post))
            {
            <div class="modal-body">
                <div class="overflow-scroll">
                    <div class="tamplate-section transportation-template">
                        @Html.AntiForgeryToken()

                        <div class="questions-item-header">
                            <div class="col-md-3 col-xs-3 questions-header-title">
                            </div>
                            @foreach (var itemAnswer in firstQuestions.AnswersRows)
                            {
                                <div class="col-md-1 col-xs-1 text-center questions-header-title @(itemAnswer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "")">
                                    @itemAnswer.Title
                                </div>

                            }

                        </div>

                        @Html.HiddenFor(x => x.isReadOnly)

                        @for (int questionIndex = 0; questionIndex < Model.Questions.Count; questionIndex++)
                        {
                            var itemQuestion = Model.Questions[questionIndex];
                            itemQuestion.MvcItemName = string.Format("Model.Questions[{0}]", questionIndex);
                            <div class="questions-item">
                                <div class="col-md-3 col-xs-3 header">
                                    <input type="hidden" name='@itemQuestion.GetMvcItemName("Question")' value="@itemQuestion.Question" />
                                    <input type="hidden" name='@itemQuestion.GetMvcItemName("MvcItemName")' value="@itemQuestion.MvcItemName" />
                                    @itemQuestion.Question
                                </div>

                                @for (int answerIndex = 0; answerIndex < itemQuestion.AnswersRows.Count; answerIndex++)
                                {
                                    var answer = itemQuestion.AnswersRows[answerIndex];
                                    answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                    answer.QuestionVerticallyIndex = questionIndex;

                                    <div class="col-md-1 col-xs-1 anwser-list @(answer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "")">
                                        <div class="form-group text-center">
                                            <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control inputHeight" value="@answer.Title">
                                            <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control inputHeight" value="@answer.AnswerDataType">
                                            <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control inputHeight" value="@answer.MvcItemName">
                                            <input type="hidden" name="@answer.GetMvcItemName("QuestionVerticallyIndex")" class="form-control inputHeight" value="@answer.QuestionVerticallyIndex">
                                            @Html.Partial("_AnswerRow", answer)
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save">Save</button>
                </div>
                }
            </div>
    </div>
</div>

@Html.Partial("_Javascripts")


