﻿@using ITOK.Core.Data.Model;

@model QuestionTemplate

@{
    ViewBag.Title = "Template1";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var firstQuestions = Model.Questions.First();
}

<style>
    .header {
        background-color: aqua;
    }

    .inputHeight {
        height: 20px;
    }

    .totalColor {
        background-color: bisque;
        font-weight: bold;
    }

    .modal-dialog {
        width: 100%;
    }
</style>

<h2>GetQuestionDetail</h2>

<div>
    <div class="modal-dialog fixed-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Volunteers per area & Needed by shift</h4>
            </div>
            @using (Html.BeginForm("VolunteersPerArea", "QuestionTemplates", FormMethod.Post))
            {
            <div class="modal-body">
               
                    <div class="tamplate-section volunteers-area">
                        @Html.AntiForgeryToken()

                        <div class="questions-item-header">
                            <div class="col-md-4 col-xs-4 questions-header-title">
                            </div>
                            @foreach (var itemAnswer in firstQuestions.AnswersRows)
                            {
                                <div class="col-md-4 col-xs-4 questions-header-title">
                                    @itemAnswer.Title

                                </div>
                            }
                        </div>
                        @Html.HiddenFor(x => x.isReadOnly)

                        @for (int questionIndex = 0; questionIndex < Model.Questions.Count; questionIndex++)
                        {
                            var itemQuestion = Model.Questions[questionIndex];
                            itemQuestion.MvcItemName = string.Format("Model.Questions[{0}]", questionIndex);
                            <div class="questions-item">
                                <div class="col-md-4 col-xs-4 header">
                                    <input type="hidden" name='@itemQuestion.GetMvcItemName("Question")' value="@itemQuestion.Question" />
                                    <input type="hidden" name='@itemQuestion.GetMvcItemName("MvcItemName")' value="@itemQuestion.MvcItemName" />

                                    @itemQuestion.Question
                                </div>
                                @for (int answerIndex = 0; answerIndex < itemQuestion.AnswersRows.Count; answerIndex++)
                                {
                                    var answer = itemQuestion.AnswersRows[answerIndex];
                                    answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                    <div class="col-md-4 col-xs-4 anwser-list">
                                        <div class="form-group">
                                            <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control inputHeight" value="@answer.Title">
                                            <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control inputHeight" value="@answer.AnswerDataType">
                                            <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control inputHeight" value="@answer.MvcItemName">
                                            @Html.Partial("_AnswerRow", answer)
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save">Save</button>
                </div>
                }
            </div>
    </div>
</div>

@Html.Partial("_Javascripts")


