﻿
<br /><br /><br />
This is just sample page. There is no any funcinality.
<input class="btn btn-primary" type="button" value="TransportationTemplate" onclick="showTransportationTemplate()" data-toggle="modal" data-target="#modalWrapper" />
<input class="btn btn-primary" type="button" value="Volunteers per area" onclick="volunteersPerArea()" data-toggle="modal" data-target="#modalWrapper" />
<input class="btn btn-primary" type="button" value="Staff hired in LOC" onclick="staffHiredInLOC()" data-toggle="modal" data-target="#modalWrapper" />
<input class="btn btn-primary" type="button" value="Site Visits Summary" onclick="siteVisitsSummary()" data-toggle="modal" data-target="#modalWrapper" />
<input class="btn btn-primary" type="button" value="Carpool Usage per day" onclick="carpoolUsagePerDay()" data-toggle="modal" data-target="#modalWrapper" />
<input class="btn btn-primary" type="button" value="Accommodation Form Updated by End of Event" onclick="accommodationFormUpdated()" data-toggle="modal" data-target="#modalWrapper" />

<div id="modalWrapper" class="modal fade">
    @* Inject form here *@
</div>

<script>
    function showTransportationTemplate() {
        $.ajax({
            url: "/QuestionTemplates/GetTransportationTemplate", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function volunteersPerArea() {
        $.ajax({
            url: "/QuestionTemplates/GetVolunteersPerArea", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function staffHiredInLOC() {
        $.ajax({
            url: "/QuestionTemplates/GetStaffHiredInLOC", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function siteVisitsSummary() {
        $.ajax({
            url: "/QuestionTemplates/GetSiteVisitsSummary", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function carpoolUsagePerDay() {
        $.ajax({
            url: "/QuestionTemplates/GetCarpoolUsagePerDay", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function accommodationFormUpdated() {
        $.ajax({
            url: "/QuestionTemplates/GetAccommodationFormUpdated", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }
    


</script>