﻿
<br /><br /><br />
<input type="button" value="TransportationTemplate" onclick="showTransportationTemplate()" data-toggle="modal" data-target="#modalWrapper" />
<input type="button" value="Volunteers per area" onclick="volunteersPerArea()" data-toggle="modal" data-target="#modalWrapper" />

<div id="modalWrapper" class="modal fade">
    @* Inject form here *@
</div>

<script>
    function showTransportationTemplate() {
        $.ajax({
            url: "/QuestionTemplates/GetTransportationTemplate", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function volunteersPerArea() {
        $.ajax({
            url: "/QuestionTemplates/GetVolunteersPerArea", // The method name + paramater
            data: { userId: '1' },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }
</script>