﻿@using CMS.Helpers.HtmlExtensions
@using CMS.Models
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Common.Constants
@using ITOK.Core.Common.Utils
@using ITOK.Core.Services.Security

@model SubmittedMediaEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{

    <!-- ImgAreaSelect -->
    <link href="@Url.CdnContent("~/Scripts/ImgAreaSelect/imgareaselect-animated.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Scripts/ImgAreaSelect/jquery.imgareaselect.min.js")" type="text/javascript"></script>
    <!-- Page styles -->

    <link href="@Url.CdnContent("~/Content/Styles/Form.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.CdnContent("~/Content/Styles/Media.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Scripts/MediaEdit.js")" type="text/javascript"></script>
    @{
        Html.RenderAction("Load", "TagSelector");
    }
    @*@{ Html.RenderAction("Load", "LinkEditor"); }*@

    @*TO DO - apply local scripts - local not working at the moment*@
@*<link href="@Url.CdnContent("~/Assets/Scripts/jquery/jquery-ui-1.11.4.custom/jquery-ui.min.css")" rel="stylesheet" />
<script src="@Url.CdnContent("~/Assets/Scripts/jquery/jquery-ui-1.11.4.custom/jquery-ui.min.js")" type="text/javascript"></script>*@

    <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js" type="text/javascript"></script>




}

@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li>
        <a href="/Media">
            <i class="fa fa-chevron-left"></i>
            Back to list
        </a>
    </li>

    <li class="divider"></li>

    <li role="presentation" class="active">
        <a href="#hostingupload" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-upload"></i>
            Hosting &amp; Upload
        </a>
    </li>
    <li role="presentation">
        <a href="#generalinfo" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            General Info
        </a>
    </li>
    <li class="divider"></li>

}

@section SubSideBar
{
    @{
        Html.RenderPartial("VersionHistory", new VersionHistoryModel(Model.VersionHistory, "Media", "/Media/RevertToVersion"));
    }
}





@{
    Html.RenderPartial("UserResponses", Model.Responses);
}

@*@using (Html.BeginForm("EditAction", "Media", FormMethod.Post, new { name = "editForm", enctype = "multipart/form-data", id = "fileupload" }))*@

@using (Html.BeginForm("EditAction", "Media", FormMethod.Post, new { id = "fileupload", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="row for-header">


        @if (string.IsNullOrEmpty(Model.Media.Id))
        {
            <div class="page-header">
                <h1>
                    New Media Item
                </h1>
            </div>
            <div class="clearfix"></div>
        }
        else
        {

            if (!string.IsNullOrWhiteSpace(Model.Media.FileName) && FileUtilities.FormatIsInGroup(Model.Media.Format, FileFormatGroup.Image))
            {

                <div class="col-md-9">
                    <div class="page-header">
                        <h1>
                            Editing Media Item: @Model.Media.Title
                        </h1>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="@Html.GetMediaUri(MediaProfile.Original, Model.Media)" width="200" alt="Original" class="thumbnail full-width" />
                </div>

            }
            else
            {
                <div class="page-header">
                    <h1>
                        Editing Media Item: @Model.Media.Title
                    </h1>
                </div>
            }
        }

    </div>

    @*<div id="row" data-spy="affix" data-offset-top="100" data-offset-bottom="200">*@

        <div class="row"> @* affix-row  *@


            <div class="pull-left">


                <div class="btn-group pull-left margin-right-10">

                    

                            <input class="btn  btn-lg btn-default" id="cancel" name="submit" type="submit" value="Cancel" />
    <input class="btn  btn-lg btn-primary" id="save" name="submit" type="submit" value="Save" />
                            @if (Model.Media.Status == PublicationStatus.UnPublished || Model.Media.Status == PublicationStatus.Deleted)
                            {
                                <input class="btn btn-default btn-lg" id="publish" name="submit" type="submit" value="Publish" />
                            }
                            else
                            {
                                <input class="btn btn-default btn-lg" id="unPublish" name="submit" type="submit" value="Un-Publish" />
                            }

                       

                </div>


                <div class="form-group pull-left">
                    @if (!string.IsNullOrEmpty(Model.Media.Id))
                    {
                        <textarea id="versionComment" name="versionComment" class="form-control version-comment" placeholder="whats changed?"></textarea>
                    }
                </div>

            </div>


        </div>

    @*</div>*@


    <div class="clearfix"></div>




    <div class="tab-content row">

        <p class="required_label">
            <strong>
                Note:
            </strong>
            Items marked with a
            <span class="required_star">*</span>
            are required.
        </p>

        <div class="clearfix"></div>

        <div role="tabpanel" class="tab-pane active" id="hostingupload">

            <h2>
                Hosting &amp; Upload
            </h2>

            <div class="clearfix"></div>

            <ul class="list-unstyled">
                <li class="form-group">
                    <label for="mediaUpload">
                        Hosting options
                    </label>
                    <select class="form-control" id="mediaHosting" name="Media.Hosting" autofocus>
                        @foreach (MediaHosting val in Enum.GetValues(typeof(MediaHosting)))
                        {
                            if (Model.Media.Hosting == val)
                            {
                                <option selected="selected" value="@val.ToString()">@EnumUtils.GetDescription(val)</option>
                            }
                            else
                            {
                                <option value="@val.ToString()">@EnumUtils.GetDescription(val)</option>
                            }
                        }
                    </select>
                </li>

                    <li class="form-group module-bcg">
                        <label for="mediaUpload">Upload Media</label>
                        <input class="btn btn-lg" type="file" id="mediaUpload" name="mediaUpload" />
                        <input class="btn btn-primary btn-lg" type="submit" value="Upload Media" name="submit" />
                        @Html.HiddenFor(x => x.Media.FileName)
                    </li>


                    @* Jquery File upload *@
                    @*@Html.Partial("MediaFileUploadControl")*@
                    @Html.HiddenFor(x => x.Media.FileName)


                <!-- Only displayed if the uploaded file is an image and MediaHosting is Local -->
                @if (!string.IsNullOrWhiteSpace(Model.Media.FileName))
                {
                    if (FileUtilities.FormatIsInGroup(Model.Media.Format, FileFormatGroup.Video))
                    {
                        <li class="form-group">
                            <label>
                                File info
                            </label>
                            <div>
                                <strong>Type: </strong>Video
                            </div>
                            <div>
                                <strong>Filename: </strong>@Model.Media.FileName
                            </div>
                        </li>
                    }
                    if (FileUtilities.FormatIsInGroup(Model.Media.Format, FileFormatGroup.Audio))
                    {
                        <li class="form-group">
                            <label>
                                File info
                            </label>
                            <div>
                                <strong>Type: </strong>Audio
                            </div>
                            <div>
                                <strong>Filename: </strong>@Model.Media.FileName
                            </div>
                        </li>
                    }
                    if (FileUtilities.FormatIsInGroup(Model.Media.Format, FileFormatGroup.Document))
                    {
                        <li class="form-group">
                            <label>
                                File info
                            </label>
                            <div>
                                <strong>Type: </strong>Document
                            </div>
                            <div>
                                <strong>Filename: </strong>@Model.Media.FileName
                            </div>
                        </li>
                    }


                    if (FileUtilities.FormatIsInGroup(Model.Media.Format, FileFormatGroup.Image))
                    {
                        <li class="form-group">
                            <label>
                                File info
                            </label>
                            <div>
                                <strong>Type: </strong>Image
                            </div>
                            <div>
                                <strong>Filename: </strong>@Model.Media.FileName
                            </div>
                            @if (Model.Media.SourceWidth != 0 && Model.Media.SourceHeight != 0)
                            {
                                <div>
                                    <strong>Dimensions: </strong>@(Model.Media.SourceWidth)w by @(Model.Media.SourceHeight)h
                                </div>
                            }
                        </li>
                        <li class="form-group" id="editMediaRatios">
                            <label>
                                Media Ratios
                            </label>
                            <ul class="unstyled media_thumbnail_container" id="mediaRatios">
                                @foreach (var ratioEditItemModel in Model.MediaRatioEditModels)
                                {
                                    Html.RenderPartial("MediaRatioEditItem", ratioEditItemModel);
                                }
                            </ul>
                        </li>
                    }
                }
                else
                {
                    <li class="form-group">
                        <label>
                            File info
                        </label>
                        <div>
                            <strong>No file uploaded</strong>
                        </div>
                    </li>
                }

                <li class="form-group">
                    <!-- Only displayed if MediaHosting is not Local -->
                    <label>
                        Item code (e.g. 2O7K-8G2nwU in http://www.youtube.com/watch?v=2O7K-8G2nwU)
                    </label>
                    @Html.TextBoxFor(x => x.Media.RemoteItemCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Media.RemoteItemCode)
                </li>
                <li class="form-group">
                    <!-- Only displayed if MediaHosting is not local, if it is then we can automatically determine the original width -->
                    <label>
                        Preview
                    </label>
                    <div id="remoteMediaPreview" class="remote-media-preview hide">
                    </div>
                    <div id="remoteMediaNotFound" class="remote-media-preview hide">
                        Could not find a media item with the specified item code.
                    </div>
                    <div id="remoteMediaNotSpecified" class="remote-media-preview">
                        No media specified. Please enter the remote item code.
                    </div>
                </li>
            </ul>
            @Html.HiddenFor(x => x.Media.Id)
            @Html.HiddenFor(x => x.Media.UrlSlug)
            @Html.HiddenFor(x => x.Media.SourceHeight)
            @Html.HiddenFor(x => x.Media.SourceWidth)

        </div>

        <div role="tabpanel" class="tab-pane" id="generalinfo">

            <h2>
                General Info
            </h2>

            <div class="clearfix"></div>


            <ul class="list-unstyled">
                <li class="form-group">
                    <label for="title">
                        Title<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Media.Title)
                    </label>
                    @Html.TextBoxFor(x => x.Media.Title, new { @class = "form-control" })
                </li>
                <li class="form-group">
                    <label>
                        SEO Title<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Media.SEOTitle)
                    </label>
                    @Html.TextBoxFor(x => x.Media.SEOTitle, new { @class = "form-control" })
                </li>
                <li class="form-group">
                    <label>
                        Meta Description @Html.ValidationMessageFor(x => x.Media.MetaDescription)
                    </label>
                    @Html.TextAreaFor(x => x.Media.MetaDescription, new { @class = "form-control" })
                </li>
                <li class="form-group">
                    <label>
                        Credit @Html.ValidationMessageFor(x => x.Media.Credit)
                    </label>
                    @Html.TextBoxFor(x => x.Media.Credit, new { @class = "form-control" })
                </li>
                @*<li class="form-group">
                        <label>
                            Show in Multimedia</label>
                        @Html.CheckBoxFor(x => x.Media.ShowInMedia, new { @checked = "checked" })
                        <p>
                            You need to uncheck this box if you DO NOT WANT your image to be available in galleries</p>
                    </li>*@
                <li class="form-group">
                    <label>
                        Live from (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Media.LiveFrom)
                    </label>
                    @Html.EditorFor(x => x.Media.LiveFrom, new { @class = "form-control" })
                </li>
                <li class="form-group">
                    <label>
                        Live to @Html.ValidationMessageFor(x => x.Media.LiveTo)
                    </label>
                    @Html.EditorFor(x => x.Media.LiveTo, new { @class = "form-control" })



                </li>
            </ul>
            <script>
                $(function () {
                    $("#Media_LiveFrom").datepicker();
                    $("#Media_LiveTo").datepicker();
                });
            </script>

        </div>

        <div class="clearfix"></div>

    </div>






}

<div id="editMediaRatio" class="modal" style="display: none;">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crop and resize</h4>
            </div>
            <div class="modal-body">
                <div class="inner-panel-wrap" id="cropArea">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="cancelMediaRatioEdit">Cancel</a> <a href="#" class="btn btn-default"
                                                                                            id="saveMediaRatio">Save</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>







