﻿
@using CMS.Models
@using CMS.Models.Constants
@using ITOK.Core.Common.Config
@using ITOK.Core.Common.HtmlExtensions
@using ITOK.Core.Data.Model
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ScriptRegistrar = ITOK.Core.Common.Utils.ScriptRegistrar



@model CMS.Models.SubmittedMediaListModel
@{
    ViewBag.Title = "Media > Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var showSearchResults = Model.SearchType != MediaSearchType.None && Model.SearchResults.Count != 0;
    ScriptRegistrar.RegisterClientVariable("showSearchResults", showSearchResults);
    ScriptRegistrar.RegisterClientVariable("searchType", Model.SearchType.ToString());
}

@section Head
{
    <link href="@Url.CdnContent("~/Content/Styles/Media.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Scripts/MediaList.js")" type="text/javascript"></script>
}

@section SideBar
{
    <li class="nav-header">Actions</li>

        <li>@Html.ActionLink("New Media", "Create", null, new { @class = "sm_new_media" })</li>

    @if (Model.ShowDeletedMedia)
    {
        <li class="nav-header">View : Recycle Bin</li>
        <li>@Html.ActionLink("Exit Recycle Bin", "Page", new { showDeletedMedia = false })</li>
    }
    else
    {
        <li class="nav-header">View : Active Media</li>
        <li>@Html.ActionLink("Recycle Bin", "Page", new { showDeletedMedia = true })</li>

    }
}

@section SubSideBar
{
   
}



@{ Html.RenderPartial("UserResponses", Model.Responses); }




<div class="row" id="searchContainer">

    <div class="page-header">
        <h1>
            All Media
        </h1>
    </div>

    <div class="clearfix"></div>

    <div class="input-append">

        <h3>
            Search for Media by Title
        </h3>

        <div class="col-lg-12 no-padding" id="searchContainer">
            <input class="form-control" type="text" id="mediaSearchBox" placeholder="search..." value="@Model.SearchText" />
        </div><!-- /.col-lg-6 -->

    </div>
</div>


<div class="row">

    <div class="row-fluid hide" id="mediaSearchResultsContainer">

        <h2>
            Search Results For "<span id="searchTermsLabel"></span>"
        </h2>

        <div class="clearfix"></div>

        <div id="searchedMediaList">
            @if (showSearchResults)
            {
                Html.RenderPartial("MediaList", Model.SearchResults);
            }
        </div>

        <div class="clearfix"></div>

        <a href="#" id="searchMoreMedia" class="btn btn-default">More Results</a>

    </div>

    <div class="row-fluid" id="mediaListContainer">

        <ul class="nav nav-tabs" id="filterNav">
            <li class="@(Model.FilterType == MediaFilterType.Image ? "active" : string.Empty)">
                <a href="/Media/Filter?type=@MediaFilterType.Image" id="filterImages">Images</a>
            </li>
            <li class="@(Model.FilterType == MediaFilterType.Document ? "active" : string.Empty)">
                <a href="/Media/Filter?type=@MediaFilterType.Document" id="filterDocument">Documents</a>
            </li>
            <li class="@(Model.FilterType == MediaFilterType.Video ? "active" : string.Empty)">
                <a href="/Media/Filter?type=@MediaFilterType.Video" id="filterVideo">Video</a>
            </li>
            <li class="@(Model.FilterType == MediaFilterType.Audio ? "active" : string.Empty)">
                <a href="/Media/Filter?type=@MediaFilterType.Audio" id="filterAudio">Audio</a>
            </li>
        </ul>

        @{ Html.RenderPartial("Pagination", Model.Pagination); }

        <div class="clearfix"></div>

        <div id="mediaList">

            @if (Model.FilterType == MediaFilterType.Image || Model.FilterType == MediaFilterType.Video || Model.FilterType == MediaFilterType.Audio || Model.FilterType == MediaFilterType.Document)
            {
                foreach (var media in Model.Media)
                {
                    <text>@{ Html.RenderPartial("MediaListItem", media); }</text>
                }
            }

        </div>

        <div class="clearfix"></div>

        @{ Html.RenderPartial("Pagination", Model.Pagination); }

    </div>

</div>
