﻿
@using CMS.Helpers.HtmlExtensions
@using ITOK.Core.Common.Constants
@model CMS.Models.SubmittedMediaRatioEditPanelModel
           
<img src="@Html.GetSubmittedMediaUri(MediaProfile.Original, Model.Media)" alt="" id="mediaFullCropbox" style="width:@(Model.CropBoxEditWidth)px;" />
<div id="mediaRatioPreviewContainer">
    @{
        var aspectRatio = ((decimal)Model.RatioConfig.Height / (decimal)Model.RatioConfig.Width);
        var height = (int)Math.Round((decimal)(Model.CropBoxPreviewWidth * aspectRatio));
        var previewClass = aspectRatio < 1 ? "imgmargintop" : string.Empty;
    }
    <div id="mediaRatioPreview" class="@previewClass" style="width: @(Model.CropBoxPreviewWidth)px; height: @(height)px;">
        <img src="@(Html.GetSubmittedMediaUri(MediaProfile.Original, Model.Media))" alt="" />
    </div>
</div>