﻿@using CMS.Helpers.HtmlExtensions
@using ITOK.Core.Common.Utils
@using ITOK.Core.Common.Constants
@using ITOK.Core.Services.Security
@using ITOK.Core.Data.Model

@model SubmittedMedia
@{
    var tnClass = "";
    var liClass = "";
    var tnAlt = "";
    //var tnWidth = 0;
    //var tnHeight = 0;
    var tnSrc = new MvcHtmlString(string.Empty);
    var cacheBuster = Guid.NewGuid().ToString();
    if (FileUtilities.FormatIsInGroup(Model.Format, FileFormatGroup.Image) || (Model.Hosting == MediaHosting.Local && FileUtilities.FormatIsInGroup(Model.Format, FileFormatGroup.Audio)))
    //if (Model.Hosting == MediaHosting.Local)
    {

        tnClass = "landscape";
        liClass = "landscape";
        tnAlt = Model.Title;
        //tnWidth = 160;
        //tnHeight = 107;
        tnSrc = Html.GetMediaUri(MediaProfile.Original, Model);

    }
    else if (FileUtilities.FormatIsInGroup(Model.Format, FileFormatGroup.Document))
    {

        tnClass = "document";
        liClass = "document";
        tnAlt = Model.Title;
        //tnWidth = 160;
        //tnHeight = 107;
        tnSrc = new MvcHtmlString( "/Content/Images/pdf_icon.png");

    }
    else if (Model.Hosting == MediaHosting.RemoteVimeo)
    {
        tnClass = "landscape youtube";
        liClass = "landscape";
        tnAlt = Model.Title;
        tnSrc = Html.GetVideoThumbnailUri(Model);
    }
    else if (Model.Hosting == MediaHosting.RemoteYoutube)
    {
        tnClass = "landscape youtube";
        liClass = "landscape";
        tnAlt = Model.Title;
        tnSrc = Html.GetVideoThumbnailUri(Model);
    }
    else if (Model.Hosting == MediaHosting.RemoteBrightCove)
    {
        tnClass = "landscape brightcove";
        liClass = "landscape";
        tnAlt = Model.Title;
        tnSrc = Html.GetVideoThumbnailUri(Model);
    }
}

<div class="media-item col-xs-6 col-sm-3 col-md-2 @liClass">

    <div class="thumbnail">

        <a href="/Media/Edit/@Model.Id">

             @if (FileUtilities.FormatIsInGroup(Model.Format, FileFormatGroup.Document))
              {
                            <img src="@(tnSrc)" class="@(tnClass)" alt="@(tnAlt)" title="@(tnAlt)" /><p>@Model.Title</p>
                }
            else
                {
                <img src="@(tnSrc)?cachebuster=@(cacheBuster)" class="@(tnClass)" alt="@(tnAlt)" title="@(tnAlt)"
                     onerror="if (this.src != '/content/images/error.jpg') this.src = '/content/images/error.jpg';" />
                }

            
        </a>

        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-default" href="/Media/Edit/@Model.Id" title="Edit"><i class="fa fa-pencil" title="Edit"></i></a>
  
                    @if (Model.Status != PublicationStatus.Deleted)
                    {
                        <a class="btn btn-default" href="/Media/Delete/@Model.Id" title="Delete"><i class="fa fa-trash" title="Delete"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-default" href="/Media/HardDelete/@Model.Id" title="Remove from recycle bin (irreversible)">
                            <i class="fa fa-exclamation-triangle"></i>
                        </a>
                        <a class="btn btn-default" href="/Media/Restore/@Model.Id" title="Restore">
                            <i class="fa fa-repeat">
                            </i>
                        </a>
                    }
  
                @if (Model.Status == PublicationStatus.Published && FileUtilities.FormatIsInGroup(Model.Format, FileFormatGroup.Video))
                {
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Edit
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Media/Feature?id=@Model.Id&position=1">
                                Top MM
                            </a>
                        </li>
                    </ul>
                }
                @if (Model.Status == PublicationStatus.Deleted)
                {
 
                        <a class="btn btn-inverse disabled">Deleted</a>
                        <ul class="dropdown-menu">
                            @{ var f1MDays = DateTime.Today.AddMonths(1).Subtract(DateTime.Today).Days; }
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.Published)&indays=0">
                                    Publish now
                                </a>
                            </li>
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.Published)&indays=7">
                                    Publish next week (@DateTime.Today.AddDays(7).ToString("dd MMMM yyyy"))
                                </a>
                            </li>
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.Published)&indays=14">
                                    Publish week after next (@DateTime.Today.AddDays(14).ToString("dd MMMM yyyy"))
                                </a>
                            </li>
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.Published)&indays=@f1MDays">
                                    Publish next month (@DateTime.Today.AddMonths(1).ToString("dd MMMM yyyy"))
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Media/Edit/@Model.Id">
                                    More options
                                </a>
                            </li>
                        </ul>
                    
                }
                else if (Model.Status == PublicationStatus.UnPublished)
                {
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Un-published
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        @{ var f1MDays = DateTime.Today.AddMonths(1).Subtract(DateTime.Today).Days; }
                        <li>
                            <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.Published)&indays=0">
                                Publish now
                            </a>
                        </li>
                       
                        <li class="divider"></li>
                        <li>
                            <a href="/Media/Edit/@Model.Id">
                                More options
                            </a>
                        </li>
                    </ul>
                }
                else if (Model.Status == PublicationStatus.Published)
                {
                    if (Model.LiveFrom != null && Model.LiveFrom > DateTime.Now)
                    {
                        <a class="btn btn-info dropdown-toggle btn-info" data-toggle="dropdown">
                            Queued
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.Published)&indays=0">
                                    Publish now
                                </a>
                            </li>
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.UnPublished)&indays=0">
                                    Un-publish now
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Media/Edit/@Model.Id">
                                    More options
                                </a>
                            </li>
                        </ul>
                    }
                    else if (Model.LiveTo != null && Model.LiveTo < DateTime.Now)
                    {
                        <a class="btn btn-info dropdown-toggle btn-warning" data-toggle="dropdown">
                            Expired
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.Published)&indays=0">
                                    Re-publish now
                                </a>
                            </li>
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.UnPublished)&indays=0">
                                    Un-publish now
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Media/Edit/@Model.Id">
                                    More options
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a class="btn btn-info dropdown-toggle btn-success" data-toggle="dropdown">
                            Live
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Media/ChangeStatus?id=@Model.Id&status=@(PublicationStatus.UnPublished)&indays=0">
                                    Un-publish now
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Media/Edit/@Model.Id">
                                    More options
                                </a>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>

        <div class="media-details" style="display: none">
            <div>
                <strong>Title: </strong>@Model.Title
            </div>
            <div>
                <strong>Format: </strong>@Model.Format.ToString()
            </div>
            <div>
                <strong>Status: </strong>@Model.Status.ToString()
            </div>
            <div>
                <strong>Created On: </strong>@Model.CreatedOn.ToString("dd MMMM yyyy HH:mm:ss")
            </div>
            <div>
                <strong>Live from: </strong>@Model.LiveFrom.ToString("dd MMMM yyyy")
            </div>
        </div>

    </div>

</div>
