﻿@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    ViewBag.Title = "Template 6";
    Layout = null;

    var firstQuestions = Model.QuestionTemplate.Questions.First();
    var lastQuestions = Model.QuestionTemplate.Questions.Last();
}


<div>
    <div class="modal-dialog fixed-modal-dialog accommodation-modal">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Summary of Transportation per client group</h4>
            </div>

            <div class="modal-body">
                <div class="tamplate-section summary-table-detail">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.QuestionTemplate.isReadOnly)
                    <input type="hidden" name="Model.EventId" value="@Model.EventId" />
                    <input type="hidden" name="Model.YearId" value="@Model.YearId" />
                    <input type="hidden" name="Model.AreaId" value="@Model.AreaId" />
                    <input type="hidden" name="Model.QuestionId" value="@Model.QuestionId" />
                    <input type="hidden" name="Model.TemplateType" id="templateType" value="@Model.TemplateType" />

                    @Html.HiddenFor(x => x.QuestionTemplate.EventId)
                    @Html.HiddenFor(x => x.QuestionTemplate.YearId)
                    @Html.HiddenFor(x => x.QuestionTemplate.AreaId)
                    @Html.HiddenFor(x => x.EventId)
                    @Html.HiddenFor(x => x.YearId)
                    @Html.HiddenFor(x => x.AreaId)

                    <div class="table-responsive">

                        <table class="table accommodation-table">

                            <tr class="questions-item-header">
                                <td class="questions-header-title">Area / Months before event</td>
                                @foreach (var itemAnswer in firstQuestions.AnswersRows)
                                {
                                    <td colspan="2" class="@(itemAnswer.AnswerDataType == AnswerDataType.CalculatedHorizontally ? "totalColor" : "questions-header-title")">@itemAnswer.Title</td>
                                }
                            </tr>

                            @for (int questionIndex = 0; questionIndex < Model.QuestionTemplate.Questions.Count - 1; questionIndex++)
                            {
                                var itemQuestion = Model.QuestionTemplate.Questions[questionIndex];
                                itemQuestion.MvcItemName = string.Format("Model.Questions[{0}]", questionIndex);
                                <tr class="@(itemQuestion.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "questions-item")">
                                    <td class="header">
                                        <input type="hidden" name='@itemQuestion.GetMvcItemName("Question")' value="@itemQuestion.Question" />
                                        <input type="hidden" name='@itemQuestion.GetMvcItemName("MvcItemName")' value="@itemQuestion.MvcItemName" />
                                        @itemQuestion.Question
                                    </td>

                                    @for (int answerIndex = 0; answerIndex < itemQuestion.AnswersRows.Count; answerIndex++)
                                    {
                                        var answer = itemQuestion.AnswersRows[answerIndex];
                                        answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                        answer.QuestionVerticallyIndex = questionIndex;
                                        answer.QuestionHorizontallyIndex = answerIndex;

                                        <td colspan="2" class="@(answer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "anwser-list")">
                                            <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control" value="@answer.Title">
                                            <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control" value="@answer.AnswerDataType">
                                            <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control" value="@answer.MvcItemName">
                                            <input type="hidden" name="@answer.GetMvcItemName("QuestionVerticallyIndex")" class="form-control" value="@answer.QuestionVerticallyIndex">
                                            @Html.Partial("_AnswerRow", answer)
                                        </td>
                                    }
                                </tr>
                            }
                            <tr class="questions-item">
                                <td class="header">Costs (in US$)</td>
                                <td class="header">Twin/double</td>
                                <td class="header">Single</td>
                                <td class="header">Twin/double</td>
                                <td class="header">Single</td>
                                <td class="header">Twin/double</td>
                                <td class="header">Single</td>
                            </tr>
                            <tr class="questions-item">
                                <td class="anwser-list"></td>
                                @for (int answerIndex = 0; answerIndex < lastQuestions.AnswersRows.Count; answerIndex++)
                                {
                                    var questionIndex = Model.QuestionTemplate.Questions.Count - 1;
                                    var answer = lastQuestions.AnswersRows[answerIndex];
                                    answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                    answer.QuestionVerticallyIndex = questionIndex;
                                    answer.QuestionHorizontallyIndex = answerIndex;

                                    <td class="@(answer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "anwser-list")">
                                        <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control" value="@answer.Title">
                                        <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control" value="@answer.AnswerDataType">
                                        <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control" value="@answer.MvcItemName">
                                        <input type="hidden" name="@answer.GetMvcItemName("QuestionVerticallyIndex")" class="form-control" value="@answer.QuestionVerticallyIndex">
                                        @Html.Partial("_AnswerRow", answer)
                                    </td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@Html.Partial("_Javascripts")


