﻿@model ITOKFrontend.Models.AnswersComments

<div class="modal-dialog comments-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Question</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>@Model.QuestionText</label>
            </div>
            <div class="comment-content">
                @foreach (var itemComment in Model.UsersComment)
                {
                    <div class="post-content">
                        <div class="avatar hovercard">
                            <a href="#" class="user">
                                <img src="https://c.disquscdn.com/uploads/users/4153/6750/avatar92.jpg?1358503003" alt="Avatar">
                            </a>
                        </div>

                        <div class="post-body">
                            <header class="comment__header">
                                <span class="author publisher-anchor-color">@itemComment.UserName</span>
                                <p class="post-meta">@itemComment.CommentDate.ToString("dd MMM")</p>
                            </header>

                            <div class="post-body-inner">
                                <div class="post-message">
                                    @itemComment.Comment
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>

