﻿@using ITOK.Core.Data.Model
@model AnswerRow
@{
    if (string.IsNullOrEmpty(Model.MvcItemName))
    {
        throw new Exception("AnswerRow.MvcItemName cannot be null or empty.");
    }
}

@if (Model.AnswerDataType == AnswerDataType.FreeText)
{
    <label name="@Model.GetMvcItemName("AnswerString")" class="form-control inputHeight table-results" value="@Model.AnswerString">@Model.AnswerString</label>
}
else if (Model.AnswerDataType == AnswerDataType.YesNo)
{
    if (Model.AnswerBool == true)
    {
        <i class="fa fa-check"></i>
    }
    else
    {
        <i class="fa fa-times"></i>
    }
}
else if (Model.AnswerDataType == AnswerDataType.Numbers)
{
    <label name="@Model.GetMvcItemName("AnswerNumber")" questionVerticallyIndex="@Model.QuestionVerticallyIndex" questionHorizontallyIndex="@Model.QuestionHorizontallyIndex" value="@Model.AnswerNumber">@Model.AnswerNumber</label>
}
else if (Model.AnswerDataType == AnswerDataType.Date)
{
    <label name="@Model.GetMvcItemName("AnswerDate")" class="form-control inputHeight table-results" value="@Model.AnswerDate">@Model.AnswerDate.ToShortDateString()</label>
}
else if (Model.AnswerDataType == AnswerDataType.Money)
{

}
else if (Model.AnswerDataType == AnswerDataType.CalculatedVertically)
{
    <label name="@Model.GetMvcItemName("AnswerString")" id="calculatedVertically-@Model.QuestionVerticallyIndex" class="form-control inputHeight table-results" value=""></label>
}
else if (Model.AnswerDataType == AnswerDataType.CalculatedHorizontally)
{
    <label name="@Model.GetMvcItemName("AnswerString")" id="calculatedHorizontally-@Model.QuestionHorizontallyIndex" class="form-control inputHeight table-results" value="">@Model.AnswerNumber</label>
}