﻿@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    ViewBag.Title = "Template1";
    Layout = null;

    var firstQuestions = Model.QuestionTemplate.Questions.First();
}

<div>
    <div class="modal-dialog fixed-modal-dialog carpool-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Carpool Usage per day</h4>
            </div>
            <div class="modal-body">
                <div class="tamplate-section">
                    @Html.HiddenFor(x => x.QuestionTemplate.isReadOnly)
                    <input type="hidden" name="Model.EventId" value="@Model.EventId" />
                    <input type="hidden" name="Model.YearId" value="@Model.YearId" />
                    <input type="hidden" name="Model.AreaId" value="@Model.AreaId" />
                    <input type="hidden" name="Model.QuestionId" value="@Model.QuestionId" />
                    <input type="hidden" name="Model.TemplateType" id="templateType" value="@Model.TemplateType" />

                    @Html.HiddenFor(x => x.QuestionTemplate.EventId)
                    @Html.HiddenFor(x => x.QuestionTemplate.YearId)
                    @Html.HiddenFor(x => x.QuestionTemplate.AreaId)
                    @Html.HiddenFor(x => x.EventId)
                    @Html.HiddenFor(x => x.YearId)
                    @Html.HiddenFor(x => x.AreaId)

                    <div class="table-responsive fixedLeftHeader">
                        <div class="table-wrapper-sec">
                            <table class="table carpool-table events-table">
                                <tr class="questions-item-header">
                                    <td rowspan="2" class="fixed-side questions-header-title"></td>
                                    <td colspan="10" class="questions-header-title">Days Before Event</td>
                                    <td colspan="14" class="questions-header-title">Days during event and post-event</td>
                                </tr>
                                <tr class="questions-item">
                                    @foreach (var itemAnswer in firstQuestions.AnswersRows)
                                    {
                                        <td class="@(itemAnswer.AnswerDataType == AnswerDataType.CalculatedHorizontally ? "totalColor" : "anwser-list")">@itemAnswer.Title</td>
                                    }
                                </tr>
                                @for (int questionIndex = 0; questionIndex < Model.QuestionTemplate.Questions.Count; questionIndex++)
                                {
                                    var itemQuestion = Model.QuestionTemplate.Questions[questionIndex];
                                    itemQuestion.MvcItemName = string.Format("Model.Questions[{0}]", questionIndex);
                                    <tr class="@(itemQuestion.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "questions-item")">
                                        <td class="header fixed-side">
                                            <input type="hidden" name='@itemQuestion.GetMvcItemName("Question")' value="@itemQuestion.Question" />
                                            <input type="hidden" name='@itemQuestion.GetMvcItemName("MvcItemName")' value="@itemQuestion.MvcItemName" />
                                            @itemQuestion.Question
                                        </td>

                                        @for (int answerIndex = 0; answerIndex < itemQuestion.AnswersRows.Count; answerIndex++)
                                        {
                                            var answer = itemQuestion.AnswersRows[answerIndex];
                                            answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                            answer.QuestionVerticallyIndex = questionIndex;
                                            answer.QuestionHorizontallyIndex = answerIndex;

                                            <td class="@(answer.AnswerDataType == AnswerDataType.CalculatedVertically ? "totalColor" : "anwser-list")">
                                                <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control inputHeight" value="@answer.Title">
                                                <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control inputHeight" value="@answer.AnswerDataType">
                                                <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control inputHeight" value="@answer.MvcItemName">
                                                <input type="hidden" name="@answer.GetMvcItemName("QuestionVerticallyIndex")" class="form-control inputHeight" value="@answer.QuestionVerticallyIndex">
                                                @Html.Partial("_AnswerRow", answer)
                                            </td>
                                        }
                                    </tr>
                                }
                                <tr class="table-results">
                                    <td class="fixed-side">Total</td>

                                    <td colspan="10" style="text-align: center;">
                                        <label id="calculatedGroupHorizontally-0" class="inputHeight"></label>
                                    </td>
                                    <td colspan="14" style="text-align: center;">
                                        <label id="calculatedGroupHorizontally-1" class="inputHeight"></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@Html.Partial("_Javascripts")


