﻿@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    ViewBag.Title = "Template1";
    Layout = null;

    var firstQuestions = Model.QuestionTemplate.Questions.First();

    string javascriptArray = "['0', 0],";
    foreach (var item2 in firstQuestions.AnswersRows)
    {
        javascriptArray += string.Format("['{0}', {1}],", item2.Title, item2.AnswerNumber);
    }

    javascriptArray = javascriptArray.Substring(0, javascriptArray.Length - 1);
}


<div>
    <div class="modal-dialog fixed-modal-dialog carpool-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Carpool Usage per day</h4>
            </div>
            <div class="modal-body">
               
                <div id="chart_div"></div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

 

<script>

    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'X');
        data.addColumn('number', '');

        data.addRows([
            @Html.Raw(javascriptArray)
        ]);

        var options = {
            width: window.width ,
            height: window.height,
            hAxis: {
                title: 'Days Before Event______________Days during event and post-event'
            },
            vAxis: {
                title: 'Number of car movements'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);


    }


</script>


