﻿@model List<ITOKFrontend.Models.AnswerFilter>
@using ITOK.Core.Common.Constants
@using ITOK.Core.Data.Model
@{
    //var groupheader = @Model.GroupByHeader;
}


<div class="article-listing-row">

    <div id="modalWrapper" class="modal fade">

    </div>


    @foreach (var answers in Model)
    {
        if (answers.GroupByHeader != "")
        {
            <div class="header">
                <h2>
                    @answers.GroupByHeader
                </h2>
            </div>
        }
        <div class="list-group-item alt-color row article-listing">

            @if (answers.Answers != null && answers.Answers.Any())
            {
                foreach (var answer in answers.Answers)
                {
                    <div class="no-padding full-width-partial">
                        <div class="pull-left article-number-and-date">
                            <div class="pull-left">
                                @if (answer.AnsweredDate >= DateTime.Now.AddDays(-30))
                                {
                                    <h4 class="date">
                                        @answer.AnsweredDate.ToString("dd MMM yyyy")
                                    </h4>
                                    <span class="btn btn-info">
                                        NEW
                                    </span>
                                }
                            </div>
                        </div>
                        <div class="pull-right btn-group spaced add-tools action-icons-listing" role="group">
                            @{
                                var tooltipText = "";

                                if (answer.FavCount == 1)
                                {
                                    tooltipText = "Favourited by " + answer.FavCount + " person";
                                }
                                else if (answer.FavCount > 1)
                                {
                                    tooltipText = "Favourited by " + answer.FavCount + " people";
                                }
                                if (answer.isCommented)
                                {
                                    <a href="javascript:void(0);" class="actionIcon" onclick="viewComments('@answer.Id.Trim()', '@answer.QuestionText');" data-toggle="modal" data-target="#modalWrapper">
                                        <i class="fa fa-2x fa-comment fa-comment-success"></i>
                                    </a>
                                }
                                if (answer.isFlagSet)
                                {
                                    <span class="div-flag question-flag actionIcon">
                                        <i class="fa fa-2x fa-flag @(answer.FlagColor==FlagColor.Red?"dangerStatus":answer.FlagColor==FlagColor.Green?"successStatus":answer.FlagColor==FlagColor.Amber?"mediumStatus":"")"></i>
                                    </span>
                                }

                                if (answer.IsFavoriteForCurrentUser)
                                {
                                    <a class="btn btn-default" href="#" data-favourite="true" data-urlslug="@answer.Id" data-toggle="tooltip" title="@tooltipText">
                                        <i class="fa fa-star"></i>
                                        <span class="favcount" data-count="@answer.FavCount"></span>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-default" href="#" data-favourite="false" data-urlslug="@answer.Id" data-toggle="tooltip" title="@tooltipText">
                                        <i class="fa fa-star-o"></i>
                                        <span class="favcount" data-count="@answer.FavCount"></span>
                                    </a>
                                }
                            }
                            @{
                                var readingListText = "";
                                if (answer.ReadingListCount == 1)
                                {
                                    readingListText = "Added to " + answer.FavCount + " persons reading list";
                                }
                                else if (answer.ReadingListCount > 1)
                                {
                                    readingListText = "Added to " + answer.ReadingListCount + " people reading list";
                                }
                            }

                            @if (answer.IsReadingListForCurrentUser)
                            {
                                <button class="btn btn-default" data-bind="click: function(){ showDialog(true); articleUrlSlug('@answer.Id'); }" data-toggle="tooltip" title="@readingListText">
                                    <i class="fa fa-bookmark"></i>
                                    <span class="readinglistcount" id="@(answer.Id)RL" data-count="@answer.ReadingListCount"></span>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-default" data-bind="click: function(){ showDialog(true); articleUrlSlug('@answer.Id'); }" data-toggle="tooltip" title="@readingListText">
                                    <i class="fa fa-bookmark-o"></i>
                                    <span class="readinglistcount" id="@(answer.Id)RL" data-count="@answer.ReadingListCount"></span>
                                </button>
                            }



                        </div>
                        <div class="clearfix"></div>
                        <h2 class="article-title">
                            <a href="#">
                                @answer.QuestionText
                            </a>

                            @if (answer.AnswerType == AnswerType.Numeric || answer.AnswerType == AnswerType.Options)
                            {
                                <span>: @answer.AnswerValue</span>
                            }
                            else if (answer.AnswerType == AnswerType.Text)
                            {
                                <span>: @Html.Raw(answer.AnswerValue)</span>
                            }
                            else if (answer.AnswerType == AnswerType.Attachment)
                            {
                                <div class="document-group text-center">

                                    <label>See attachment(s)</label>

                                    <div class="download-file">

                                        <div class="btn-group" role="group" style="width:100%">
                                            @{
                                                int count = 0;
                                                List<AttachmentMedia> leftList = new List<AttachmentMedia>();
                                                List<AttachmentMedia> rightList = new List<AttachmentMedia>();
                                            }

                                            @for (int i = 0; i < answer.AttachmentMedias.Count; i++)
                                            {
                                                if (i % 2 == 0)
                                                {
                                                    leftList.Add(answer.AttachmentMedias[i]);
                                                }
                                                else
                                                {
                                                    rightList.Add(answer.AttachmentMedias[i]);
                                                }
                                            }

                                            <div class="col-md-6 download-icons">
                                                @foreach (var item in leftList)
                                                {
                                                    <a class="btn btn-primary btn-lg nrDownload" href="@Html.GetDocumentUri(item.Id, Brand.itok, true)">
                                                        <i class="fa fa-cloud-download"></i>
                                                        <p>
                                                            @item.Title
                                                        </p>
                                                    </a>
                                                }
                                            </div>

                                            <div class="col-md-6 download-icons">
                                                @foreach (var item in rightList)
                                                {
                                                    <a class="btn btn-primary btn-lg nrDownload" href="@Html.GetDocumentUri(item.Id, Brand.itok, true)">
                                                        <i class="fa fa-cloud-download"></i>
                                                        <p>
                                                            @item.Title
                                                        </p>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (answer.AnswerType == AnswerType.Template)
                            {
                                <div>
                                    @if (answer.QuestionTemplate != null && answer.QuestionTemplate.Questions.Count > 0)
                                    {
                                        <a href="javascript:void(0);" onclick="populateQuestion('@answer.Id');" data-toggle="modal" data-target="#modalWrapper">
                                            <span class="div-flag question-flag actionIcon">
                                                <i class="fa fa-2x fa-file successStatus"></i>
                                            </span>
                                        </a>
                                    }

                                    @if (answer.TemplateType == QuestionTemplateType.CarpoolUsagePerDay | answer.TemplateType == QuestionTemplateType.StaffHiredInLOC | answer.TemplateType == QuestionTemplateType.VolunteersPerArea)
                                    {
                                        <a href="javascript:void(0);" onclick="populateChart('@answer.Id');" data-toggle="modal" data-target="#modalWrapper">
                                            <span class="div-flag question-flag actionIcon">
                                                <i class="fa fa-2x fa-signal successStatus"></i>
                                            </span>
                                        </a>
                                    }

                                </div>
                            }
                        </h2>
                        <div class="clearfix"></div>
                        <div class="btn-group spaced altcolors" role="group" aria-label="...">
                            <label>
                                <i class="fa fa-tags"></i>
                            </label>
                            @{
                                var answertag = answer.AnswerTags.Where(c => c.TagType != TagType.Category).ToList();

                                foreach (var tag in answertag)
                                {
                                    <a class="btn btn-default btn-tag" href="/hub/index?@tag.TagType.ToString().Substring(0,1).ToLower()=@tag.UrlSlug">@tag.Text</a>
                                }
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                }
            }
        </div>
    }
    @if (Model.Count > 0)
    {
        if (Model.FirstOrDefault().Answers.Count == 0)
        {
            <h3>No data found</h3>
        }
    }
    else
    {
        <h3>No data found</h3>
    }

</div>

<script>

    function populateQuestion(aId) {
        $('#modalWrapper').html("");
        $.ajax({
            url: "/Hub/GetQuestionDetail", //
            data: { answerId: aId },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function populateChart(aId) {
        $('#modalWrapper').html("");
        $.ajax({
            url: "/Hub/GetQuestionChart", //
            data: { answerId: aId },
            success: function (data) {

                let valueMaxX = (Math.floor(Math.random() * 620) + 600).toString();
                data = data.replace('501', valueMaxX);

                setTimeout(function () {
                    $('#modalWrapper').html(data);
                }, 500);

            }
        });
    }
</script>