﻿@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    ViewBag.Title = "Template1";
    Layout = null;

    var firstQuestions = Model.QuestionTemplate.Questions.First();
}


<div>
    <div class="modal-dialog fixed-modal-dialog">
        <div class="modal-content site-visit-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Site Visits Summary</h4>
            </div>
            @using (Html.BeginForm("TemplateSave", "QuestionTemplates", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.QuestionTemplate.isReadOnly)
                <input type="hidden" name="Model.EventId" value="@Model.EventId" />
                <input type="hidden" name="Model.YearId" value="@Model.YearId" />
                <input type="hidden" name="Model.AreaId" value="@Model.AreaId" />
                <input type="hidden" name="Model.QuestionId" value="@Model.QuestionId" />
                <input type="hidden" name="Model.TemplateType" value="@Model.TemplateType" />

                @Html.HiddenFor(x => x.QuestionTemplate.EventId)
                @Html.HiddenFor(x => x.QuestionTemplate.YearId)
                @Html.HiddenFor(x => x.QuestionTemplate.AreaId)
                @Html.HiddenFor(x => x.EventId)
                @Html.HiddenFor(x => x.YearId)
                @Html.HiddenFor(x => x.AreaId)

                <div class="modal-body">


                    <div class="tamplate-section site-visit-summary table-responsive">

                        <table>

                            <tr class="questions-item-header">
                                <td class="questions-header-title">
                                </td>

                                @foreach (var itemAnswer in firstQuestions.AnswersRows)
                                {
                                    <td class="questions-header-title">
                                        @itemAnswer.Title
                                    </td>
                                }
                            </tr>


                            @for (int questionIndex = 0; questionIndex < Model.QuestionTemplate.Questions.Count; questionIndex++)
                            {
                                var itemQuestion = Model.QuestionTemplate.Questions[questionIndex];
                                itemQuestion.MvcItemName = string.Format("Model.Questions[{0}]", questionIndex);
                                <tr class="questions-item">
                            
                                        <td class="header">
                                            <input type="hidden" name='@itemQuestion.GetMvcItemName("Question")' value="@itemQuestion.Question" />
                                            <input type="hidden" name='@itemQuestion.GetMvcItemName("MvcItemName")' value="@itemQuestion.MvcItemName" />

                                            @itemQuestion.Question
                                        </td>

                                        @for (int answerIndex = 0; answerIndex < itemQuestion.AnswersRows.Count; answerIndex++)
                                        {
                                            var answer = itemQuestion.AnswersRows[answerIndex];
                                            answer.MvcItemName = string.Format("Model.Questions[{0}].AnswersRows[{1}]", questionIndex, answerIndex);
                                            answer.QuestionVerticallyIndex = questionIndex;
                                            answer.QuestionHorizontallyIndex = answerIndex;
                                            <td class="anwser-list @(answer.AnswerDataType == AnswerDataType.CalculatedHorizontally ? "totalColor" : "")">
                                                <div class="form-group">
                                                    <input type="hidden" name="@answer.GetMvcItemName("Title")" class="form-control inputHeight" value="@answer.Title">
                                                    <input type="hidden" name="@answer.GetMvcItemName("AnswerDataType")" class="form-control inputHeight" value="@answer.AnswerDataType">
                                                    <input type="hidden" name="@answer.GetMvcItemName("MvcItemName")" class="form-control inputHeight" value="@answer.MvcItemName">
                                                    @Html.Partial("_AnswerRow", answer)
                                                </div>
                                            </td>
                                        }

                                    

                                </tr>
                            }
                    

                        </table>

                    </div>

                </div>

                <div class="modal-footer">
    
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("_Javascripts")


