﻿@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    ViewBag.Title = "Staff Hireed Chart";
    Layout = null;


    var firstQuestions = Model.QuestionTemplate.Questions.First();
    string javascriptArray = "";

    var beforeLastRow = Model.QuestionTemplate.Questions[Model.QuestionTemplate.Questions.Count - 2];
    var lastRow = Model.QuestionTemplate.Questions[Model.QuestionTemplate.Questions.Count - 1];

    for (int i = 0; i < beforeLastRow.AnswersRows.Count; i++)
    {
        var currentBeforeLastRow = beforeLastRow.AnswersRows[i].AnswerNumber;
        var currentLastRow = lastRow.AnswersRows[i].AnswerNumber;

        string title = "";

        if (firstQuestions.AnswersRows[i].AnswerDataType != AnswerDataType.CalculatedVertically)
        {
            title = firstQuestions.AnswersRows[i].Title;
        }


        javascriptArray += string.Format("['{0}', {1}, {2}],", title, currentBeforeLastRow, currentLastRow);
    }


    javascriptArray = javascriptArray.Substring(0, javascriptArray.Length - 1);
}


<div>
    <div class="modal-dialog fixed-modal-dialog staff-hired-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Staff hired in LOC</h4>
            </div>
            <div class="modal-body">

                <div id="chart_div"></div>
                <p style=" width: 293px; margin: auto;">number of months before the event</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<script>

    google.charts.load('visualization', '1', { packages: ['corechart']});
    google.charts.setOnLoadCallback(drawDualY);

    function drawDualY() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', '');
        data.addColumn('number', 'Staff hired during month');
        data.addColumn('number', 'Total Staff hired');

        data.addRows([
            @Html.Raw(javascriptArray)
        ]);

        var options = {
            chartArea: {
                top: 28,
                height: '50%' 
            },
            legend: {position:'top'},
            hAxis: {
                title: '', 
                titleTextStyle: {color: 'black'}, 
                count: -1, 
                viewWindowMode: 'pretty', 
                slantedText: true
            },  
            vAxis: {
                title: '', 
                titleTextStyle: {color: 'black'}, 
                count: -1
            },
            height: '400'
        };

        var materialChart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        materialChart.draw(data, options);
    }
</script>


