﻿@using ITOK.Core.Data.Model;

@model ITOK.Core.Data.Model.Answer

@{
    ViewBag.Title = "Template1";
    Layout = null;



    string javascriptArray = "";

    foreach (var questionTemplateQuestion in Model.QuestionTemplate.Questions.Where(x => x.Question != "Calculated"))
    {
        var value1 = questionTemplateQuestion.AnswersRows[0].AnswerNumber;
        var value2 = questionTemplateQuestion.AnswersRows[1].AnswerNumber;
        javascriptArray += string.Format("['{0}', {1}, {2}],", questionTemplateQuestion.Question, value1, value2);
    }



    javascriptArray = javascriptArray.Substring(0, javascriptArray.Length - 1);
}


<div>
    <div class="modal-dialog fixed-modal-dialog volunteer-area-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Volunteers per area & Needed by shift</h4>
            </div>
            <div class="modal-body">

                <div id="chart_div"></div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<script>

    google.charts.load('visualization', '1', { packages: ['corechart']});
    google.charts.setOnLoadCallback(drawDualY);

    function drawDualY() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', '');
        data.addColumn('number', 'Number of positions (taken by volunteers)');
        data.addColumn('number', 'Number of volunteers allocated per area to cover all shifts');

        data.addRows([
            @Html.Raw(javascriptArray)
        ]);

        var options = {
            chartArea: {
                top: 28,
                height: '50%' 
            },
            legend: {position:'top'},
            hAxis: {
                title: '', 
                titleTextStyle: {color: 'black'}, 
                count: -1, 
                viewWindowMode: 'pretty', 
                slantedText: true
            },  
            vAxis: {
                title: '', 
                titleTextStyle: {color: 'black'}, 
                count: -1
            },
            height: '500'
        };

        var materialChart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        materialChart.draw(data, options);
    }
</script>


