﻿@using ITOKFrontend.Models.Constants

@model ITOKFrontend.Models.TagHubViewModel

@{
    var hubSlug = string.Join("+", Model.Tags.Select(x => x.UrlSlug).OrderBy(x => x));
    var selectedId = Model.Tags.Select(x => x.Id).FirstOrDefault();

    ViewBag.Title = string.Join(" - ", Model.Tags.Select(x => x.DisplayText).OrderBy(x => x));
    int tagCount = 0; int tagsLength = Model.Tags.Count;

            }


<div class="row">
    <div class="col-md-12 col-sm-12">

        <div class="page-header no-margin-bottom">
            <div class="clearfix"></div>

            <div id="step4">

                <h2 class="overview-title">Event Overview</h2>

                <div class="row filter-row">
                    <label>
                        Currently filtering by:
                    </label>
                    <div class="col-md-3 col-sm-12">
                        <select class="drop-filter" id="eventId" name="eventId" autofocus onchange="filterTopicList()">
                            <option value="">Events</option>
                            @foreach (var tag in Model.EventTags.OrderBy(i => i.Order))
                            {
                                <option value="@tag.Id" title="@tag.DisplayText">@tag.DisplayText</option>

                            }
                        </select>
                        <script>
                            $("#eventId").val('@selectedId');
                        </script>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <select class="drop-filter" id="yearId" name="yearId" autofocus>
                            <option value="">Years</option>
                            @foreach (var tag in Model.YearTags)
                            {
                                <option value="@tag.Id" title="@tag.DisplayText" parent="@tag.ParentId">@tag.DisplayText</option>
    }
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <select class="drop-filter" id="categoryId" name="categoryId" autofocus>
                            <option value="">Area category</option>
                            @foreach (var tag in Model.CategoryTags)
    {
                                <option value="@tag.Id" title="@tag.DisplayText" parent="@tag.ParentId">@tag.DisplayText</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <select class="drop-filter" id="areaId" name="areaId" autofocus>
                            <option value="">Area</option>
                            @foreach (var tag in Model.AreaTags)
                            {
                                <option value="@tag.Id" title="@tag.DisplayText" parent="@tag.ParentId">@tag.DisplayText</option>
                            }
                        </select>
                    </div>
                    <script>
                        $("#areaId").val('@selectedId');
                    </script>
                </div>
               
                <div class="clearfix"></div>

                <div class="btn-group">

                </div>

                @foreach (var item in Model.Tags)
    {
        var huburlslug = Model.Tags.Where(x => x.UrlSlug != item.UrlSlug).Select(x => x.UrlSlug);
        var urlslug = string.Join("+", huburlslug.OrderBy(x => x));
                    <a href="/hub/@urlslug" class="btn btn-primary">
                        <i class="fa fa-times"></i>
                        @item.DisplayText
                    </a>
                    tagCount++;
                }
                <button class="btn btn-default" id="showrelatedtags">
                    <i class="fa fa-tags"></i>
                    <span>
                        Refine results by topic
                    </span>
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 filter-result" id="filterResult">
            @{ Html.RenderAction("ListContainer", "Article", new { type = ArticleFilterType.None, cols = 1, filter = Model.UrlSlug }); }
        </div>


        @if (Model.AreaTag != null)
    {
            <div class="col-md-12 row mainimg thumbnail hidden">

                <div class="document-group responsibilities">

                    <h3>
                        Responsibilities
                    </h3>

                    <ul class="list-unstyled">
                        @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsibleName))
    {
                            <li>Responsible: @Model.AreaTag.ResponsibleName</li>
                        }
    @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsibleTitle))
    {
                            <li>Title: @Model.AreaTag.ResponsibleTitle</li>
                        }
    @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsiblePhone))
    {
                            <li>Phone: @Model.AreaTag.ResponsiblePhone</li>
                        }
    @if (!string.IsNullOrEmpty(Model.AreaTag.ResponsibleEmail))
    {
                            <li>Email: <a href="mailto:@Model.AreaTag.ResponsibleEmail">@Model.AreaTag.ResponsibleEmail </a></li>
                        }
                    </ul>

                </div>

            </div>

        }






        @if (tagsLength == 1)
    {
        //Html.RenderAction("Pages", "Hub", new { filter = hubSlug });
    }
        @*@{ Html.RenderAction("RelatedTags", "Hub", new { filter = hubSlug }); }*@

        <div class="clearfix"></div>

        @if (tagsLength == 1 && !string.IsNullOrEmpty(Model.TagDescription))
        {
            <div class="topics lighter">
                @Html.Raw(Model.TagDescription)
            </div>
            <div class="clearfix"></div>
        }

        @*<div class="col-md-12" id="content">
                @{ Html.RenderAction("ListContainer", "Article", new { type = ArticleFilterType.None, cols = 1, filter = Model.UrlSlug }); }
            </div>*@

    </div>

    @*<div class="col-md-4 col-sm-12">

            <div class="col-md-12" id="content">
                @{ Html.RenderAction("ChangeWasEvent", "Home"); }
            </div>

            <div class="col-md-12" id="content">
                @{ Html.RenderAction("AreaYearTags", "Home", new { filter = Model.UrlSlug }); }
            </div>

        </div>*@
</div>


<script src="~/Assets/Scripts/articleList.js"></script>