﻿@using ITOKFrontend.Models.Constants

@model ITOKFrontend.Models.AnswerFilterViewModel
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="divrow" class="row">
    <div class="col-md-12 col-sm-12">
        <div style="margin-top: 15px; background-color:#ffffff; padding-left:15px; padding-right: 15px;padding-top:15px">
            <div class="page-header no-margin-bottom">
                <div class="clearfix"></div>

                <div id="step4">
                    <h2 class="overview-title overview-page-title">@Model.OverviewTitle</h2>
                    <div class="text-right print-text">
                        <a href="#" id="btnPrint" class="print-link  _mobileHide">
                            <i class="fa fa-print" aria-hidden="true"></i> Print
                            <script src="https://code.jquery.com/jquery-1.4.min.js"
                                    integrity="sha256-iauvHiRxsAUlsGlASOF5wPOaJnTjvLNEYOprxIAYgr4="
                                    crossorigin="anonymous"></script>                            <script type="text/javascript">
                                $("#btnPrint").live("click", function () {
                                    $("#btnPrint").hide();
                                    var contents = $("#divrow").html();
                                    var frame1 = $('<iframe />');
                                    frame1[0].name = "frame1";
                                    frame1.css({ "position": "absolute", "top": "-1000000px" });
                                    $("body").append(frame1);
                                    var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                                    frameDoc.document.open();
                                    //Create a new HTML document.
                                    frameDoc.document.write('<html><head>');
                                    frameDoc.document.write('</head><body>');
                                    //Append the external CSS file.
                                    frameDoc.document.write('<link href="/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />');
                                    frameDoc.document.write('<link href="/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet" />');
                                    frameDoc.document.write('<link href="/Assets/Styles/font-awesome/font-awesome-4.5.0/css/font-awesome.min.css?v=1234" rel="stylesheet" />');
                                    frameDoc.document.write('<link href="/Assets/Scripts/intro/introjs.min.css" rel="stylesheet" />');
                                    //frameDoc.document.write('<link href="/Assets/Font/font.css" rel="stylesheet" />');
                                    //frameDoc.document.write('<link href="/Assets/Styles/custom/custom.less" rel="stylesheet" />');
                                    frameDoc.document.write('<link href="/Assets/Styles/custom/custom.css" rel="stylesheet" />');
                                    frameDoc.document.write('<link href="/Assets/Styles/custom/temp.css" rel="stylesheet" />');
                                    frameDoc.document.write('<link href="/Assets/Styles/custom/itok.css" rel="stylesheet" />');
                                    frameDoc.document.write('<link rel="stylesheet" href="/Assets/Styles/custom/print.css" type="text/css" media="print" />');
                                    frameDoc.document.write('<link href="/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" rel="stylesheet" />');

                                    //Append the DIV contents.
                                    frameDoc.document.write(contents);
                                    frameDoc.document.write('</body></html>');
                                    frameDoc.document.close();
                                    setTimeout(function () {
                                        window.frames["frame1"].focus();
                                        window.frames["frame1"].print();
                                        frame1.remove();
                                    }, 500);
                                    $("#btnPrint").show();
                                });

                            </script>
                        </a>
                    </div>
                    <div class="row filter-row">
                        <label>
                            Currently filtering by:
                        </label>
                        <div class="col-md-4 col-sm-12">
                            <select class="drop-filter" id="eventId" name="eventId" autofocus>
                                <option value="">Events</option>
                                @foreach (var tag in Model.EventTags.OrderBy(i => i.DisplayText))
                                {
                                    <option value="@tag.UrlSlug" title="@tag.DisplayText">@tag.DisplayText</option>
                                }
                            </select>
                            <script>
                            $("#eventId").val('@Model.SelectedEventId');
                            </script>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <select class="drop-filter" id="yearId" name="yearId" autofocus>
                                <option value="">Edition</option>
                                @foreach (var tag in Model.YearTags)
                                {
                                    <option value="@tag.UrlSlug" title="@tag.DisplayText" parent="@tag.ParentId">@tag.DisplayText</option>
                                }
                            </select>
                            <script>
                            $("#yearId").val('@Model.SelectedYearId');
                            </script>
                        </div>
                        @*<div class="col-md-4 col-sm-12">
                            <select class="drop-filter" id="categoryId" name="categoryId" autofocus>
                                <option value="">Area category</option>
                                @foreach (var tag in Model.CategoryTags)
                                {
                                    <option value="@tag.UrlSlug" title="@tag.DisplayText" parent="@tag.ParentId">@tag.DisplayText</option>
                                }
                            </select>
                            <script>
                            $("#categoryId").val('@Model.SelectedCategoryId');
                            </script>
                        </div>*@
                        <div class="col-md-4 col-sm-12">
                            <select class="drop-filter" id="areaId" name="areaId" autofocus>
                                <option value="">Area</option>
                                @foreach (var tag in Model.AreaTags)
                                {
                                    <option value="@tag.UrlSlug" title="@tag.DisplayText" parent="@tag.ParentId">@tag.DisplayText</option>
                                }
                            </select>
                            <script>
                        $("#areaId").val('@Model.SelectedAreaId');
                            </script>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row filter-result" id="filterResult">
                @{ Html.RenderPartial("_ListContent", Model.AllFilteredData);}

            </div>
        </div>
    </div>
</div>
<div id="modalWrapper" class="modal fade">
    @* Inject form here *@
</div>


<script src="~/Assets/Scripts/articleList.js"></script>