﻿@using ITOKFrontend.Models.Constants
@model ITOKFrontend.Models.NoResultModel

@{
}

<div class="container">



    <div class="col-md-8 col-sm-12">

        <div class="page-header">

            <h2 class="offset-top-20">
                No hubs have been found for "@Model.urlSlug". We have searched and found the following content and listed popular and common topics.
            </h2>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12" id="content">

                @{ Html.RenderAction("ListContainer", "Article", new { type = ArticleFilterType.Search, cols = 1, filter = Model.urlSlug }); }
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12" id="sidebar">

                <h3>
                    Popular
                </h3>

                <div class="clearfix"></div>

            <div class="btn-group no-plus">
                @foreach (var tag in Model.popularHubs)
                {
                    <a class="btn btn-default" href="/hub/@tag.UrlSlug">
                        <i class="fa fa-plus"></i>
                        @tag.DisplayText
                    </a>
                }
            </div>

                <div class="clearfix"></div>

                <h3 class="offset-top-20">
                    Common
                </h3>

                <div class="clearfix"></div>

                <div class="btn-group no-plus">
                    @foreach (var tag in Model.commonresults)
                    {
                        <a class="btn btn-default" href="/hub/@tag.tagSlug">
                            <i class="fa fa-plus"></i>
                            @tag.tagName
                            <span>
                                (@tag.tagCount)
                            </span>
                        </a>
                    }
                </div>

            </div>



        </div>

    </div>

    <div class="col-md-4 col-sm-12">

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("ChangeWasEvent", "Home"); }
        </div>

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("AreaYearTags", "Home"); }
        </div>

    </div>




</div>






