﻿@using ITOKFrontend.Models.Constants
@model dynamic
@{
    ViewBag.Title = "Popular in " + LoginManager.CurrentUser.JobRoleName;
}

<div class="container">



    <div class="col-md-8 col-sm-12">

        <div class="page-header no-margin-bottom">

            <h1 class="pull-left">
                Popular in @LoginManager.CurrentUser.JobRoleName
            </h1>

            <div class="btn-group pull-left">
                <button class="btn btn-default" id="showrelatedtags">
                    <i class="fa fa-tags"></i>
                    <span>
                        Refine results by topic
                    </span>
                </button>
            </div>

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

        @{ Html.RenderAction("PopularHubPartial", "Hub", new { jobRoleId = LoginManager.CurrentUser.JobRole }); }

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("ListContainer", "Article", new { type = ArticleFilterType.Popular, cols = 1, filter = LoginManager.CurrentUser.JobRole }); }
        </div>

    </div>

    <div class="col-md-4 col-sm-12">

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("ChangeWasEvent", "Home"); }
        </div>

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("AreaYearTags", "Home"); }
        </div>

    </div>





</div>
