﻿@using ITOKFrontend.Models.Constants
@model dynamic
@{
    ViewBag.Title = "Unread " + LoginManager.CurrentUser.UserName;

}

<div class="container">


    <div class="col-md-8 col-sm-12">

        <div class="page-header">

            <h1 class="pull-left">
                Unread
            </h1>

            <div class="btn-group pull-left">
                <button class="btn btn-default" id="showrelatedtags">
                    <i class="fa fa-tags"></i>
                    <span>
                        Related topics
                    </span>
                </button>
            </div>

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

        @{ Html.RenderAction("RelatedTags", "Hub", new { filter = "Unread" }); }

        <div class="clearfix"></div>

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("ListContainer", "Article", new { type = ArticleFilterType.Unread, cols = 1, filter = "", }); }
        </div>


    </div>

    <div class="col-md-4 col-sm-12">

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("ChangeWasEvent", "Home"); }
        </div>

        <div class="col-md-12" id="content">
            @{ Html.RenderAction("AreaYearTags", "Home"); }
        </div>

    </div>

</div>
